<tr id="cliente_<%= cliente.id %>">
  <td>
      <%= check_box_tag "item_#{cliente.IdCli}"%>

    <script type="text/javascript">
      //para el checkbox cuando se cambie de página verifica si están en check los elementos
      if (document.getElementById("cliente_<%=cliente.IdCli%>").value != null) {
          document.getElementById("item_<%=cliente.IdCli%>").checked = true;
        } else {
           document.getElementById("item_<%=cliente.IdCli%>").checked = false;
        }
    </script>

    <script type="text/javascript">
      $("#item_<%=cliente.IdCli%>").change(function() {
        var cliente_<%=cliente.IdCli%> = <%=cliente.IdCli%>;

        if (document.getElementById('item_<%=cliente.IdCli%>').checked) {
          //si el elemento le dan check el crea el campo con el id del mismo para ser enviado
            document.getElementById('campos_para_imprimir_masivamente').innerHTML+='<input type="hidden" id="cliente_<%=cliente.IdCli%>" value="<%=cliente.IdCli%>" name="lista[cliente_<%=cliente.IdCli%>]" class="items_para_imprimir" />';
        } else {
          //si le quitan el check, borra el elemento a enviar
           document.getElementById("campos_para_imprimir_masivamente").removeChild(document.getElementById("cliente_<%=cliente.IdCli%>"));
        }

      });
    </script>
  </td>
  <td class="col_left"><%= cliente.try(:IdCli) %></td>
  <td class="col_left"><%= cliente.try(:Nombre) %></td>
  <td class="col_left"><%= cliente.try(:NombreCorto) %></td>
  <td class="col_left"><%= cliente.try(:Direccion) %></td>
  <td class="col_left"><%= cliente.try(:Colonia) %></td>
  <td class="col_left"><%= cliente.try(:Ciudad) %></td>
  <td class="col_left"><%= cliente.try(:Estado) %></td>
  <td class="col_left"><%= cliente.try(:RFC) %></td>
  <td class="col_center">
      <% if cliente.Credito == true%>
        <input type="checkbox" disabled="true" checked="true">
      <%else%>
        <input type="checkbox" disabled="true" >
      <%end%>
  </td>
  <td class="col_left"><%= cliente.try(:DiasCreedito) %></td>
  <td class="col_right"><%= cliente.try(:LimiteCredito) %></td>
  <td class="col_right"><%= cliente.try(:Saldo_Actual)%></td>
  <td class="col_center">
    <% if cliente.ValidarGPS == true%>
      <input type="checkbox" disabled="true" checked="true">
    <%else%>
      <input type="checkbox" disabled="true" >
    <%end%>
  </td>
  <td class="col_left">
    <% if cliente.relclirutas != nil%>
      <% cliente.relclirutas.each do |varias| %>
        <% if varias.ruta.try(:IdEmpresa) == current_usuario.empresa_id %>
          <%=varias.ruta.try(:Ruta)%>
        <%end%>
      <%end%>
    <%end%>
  </td>
  <td class="col_left"><%=cliente.relclili.try(:listapromomast).try(:ListaMaster)%></td>

  <td>
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-primary action-btn btn-xs" href="#" data-toggle="dropdown">
        <%= t('basic.Acción') %>
      </a>
      <ul class="dropdown-menu posicion-menu">

          <li>
            <%= link_to '<i class="fa fa-gift" aria-hidden="true"></i> Activos'.html_safe, activos_cliente_path(:id => cliente.try(:IdCli)), class:"btn btn-default btn-lg" %>

            <%= link_to 'Editar', datos_cliente_path(:cliente => cliente.try(:IdCli)), class: "btn btn-default btn-lg btn-block", :remote => true, data: { disable_with: 'Cargando...' }  %>

            <!--Destroy-->
           <% if cliente.Status == true%>
              <%= link_to 'Eliminar', cliente_path(:id => cliente.try(:IdCli)), method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'} %>
            <%else%>
              <%= link_to 'Habilitar', cliente_path(:id => cliente.try(:IdCli)), method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'}  %>
            <%end%>
          </li>

      </ul>
    </div>
  </td>
</tr>
