<%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="component_name_header_col">
              <%= sort_link @search, :IdCli, "Clave","cliente", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="component_component_definition_name_header_col">
              <%= sort_link @search, :Nombre,"Nombre","cliente", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="component_component_definition_name_header_col">
              <%= sort_link @search, :NombreCorto,"Razón Social","cliente", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="component_component_definition_name_header_col">
              <%= sort_link @search, :Direccion,"Dirección","cliente", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="component_component_definition_name_header_col">
              <%= sort_link @search, :Colonia,"Comuna/Colonia","cliente", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="component_component_definition_name_header_col">
              <%= sort_link @search, :Ciudad,"Ciudad","cliente", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="component_component_definition_name_header_col">
              <%= sort_link @search, :Estado,"Estado","cliente", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="component_component_definition_name_header_col">
              <%= sort_link @search, :RFC,"RFC","cliente", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="component_component_definition_name_header_col">
              <%= sort_link @search, :DiasCreedito,"Dias Credito","cliente", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="component_component_definition_name_header_col">
              <%= sort_link @search, :LimiteCredito,"Limite Credito","cliente", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="component_component_definition_name_header_col">
              <%# sort_link @search, :rutas_Ruta,"Ruta","cliente", {}, { :remote => true, :method => :get } %>
              Ruta
            </th>
            <th class="component_component_definition_name_header_col">
              <%# sort_link @search, :listapromomast_ListaMaster,"Promoción","cliente", {}, { :remote => true, :method => :get } %>
              Promoción
            </th>
          </tr>
          <tr>
            <th><%= f.text_field :IdCli_matches, class:"campo" %></th>
            <th><%= f.text_field :Nombre_cont, class:"campo" %></th>
            <th><%= f.text_field :NombreCorto_cont, class:"campo" %></th>
            <th><%= f.text_field :Direccion_cont, class:"campo" %></th>
            <th><%= f.text_field :Colonia_cont, class:"campo" %></th>
            <th><%= f.text_field :Ciudad_cont, class:"campo" %></th>
            <th><%= f.text_field :Estado_cont, class:"campo" %></th>
            <th><%= f.text_field :RFC_cont, class:"campo" %></th>
            <th><%= f.text_field :DiasCreedito_cont, class:"campo" %></th>
            <th><%= f.text_field :LimiteCredito_cont, class:"campo" %></th>
            <th><%= f.text_field :rutas_Ruta_matches, class:"campo" %></th>
            <th><%= f.text_field :listapromomast_ListaMaster_cont, class:"campo" %></th>

            <th><%= f.submit "Buscar", data: {disable_with: 'Buscando...'}  %></th>
          </tr>

        </thead>
        <tbody>
        </tbody>
      </table>
  </div><% end %>

<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
  <thead>

    <%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
        <tr>
          <th class="col_left">
          </th>
          <th class="col_left">
            <%= sort_link @search, :IdCli, "Clave","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :Nombre,"Nombre","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :NombreCorto,"Razón Social","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :Direccion,"Dirección","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :Colonia,"Comuna/Colonia","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :Ciudad,"Ciudad","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :Estado,"Estado","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :RFC,"RFC","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_center">
            <%= sort_link @search, :Credito,"Credito","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :DiasCreedito,"Dias Credito","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_right">
            <%= sort_link @search, :LimiteCredito,"Limite Credito","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_right">
              Saldo
          </th>
          <th class="col_center">
            <%= sort_link @search, :ValidarGPS,"Validar GPS","cliente", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            Ruta
          </th>
          <th class="col_left">
            Promoción
          </th>

          <th class="action_col"><%= t("basic.Acción") %></th>
        </tr>

  <% end %>

  </thead>
  <tbody  id="container_clientes">
    <%= render @clientes%>
  </tbody>
  </table>
  <%= paginate @clientes %>
</div>
<div id="datos_cliente"><%= render 'datos_cliente' %></div>
