<% if @cliente != nil%>
      <!--Modal - update cliente-->
  <%= form_for(@cliente, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update"}) do |f| %><!--ajax-->
    <div nohidden class="modal fade si" id="myupdatecliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar cliente</h4>
          </div>

          <div class="modal-body">

            <div class="row">
              <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1default-UPDATE" data-toggle="tab">Datos Generales</a></li>
                                    <li><a href="#tab2default-UPDATE" data-toggle="tab">Datos de Contacto</a></li>
                                    <li><a href="#tab3default-UPDATE" data-toggle="tab">Datos de Venta</a></li>
                                    <li><a href="#tab4default-UPDATE" data-toggle="tab">Clasificación</a></li>
                                </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1default-UPDATE">


                                <div class="form-group">
                                  <%= f.label :Nombre, "Nombre:", class: "control-label col-md-2" %>
                                  <div class="col-md-7">
                                    <%= f.text_field :Nombre, class: "form-control ",minlength: "5", required: "true"  %>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <%= f.label :NombreCorto, "Nombre Comercial:", class: "control-label col-md-2" %>
                                  <div class="col-md-7">
                                    <%= f.text_field :NombreCorto, class: "form-control ",minlength: "5", required: "true"  %>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <h3 class="col-md-5">Dirección:</h3>
                                </div>

                                <div class="form-group">
                                  <%= f.label :Direccion, "Calle y N°:", class: "control-label col-md-2" %>
                                  <div class="col-md-10">
                                    <%= f.text_field :Direccion, class: "form-control ",minlength: "10", required: "true"  %>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <%= f.label :Ciudad, "Ciudad:", class: "control-label col-md-2" %>
                                  <div class="col-md-3">
                                    <%= f.text_field :Ciudad, class: "form-control " %>
                                  </div>
                                    <%= f.label :Estado, "Estado:", class: "control-label col-md-3" %>
                                  <div class="col-md-4">
                                    <%= f.text_field :Estado, class: "form-control " %>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <%= f.label :CP, "C.P:", class: "control-label col-md-2" %>
                                  <div class="col-md-2">
                                    <%= f.text_field :CP, class: "form-control " %>
                                  </div>
                                    <%= f.label :Colonia, "Comuna/Colonia:", class: "control-label col-md-3" %>
                                  <div class="col-md-5">
                                    <%= f.text_field :Colonia, class: "form-control " %>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <%= f.label :Referencia, "Referencia:", class: "control-label col-md-2" %>
                                  <div class="col-md-5">
                                    <%= f.text_field :Referencia, class: "form-control " %>
                                  </div>
                                  <%= f.label :RFC, "RFC:", class: "control-label col-md-2" %>
                                  <div class="col-md-3">
                                    <%= f.text_field :RFC, class: "form-control " %>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <%= f.label :Latitud, "Latitud:", class: "control-label col-md-2" %>
                                  <div class="col-md-4">
                                    <%= f.number_field :Latitud, class: "form-control", step: "any"%><!--con step: "any" le especificamos al control que acepte atributos decimales-->
                                  </div>
                                    <%= f.label :Longitud, "Longitud:", class: "control-label col-md-2" %>
                                  <div class="col-md-4">
                                    <%= f.number_field :Longitud, class: "form-control", step: "any"%><!--con step: "any" le especificamos al control que acepte atributos decimales-->
                                  </div>
                                </div>

                                <div class="form-group">
                                  <%= f.label :Status,"Activo:", class: "control-label col-xs-3 col-sm-6 col-md-1 " %>
                                  <div class="col-md-1">
                                    <%= f.check_box :Status%>
                                  </div>
                                </div>
  </div>
                                <div class="tab-pane fade" id="tab2default-UPDATE">
                                    <div class="form-group">
                                      <%= f.label :Telefono, "Teléfono:", class: "control-label col-md-3" %>
                                      <div class="col-md-9">
                                        <%= f.text_field :Telefono, class: "form-control " %>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <%= f.label :Tel2, "Tel. Celular:", class: "control-label col-md-3" %>
                                      <div class="col-md-9">
                                        <%= f.text_field :Tel2, class: "form-control" %>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <%= f.label :Email, "Email:", class: "control-label col-md-3" %>
                                      <div class="col-md-9">
                                        <%= f.email_field :Email, class: "form-control",minlength: "5", required: "true" %>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <%= f.label :Horario, "Horario:", class: "control-label col-md-3" %>
                                      <div class="col-md-9">
                                        <%= f.text_field :Horario, class: "form-control" %>
                                      </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab3default-UPDATE">

                                  <div class="form-group">
                                    <%= f.label :Credito, "Credito:", class: "control-label col-xs-7 col-sm-6 col-md-3 " %>
                                    <div class="col-md-1">
                                      <%= f.check_box :Credito %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :LimiteCredito, "Limite Credito:", class: "control-label col-md-3" %>
                                    <div class="col-md-8">
                                      <%= f.number_field :LimiteCredito, class: "form-control", min: 0 %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :DiasCreedito, "Dias Credito:", class: "control-label col-md-3" %>
                                    <div class="col-md-8">
                                      <%= f.text_field :DiasCreedito, class: "form-control" %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :DiasCreedito, "Credito Actual:", class: "control-label col-md-3" %>
                                    <div class="col-md-8">
                                      <% if @cliente.detallecob.last != nil%>
                                        <input type="text" name="CreditoActual" disabled="true" value="<%=@cliente.LimiteCredito - @cliente.detallecob.last.Saldo%>"><br>
                                        <%else%>
                                        <input type="text" name="CreditoActual" disabled="true" value="<%=@cliente.LimiteCredito%>"><br>
                                      <%end%>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :Saldo, "Saldo inicial:", class: "control-label col-md-3" %>
                                    <div class="col-md-8">
                                      <%= f.number_field :Saldo, class: "form-control", min: 0 %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :Saldo, "Saldo Actual:", class: "control-label col-md-3" %>
                                    <div class="col-md-8">
                                      <input type="text" name="firstname" disabled="true" value="<%=@cliente.try(:Saldo_Actual)%>"><br>
                                    </div>
                                  </div>
                                  <!--
                                  <div class="form-group">
                                    <%= f.label :VisitaObligada,"Visita Obligada:", class: "control-label col-xs-7 col-sm-6 col-md-3 " %>
                                    <div class="col-md-1">
                                      <%= f.check_box :VisitaObligada  %>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <%= f.label :FirmaObligada,"Firma Obligada:", class: "control-label col-xs-7 col-sm-6 col-md-3" %>
                                    <div class="col-md-1">
                                      <%= f.check_box :FirmaObligada %>
                                    </div>
                                  </div>-->
                                  <div class="form-group">
                                    <%= f.label :ValidarGPS,"Validar GPS:", class: "control-label col-xs-7 col-sm-6 col-md-3" %>
                                    <div class="col-md-1">
                                      <%= f.check_box :ValidarGPS %>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <%= f.label :Merma_en_ruta,"Control de Merma en Ruta:", class: "control-label col-xs-7 col-sm-6 col-md-3" %>
                                    <div class="col-md-1">
                                      <%= f.check_box :Merma_en_ruta %>
                                    </div>
                                  </div>
                                </div>
                                <div class="tab-pane fade" id="tab4default-UPDATE">
                                  <%= f.fields_for :relclicla do |relclicla| %>

                                  <div class="form-group">
                                      <%= relclicla.label :Clas1, "Clasificación 1:", class: "control-label col-md-3" %>
                                    <div class="col-md-3">
                                      <%= relclicla.select :Clas1, options_for_select(@clas1.map{|e|[e.Descripcion, e.IdClasC]},selected: @cliente.relclicla.Clas1), :prompt => "Por favor seleccione", class: "form-control" %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <%= relclicla.label :Clas2, "Clasificación 2:", class: "control-label col-md-3" %>
                                    <div class="col-md-3">
                                      <%= relclicla.select :Clas2, options_for_select(@clas2.map{|e|[e.Descripcion, e.IdClasC]},selected: @cliente.relclicla.Clas2), :prompt => "Por favor seleccione",  class: "form-control" %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <%= relclicla.label :Clas3, "Clasificación 3:", class: "control-label col-md-3" %>
                                    <div class="col-md-3">
                                      <%= relclicla.select :Clas3, options_for_select(@clas3.map{|e|[e.Descripcion, e.IdClasC]},selected: @cliente.relclicla.Clas3), :prompt => "Por favor seleccione", class: "form-control" %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <%= relclicla.label :Clas4, "Clasificación 4:", class: "control-label col-md-3" %>
                                    <div class="col-md-3">
                                      <%= relclicla.select :Clas4, options_for_select(@clas4.map{|e|[e.Descripcion, e.IdClasC]},selected: @cliente.relclicla.Clas4), :prompt => "Por favor seleccione", class: "form-control" %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <%= relclicla.label :Clas5, "Clasificación 5:", class: "control-label col-md-3" %>
                                    <div class="col-md-3">
                                      <%= relclicla.select :Clas5, options_for_select(@clas5.map{|e|[e.Descripcion, e.IdClasC]},selected: @cliente.relclicla.Clas5), :prompt => "Por favor seleccione", class: "form-control" %>
                                    </div>
                                  </div>



                                  <div class="actions">
                                    <div class="form-group">
                                      <div class="col-md-12">
                                      <%= link_to 'Clasificaciones', clasclientes_path, class: "btn btn-primary btn-lg" %>
                                      </div>
                                    </div>
                                  </div>

                                  <%end%>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
          </div>
        </div>
      </div>
    </div>
  <%end%>

  <script>
    $(".formulario-validado-update").validate();

  </script>
<%end%>
