<%= form_tag("/impresion_clientes_pdf", method: 'get', target: :_blank, class: "form-horizontal" ) do %>
	<%= fields_for :lista do |ff|%>
	 <div id="campos_para_imprimir_masivamente">

	 </div>
	<% end %>
	<%= hidden_field_tag :format, :pdf %>
	<%= submit_tag "Imprimir clientes seleccionados", name: "subaction", class: "btn btn-primary btn-xs", style:"float: right;" %>
<% end %>
