<!--<p id="notice"><%= notice %></p>-->
<div class="row top_tiles">
  <div class="animated flipInY col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-user"></i></div>
      <div id="total_clientes">
        <div class="count"><%=@cantidad_clientes_activos%></div>
      </div>
      <h3>Total Clientes</h3>
    </div>
  </div>

  <div class="animated flipInY col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-user"></i></div>
      <div id="total_clientes">
        <div class="count"><%=@cantidad_clientes_activos_credito%></div>
      </div>
      <h3>Total Clientes Crédito</h3>
    </div>
  </div>

  <div class="animated flipInY col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-user"></i></div>
      <div id="total_clientes">
        <div class="count"><%=@cantidad_clientes_activos_contado%></div>
      </div>
      <h3>Total Clientes Contado</h3>
    </div>
  </div>

</div>

<style>
.container {
}
.component_component_definition_name_header_col{
  color:#5A738E;
}
</style>
<div>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewcliente">
        Nuevo Cliente
      </button>
    </div>
  </div>

  <br>
  <br>
  <div id="imprimir_clientes"><%= render 'imprimir_clientes' %></div>
  <div id="clientes"><%= render 'clientes' %></div>


<!-- Modal create action -->
<%= form_for(@cliente, remote: true, html: {class: "form-horizontal cliente-validado"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewcliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar cliente</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-12">
                  <div class="panel with-nav-tabs panel-default">
                      <div class="panel-heading">
                              <ul class="nav nav-tabs">
                                  <li class="active"><a href="#tab1default" data-toggle="tab">Datos Generales</a></li>
                                  <li><a href="#tab2default" data-toggle="tab">Datos de Contacto</a></li>
                                  <li><a href="#tab3default" data-toggle="tab">Datos de Venta</a></li>
                                  <li><a href="#tab4default" data-toggle="tab">Clasificación</a></li>
                              </ul>
                      </div>




                      <div class="panel-body">
                          <div class="tab-content">
                              <div class="tab-pane fade in active" id="tab1default"><div class="form-group">
                                <%= f.label :IdCli, "Clave:", class: "control-label col-md-2" %>
                                <div class="col-md-7">
                                  <%= f.text_field :IdCli, class: "form-control cliente-idcli clave_sin_espacios_y_sin_caracteres_especiales",autofocus: true, minlength: "1", required: "true"   %>
                                </div>
                              </div>

                              <div class="form-group">
                                <%= f.label :Nombre, "Nombre:", class: "control-label col-md-2" %>
                                <div class="col-md-7">
                                  <%= f.text_field :Nombre, class: "form-control cliente-nombre",minlength: "5", required: "true"   %>
                                </div>
                              </div>

                              <div class="form-group">
                                <%= f.label :NombreCorto, "Nombre Comercial:", class: "control-label col-md-2" %>
                                <div class="col-md-7">
                                  <%= f.text_field :NombreCorto, class: "form-control cliente-nombrecorto",minlength: "5", required: "true"  %>
                                </div>
                              </div>

                              <div class="form-group">
                                <h3 class="col-md-5">Dirección:</h3>
                              </div>

                              <div class="form-group">
                                <%= f.label :Direccion, "Calle y N°:", class: "control-label col-md-2" %>
                                <div class="col-md-10">
                                  <%= f.text_field :Direccion, class: "form-control cliente-direccion",minlength: "10", required: "true"  %>
                                </div>
                              </div>

                              <div class="form-group">
                                <%= f.label :Ciudad, "Ciudad:", class: "control-label col-md-2" %>
                                <div class="col-md-3">
                                  <%= f.text_field :Ciudad, class: "form-control cliente-ciudad" %>
                                </div>
                                  <%= f.label :Estado, "Estado:", class: "control-label col-md-3" %>
                                <div class="col-md-4">
                                  <%= f.text_field :Estado, class: "form-control cliente-estado" %>
                                </div>
                              </div>

                              <div class="form-group">
                                <%= f.label :CP, "C.P:", class: "control-label col-md-2" %>
                                <div class="col-md-2">
                                  <%= f.text_field :CP, class: "form-control cliente-cp" %>
                                </div>
                                  <%= f.label :Colonia, "Comuna/Colonia:", class: "control-label col-md-3" %>
                                <div class="col-md-5">
                                  <%= f.text_field :Colonia, class: "form-control cliente-colonia" %>
                                </div>
                              </div>

                              <div class="form-group">
                                <%= f.label :Latitud, "Latitud:", class: "control-label col-md-2" %>
                                <div class="col-md-4">
                                  <%= f.number_field :Latitud, class: "form-control cliente-latitud", step: "any"%><!--con step: "any" le especificamos al control que acepte atributos decimales-->
                                </div>
                                  <%= f.label :Longitud, "Longitud:", class: "control-label col-md-2" %>
                                <div class="col-md-4">
                                  <%= f.number_field :Longitud, class: "form-control cliente-longitud", step: "any"%><!--con step: "any" le especificamos al control que acepte atributos decimales-->
                                </div>
                              </div>

                              <div class="form-group">
                                <%= f.label :Referencia, "Referencia:", class: "control-label col-md-2" %>
                                <div class="col-md-5">
                                  <%= f.text_field :Referencia, class: "form-control cliente-referencia" %>
                                </div>
                                <%= f.label :RFC, "RFC:", class: "control-label col-md-2" %>
                                <div class="col-md-3">
                                  <%= f.text_field :RFC, class: "form-control cliente-rfc" %>
                                </div>
                              </div>

                              <div class="form-group">
                                <%= f.label :Status,"Activo:", class: "control-label col-xs-3 col-sm-6 col-md-1 " %>
                                <div class="col-md-1">
                                  <%= f.check_box :Status, checked: true %>
                                </div>
                              </div>




                        </div>



                              <div class="tab-pane fade" id="tab2default">
                                  <div class="form-group">
                                    <%= f.label :Telefono, "Teléfono:", class: "control-label col-md-3" %>
                                    <div class="col-md-9">
                                      <%= f.text_field :Telefono, class: "form-control cliente-telefono" %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :Tel2, "Tel. Celular:", class: "control-label col-md-3" %>
                                    <div class="col-md-9">
                                      <%= f.text_field :Tel2, class: "form-control cliente-tel2" %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :Email, "Email:", class: "control-label col-md-3" %>
                                    <div class="col-md-9">
                                      <%= f.email_field :Email, class: "form-control cliente-email",minlength: "5", required: "true"  %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :Horario, "Horario:", class: "control-label col-md-3" %>
                                    <div class="col-md-9">
                                      <%= f.text_field :Horario, class: "form-control cliente-horario" %>
                                    </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="tab3default">
                                <div class="form-group">
                                  <%= f.label :Credito, "Credito:", class: "control-label col-xs-7 col-sm-6 col-md-3 " %>
                                  <div class="col-md-1">
                                    <%= f.check_box :Credito, class:"cliente-credito" %>
                                  </div>
                                </div>

                                  <div class="form-group">
                                    <%= f.label :LimiteCredito, "Limite Credito:", class: "control-label col-md-3" %>
                                    <div class="col-md-8">
                                      <%= f.number_field :LimiteCredito, class: "form-control cliente-limitecredito", min: 0 %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :DiasCreedito, "Dias Credito:", class: "control-label col-md-3" %>
                                    <div class="col-md-8">
                                      <%= f.text_field :DiasCreedito, class: "form-control cliente-diascreedito" %>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :DiasCreedito, "Credito Actual:", class: "control-label col-md-3" %>
                                    <div class="col-md-8">
                                      <input type="text" name="CreditoActual" disabled="true"><br>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <%= f.label :Saldo, "Saldo inicial:", class: "control-label col-md-3" %>
                                    <div class="col-md-8">
                                      <%= f.number_field :Saldo, class: "form-control cliente-diascreedito", value:0, min: 0 %>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <%= f.label :Saldo, "Saldo Actual:", class: "control-label col-md-3" %>
                                    <div class="col-md-8">
                                      <input type="text" name="firstname" disabled="true"><br>
                                    </div>
                                  </div>
                                  <!--
                                  <div class="form-group">
                                    <%= f.label :VisitaObligada,"Visita Obligada:", class: "control-label col-xs-7 col-sm-6 col-md-3" %>
                                    <div class="col-md-1">
                                      <%= f.check_box :VisitaObligada, class:"cliente-visitaobligada" %>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <%= f.label :FirmaObligada,"Firma Obligada:", class: "control-label col-xs-7 col-sm-6 col-md-3" %>
                                    <div class="col-md-1">
                                      <%= f.check_box :FirmaObligada, class:"cliente-firmaobligada" %>
                                    </div>
                                  </div>-->
                                  <div class="form-group">
                                    <%= f.label :ValidarGPS,"Validar GPS:", class: "control-label col-xs-7 col-sm-6 col-md-3" %>
                                    <div class="col-md-1">
                                      <%= f.check_box :ValidarGPS %>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <%= f.label :Merma_en_ruta,"Control de Merma en Ruta:", class: "control-label col-xs-7 col-sm-6 col-md-3" %>
                                    <div class="col-md-1">
                                      <%= f.check_box :Merma_en_ruta %>
                                    </div>
                                  </div>
                                  <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>


                              </div>

                              <div class="tab-pane fade" id="tab4default">
                                <%= f.fields_for :relclicla do |relclicla| %>
                                <div class="form-group">
                                    <%= relclicla.label :Clas1, "Clasificación 1:", class: "control-label col-md-3" %>
                                  <div class="col-md-3">
                                    <%= relclicla.select :Clas1, options_for_select(@clas1.map{|e|[e.Descripcion, e.IdClasC]}), :prompt => "Por favor seleccione", class: "form-control" %>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <%= relclicla.label :Clas2, "Clasificación 2:", class: "control-label col-md-3" %>
                                  <div class="col-md-3">
                                    <%= relclicla.select :Clas2, options_for_select(@clas2.map{|e|[e.Descripcion, e.IdClasC]}), :prompt => "Por favor seleccione",  class: "form-control" %>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <%= relclicla.label :Clas3, "Clasificación 3:", class: "control-label col-md-3" %>
                                  <div class="col-md-3">
                                    <%= relclicla.select :Clas3, options_for_select(@clas3.map{|e|[e.Descripcion, e.IdClasC]}), :prompt => "Por favor seleccione", class: "form-control" %>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <%= relclicla.label :Clas4, "Clasificación 4:", class: "control-label col-md-3" %>
                                  <div class="col-md-3">
                                    <%= relclicla.select :Clas4, options_for_select(@clas4.map{|e|[e.Descripcion, e.IdClasC]}), :prompt => "Por favor seleccione", class: "form-control" %>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <%= relclicla.label :Clas5, "Clasificación 5:", class: "control-label col-md-3" %>
                                  <div class="col-md-3">
                                    <%= relclicla.select :Clas5, options_for_select(@clas5.map{|e|[e.Descripcion, e.IdClasC]}), :prompt => "Por favor seleccione", class: "form-control" %>
                                  </div>
                                </div>
                                  <%= relclicla.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>

                                  <div class="actions">
                                    <div class="form-group">
                                      <div class="col-md-12">
                                      <%= link_to 'Clasificaciones', clasclientes_path, class: "btn btn-primary btn-lg" %>
                                      </div>
                                    </div>
                                  </div>

                                <%end%>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewclienteclose">Cerrar</button>
          <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>

  <%= link_to "Exportar Excel", clientes_path(format:"xls"), class:"btn btn-success btn-xs" %>

<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myimportdata">
  Importar Excel
</button>


<div class="modal fade" id="myimportdata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Importar Datos</h4>
      </div>
      <div class="modal-body">
        <p>
          Nota: El formato excel a exportar debe ser .xlsx ó .csv
        </p>
        <%= form_tag import_clientes_path, multipart: true do %>
          <%= file_field_tag :file %>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="myimportdataclose">Close</button>
        <%= submit_tag "Importar", class: "btn btn-primary", data: { disable_with: 'Importando' } %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Clientes eliminados ó inhabilitados<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, clientes_inactivos_path, class: "btn btn-danger btn-xs"%>
