<%if params[:x].present?%>
	<%= link_to "Seleccionar todos", relcliruta_eliminar_seleccionar_todos_masivo_path(:id => params[:id], :x => {:cliente_IdCli_cont => params[:x][:cliente_IdCli_cont], :cliente_Nombre_cont => params[:x][:cliente_Nombre_cont], :cliente_Telefono_cont => params[:x][:cliente_Telefono_cont], :cliente_Colonia_cont => params[:x][:cliente_Colonia_cont]}, :commit=>"eliminar_masivo"), remote: true, class: "btn btn-primary btn-xs", data: { disable_with: 'Seleccionando...' }, style:"float: right;" %>
<%else%>
	<%= link_to "Seleccionar todos", relcliruta_eliminar_seleccionar_todos_masivo_path(:id => params[:id], :cliente_IdCli_cont => params[:cliente_IdCli_cont], :cliente_Nombre_cont => params[:cliente_Nombre_cont], :cliente_Telefono_cont => params[:cliente_Telefono_cont], :cliente_Colonia_cont => params[:cliente_Colonia_cont], :commit=>"eliminar_masivo"), remote: true, class: "btn btn-primary btn-xs", data: { disable_with: 'Seleccionando...' }, style:"float: right;" %>
<%end%>
