<%= search_form_for @search, as: :x, :remote=>"true", url: ruta_clientes_path(params[:id]), :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="component_name_header_col"><%= sort_link @search, :cliente_IdCli, "Clave","relcliruta", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :cliente_Nombre, "Nombre","relcliruta", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :cliente_Telefono, "Teléfono","relcliruta", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :cliente_Colonia, "Colonia","relcliruta", {}, { :remote => true, :method => :get } %></th>
            <th class="action_col"><%= t("basic.action") %></th>
          </tr>
          <tr>
            <th><%= f.text_field :cliente_IdCli_cont, class:"campo" %></th>
            <th><%= f.text_field :cliente_Nombre_cont, class:"campo" %></th>
            <th><%= f.text_field :cliente_Telefono_cont, class:"campo" %></th>
            <th><%= f.text_field :cliente_Colonia_cont, class:"campo" %></th>
            <th><%= f.submit "Buscar", data: {disable_with: 'Buscando...'} %></th>

          </tr>

        </thead>
        <tbody>
        </tbody>
      </table>
  </div><% end %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
    </thead>
    <tbody>
      <table class="table table-striped table-bordered table-condensed table-hover">
        <%= search_form_for @search, as: :x, :remote=>"true", url: relcliruta_path(params[:id]), :method => :get do |f| %>
          <thead>
            <tr>
              <th></th>
              <th class="component_name_header_col"><%= sort_link @search, :cliente_IdCli, "Clave","relcliruta", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :cliente_Nombre, "Nombre","relcliruta", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :cliente_Telefono, "Teléfono","relcliruta", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :cliente_Colonia, "Colonia","relcliruta", {}, { :remote => true, :method => :get } %></th>
            </tr>
          </thead>
        <% end %>
        <tbody id="container_relclirutas">
          <%= render partial: "/relclirutas/relcliruta", collection: @relclirutas %>
        </tbody>
      </table>
      <%= paginate @relclirutas, :param_name => 'relclirutas', params: {controller: 'relclirutas', action: 'ruta_clientes'}, :remote => true   %>
    </tbody>
  </table>
</div>
