<tr id="cliente_<%= cliente.id %>">
  <td>
    <%=check_box_tag("item_out_#{cliente.id}", value = "1", checked = false, options = {class: "check_agregar"}) %>

    <script type="text/javascript">
        if ($('#global_<%=cliente.id%>').val() != null) {
          document.getElementById("item_out_<%=cliente.id%>").checked = true;
        } else {
          document.getElementById("item_out_<%=cliente.id%>").checked = false;
        }
    </script>

    <script type="text/javascript">
      $("#item_out_<%=cliente.id%>").change(function() {
        var global_<%=cliente.id%> = "<%=cliente.id%>";

        if (document.getElementById('item_out_<%=cliente.id%>').checked) {
          //si el elemento le dan check el crea el campo con el id del mismo para ser enviado
            document.getElementById('campos_para_agregar_masivamente').innerHTML+='<input type="hidden" id="global_<%=cliente.id%>" value="'+global_<%=cliente.id%>+'" name="lista_clientes_out[global_<%=cliente.id%>]" class="items_para_agregar" />';
        } else {
          //si le quitan el check, borra el elemento a enviar
           document.getElementById("campos_para_agregar_masivamente").removeChild(document.getElementById("global_<%=cliente.id%>"));
        }

      });
    </script>
  </td>
  <td class="component_name_body_col"><%= cliente.try(:IdCli)%></td>
  <td class="component_name_body_col"><%= cliente.try(:Nombre)%></td>
  <td class="component_name_body_col"><%= cliente.try(:Telefono)%></td>
  <td class="component_name_body_col"><%= cliente.try(:Colonia)%></td>
</tr>
