<%= form_tag("/relcliruta_eliminar_de_forma_masiva", method: 'get', remote: true, class: "form-horizontal" ) do %>
	<input type="hidden" id="id" value="<%=params[:id]%>" name="id" />

	<%= fields_for :lista_clientes_in do |ff|%>
	 <div id="campos_para_eliminar_masivamente">
		<% if @todos_los_clientes_in_seleccionados.present?%>
			<% @todos_los_clientes_in_seleccionados.each do |relcliruta| %>
		    	<input type="hidden" id="relcliruta_in_<%= relcliruta.id %>" value="<%=relcliruta.Id%>" name="lista_clientes_in[relcliruta_<%= relcliruta.id %>]" class="items_para_eliminar" />

		    	  <script type="text/javascript">
							var myitem_eliminar = document.getElementById('item_in_<%=relcliruta.Id%>');
							if (myitem_eliminar != null) document.getElementById("item_in_<%=relcliruta.Id%>").checked = true;
				    </script>
		    <% end %>
	    <% end %>
	 </div>
	<% end %>

	<%= submit_tag "Eliminar clientes seleccionados", name: "subaction", class: "btn btn-primary btn-xs", data: { disable_with: 'Eliminando...' }, style:"float: right;" %>
<% end %>

<div id="boton_seleccionar_todos_eliminar"><%=render 'boton_seleccionar_todos_eliminar'%> </div>
<button class="btn warning" onclick="btn_borrar_seleccion_in()">Borrar selección</button>

<script>
	function btn_borrar_seleccion_in() {
		$('.items_para_eliminar').remove();
		$(".check_eliminar").prop('checked', false);
	}
</script>
