<tr id="relcliruta_<%= relcliruta.id %>">
  <td>
    <%= check_box_tag("item_in_#{relcliruta.Id}", value = "1", checked = false, options = {class: "check_eliminar"}) %>

    <script type="text/javascript">
        if ($('#relcliruta_in_<%= relcliruta.id %>').val() != null) {
          document.getElementById("item_in_<%=relcliruta.Id%>").checked = true;
        } else {
            document.getElementById("item_in_<%=relcliruta.Id%>").checked = false;
        }
    </script>

  </td>

  <script type="text/javascript">
    $("#item_in_<%=relcliruta.Id%>").change(function() {
      var relcliruta_<%=relcliruta.Id%> = "<%=relcliruta.Id%>";

      if (document.getElementById('item_in_<%=relcliruta.Id%>').checked) {
        //si el elemento le dan check el crea el campo con el id del mismo para ser enviado
          document.getElementById('campos_para_eliminar_masivamente').innerHTML+='<input type="hidden" id="relcliruta_in_<%=relcliruta.Id%>" value="'+relcliruta_<%=relcliruta.Id%>+'" name="lista_clientes_in[relcliruta_<%=relcliruta.Id%>]" class="items_para_eliminar" />';
      } else {
        //si le quitan el check, borra el elemento a enviar
         document.getElementById("campos_para_eliminar_masivamente").removeChild(document.getElementById("relcliruta_in_<%=relcliruta.Id%>"));
      }

    });
  </script>

  <td class="component_name_body_col"><%= relcliruta.try(:IdCliente)%></td>
  <td class="component_name_body_col"><%= relcliruta.cliente.try(:Nombre)%></td>
  <td class="component_name_body_col"><%= relcliruta.cliente.try(:Telefono)%></td>
  <td class="component_name_body_col"><%= relcliruta.cliente.try(:Colonia)%></td>
</tr>
