$("#clientesadded").html("<%= escape_javascript(render("clientesadded"))%>")
$("#clientesout").html("<%= escape_javascript(render("clientesout"))%>")
$("#cantidad_clientes_out").html("<%= escape_javascript(render("cantidad_clientes_out"))%>")
$("#cantidad_clientes_ruta").html("<%= escape_javascript(render("cantidad_clientes_ruta"))%>")

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
