$("#relcliruta_<%= @relcliruta.id %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
  $("#container_clientes").prepend('<%= j render(:partial => '/relclirutas/cliente', locals: { cliente: @cliente}) %>'); //Prepend before append

});
$("#cantidad_clientes_out").html("<%= escape_javascript(render("cantidad_clientes_out"))%>")
$("#cantidad_clientes_ruta").html("<%= escape_javascript(render("cantidad_clientes_ruta"))%>")

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
