$("#clientesout").html("<%= escape_javascript(render("/relclirutas/clientesout"))%>")
$("#clientesadded").html("<%= escape_javascript(render("/relclirutas/clientesadded"))%>")
$("#cantidad_clientes_out").html("<%= escape_javascript(render("cantidad_clientes_out"))%>")
$("#cantidad_clientes_ruta").html("<%= escape_javascript(render("cantidad_clientes_ruta"))%>")
$("#boton_seleccionar_todos").html("<%= escape_javascript(render("boton_seleccionar_todos"))%>")
$("#boton_seleccionar_todos_eliminar").html("<%= escape_javascript(render("boton_seleccionar_todos_eliminar"))%>")
$("#agregar_masivo").html("<%= escape_javascript(render("agregar_masivo"))%>")
$("#eliminar_masivo").html("<%= escape_javascript(render("eliminar_masivo"))%>")

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
