$('#clientesout').html('<%= escape_javascript(render("clientesout")) %>');
$('#clientesadded').html('<%= escape_javascript(render("clientesadded")) %>');
$("#boton_seleccionar_todos").html("<%= escape_javascript(render("boton_seleccionar_todos"))%>")
$("#boton_seleccionar_todos_eliminar").html("<%= escape_javascript(render("boton_seleccionar_todos_eliminar"))%>")
$("#cantidad_clientes_out").html("<%= escape_javascript(render("cantidad_clientes_out"))%>")
$("#cantidad_clientes_ruta").html("<%= escape_javascript(render("cantidad_clientes_ruta"))%>")
