<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="titulo">
     <Interior ss:Color="#6FC9FF" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
        <Row>
          <Cell ss:StyleID="titulo"><Data ss:Type="String">Ruta</Data></Cell>
          <Cell ss:StyleID="titulo"><Data ss:Type="String">Clave</Data></Cell>
          <Cell ss:StyleID="titulo"><Data ss:Type="String">Nombre</Data></Cell>
          <Cell ss:StyleID="titulo"><Data ss:Type="String">Teléfono</Data></Cell>
          <Cell ss:StyleID="titulo"><Data ss:Type="String">Colonia</Data></Cell>
        </Row>
      <% @clientes_de_la_ruta_para_exportar.to_a.each do |relcliruta| %>
        <Row>
          <Cell><Data ss:Type="String"><%= relcliruta.ruta.try(:Ruta)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= relcliruta.try(:IdCliente)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= relcliruta.cliente.try(:Nombre)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= relcliruta.cliente.try(:Telefono)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= relcliruta.cliente.try(:Colonia)%></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
