<!--<p id="notice"><%= notice %></p>-->
<h1>Administración de clientes asignados a la ruta <%=@ruta.Ruta%></h1><br>
<style>
.container {
}
</style>
<div>

  <div id="agregar_masivo"><%= render 'agregar_masivo' %></div>
  <h2 class="text-center"> Lista de Clientes </h2>
  <div id="cantidad_clientes_out"><%= render 'cantidad_clientes_out' %></div>
  <div id="clientesout"><%= render 'clientesout' %></div>

  <div id="eliminar_masivo"><%= render 'eliminar_masivo' %></div>
  <h2 class="text-center"> Clientes añadidos a la ruta</h2>
  <div id="cantidad_clientes_ruta"><%= render 'cantidad_clientes_ruta' %></div>
  <div id="clientesadded"><%= render 'clientesadded' %></div>

  <%= link_to 'Exportar Excel', ruta_clientes_path(:id => params[:id], format:"xls"), class:"btn btn-success btn-xs"  %></td>
  <%= link_to 'Eliminar clientes asignados', borrar_clientes_ruta_path(:IdRuta => @ruta.try(:IdRutas)), :remote => true, data: {confirm: "¿Está seguro que desea eliminar todos los clientes asignados a la ruta?", disable_with: 'Eliminando...'}, class: "btn btn-danger btn-xs"  %>
  <div class="actions">
    <div class="form-group">
      <div class="col-md-12">
      <%= link_to 'Volver a rutas', rutas_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>

</div>
