<%= search_form_for @search, :remote=>"true", url: cuotasventa_path, :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="component_name_header_col"><%= sort_link @search, :year, "year","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Ene, "Ene","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Feb, "Feb","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Mar, "Mar","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Abr, "Abr","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :May, "May","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Jun, "Jun","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Jul, "Jul","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Ago, "Ago","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Sep, "Sep","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Oct, "Oct","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Nov, "Nov","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Dic, "Dic","cuotaventa", {}, { :remote => true, :method => :get } %></th>
            <th class="action_col"><%= t("basic.accion") %></th>
          </tr>
          <tr>
            <th><%= f.text_field :year_cont, class:"campo" %></th>
            <th><%= f.text_field :Ene_cont, class:"campo" %></th>
            <th><%= f.text_field :Feb_cont, class:"campo" %></th>
            <th><%= f.text_field :Mar_cont, class:"campo" %></th>
            <th><%= f.text_field :Abr_cont, class:"campo" %></th>
            <th><%= f.text_field :May_cont, class:"campo" %></th>
            <th><%= f.text_field :Jun_cont, class:"campo" %></th>
            <th><%= f.text_field :Jul_cont, class:"campo" %></th>
            <th><%= f.text_field :Ago_cont, class:"campo" %></th>
            <th><%= f.text_field :Sep_cont, class:"campo" %></th>
            <th><%= f.text_field :Oct_cont, class:"campo" %></th>
            <th><%= f.text_field :Nov_cont, class:"campo" %></th>
            <th><%= f.text_field :Dic_cont, class:"campo" %></th>
            <th><%= f.submit "Buscar" %></th>
          </tr>

        </thead>
      </table>
  </div><% end %>




      <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
            <%= search_form_for @search, :remote=>"true", url: cuotasventa_path, :method => :get do |f| %>
              <tr>
                <th class="component_name_header_col"><%= sort_link @search, :year, "Year","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :Ene, "Ene","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :Feb, "Feb","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :Mar, "Mar","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :Abr, "Abr","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :May, "May","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :Jun, "Jun","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :Jul, "Jul","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :Ago, "Ago","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :Sep, "Sep","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :Oct, "Oct","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :Nov, "Nov","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="component_name_header_col"><%= sort_link @search, :Dic, "Dic","cuotaventa", {}, { :remote => true, :method => :get } %></th>
                <th class="action_col"><%= t("basic.accion") %></th>
              </tr><% end %>
            </thead>
            <tbody id="container_cuotasventa">

              <%= render @cuotasventa %><!--carga todos los activos-->


            </tbody>
          </table>
          <%= paginate @cuotasventa %>

  </div>
