<tr id="cuotaventa_<%= cuotaventa.id %>">
  <td class="component_name_body_col"><%= cuotaventa.try(:year) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:Ene) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:Feb) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:Mar) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:Abr) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:May) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:Jun) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:Jul) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:Ago) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:Sep) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:Oct) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:Nov) %></td>
  <td class="component_name_body_col"><%= cuotaventa.try(:Dic) %></td>
  <td>
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
       <%= t('basic.Acción') %>
       </a>
      <ul class="dropdown-menu posicion-menu">
        <li>
          <%= link_to 'editar', datos_cuotaventa_path(:year_cuotaventa => cuotaventa.try(:year)), :remote => true, data: { disable_with: 'Cargando...' }  %>
        </li>
      </ul>
    </div>
  </td>
</tr>
