<% if @cuotaventa != nil %>

  <%= form_for(@cuotaventa, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update"}) do |f| %><!--ajax-->
    <div nohidden class="modal fade si" id="myupdatecuotaventa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar Cuota del año <%=@cuotaventa.year%></h4>
          </div>

          <div class="modal-body">

            <div class="form-group">
              <%= f.label :RutaId, "Ruta:", class:"control-label col-xs-12 col-sm-3 col-md-1" %>
              <div class="col-md-5">
                <%= f.select :RutaId, options_for_select(@rutas.map{|e|[e.Ruta, e.IdRutas]},selected: @cuotaventa.RutaId), :prompt => "Por favor seleccione", class: "form-control" %></th>
              </div>
            </div>

            <div class="form-group">
                <%= f.label :year, "Year:", class:"control-label col-xs-12 col-sm-3 col-md-1" %>
              <div class="col-md-1">
                <%= f.label :year, "#{@cuotaventa.year}", class:"control-label col-xs-12 col-sm-3 col-md-1" %>
              </div>
            </div>


            <div class="form-group">
              <%= f.label :Ene, "Enero:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :Ene, class: "form-control ", maxlength: "20" %>
              </div>

              <%= f.label :Feb, "Febrero:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :Feb, class: "form-control ", maxlength: "20" %>
              </div>


              <%= f.label :Mar, "Marzo:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :Mar, class: "form-control ", maxlength: "20" %>
              </div>

              <%= f.label :Abr, "Abril:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :Abr, class: "form-control ", maxlength: "20" %>
              </div>

              <%= f.label :May, "Mayo:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :May, class: "form-control ", maxlength: "20" %>
              </div>

              <%= f.label :Jun, "Junio:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :Jun, class: "form-control ", maxlength: "20" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :Jul, "Julio:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :Jul, class: "form-control ", maxlength: "20" %>
              </div>

              <%= f.label :Ago, "Agosto:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :Ago, class: "form-control ", maxlength: "20" %>
              </div>

              <%= f.label :Sep, "Septiembre:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :Sep, class: "form-control ", maxlength: "20" %>
              </div>

              <%= f.label :Oct, "Octubre:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :Oct, class: "form-control ", maxlength: "20" %>
              </div>

              <%= f.label :Nov, "Noviembre:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :Nov, class: "form-control ", maxlength: "20" %>
              </div>

              <%= f.label :Dic, "Diciembre:", class:"control-label col-md-1"  %>
              <div class="col-xs-12 col-sm-3 col-md-1">
                <%= f.number_field :Dic, class: "form-control ", maxlength: "20" %>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
          </div>
        </div>
      </div>
    </div>
  <%end%>



<%end%>
