<%= form_for(@cuotaventa) do |f| %>
  <% if @cuotaventa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuotaventa.errors.count, "error") %> prohibited this cuotaventa from being saved:</h2>

      <ul>
      <% @cuotaventa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :Ene %><br>
    <%= f.text_field :Ene %>
  </div>
  <div class="field">
    <%= f.label :Feb %><br>
    <%= f.text_field :Feb %>
  </div>
  <div class="field">
    <%= f.label :Mar %><br>
    <%= f.text_field :Mar %>
  </div>
  <div class="field">
    <%= f.label :Abr %><br>
    <%= f.text_field :Abr %>
  </div>
  <div class="field">
    <%= f.label :May %><br>
    <%= f.text_field :May %>
  </div>
  <div class="field">
    <%= f.label :Jun %><br>
    <%= f.text_field :Jun %>
  </div>
  <div class="field">
    <%= f.label :Jul %><br>
    <%= f.text_field :Jul %>
  </div>
  <div class="field">
    <%= f.label :Ago %><br>
    <%= f.text_field :Ago %>
  </div>
  <div class="field">
    <%= f.label :Sep %><br>
    <%= f.text_field :Sep %>
  </div>
  <div class="field">
    <%= f.label :Oct %><br>
    <%= f.text_field :Oct %>
  </div>
  <div class="field">
    <%= f.label :Nov %><br>
    <%= f.text_field :Nov %>
  </div>
  <div class="field">
    <%= f.label :Dic %><br>
    <%= f.text_field :Dic %>
  </div>
  <div class="field">
    <%= f.label :IdEmpresa %><br>
    <%= f.text_field :IdEmpresa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
