$("#mynewcuotaventa").modal('hide');
$(".cuotaventa_year").val('');
$(".mes_enero").val('');
$(".mes_febrero").val('');
$(".mes_marzo").val('');
$(".mes_abril").val('');
$(".mes_mayo").val('');
$(".mes_junio").val('');
$(".mes_julio").val('');
$(".mes_agosto").val('');
$(".mes_septiembre").val('');
$(".mes_octubre").val('');
$(".mes_noviembre").val('');
$(".mes_diciembre").val('');


$("#container_cuotasventa").prepend('<%= j render @cuotaventa %>'); //Prepend before append
$("#cuotaventa_<%= @cuotaventa.id %>").hide().fadeIn(1000);

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
