<!--<p id="notice"><%= notice %></p>-->
<h1>Marcas inactivas</h1>
<h3>Total: <%=@cantidad_catmarcas_inactivos%></h3>
<style>
.container {
  width: 100%;
}

</style>


  <br>
  <br>

<div id="catmarcas"><%= render 'catmarcas' %></div>
<%= link_to 'Volver a Marcas', catmarcas_path, class: "btn btn-primary btn-lg" %>
