<style>
@media screen and (min-width: 480px){/* cuando la anchura minima sea de 489 pixeles, va a cambiar el dispositivo*/
  .modal-lg{
    width: 100%;
	}
}

@media screen and (min-width: 767px){
  .modal-lg{
    width: 100%;
	}
}
@media screen and (min-width: 950px){
  .modal-lg{
    width: 90%;
	}
}
</style>

<script type="text/javascript">
  $(document).on("ready page:load", function () {

    $("#porcentaje_incremento").prop("checked", false );
    $("#manual").prop("checked", false );

    $("input[type=radio]").on("change",function(){
      if (document.getElementById("porcentaje_incremento").checked == true) {
        document.getElementById("campo_porcentaje_incremento").disabled = false;

        $(".mes_enero, .porcentaje_incremento").change(function() {
          $('.mes_febrero').val((Number($('.mes_enero').val())*Number($('.porcentaje_incremento').val()))/100+Number($('.mes_enero').val()));
          $('.mes_marzo').val((Number($('.mes_enero').val())*Number($('.porcentaje_incremento').val())*2)/100+Number($('.mes_enero').val()));
          $('.mes_abril').val((Number($('.mes_enero').val())*Number($('.porcentaje_incremento').val())*3)/100+Number($('.mes_enero').val()));
          $('.mes_mayo').val((Number($('.mes_enero').val())*Number($('.porcentaje_incremento').val())*4)/100+Number($('.mes_enero').val()));
          $('.mes_junio').val((Number($('.mes_enero').val())*Number($('.porcentaje_incremento').val())*5)/100+Number($('.mes_enero').val()));
          $('.mes_julio').val((Number($('.mes_enero').val())*Number($('.porcentaje_incremento').val())*6)/100+Number($('.mes_enero').val()));
          $('.mes_agosto').val((Number($('.mes_enero').val())*Number($('.porcentaje_incremento').val())*7)/100+Number($('.mes_enero').val()));
          $('.mes_septiembre').val((Number($('.mes_enero').val())*Number($('.porcentaje_incremento').val())*8)/100+Number($('.mes_enero').val()));
          $('.mes_octubre').val((Number($('.mes_enero').val())*Number($('.porcentaje_incremento').val())*9)/100+Number($('.mes_enero').val()));
          $('.mes_noviembre').val((Number($('.mes_enero').val())*Number($('.porcentaje_incremento').val())*10)/100+Number($('.mes_enero').val()));
          $('.mes_diciembre').val((Number($('.mes_enero').val())*Number($('.porcentaje_incremento').val())*11)/100+Number($('.mes_enero').val()));
          return false;
        });
      }else{
      $('.mes_enero, .porcentaje_incremento').unbind(); //le quita el evento change
        document.getElementById("campo_porcentaje_incremento").disabled = true;
      }

    });

  });
</script>

<h1>Cuotas venta</h1>
<h3>Total: <%=@cantidad_cuotasventa_activos%></h3>
<style>
.container {
  width: 100%;
}
</style>
<div class="row">
  <div class="text-center">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewcuotaventa">
      Nueva cuota
    </button>
  </div>
</div>

  <br>
  <br>

<div id="cuotasventa"><%= render 'cuotasventa' %></div>

<div id="datos_cuotaventa"><%= render 'datos_cuotaventa' %></div>


<!-- Modal create action -->
<%= form_for(@cuotaventa, remote: true, html: {class: "form-horizontal cuotaventa-validado"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewcuotaventa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar cuota</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <!--<%= f.label :porcentaje_incremento, "porcentaje_incremento:", class:"control-label col-xs-12 col-sm-3 col-md-4 col-md-offset-4" %>
            -->


            <div class="radio col-md-2">
              <label><input type="radio" name="optradio" value="manual" id="manual">Manual</label>
            </div>

            <div class="radio col-md-2">
              <label><input type="radio" name="optradio" value="porcentaje_incremento" id="porcentaje_incremento">Porcentaje x incremento</label>
            </div>

            <div class="col-md-1">
              <input type="number" name="porcentaje_incremento" class="form-control porcentaje_incremento" id ="campo_porcentaje_incremento">
            </div>

          </div>
          <div class="form-group">
            <%= f.label :RutaId, "Ruta:", class:"control-label col-xs-12 col-sm-3 col-md-1" %>
            <div class="col-md-5">
              <%= f.select :RutaId, options_for_select(@rutas.map{|e|[e.Ruta, e.IdRutas]}), :prompt => "Por favor seleccione", class: "form-control" %></th>
            </div>
          </div>
          <div class="form-group">
              <%= f.label :year, "Year:", class:"control-label col-xs-12 col-sm-3 col-md-1" %>
            <div class="col-md-5">
              <%= f.select :year, options_for_select(@years.map),:include_blank => "Por favor seleccione", class:"cuotaventa_year"%>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :Ene, "Enero:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :Ene, class: "form-control mes_enero", maxlength: "20" %>
            </div>

            <%= f.label :Feb, "Febrero:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :Feb, class: "form-control mes_febrero", maxlength: "20" %>
            </div>


            <%= f.label :Mar, "Marzo:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :Mar, class: "form-control mes_marzo", maxlength: "20" %>
            </div>

            <%= f.label :Abr, "Abril:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :Abr, class: "form-control mes_abril", maxlength: "20" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :May, "Mayo:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :May, class: "form-control mes_mayo", maxlength: "20" %>
            </div>

            <%= f.label :Jun, "Junio:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :Jun, class: "form-control mes_junio", maxlength: "20" %>
            </div>

            <%= f.label :Jul, "Julio:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :Jul, class: "form-control mes_julio", maxlength: "20" %>
            </div>

            <%= f.label :Ago, "Agosto:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :Ago, class: "form-control mes_agosto", maxlength: "20" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :Sep, "Septiembre:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :Sep, class: "form-control mes_septiembre", maxlength: "20" %>
            </div>

            <%= f.label :Oct, "Octubre:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :Oct, class: "form-control mes_octubre", maxlength: "20" %>
            </div>

            <%= f.label :Nov, "Noviembre:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :Nov, class: "form-control mes_noviembre", maxlength: "20" %>
            </div>

            <%= f.label :Dic, "Diciembre:", class:"control-label col-md-1"  %>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <%= f.number_field :Dic, class: "form-control mes_diciembre", maxlength: "20" %>
            </div>
          </div>

        </div>
        <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewcuotaventaclose">Cerrar</button>
          <%= f.submit "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
