<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @cuotaventa.year %>
</p>

<p>
  <strong>Ene:</strong>
  <%= @cuotaventa.Ene %>
</p>

<p>
  <strong>Feb:</strong>
  <%= @cuotaventa.Feb %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @cuotaventa.Mar %>
</p>

<p>
  <strong>Abr:</strong>
  <%= @cuotaventa.Abr %>
</p>

<p>
  <strong>May:</strong>
  <%= @cuotaventa.May %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @cuotaventa.Jun %>
</p>

<p>
  <strong>Jul:</strong>
  <%= @cuotaventa.Jul %>
</p>

<p>
  <strong>Ago:</strong>
  <%= @cuotaventa.Ago %>
</p>

<p>
  <strong>Sep:</strong>
  <%= @cuotaventa.Sep %>
</p>

<p>
  <strong>Oct:</strong>
  <%= @cuotaventa.Oct %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @cuotaventa.Nov %>
</p>

<p>
  <strong>Dic:</strong>
  <%= @cuotaventa.Dic %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @cuotaventa.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_cuotaventa_path(@cuotaventa) %> |
<%= link_to 'Back', cuotasventa_path %>
