$("#myupdatecuotaventa_<%= @cuotaventa.id %>").modal('hide');

$("#cuotaventa_<%= @cuotaventa.id %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();

    $("#container_cuotasventa").prepend('<%= j render @cuotaventa %>');

});
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
