<div class="form-group">
  <label class="control-label col-md-5 col-xs-6" for="ruta">Ruta:</label>
  <div class="col-md-7 col-xs-6">
    <% if defined? afterSelectController and defined? afterSelectAction %>
      <%= select_tag :ruta, options_for_select(@rutas_Selector.map{|e|[e.Ruta, e.IdRutas]}), class: 'form-control', :include_blank => 'Seleccione', :'data-remote' => 'true', :'data-url' => url_for(:controller => afterSelectController, :action => afterSelectAction, format: 'js') %>
    <% else %>
      <%= select_tag :ruta, options_for_select(@rutas_Selector.map{|e|[e.Ruta, e.IdRutas]}), class: 'form-control', :include_blank => 'Seleccione' %>
    <% end %>
    <%= text_field_tag :rutaB, "", id:"RutaB", class:"form-control", style: "display:none;" %>
    <%= text_field_tag :rutaIdB, "", id:"RutaIdB", class:"", style: "display:none;" %>
    <%= text_field_tag :ruta, "", id:"Ruta", class:"form-control", style: "display:none;"  %>
    <%= text_field_tag :search, "", id:"RutaId", class:"", style: "display:none;" %>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $("select[class='form-control']").chosen();
    $("#ruta").chosen().change(function(e){
      var val = e.target.value,
          text = $(`#ruta option[value='${val}']`).text();
      if( $("#Ruta, #RutaB") ) $("#Ruta, #RutaB").val(text);
      if( $("#RutaId, #RutaIdB") ) $("#RutaId, #RutaIdB").val(val);
    });
  });
</script>
<!--
select_tag :ruta, options_for_select(@empresas.map{|e|[e.Empresa, e.id]}), :'data-remote' => 'true', :'data-url' => url_for(:controller => 'sessions', :action => 'busqueda_sucursales', format: 'js')
-->
