<div class="form-group">
 <%= label_tag :diaO, "Día Operativo:", class: "control-label col-md-5" %>
 <div class="col-md-5">
    <%= text_field_tag :diaO, "", id:"DiaOp", class:"form-control"  %><!--el text_field_tag se le debe colocar un "" debido a que necesita un campo vacio, de lo contrario imprime la clase en el campo-->
    <%= text_field_tag :fechaDiaO, "", id:"fechaDiaO", class:"form-control"%><!--el text_field_tag se le debe colocar un "" debido a que necesita un campo vacio, de lo contrario imprime la clase en el campo-->
  </div>
  <div class="col-md-2">
   <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addDiaOp">
     ...
   </button>
  </div>
</div>
<div class="form-group">
  <div class="col-md-7 col-md-offset-5">
    <input type="text" name="vendedor_dia" id="vendedor_dia" disabled class="form-control" style="background-color: white">
    <input type="text" name="vendedor_id" id="vendedor_id" class="form-control oculto">
  </div>
</div>
