<div class="form-group">
  <%= label_tag :Fecha, "Fecha:", class: "control-label col-md-4" %>
  <div class="col-md-4">
    <%= text_field_tag :Fecha, params[:Fecha], required: "true",id:"activity-customer-start-period", class:"form-control datepicker", value:Time.now.strftime("%d-%m-%Y"), autocomplete: "off"%>
  </div>
</div>
