<div class="form-group">
  <label class="control-label col-md-5 col-xs-6" for="ruta">Ruta:</label>
  <div class="col-md-7 col-xs-6">
    <% if defined? afterSelectController and defined? afterSelectAction %>
      <%= text_field_tag :ruta_autocompletar,"", data: { autocomplete_source: lista_rutas_disponibles_path}, class: 'form-control', value: params[:ruta_autocompletar], :'data-remote' => 'true', :'data-url' => url_for(:controller => afterSelectController, :action => afterSelectAction, format: 'js') %>
    <% else %>
      <%= text_field_tag :ruta_autocompletar,"", data: { autocomplete_source: lista_rutas_disponibles_path}, class: 'form-control', value: params[:ruta_autocompletar] %>
    <% end %>
  </div>
</div>
