<div class="form-group">
  <%= label_tag :Clientes, "Selecciona Cliente:", class: "control-label col-md-5" %>
  <div class="col-md-5">
    <%= text_field_tag :search2, "", id:"Cliente", class:"form-control"  %><!--el text_field_tag se le debe colocar un "" debido a que necesita un campo vacio, de lo contrario imprime la clase en el campo-->
  </div>

  <div class="col-md-2">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addcliente">
      ...
    </button>
  </div>

</div>
