<div class="form-group">
      <%= label_tag :Clave_producto, "Clave Producto:", class: "control-label col-md-5" %>
  <div class="col-md-5">
    <%= text_field_tag :Clave_producto, "", id:"Producto", required: "true", class:"form-control", readonly:true %>
  </div>
  <div class="col-md-2">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addproducto">
        ...
      </button>
  </div>
</div>
