<div class="form-group">
    <%= label_tag :Vendedor, "Selecciona el Vendedor:", class: "control-label col-md-5" %>
    <div class="col-md-5">
      <%= text_field_tag :Clave_Vendedor, "", id:"Clave_Vendedor", class:"form-control"  %><!--el text_field_tag se le debe colocar un "" debido a que necesita un campo vacio, de lo contrario imprime la clase en el campo-->
      <%= text_field_tag :VendedorId, "", id:"VendedorId", class:"", style: "display:none;" %><!--se coloca este campo oculto debido a que este es el que se enviara para la consulta y se necesite que se muestre es la ruta no el id de la ruta-->
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addvendedor">
        ...
      </button>
    </div>

 </div>
