<div class="form-group">
  <%= label_tag :Dia_de_semana, "Dia:", class: "control-label col-md-2" %>
  <div class="col-md-4">
    <%= select_tag :Dia_de_semana, options_for_select([['Lunes'], ['Martes'], ['Miércoles','Miercoles'], ['Jueves'], ['Viernes'], ['Sábado', 'Sabado'], ['Domingo']]) %>
  </div>
</div>
