<div class="form-group">
  <%= label_tag :Ruta, "Selecciona Ruta:", class: "control-label col-md-4" %>
  <div class="col-md-4">
    <%= text_field_tag :ruta, "", id:"Ruta", class:"form-control", required: "true"  %><!--el text_field_tag se le debe colocar un "" debido a que necesita un campo vacio, de lo contrario imprime la clase en el campo-->
    <%= text_field_tag :search, "", id:"RutaId", class:"", style: "display:none;", :'data-remote' => 'true', :'data-url' => url_for(:controller => @controlador, :action => @accion, format: 'js')  %><!--se coloca este campo oculto debido a que este es el que se enviara para la consulta y se necesite que se muestre es la ruta no el id de la ruta-->
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addruta">
      ...
    </button>
  </div>
</div>
