<div class="form-group">
  <div class="col-md-4 col-md-offset-3">
    Inicio:  <%= text_field_tag :search4, params[:search4],id:"activity-customer-start-period", class:"form-control datepicker", autocomplete: "off"%>
  </div>

  <div class="col-md-4">
     Fin:  <%= text_field_tag :search5, params[:search5],id:"activity-customer-end-period" , class:"form-control datepicker", autocomplete: "off"%>
  </div>
</div>
