<% if defined? afterSelectController and defined? afterSelectAction %>
  <%= text_field_tag :ruta_autocompletar,"", data: { autocomplete_source: lista_rutas_disponibles_path}, class: 'form-control', value: params[:ruta_autocompletar], :'data-remote' => 'true', :'data-url' => url_for(:controller => afterSelectController, :action => afterSelectAction, format: 'js') %>
<% else %>
  <%= text_field_tag :ruta_autocompletar,"", data: { autocomplete_source: lista_rutas_disponibles_path}, class: 'form-control', value: params[:ruta_autocompletar] %>
<% end %>
