<div class="form-group">
  <%= label_tag :search6, "Sucursal:", class: "control-label col-md-5" %>
  <div class="col-md-4">
    <%= select_tag :search6, options_for_select(@Sucursales.map{|e|[e.Sucursal, e.IdEmpresa]},selected: current_usuario.empresa_id), :prompt => "Todas", class: "form-control" %></th>
  </div>
</div>
