<!--SE DEBE COLOCAR EL URL DE EL PATH EN EL QUE SE BUSCARA, EN ESTE CASO EN RELDAYCLI QUE TIENE EL PARCIAL DE LA RUTA-->
<%= search_form_for @searchClienteB, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
          <thead>
            <tr>
              <th class="component_name_header_col"><%= sort_link @searchClienteB, :IdCli, "Id","cliente", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @searchClienteB, :Nombre, "Nombre","cliente", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @searchClienteB, :NombreCorto, "Nombre Comercial","cliente", {}, { :remote => true, :method => :get } %></th>

              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
            <tr>
              <th><%= f.text_field :IdCli_matches, class:"campo" %></th><!--se le coloco el matches porque no estaba aceptando el _cont asi que el matches buscara el valor exacto https://github.com/activerecord-hackery/ransack/wiki/basic-searching-->
              <th><%= f.text_field :Nombre_cont, class:"campo" %></th><!--se le coloco el matches porque no estaba aceptando el _cont asi que el matches buscara el valor exacto https://github.com/activerecord-hackery/ransack/wiki/basic-searching-->
              <th><%= f.text_field :NombreCorto_cont, class:"campo" %></th><!--se le coloco el matches porque no estaba aceptando el _cont asi que el matches buscara el valor exacto https://github.com/activerecord-hackery/ransack/wiki/basic-searching-->

              <th><%= f.submit "Buscar", data: {disable_with: 'Buscando...'} %></th>
            </tr>

          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
<% end %>

  <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
        <%= search_form_for @searchClienteB, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
          <tr>
            <th class="component_name_header_col"><%= sort_link @searchClienteB, :IdCli, "Id","cliente", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @searchClienteB, :Nombre, "Nombre","cliente", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @searchClienteB, :NombreCorto, "Nombre Comercial","cliente", {}, { :remote => true, :method => :get } %></th>

          </tr><% end %>
        </thead>
        <tbody id="container_clientes">
          <% @clientes_Selector.each do |cliente| %>
            <tr id="cliente_<%= cliente.id %>" class="tr_para_seleccionar">
              <td class="component_name_body_col ClienteId"><%= cliente.try(:IdCli)%></td>
              <td class="component_name_body_col ClienteNombre"><%= cliente.try(:Nombre)%></td>
              <td class="component_name_body_col ClienteNombreCorto"><%= cliente.try(:NombreCorto)%></td>
              <td class="component_name_body_col cred oculto"><%= cliente.try(:Credito)%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
<!--para agregarle ajax a caminari se le debe colocar un remote true y ademas en el index.js se debe colocar el script para que responda al ajax-->
      <div id="paginatorCliente"><%= paginate @clientes_Selector, :param_name => 'clientes', :remote => true %></div> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>

<script>
//Abre la ventana modal cuando se da click en el textbox
  $("#Cliente").click(function(){
    $('#addcliente').modal('show');
  });
  
  $("#ClienteNombre").click(function(){
    $('#addcliente').modal('show');
  });
//cuando se clickea en una fila se sombrea
  $("#container_clientes tr").click(function(){
     $(this).addClass('selected').siblings().removeClass('selected');

  });

//cuando se da doble click en una fila se sombrea y se selecciona el id de la ruta para colocarlo en el textfield
  $("#container_clientes tr").dblclick(function(){
     $(this).addClass('selected').siblings().removeClass('selected');
     var ClienteId=$(this).find('.ClienteId').html();
     var ClienteNombre=$(this).find('.ClienteNombre').html();
     var ClienteNombreCorto=$(this).find('.ClienteNombreCorto').html();
     var credito=$(this).find('.cred').html();
     $("#Cliente").val(ClienteId);
     $("#ClienteNombre").val(ClienteNombre);
     $("#ClienteNombreCorto").val(ClienteNombreCorto);
     $('#addcliente').modal('hide');


    if (credito == "true") {
        if($("#Condicion_de_venta option[value='Crédito']").length == 0)
      {
        $('#Condicion_de_venta').append($('<option>', {
          value: 'Crédito',
          text: 'Crédito'
        }));
      }
    } else if (credito == "false") {
        if($("#Condicion_de_venta option[value='Crédito']").length != 0)
        {
          $("#Condicion_de_venta option[value='Crédito']").remove();
        }
    }

  });
</script>
