<%= search_form_for @searchDiaOpB, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
          <thead>
            <tr>
              <th class="component_name_header_col">Id</th>
              <th class="component_name_header_col">DiaO</th>
              <th class="component_name_header_col">Fecha</th>
            <!--  <input id="search" type="hidden" value="<%=params[:search] %>" name="search"/><%# se debe colocar debido a que a la hora de hacer la busqueda de los registros dentro de la tabla, hace la consulta y no toma los ids porque se pierden%>
            -->  <input id="ruta" type="hidden" value="<%=params[:ruta] %>" name="ruta"/><%# se debe colocar debido a que a la hora de hacer la busqueda de los registros dentro de la tabla, hace la consulta y no toma los ids porque se pierden%>

              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
            <tr>
              <th><%= f.number_field :Id_matches, class:"campo" %></th><!--se le coloco el matches porque no estaba aceptando el _cont asi que el matches buscara el valor exacto https://github.com/activerecord-hackery/ransack/wiki/basic-searching-->
              <th><%= f.number_field :DiaO_matches, class:"campo" %></th><!--se le coloco el matches porque no estaba aceptando el _cont asi que el matches buscara el valor exacto https://github.com/activerecord-hackery/ransack/wiki/basic-searching-->
              <th><%= f.text_field :Fecha_cont, class:"campo" %></th>

              <th><%= f.submit "Buscar", data: {disable_with: 'Buscando...'} %></th>
            </tr>

          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
<% end %>

  <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
        <%= search_form_for @searchDiaOpB, :remote=>"true", url: @pathDeBusqueda, :format => 'html', :method => :get do |f| %>
          <tr>
            <th class="component_name_header_col">Id</th>
            <th class="component_name_header_col">DiaO</th>
            <th class="component_name_header_col">Fecha</th>
            <th class="component_name_header_col">Vendedor</th>
          </tr>
        <% end %>
        </thead>
        <tbody id="container_DiasOp">
          <% @DiasOp_Selector.each do |diaOp| %>
            <tr id="diaOp_<%= diaOp.id %>" class="tr_para_seleccionar">
              <td class="component_name_body_col"><%= diaOp.try(:Id)%></td>
              <td class="component_name_body_col DiaOp"><%= diaOp.try(:DiaO)%></td>
              <td class="component_name_body_col fechaDiaO"><%= diaOp.try(:Fecha).strftime("%d-%m-%Y")%></td>
              <td class="component_name_body_col vendedor"><%= diaOp.try(:Vendedor)%></td>
              <td class="component_name_body_col vendedor_id oculto"><%= diaOp.try(:idvendedor)%></td>

            </tr>
          <% end %>
        </tbody>
      </table>
<!--para agregarle ajax a caminari se le debe colocar un remote true y ademas en el index.js se debe colocar el script para que responda al ajax-->
      <div id="paginatorDiasOp"><%= paginate @DiasOp_Selector, :param_name => 'DiasOp', :remote => true %></div> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>

<script>
//Abre la ventana modal cuando se da click en el textbox
  $("#DiaOp").click(function(){
    $('#addDiaOp').modal('show');
  });

//cuando se clickea en una fila se sombrea
  $("#container_DiasOp tr").click(function(){
     $(this).addClass('selected').siblings().removeClass('selected');

  });

//cuando se da doble click en una fila se sombrea y se selecciona el id de la ruta para colocarlo en el textfield
  $("#container_DiasOp tr").dblclick(function(){
     $(this).addClass('selected').siblings().removeClass('selected');
     var DiaOp=$(this).find('.DiaOp').html();
     var fechaDiaO=$(this).find('.fechaDiaO').html();
     $("#DiaOp").val(DiaOp);
     $("#fechaDiaO").val(fechaDiaO);
     $("#vendedor_dia").val($(this).find('.vendedor').html());
     $("#vendedor_id").val($(this).find('.vendedor_id').html());
     $('#addDiaOp').modal('hide');

  });
</script>
