<!--SE DEBE COLOCAR EL URL DE EL PATH EN EL QUE SE BUSCARA, EN ESTE CASO EN RELDAYCLI QUE TIENE EL PARCIAL DE LA RUTA-->
<%= search_form_for @searchProductoB, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
          <thead>
            <tr>
              <th class="component_name_header_col"><%= sort_link @searchProductoB, :Clave, "Clave","producto", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @searchProductoB, :CodBarras, "CodBarras","producto", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @searchProductoB, :Producto, "Producto","producto", {}, { :remote => true, :method => :get } %></th>

              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
            <tr>
              <th><%= f.text_field :Id_matches, class:"campo" %></th><!--se le coloco el matches porque no estaba aceptando el _cont asi que el matches buscara el valor exacto https://github.com/activerecord-hackery/ransack/wiki/basic-searching-->
              <th><%= f.text_field :Clave_matches, class:"campo" %></th>
              <th><%= f.text_field :CodBarras_matches, class:"campo" %></th>
              <th><%= f.text_field :Producto_cont, class:"campo" %></th>

              <th><%= f.submit "Buscar", data: {disable_with: 'Buscando...'} %></th>
            </tr>

          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
<% end %>

  <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
        <%= search_form_for @searchProductoB, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
          <tr>
            <th class="component_name_header_col"><%= sort_link @searchProductoB, :Clave, "Clave","producto", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @searchProductoB, :CodBarras, "CodBarras","producto", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @searchProductoB, :Producto, "Producto","producto", {}, { :remote => true, :method => :get } %></th>
            <%if  @productos_Selector.last.try(:Stock) != nil  %>
              <th class="component_name_header_col"><%= sort_link @searchProductoB, :stock_Producto, "Stock","Stock", {}, { :remote => true, :method => :get } %></th>
            <%end%>
          </tr>

          <% end %>
        </thead>
        <tbody id="container_productos">
          <% @productos_Selector.each do |producto| %>
            <tr id="producto_<%= producto.id %>" class="tr_para_seleccionar">
              <td class="component_name_body_col ProductoClave"><%= producto.try(:Clave)%></td>
              <td class="component_name_body_col ProductoCodBarras"><%= producto.try(:CodBarras)%></td>
              <td class="component_name_body_col Nombre_Producto"><%= producto.try(:Producto)%></td>
              <td class="component_name_body_col Precio_Unitario oculto"><%= (producto.VBase / ((producto.IVA.to_f/100)+1)).round(2) if producto.VBase.present? and producto.IVA.present? %></td>
              <td class="component_name_body_col IVA oculto"><%= producto.try(:IVA)%></td>
              <td class="component_name_body_col IEPS oculto"><%= producto.try(:IEPS)%></td>
              <td class="component_name_body_col Equivalente oculto"><%= producto.try(:Equivalente)%></td>
              <td class="component_name_body_col PzaXCja oculto"><%= producto.try(:PzaXCja)%></td>

              <%if  @productos_Selector.last.try(:Stock) != nil  %>
                <td class="component_name_body_col Stock_Producto"><%= producto.try(:Stock)%></td>
              <%end%>

            </tr>
          <% end %>
        </tbody>
      </table>
<!--para agregarle ajax a caminari se le debe colocar un remote true y ademas en el index.js se debe colocar el script para que responda al ajax-->
      <div id="paginatorProducto"><%= paginate @productos_Selector, :param_name => 'productos', :remote => true %></div> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>

<script>
//Abre la ventana modal cuando se da click en el textbox
  $("#Producto").click(function(){
    $('#addproducto').modal('show');
  });

//cuando se clickea en una fila se sombrea
  $("#container_productos tr").click(function(){
     $(this).addClass('selected').siblings().removeClass('selected');

  });

//cuando se da doble click en una fila se sombrea y se selecciona el id de la ruta para colocarlo en el textfield
  $("#container_productos tr").dblclick(function(){
     $(this).addClass('selected').siblings().removeClass('selected');
     var ProductoClave=$(this).find('.ProductoClave').html();
     var Nombre_Producto=$(this).find('.Nombre_Producto').html();
     var Precio_Unitario=$(this).find('.Precio_Unitario').html();
     var IVA=$(this).find('.IVA').html();
     var IEPS=$(this).find('.IEPS').html();
     var Equivalente=$(this).find('.Equivalente').html();
     var PzaXCja=$(this).find('.PzaXCja').html();
     $("#Producto").val(ProductoClave);
     $("#Nombre_Producto").val(Nombre_Producto);
     $("#Precio_Unitario").val(Precio_Unitario);
     $("#IVA").val(IVA);
     $("#IEPS").val(IEPS);
     $("#Equivalente").val(Equivalente);
     $("#PzaXCja").val(PzaXCja);
     $("#Total").val('');
     $("#Sub-total").val('');
     $("#Cantidad").val('');
     $('#addproducto').modal('hide');

  });
</script>
