<!--SE DEBE COLOCAR EL URL DE EL PATH EN EL QUE SE BUSCARA, EN ESTE CASO EN RELDAYCLI QUE TIENE EL PARCIAL DE LA RUTA-->
<%= search_form_for @searchRutaB, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
          <thead>
            <tr>
              <th class="component_name_header_col"><%= sort_link @searchRutaB, :IdRutas, "Id","ruta", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @searchRutaB, :Ruta, "Ruta","ruta", {}, { :remote => true, :method => :get } %></th>

              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
            <tr>
              <th><%= f.number_field :IdRutas_matches, class:"campo" %></th><!--se le coloco el matches porque no estaba aceptando el _cont asi que el matches buscara el valor exacto https://github.com/activerecord-hackery/ransack/wiki/basic-searching-->
              <th><%= f.text_field :Ruta_cont, class:"campo" %></th>

              <th><%= f.submit "Buscar", data: {disable_with: 'Buscando...'} %></th>
            </tr>

          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
<% end %>

  <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
        <%= search_form_for @searchRutaB, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
          <tr>
            <th class="component_name_header_col"><%= sort_link @searchRutaB, :IdRutas, "Id","ruta", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @searchRutaB, :Ruta, "Ruta","ruta", {}, { :remote => true, :method => :get } %></th>

          </tr><% end %>
        </thead>
        <tbody id="container_rutas">
          <% @rutas_Selector.each do |ruta| %>
            <tr id="ruta_<%= ruta.id %>" class="tr_para_seleccionar">
              <td class="component_name_body_col RutaId"><%= ruta.try(:IdRutas)%></td>
              <td class="component_name_body_col Ruta"><%= ruta.try(:Ruta)%></td>

            </tr>
          <% end %>
        </tbody>
      </table>
<!--para agregarle ajax a caminari se le debe colocar un remote true y ademas en el index.js se debe colocar el script para que responda al ajax-->
      <div id="paginatorRuta"><%= paginate @rutas_Selector, :param_name => 'rutas', :remote => true %></div> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>

<script>
//Abre la ventana modal cuando se da click en el textbox
  $("#Ruta, #RutaB").click(function(){
    $('#addruta').modal('show');
  });

//cuando se clickea en una fila se sombrea
  $("#container_rutas tr").click(function(){
     $(this).addClass('selected').siblings().removeClass('selected');

  });

//cuando se da doble click en una fila se sombrea y se selecciona el id de la ruta para colocarlo en el textfield
  $("#container_rutas tr").dblclick(function(){
     $(this).addClass('selected').siblings().removeClass('selected');
     var Ruta=$(this).find('.Ruta').html();
     var RutaId=$(this).find('.RutaId').html();
     $("#Ruta, #RutaB").val(Ruta);
     $("#RutaId, #RutaIdB").val(RutaId).change();
     $('#vendedor').prop('disabled', true); //para el proceso de generar ruta
     $('#addruta').modal('hide');

  });
</script>
