<div class="modal fade" id="addruta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Rutas</h4>
      </div>
      <div class="modal-body">
        <div id="rutas"><%= render "partials/buscadorReportes/rutas" %></div>

      </div>
    </div>
  </div>
</div>
