<!--SE DEBE COLOCAR EL URL DE EL PATH EN EL QUE SE BUSCARA, EN ESTE CASO EN RELDAYCLI QUE TIENE EL PARCIAL DE LA RUTA-->
<%= search_form_for @searchVendedorB, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
          <thead>
            <tr>
              <th class="component_name_header_col"><%= sort_link @searchVendedorB, :IdVendedor, "Id","vendedor", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @searchVendedorB, :Clave, "Clave","vendedor", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @searchVendedorB, :Nombre, "Nombre","vendedor", {}, { :remote => true, :method => :get } %></th>

              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
            <tr>
              <th><%= f.number_field :IdVendedor_matches, class:"campo" %></th><!--se le coloco el matches porque no estaba aceptando el _cont asi que el matches buscara el valor exacto https://github.com/activerecord-hackery/ransack/wiki/basic-searching-->
              <th><%= f.text_field :Clave_cont, class:"campo" %></th>
              <th><%= f.text_field :Nombre_cont, class:"campo" %></th>

              <th><%= f.submit "Buscar", data: {disable_with: 'Buscando...'} %></th>
            </tr>

          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
<% end %>

  <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
        <%= search_form_for @searchVendedorB, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
          <tr>
            <th class="component_name_header_col"><%= sort_link @searchVendedorB, :IdVendedor, "Id","vendedor", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @searchVendedorB, :Clave, "Clave","vendedor", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @searchVendedorB, :Nombre, "Nombre","vendedor", {}, { :remote => true, :method => :get } %></th>

          </tr><% end %>
        </thead>
        <tbody id="container_vendedores">
          <% @vendedores_Selector.each do |vendedor| %>
            <tr id="vendedor_<%= vendedor.id %>" class="tr_para_seleccionar">
              <td class="component_name_body_col VendedorId"><%= vendedor.try(:IdVendedor)%></td>
              <td class="component_name_body_col Clave"><%= vendedor.try(:Clave)%></td>
              <td class="component_name_body_col"><%= vendedor.try(:Nombre)%></td>

            </tr>
          <% end %>
        </tbody>
      </table>
<!--para agregarle ajax a caminari se le debe colocar un remote true y ademas en el index.js se debe colocar el script para que responda al ajax-->
      <div id="paginatorVendedor"><%= paginate @vendedores_Selector, :param_name => 'vendedores', :remote => true %></div> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>

<script>
//Abre la ventana modal cuando se da click en el textbox
  $("#Clave_Vendedor").click(function(){
    $('#addvendedor').modal('show');
  });

//cuando se clickea en una fila se sombrea
  $("#container_vendedores tr").click(function(){
     $(this).addClass('selected').siblings().removeClass('selected');

  });

//cuando se da doble click en una fila se sombrea y se selecciona el id de la vendedor para colocarlo en el textfield
  $("#container_vendedores tr").dblclick(function(){
     $(this).addClass('selected').siblings().removeClass('selected');
     var Clave=$(this).find('.Clave').html();
     var VendedorId=$(this).find('.VendedorId').html();
     $("#Clave_Vendedor").val(Clave);
     $("#VendedorId").val(VendedorId).change();
     $('#vendedor').prop('disabled', true); //para el proceso de generar vendedor
     $('#addvendedor').modal('hide');

  });
</script>
