<div class="modal fade" id="addDiaOp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Días operativos</h4>
      </div>
      <div class="modal-body">
        <div id="dias_op"><%= render "partials/buscadorReportes/dias_op" %></div>

      </div>
    </div>
  </div>
</div>
