<div class="modal fade" id="addcliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 1000000; ">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Clientes</h4>
      </div>
      <div class="modal-body">
        <div id="clientes"><%= render "partials/buscadorReportes/clientes" %></div>

      </div>
    </div>
  </div>
</div>
