<%= form_tag("/generar_ruta_agregar_de_forma_masiva", method: 'get', remote: true, class: "form-horizontal" ) do %>
	<input type="hidden" id="dia_semana" value="<%=params[:Dia_de_semana]%>" name="dia_semana" />

	<%= fields_for :lista_clientes_out do |ff|%>
	 <div id="campos_para_agregar_masivamente">

		<% if @todos_los_clientes_out_seleccionados.present?%>
			<% @todos_los_clientes_out_seleccionados.each do |reldayc| %>
		    	<input type="hidden" id="global_<%=reldayc.Id%>" value="<%=reldayc.Id%>" name="lista_clientes_out[global_<%=reldayc.Id%>]" class="items_para_agregar" />

		    	  <script type="text/javascript">
							var myitem_agregar = document.getElementById('item_out_<%=reldayc.Id%>');
							if (myitem_agregar != null) document.getElementById("item_out_<%=reldayc.Id%>").checked = true;
				    </script>
		    <% end %>
	    <% end %>

	 </div>
	<% end %>

	<%= submit_tag "Agregar clientes seleccionados", name: "subaction", class: "btn btn-primary btn-xs", data: { disable_with: 'Agregando...' }, style:"float: right;" %>
<% end %>

<div id="boton_seleccionar_todos"><%=render 'boton_seleccionar_todos'%> </div>
<button class="btn warning" onclick="btn_borrar_seleccion_out()">Borrar selección</button>

<script>
function btn_borrar_seleccion_out() {
	$('.items_para_agregar').remove();
	$(".check_agregar").prop('checked', false);
}
</script>
