<%if params[:q].present?%>
	<%= link_to "Seleccionar todos", generar_ruta_agregar_seleccionar_todos_masivo_path(:search => params[:search], :vendedor => params[:vendedor], :Dia_de_semana => params[:Dia_de_semana], :cliente_IdCli_cont => params[:q][:cliente_IdCli_cont], :cliente_Nombre_cont => params[:q][:cliente_Nombre_cont], :cliente_NombreCorto_cont => params[:q][:cliente_NombreCorto_cont], :cliente_Direccion_cont => params[:q][:cliente_Direccion_cont], :cliente_Colonia_cont => params[:q][:cliente_Colonia_cont], :cliente_Horario_cont => params[:q][:cliente_Horario_cont], :commit=>"agregar_masivo"), remote: true, class: "btn btn-primary btn-xs", data: { disable_with: 'Seleccionando...' }, style:"float: right;" %>
<%else%>
	<%= link_to "Seleccionar todos", generar_ruta_agregar_seleccionar_todos_masivo_path(:search => params[:search], :vendedor => params[:vendedor], :Dia_de_semana => params[:Dia_de_semana], :cliente_IdCli_cont => params[:cliente_IdCli_cont], :cliente_Nombre_cont => params[:cliente_Nombre_cont], :cliente_NombreCorto_cont => params[:cliente_NombreCorto_cont], :cliente_Direccion_cont => params[:cliente_Direccion_cont], :cliente_Colonia_cont => params[:cliente_Colonia_cont], :cliente_Horario_cont => params[:cliente_Horario_cont], :commit=>"agregar_masivo"), remote: true, class: "btn btn-primary btn-xs", data: { disable_with: 'Seleccionando...' }, style:"float: right;" %>
<%end%>
