<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th class="text-center">Pedidos</th>
      <th class="text-center">Clientes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">
        <%= @total_pedidos %>
      </td>
      <td class="text-center">
        <%= @total_clientes %>
      </td>
    </tr>
  </tbody>
</table>