<% if @reldaycliglobal != nil%>
  <!--<p id="notice"><%= notice %></p>-->
  <div id="agregar_masivo"><%= render 'agregar_masivo' %></div>
  <div class="well center-block">
    <h2 class="text-center"> Lista de Clientes asignados a la ruta global </h2>
    <div id="cantidad_clientes_out"><%= render '/reldaycli/reldayc_out/cantidad_clientes_out' %></div>
    <div id="clientes_out"><%= render '/reldaycli/reldayc_out/clientes_out' %></div>
  </div>

  <br>
  <br>
  <div id="eliminar_masivo"><%= render 'eliminar_masivo' %></div>
  <div class="well center-block well_inferior">
    <h2 class="text-center"> Lista de Clientes asignados a la ruta el día <%=params[:id2]%></h2>
    <div id="cantidad_clientes_in"><%= render '/reldaycli/reldayc_in/cantidad_clientes_in' %></div>
    <br>
    <br>
    <div id="clientes_in"><%= render '/reldaycli/reldayc_in/clientes_in' %></div>
  </div>


  <%if (params[:Dia_de_semana] == "Lunes") || (params[:Dia_de_semana] == "Martes") || (params[:Dia_de_semana] == "Miercoles") || (params[:Dia_de_semana] == "Jueves") || (params[:Dia_de_semana] == "Viernes") || (params[:Dia_de_semana] == "Sabado") || (params[:Dia_de_semana] == "Domingo")%>
    <%= link_to 'Eliminar clientes asignados al día', borrar_clientes_ruta_al_dia_path(:RutaId => @ruta.try(:IdRutas), :Dia_de_semana => "#{params[:Dia_de_semana]}", :vendedor => "#{params[:vendedor]}"), :remote => true, data: {confirm: "¿Está seguro que desea eliminar todos los clientes asignados a la ruta?", disable_with: 'Eliminando...'}, class: "btn btn-danger btn-xs"  %>
  <%end%>



  <div class="modal fade" id="addruta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Rutas</h4>
        </div>
        <div class="modal-body">
          <div id="rutas"><%= render "partials/buscadorReportes/rutas" %></div>
        </div>
      </div>
    </div>
  </div>
<%end%>
