<% if @vendedores != nil %>
     <%= label_tag :vendedor, "Vendedor:", class: "control-label col-md-5" %>
     <div class="col-md-7">
      <%= select_tag :vendedor, options_for_select(@vendedores.map{|e| ["#{e.vendedor.try(:Clave)} - #{e.vendedor.try(:Nombre)}", e.IdVendedor]}), :class => 'form-control chosen-select', :prompt => "Por favor seleccione", required: "true" %>
   </div>
   <script type="text/javascript">
   	(function($){
   		$("#vendedor").chosen();
   	})(jQuery);
   </script>
<% end %>
