$("#cantidad_clientes_v").html("<%= escape_javascript(render("/reldaycli/asig_clientes_entre_vendedores/cantidad_clientes_v"))%>")
$("#cantidad_clientes_v2").html("<%= escape_javascript(render("/reldaycli/asig_clientes_entre_vendedores/cantidad_clientes_v2"))%>")
$("#clientes_vendedor").html("<%= escape_javascript(render("/reldaycli/asig_clientes_entre_vendedores/clientes_vendedor"))%>")
$("#clientes_vendedor2").html("<%= escape_javascript(render("/reldaycli/asig_clientes_entre_vendedores/clientes_vendedor2"))%>")
$("#btn_agregar_clientes").html("<%= escape_javascript(render("/reldaycli/asig_clientes_entre_vendedores/btn_agregar_clientes"))%>")
$("#nombre_vendedor").html("Lista de Clientes asignados al vendedor <%=@nombre_vendedor%>");
$("#nombre_vendedor2").html("Lista de Clientes asignados al vendedor <%=@nombre_vendedor2%>");
