<div>
  <h2>Asig. Clientes entre vendedores</h2>
  <div class="well center-block">
    <h2>Por favor selecciona la ruta y el día</h2>

    <%= form_tag("/asig_clientes_entre_vendedores", method: 'get', remote: true, id:"search",class: "form-horizontal asig_clientes_entre_vendedores" ) do %>
      <div class="row">
        <div class="col-md-6">
          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: 'reldaycli', afterSelectAction: 'busqueda_vendedores_por_ruta'} %>
          <div class="form-group">
            <div id="vendedores1_de_la_ruta" class="form-group"><%= render 'vendedores1_de_la_ruta' %></div>
          </div>
          <div class="form-group">
            <div id="vendedores2_de_la_ruta" class="form-group"><%= render 'vendedores2_de_la_ruta' %></div>
          </div>
          <div class="form-group">
            <%= label_tag :Dia_de_semana, "Dia:", class: "control-label col-md-5" %>
            <div class="col-md-3">
              <%= select_tag :Dia_de_semana, options_for_select([['Lunes'], ['Martes'], ['Miércoles','Miercoles'], ['Jueves'], ['Viernes'], ['Sábado', 'Sabado'], ['Domingo']]), :class => 'form-control' %>
            </div>

            <div class="col-md-3" style="padding: 0">
              <%= submit_tag "Buscar", class: "btn btn-primary btn-block btn-lg", data: { disable_with: 'Buscando' } %>
            </div>

          </div>
        </div>
      </div>
    <%end%>

  </div>
  <div id="clientes_entre_vendedores"><%= render '/reldaycli/asig_clientes_entre_vendedores/clientes_entre_vendedores' %></div>

</div>
