$("#vendedores_de_la_ruta").html("<%= escape_javascript(render("vendedores_de_la_ruta"))%>")
$("#vendedores1_de_la_ruta").html("<%= escape_javascript(render("vendedores1_de_la_ruta"))%>")
$("#vendedores2_de_la_ruta").html("<%= escape_javascript(render("vendedores2_de_la_ruta"))%>")
