$("#clientes_out").html("<%= escape_javascript(render("/reldaycli/reldayc_out/clientes_out"))%>")
$("#clientes_in").html("<%= escape_javascript(render("/reldaycli/reldayc_in/clientes_in"))%>")
$("#cantidad_clientes_out").html("<%= escape_javascript(render("/reldaycli/reldayc_out/cantidad_clientes_out"))%>")
$("#cantidad_clientes_in").html("<%= escape_javascript(render("/reldaycli/reldayc_in/cantidad_clientes_in"))%>")
$("#estadisticas").html("<%= escape_javascript(render("estadisticas"))%>")
<%if params[:commit].present?%>
  $("#agregar_masivo").html("<%= escape_javascript(render("agregar_masivo"))%>")
  $("#eliminar_masivo").html("<%= escape_javascript(render("eliminar_masivo"))%>")
<%else%>
  $("#boton_seleccionar_todos_eliminar").html("<%= escape_javascript(render("boton_seleccionar_todos_eliminar"))%>")
<%end%>
