$("#clientes_out").html("<%= escape_javascript(render("/reldaycli/reldayc_out/clientes_out"))%>")
$("#clientes_in").html("<%= escape_javascript(render("/reldaycli/reldayc_in/clientes_in"))%>")
$("#cantidad_clientes_out").html("<%= escape_javascript(render("/reldaycli/reldayc_out/cantidad_clientes_out"))%>")
$("#cantidad_clientes_in").html("<%= escape_javascript(render("/reldaycli/reldayc_in/cantidad_clientes_in"))%>")
$("#boton_seleccionar_todos").html("<%= escape_javascript(render("boton_seleccionar_todos"))%>")
$("#boton_seleccionar_todos_eliminar").html("<%= escape_javascript(render("boton_seleccionar_todos_eliminar"))%>")
$("#agregar_masivo").html("<%= escape_javascript(render("agregar_masivo"))%>")
$("#eliminar_masivo").html("<%= escape_javascript(render("eliminar_masivo"))%>")

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
