$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$("#clientes_out").html("<%= escape_javascript(render("/reldaycli/reldayc_out/clientes_out"))%>")
$("#clientes_in").html("<%= escape_javascript(render("/reldaycli/reldayc_in/clientes_in"))%>")
$("#cantidad_clientes_out").html("<%= escape_javascript(render("/reldaycli/reldayc_out/cantidad_clientes_out"))%>")
$("#cantidad_clientes_in").html("<%= escape_javascript(render("/reldaycli/reldayc_in/cantidad_clientes_in"))%>")
$("#boton_seleccionar_todos").html("<%= escape_javascript(render("boton_seleccionar_todos"))%>")
$("#boton_seleccionar_todos_eliminar").html("<%= escape_javascript(render("boton_seleccionar_todos_eliminar"))%>")
