<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="titulo">
     <Interior ss:Color="#6FC9FF" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Clave</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Nombre</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Razón Social</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Dirección</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Colonia</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Ruta</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Horario</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Secuencia</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Clave del vendedor</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Vendedor</Data></Cell>
      </Row>

      <% @reldaycli_export.each do |reldayc| %>
        <Row>
          <Cell><Data ss:Type="String"><%= reldayc.cliente.IdCli %></Data></Cell>
          <Cell><Data ss:Type="String"><%= reldayc.cliente.Nombre %></Data></Cell>
          <Cell><Data ss:Type="String"><%= reldayc.cliente.NombreCorto %></Data></Cell>
          <Cell><Data ss:Type="String"><%= reldayc.cliente.Direccion %></Data></Cell>
          <Cell><Data ss:Type="String"><%= reldayc.cliente.Colonia %></Data></Cell>
          <Cell><Data ss:Type="String"><%= reldayc.ruta.try(:Ruta) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= reldayc.cliente.Horario %></Data></Cell>
          <Cell><Data ss:Type="String"><!--para que muestre la secuencia dependiendo del dia por parametro-->
            <%if @dia == "Lunes"%>
              <%= reldayc.Lunes %>
            <%elsif @dia == "Martes"%>
              <%= reldayc.Martes %>
            <%elsif @dia == "Miercoles"%>
              <%= reldayc.Miercoles %>
            <%elsif @dia == "Jueves"%>
              <%= reldayc.Jueves %>
            <%elsif @dia == "Viernes"%>
              <%= reldayc.Viernes %>
            <%elsif @dia == "Sabado"%>
              <%= reldayc.Sabado %>
            <%elsif @dia == "Domingo"%>
              <%= reldayc.Domingo %>
            <%end%>
          </Data></Cell>
          <Cell><Data ss:Type="String"><%= reldayc.vendedor.Clave %></Data></Cell>
          <Cell><Data ss:Type="String"><%= reldayc.vendedor.Nombre %></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
