<div>
  <h2>Generación de rutas</h2>
  <div class="well center-block">
    <h2>Por favor selecciona la ruta y el día</h2>


    <%= form_tag("/busqueda_generacion_ruta", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>

    <div class="row">
      <div class="col-md-6">
        <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: 'reldaycli', afterSelectAction: 'busqueda_vendedores_por_ruta'} %>
        <div class="form-group">
          <div id="vendedores_de_la_ruta" class="form-group"><%= render 'vendedores_de_la_ruta' %></div>
        </div>
        <div class="form-group">
          <div class="col-md-5">
            <%= label_tag :Dia_de_semana, "Dia:", class: "control-label col-md-2" %>
            <div class="col-md-10">
              <%= select_tag :Dia_de_semana, options_for_select([['Lunes'], ['Martes'], ['Miércoles','Miercoles'], ['Jueves'], ['Viernes'], ['Sábado', 'Sabado'], ['Domingo']]), :class => 'form-control' %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="checkbox">
              <label><%= check_box_tag :Entregas %> Entregas</label>
            </div>
          </div>
          <div class="col-md-3" style="padding: 0">
            <%= submit_tag "Buscar", class: "btn btn-primary btn-block btn-lg", data: { disable_with: 'Buscando' } %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="estadisticas"><%= render 'estadisticas' %></div>
      </div>
    </div>
  <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
  </div>
  <div id="generar_ruta"><%= render 'generar_ruta' %></div>
</div>
