$("#cantidad_clientes_v").html("<%= escape_javascript(render("/reldaycli/asig_clientes_entre_vendedores/cantidad_clientes_v"))%>")
$("#cantidad_clientes_v2").html("<%= escape_javascript(render("/reldaycli/asig_clientes_entre_vendedores/cantidad_clientes_v2"))%>")
$("#clientes_vendedor").html("<%= escape_javascript(render("/reldaycli/asig_clientes_entre_vendedores/clientes_vendedor"))%>")
$("#clientes_vendedor2").html("<%= escape_javascript(render("/reldaycli/asig_clientes_entre_vendedores/clientes_vendedor2"))%>")

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
