if (<%= (@reldayc[@dia] != nil) && (params[:DGEVOLUCION] != "1") %>) {
  $("#global_<%= @reldayc.id %>").fadeOut(500, function(){
    $("#container_reldaycli").prepend('<%= j render(:partial => '/reldaycli/reldayc_in/reldayc', locals: { reldayc: @reldayc}) %>');
  });

} else if (<%= (@reldayc[@dia] != nil) && (params[:DGEVOLUCION] == "1") %>) {

  $("#reldayc_<%= @reldayc.id %>").fadeOut(500, function(){
    $("#container_reldaycli").prepend('<%= j render(:partial => '/reldaycli/reldayc_in/reldayc', locals: { reldayc: @reldayc}) %>');
  });


} else if (<%= @reldayc[@dia] == nil %> ) {

  $("#reldayc_<%= @reldayc.id %>").fadeOut(500, function(){
    $("#container_clientes").prepend('<%= j render(:partial => '/reldaycli/reldayc_out/reldayc', locals: { reldayc: @reldayc}) %>'); //Prepend before append
  });

}


setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
