
                <tr id="catmarca_<%= catmarca.id %>">
                  <td class="col_left"><%= catmarca.try(:Clave)%></td>
                  <td class="col_left"><%= catmarca.try(:Descripcion)%></td>
                  <td class="col_left"><%= catmarca.try(:Status)%>

                          <!--Modal - update producto-->
                      <%= form_for(catmarca, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{catmarca.id}"}) do |mk| %><!--ajax-->
                        <div nohidden class="modal fade si" id="myupdatecatmarca_<%= catmarca.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Editar marca</h4>
                              </div>

                              <div class="modal-body">
                                <div class="form-group">
                                  <%= mk.label :TipoMarca, "Tipo:", class: "control-label col-md-3"  %>
                                  <div class="col-md-7">
                                    <div id="opciones"class="btn-group" data-toggle="buttons">
                                      <label class="btn btn-primary <%if catmarca.TipoMarca == "P" %> active <%end%>">
                                        <%= mk.radio_button :TipoMarca, 'P' %> Producto
                                      </label>
                                      <label class="btn btn-primary <%if catmarca.TipoMarca == "V" %> active <%end%>">
                                        <%= mk.radio_button :TipoMarca, 'V' %> Vehículo
                                      </label>
                                    </div>
                                  </div>
                                </div>



                                <div class="form-group">
                                  <%= mk.label :Descripcion, "Descripcion:", class: "control-label col-md-3"  %>
                                  <div class="col-md-9">
                                    <%= mk.text_field :Descripcion, class: "form-control ", required: "true"   %>
                                  </div>
                                </div>



                                <div class="form-group">
                                  <%= mk.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-2"%>
                                  <div class="col-md-1">
                                    <%= mk.check_box :Status,{checked: true} %>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" id="myupdatebutton_<%= catmarca.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
                              </div>
                            </div>
                          </div>
                        </div>
                      <%end%>

                      <script>
                        $(".formulario-validado-update<%=catmarca.id%>").validate();

                      </script>
                  </td>
                  <td class="col_left">
                    <%if catmarca.try(:TipoMarca) == "P"%>
                      Producto
                    <%elsif catmarca.try(:TipoMarca) == "V" %>
                      Vehículo
                    <%end%>
                  </td>

                  <td>
                  <div class="btn-group"><a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
                   <%= t('basic.Acción') %>

                   </a>
                  <ul class="dropdown-menu posicion-menu">


                    <li>
                      <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatecatmarca_<%= catmarca.id %>">
                        Editar
                      </button>
                      <!--Destroy-->
                      <% if catmarca.Status == true%>
                      <%= link_to 'Eliminar', catmarca, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
                      <%else%>
                        <%= link_to 'Habilitar', catmarca, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'} %>
                      <%end%>
                    </li>



                  </ul>
                  </div>
                  <!-- button group --></td>
                </tr>
