<% if @puede_crear == true%>
  $("#mynewmarca").modal('hide');
  $(".catmarca_clave").val('');
  $(".catmarca_descripcion").val('');

  if (<%= @catmarca.Status == true %>){
    $("#container_catmarcas").prepend('<%= j render @catmarca %>'); //Prepend before append
    $("#catmarca_<%= @catmarca.id %>").hide().fadeIn(1000);
  }
  <%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
