<!--<p id="notice"><%= notice %></p>-->
<h1>Marcas</h1>
<h3>Total: <%=@cantidad_catmarcas_activos%></h3>
<style>
.container {
  width: 100%;
}

</style>
<div>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewmarca">
        Nueva marca
      </button>

    </div>
  </div>

  <br>
  <br>

<div id="catmarcas"><%= render 'catmarcas' %></div>




<!-- Modal create action -->
<%= form_for(@catmarca, remote: true, html: {class: "form-horizontal catmarca-validado"}) do |mk| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewmarca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar Marca</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <%= mk.label :TipoMarca, "Tipo:", class: "control-label col-md-3"  %>
            <div class="col-md-7">
              <div id="opciones"class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <%= mk.radio_button :TipoMarca, 'P',checked: true %> Producto
                </label>
                <label class="btn btn-primary">
                  <%= mk.radio_button :TipoMarca, 'V' %> Vehículo
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">

            <%= mk.label :Clave, "Clave:", class: "control-label col-md-3"  %>
            <div class="col-md-7">
              <%= mk.text_field :Clave, class: "form-control catmarca_clave clave_sin_espacios_y_sin_caracteres_especiales",autofocus: true, required: "true"   %>
            </div>

          </div>

          <div class="form-group">
            <%= mk.label :Descripcion, "Descripcion:", class: "control-label col-md-3"  %>
            <div class="col-md-9">
              <%= mk.text_field :Descripcion, class: "form-control catmarca_descripcion", required: "true"   %>
            </div>
          </div>



          <div class="form-group">
            <%= mk.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-2"%>
            <div class="col-md-1">
              <%= mk.check_box :Status,{checked: true} %>
            </div>
          </div>
            <%= mk.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewcategoryclose">Cerrar</button>
          <%= mk.submit "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>


<%= link_to 'marcas eliminadas ó inhabilitados<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, catmarcas_inactivos_path, class: "btn btn-danger btn-xs"%>
