<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @catmarca.Clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @catmarca.Descripcion %>
</p>

<p>
  <strong>Status:</strong>
  <%= @catmarca.Status %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @catmarca.IdEmpresa %>
</p>

<p>
  <strong>Tipomarca:</strong>
  <%= @catmarca.TipoMarca %>
</p>

<%= link_to 'Edit', edit_catmarca_path(@catmarca) %> |
<%= link_to 'Back', catmarcas_path %>
