<% if @puede_editar == true %>
  $("#myupdatecatmarca_<%= @catmarca.id %>").modal('hide');

  $("#catmarca_<%= @catmarca.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();

      $("#container_catmarcas").prepend('<%= j render @catmarca %>');

  });
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
