  <div class="row">
    <div class="text-right">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myetiquetas">
        Etiquetas
      </button>

      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mypedido_consolidado">
        Consolidar
      </button>
    </div>
  </div>

<% if @cantidad_productosxpedido != nil %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <% @cantidad_productosxpedido.first.try(:keys).try(:each) do |key| %>
              <% if key === 'Fecha de Preparacion de Pedido' %>
                <th class="component_name_header_col th">Fecha pedido</th>
              <% else %>
                <th class="component_name_header_col th"><%= key %></th>
              <% end %>
            <% end %>
          </tr>
       </thead>
      <tbody id="container_productosxpedido">
        <%#@cantidad_productosxpedido.all.to_a.each do |foo|%>
        <%@cantidad_productosxpedido.to_a.each do |foo|%>
          <tr>
            <%foo.each do |label, value|%>
              <td>
                <%if value == true%>
                  <input type="checkbox" disabled="true" checked="true">
                <%elsif value == false%>
                  <input type="checkbox" disabled="true">
                <%else%>
                  <%= value %>
                <%end%>
              </td>
            <%end%>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <%= link_to 'Exportar Excel', cantidad_productosxpedido_path(:search => params[:search], :Fecha => params[:Fecha], :Status => params[:Status], format:"xls"), class:"btn btn-success btn-xs"  %>

<%end%>
