<% if @pedidos_consolidados != nil %>

 <div class="modal fade" id="mypedido_consolidado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Consolidado de Pedidos</h4>
        </div>
        <div class="modal-body">

  			<div class="rwd">
			    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
			        <thead>
			          <tr>
			            <% @pedidos_consolidados.first.try(:keys).try(:each) do |key| %>
			           		<% if key != "Ruta" %>
			                	<th class="component_name_header_col th"><%= key %></th>
			            	<% end %>
			            <% end %>
			          </tr>
			       </thead>
			      <tbody id="container_productosxpedido_consolidado">
			        <%@pedidos_consolidados.to_a.each do |foo|%>
			          <tr>
			            <%foo.each do |label, value|%>
			           		<% if label != "Ruta" %>
				              <td><%= value %></td>
			            	<%end%>
			            <%end%>
			          </tr>
			        <%end%>
			      </tbody>
			    </table>
       		</div>
        </div>

        <div class="modal-footer">

			<%= link_to 'PDF', productos_x_pedido_consolidado_pdf_path(:search => params[:search], :Status => params[:Status], :Fecha => params[:Fecha], :format => 'pdf'), target: :_blank, class:"btn btn-success"  %>

        	<%= link_to 'Exportar Excel', cantidad_productosxpedido_consolidado_path(:search => params[:search], :Fecha => params[:Fecha], :Status => params[:Status], format:"xls"), class:"btn btn-success"  %>

          <button type="button" class="btn btn-default" data-dismiss="modal" id="mypedido_consolidado">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


<% end %>

<% if @etiquetas != nil %>

 <div class="modal fade" id="myetiquetas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Etiquetas</h4>
        </div>
        <div class="modal-body">

  			<div class="rwd">
			    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
			        <thead>
			          <tr>
                  <th class="component_name_header_col th"></th>
			            <% @etiquetas.first.try(:keys).try(:each) do |key| %>
			           		<% if key != "Ruta" %>
			                	<th class="component_name_header_col th"><%= key %></th>
			            	<% end %>
			            <% end %>
			          </tr>
			       </thead>
			      <tbody id="container_etiquetas">
			        <%@etiquetas.to_a.each do |foo|%>
			          <tr>

                  <td>
                    <%= check_box_tag("item_#{foo['Pedido']}_#{foo['Articulo']}", value = "1", checked = false, options = {class: "check_imprimir"}) %>
                    <script type="text/javascript">
                      if ($('#etiqueta_<%=foo['Pedido']%>_<%=foo['Articulo']%>').val() != null) {
                        document.getElementById("item_<%=foo['Pedido']%>_<%=foo['Articulo']%>").checked = true;
                      } else {
                          document.getElementById("item_<%=foo['Pedido']%>_<%=foo['Articulo']%>").checked = false;
                      }
                    </script>
                  </td>
                  <script type="text/javascript">
                    $("#item_<%=foo['Pedido']%>_<%=foo['Articulo']%>").change(function() {
                      var etiqueta_<%=foo['Pedido']%>_<%=foo['Articulo']%> = "<%=foo['Articulo']%>";
                      if (document.getElementById('item_<%=foo['Pedido']%>_<%=foo['Articulo']%>').checked) {
                        //si el elemento le dan check el crea el campo con el id del mismo para ser enviado
                          document.getElementById('campos_para_imprimir_masivamente').innerHTML+='<input type="hidden" id="etiqueta_<%=foo['Pedido']%>_<%=foo['Articulo']%>" value="'+etiqueta_<%=foo['Pedido']%>_<%=foo['Articulo']%>+'" name="lista_etiquetas[<%=foo['Pedido']%>_<%=foo['Articulo']%>" class="items_para_imprimir" />';
                      } else {
                        //si le quitan el check, borra el elemento a enviar
                         document.getElementById("campos_para_imprimir_masivamente").removeChild(document.getElementById("etiqueta_<%=foo['Pedido']%>_<%=foo['Articulo']%>"));
                      }
                    });
                  </script>

			            <%foo.each do |label, value|%>
			           		<% if label != "Ruta" %>
				              <td><%= value %></td>
			            	<%end%>
			            <%end%>
			          </tr>
			        <%end%>
			      </tbody>
			    </table>
       		</div>
        </div>

        <div class="modal-footer">

          <%= form_tag("/pedidos_ruta_impresion_etiquetas_pdf", method: 'get', target: :_blank, class: "form-horizontal" ) do %>
          	<input type="hidden" id="ruta" value="<%=params[:search]%>" name="ruta" />
            <input type="hidden" id="status" value="<%=params[:Status]%>" name="status" />
            <input type="hidden" id="fecha" value="<%=params[:Fecha]%>" name="fecha" />
            <%= hidden_field_tag :format, :pdf %>

          	<%= fields_for :lista_etiquetas do |ff|%>
          	 <div id="campos_para_imprimir_masivamente">

          		<% if @todos_los_pedidos_seleccionados.present?%>
          			<% @todos_los_pedidos_seleccionados.each do |pedido| %>
          		    	<input type="text" id="global_<%=pedido.Id%>" value="<%=pedido.Id%>" name="lista_etiquetas[global_<%=reldayc.Id%>]" class="items_para_agregar" />

          		    	  <script type="text/javascript">
          							var myitem_agregar = document.getElementById('item_out_<%=pedido.Id%>');
          							if (myitem_agregar != null) document.getElementById("item_out_<%=pedido.Id%>").checked = true;
          				    </script>
          		    <% end %>
          	    <% end %>

          	 </div>
          	<% end %>

          	<%= submit_tag "Imprimir seleccionados", name: "subaction", class: "btn btn-success"%>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mypedido_consolidado">Cerrar</button>
          <% end %>



        </div>
      </div>
    </div>
  </div>


<% end %>
