<% if @comisiones != nil %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="col_left th_color">Fecha</th>
            <th class="col_left th_color">Artículo</th>
            <th class="col_left th_color">Nombre</th>
            <th class="col_left th_color">CantidadPzas</th>
            <th class="col_right th_color">Precio Unitario</th>
            <th class="col_right th_color">Importe</th>
            <th class="col_left th_color">IdVendedor</th>
            <th class="col_left th_color">Clave</th>
            <th class="col_left th_color">Vendedor</th>
            <th class="col_right th_color">Monto Config Vend</th>
            <th class="col_right th_color">Comisión Vendedor</th>
            <th class="col_left th_color">Id_Ayudante</th>
            <th class="col_left th_color">Clave</th>
            <th class="col_left th_color">Nombre</th>
            <th class="col_right th_color">Monto Config Ayud1</th>
            <th class="col_right th_color">Comisión Ayudante1</th>
            <th class="col_left th_color">Id_Ayudante2</th>
            <th class="col_left th_color">Clave</th>
            <th class="col_left th_color">Nombre</th>
            <th class="col_right th_color">Monto Config Ayud1</th>
            <th class="col_right th_color">Comisión Ayudante2</th>
            <th class="col_left th_color">Notas</th>
            <!--<th class="component_name_header_col">Acción</th>-->
          </tr>
       </thead>
      <tbody id="container_envases_devueltos">
        <%= render partial: "/stored_procedures/comision", collection: @comisiones %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Exportar Excel', stored_procedures_comisiones_path(:search => params[:search], :search4 => params[:search4], :search5 => params[:search5], format:"xls"), class:"btn btn-success btn-xs"  %>
<%end%>
