<tr>
  <td class="col_left"><%= comision['Fecha'].try(:strftime,"%d-%m-%Y") %></td>
  <td class="col_left"><%= comision['Articulo'] %></td>
  <td class="col_left"><%= comision['NombreArticulo'] %></td>
  <td class="col_left"><%= comision['Cantidad'] %></td>
  <td class="col_right"><%= comision['PrecioUnitario'] %></td>
  <td class="col_right"><%= comision['Importe'] %></td>
  <td class="col_left"><%= comision['IdVendedor'] %></td>
  <td class="col_left"><%= comision['ClaveVend'] %></td>
  <td class="col_left"><%= comision['Vendedor'] %></td>
  <td class="col_left"><%= comision['PorcVend'] %></td>
  <td class="col_right"><%= comision['ComisionVendedor'] %></td>
  <td class="col_left"><%= comision['ID_Ayudante1'] %></td>
  <td class="col_left"><%= comision['ClaveAyud1'] %></td>
  <td class="col_left"><%= comision['NombreAyudante1'] %></td>
  <td class="col_right"><%= comision['PorcAyud1'] %></td>
  <td class="col_right"><%= comision['ComisionAyudante1'] %></td>
  <td class="col_left"><%= comision['ID_Ayudante2'] %></td>
  <td class="col_left"><%= comision['ClaveAyud2'] %></td>
  <td class="col_left"><%= comision['NombreAyudante2'] %></td>
  <td class="col_right"><%= comision['PorcAyud2'] %></td>
  <td class="col_right"><%= comision['ComisionAyudante2'] %></td>
  <td class="col_left"><%= comision['Notas'] %></td>
<!--  <td><%= link_to 'PDF', comision_pdf_path(:search => params[:search], :search4 => params[:search4], :search5 => params[:search5], :F => comision['Fecha'], :A => comision['Articulo'], :v => comision['ClaveVend'], :format => 'pdf'), data: { disable_with: 'Imprimiendo...' }, class: "btn btn-danger fa fa-file-pdf-o"  %></td>-->
</tr>
