<div class="well center-block">
  <div class="row x_title">
    <div class="col-md-12">
      <h3>Detalles de las comisiones</h3>
    </div>
  </div>

  <%= form_tag(class: "form-horizontal" ) do %>
    <div class="form-group">
      <%= label_tag :ventas, "Ventas:", class: "control-label col-md-2" %>
      <div class="col-md-5">
        <%= text_field_tag :ventas, "", class:"form-control", value:@venta  %><!--el text_field_tag se le debe colocar un "" debido a que necesita un campo vacio, de lo contrario imprime la clase en el campo-->
      </div>

    </div>

    <div class="form-group">
      <%= label_tag :piezas, "Piezas:", class: "control-label col-md-2" %>
      <div class="col-md-3">
        <%= text_field_tag :piezas, "", class:"form-control", value:@piezas  %><!--el text_field_tag se le debe colocar un "" debido a que necesita un campo vacio, de lo contrario imprime la clase en el campo-->
      </div>

    </div>


    <div class="form-group">
      <%= label_tag :vendedor, "Vendedor:", class: "control-label col-md-2" %>
      <div class="col-md-5">
        <%= text_field_tag :vendedor, "", class:"form-control", value:"$#{@comision_vendedor}"  %><!--el text_field_tag se le debe colocar un "" debido a que necesita un campo vacio, de lo contrario imprime la clase en el campo-->
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :Ayudante1, "Ayudante1:", class: "control-label col-md-2" %>
      <div class="col-md-3">
        <%= text_field_tag :Ayudante1, "", class:"form-control", value:"$#{@Ayudante1}" %><!--el text_field_tag se le debe colocar un "" debido a que necesita un campo vacio, de lo contrario imprime la clase en el campo-->
      </div>

      <%= label_tag :Ayudante2, "Ayudante2:", class: "control-label col-md-2" %>
      <div class="col-md-3">
        <%= text_field_tag :Ayudante2, "", class:"form-control", value:"$#{@Ayudante2}"  %><!--el text_field_tag se le debe colocar un "" debido a que necesita un campo vacio, de lo contrario imprime la clase en el campo-->
      </div>
    </div>

  <%end%>
</div>
