<style>
  .scroll-table-container {height: 300px; overflow: scroll;}
  .scroll-table, .td, .th{border-collapse:collapse; min-width: 300px;}
</style>


<div class="row">
  <% if @liquidacion_ventas_contado != nil %>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Ventas contado</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <form class="form-horizontal form-label-left">
            <div class="scroll-table-container">
              <table class="table scroll-table table-striped table-bordered table-condensed table-hover">
                <thead>
                  <tr>
                    <th class="component_name_header_col">Fecha</th>
                    <th class="component_name_header_col">Artículo</th>
                    <th class="component_name_header_col">Descripción</th>
                    <th class="component_name_header_col">Precio</th>
                    <th class="component_name_header_col">Cantidad</th>
                    <th class="component_name_header_col">Litros</th>
                    <th class="component_name_header_col">Unidad de medida</th>
                    <th class="component_name_header_col">Descuento</th>
                    <th class="component_name_header_col">Ban_envase</th>
                    <th class="component_name_header_col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% @liquidacion_ventas_contado.each do |lqvc| %>
                    <tr>
                      <td><%= lqvc.try(:Fecha).try(:strftime,"%d-%m-%Y") %></td>
                      <td><%= lqvc.try(:Articulo) %></td>
                      <td><%= lqvc.try(:Descripcion) %></td>
                      <td><%= lqvc.try(:Precio) %></td>
                      <td><%= lqvc.try(:Cantidad) %></td>
                      <td><%= lqvc.try(:Litros) %></td>
                      <td><%= lqvc.try(:Unidad) %></td>
                      <td><%= lqvc.try(:Descuento) %></td>
                      <td>
                        <%if lqvc.try(:Ban_Envase) == true%>
                          <input type="checkbox" disabled="true" checked="true">
                        <%else%>
                          <input type="checkbox" disabled="true">
                        <%end%>
                      </td>
                      <td><%= lqvc.try(:Total) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  <% end %>

  <% if @liquidacion_ventas_credito != nil %>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Ventas crédito</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <form class="form-horizontal form-label-left">
            <div class="scroll-table-container">
              <table class="table scroll-table table-striped table-bordered table-condensed table-hover">
                <thead>
                  <tr>
                    <th class="component_name_header_col">Fecha</th>
                    <th class="component_name_header_col">Artículo</th>
                    <th class="component_name_header_col">Descripción</th>
                    <th class="component_name_header_col">Precio</th>
                    <th class="component_name_header_col">Cantidad</th>
                    <th class="component_name_header_col">Litros</th>
                    <th class="component_name_header_col">Unidad de medida</th>
                    <th class="component_name_header_col">Descuento</th>
                    <th class="component_name_header_col">Ban_envase</th>
                    <th class="component_name_header_col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% @liquidacion_ventas_credito.each do |lqvc| %>
                    <tr>
                      <td><%= lqvc.try(:Fecha).try(:strftime,"%d-%m-%Y") %></td>
                      <td><%= lqvc.try(:Articulo) %></td>
                      <td><%= lqvc.try(:Descripcion) %></td>
                      <td><%= lqvc.try(:Precio) %></td>
                      <td><%= lqvc.try(:Cantidad) %></td>
                      <td><%= lqvc.try(:Litros) %></td>
                      <td><%= lqvc.try(:Unidad) %></td>
                      <td><%= lqvc.try(:Descuento) %></td>
                      <td>
                        <%if lqvc.try(:Ban_Envase) == true%>
                          <input type="checkbox" disabled="true" checked="true">
                        <%else%>
                          <input type="checkbox" disabled="true">
                        <%end%>
                      </td>
                      <td><%= lqvc.try(:Total) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @liquidacion_productos != nil %>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Productos</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <form class="form-horizontal form-label-left">
            <div class="scroll-table-container">
              <table class="table scroll-table table-striped table-bordered table-condensed table-hover">
                <thead>
                  <tr>
                    <th class="component_name_header_col th" rowspan="2">Clave</th>
                    <th class="component_name_header_col th" rowspan="2">Producto</th>
                    <th class="component_name_header_col th" colspan="2">Inventario Inicial</th>
                    <th class="component_name_header_col th" colspan="2">Ventas</th>
                    <th class="component_name_header_col th" colspan="2">Recarga</th>
                    <th class="component_name_header_col th" colspan="2">Devolución</th>
                    <th class="component_name_header_col th" colspan="2">Obsequio</th>
                    <th class="component_name_header_col th" colspan="2">Promoción</th>
                    <th class="component_name_header_col th" colspan="2">Pedido Día Siguiente</th>
                    <th class="component_name_header_col th" colspan="2">Inventario Final</th>
                  </tr>
                  <tr>
                    <th>Cajas</th>
                    <th>Piezas</th>
                    <th>Cajas</th>
                    <th>Piezas</th>
                    <th>Cajas</th>
                    <th>Piezas</th>
                    <th>Cajas</th>
                    <th>Piezas</th>
                    <th>Cajas</th>
                    <th>Piezas</th>
                    <th>Cajas</th>
                    <th>Piezas</th>
                    <th>Cajas</th>
                    <th>Piezas</th>
                    <th>Cajas</th>
                    <th>Piezas</th>
                  </tr>
                </thead>
                <tbody>
                  <%@liquidacion_productos.each do |foo|%>
                    <tr>
                      <td class="td">
                        <%=foo["Clave"]%>
                      </td>
                      <td class="td">
                        <%=foo["Producto"]%>
                      </td>
                      <td class="td">
                        <%=foo["Stock Inicial Cajas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Stock Inicial Piezas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Venta Cajas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Venta Piezas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Recarga Cajas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Recarga Piezas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Devol Cajas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Devol Piezas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Obsequio Cajas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Obsequio Piezas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Promo Cajas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Promo Piezas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Pedido Dia Sig Cajas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Pedido Dia Sig Piezas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Stock final Cajas"]%>
                      </td>
                      <td class="td">
                        <%=foo["Stock Final Piezas"]%>
                      </td>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<%end%>

<% if @liquidacion_envases != nil %>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Envases</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <form class="form-horizontal form-label-left">
            <div class="scroll-table-container">
              <table class="table scroll-table table-striped table-bordered table-condensed table-hover">
                <thead>
                  <tr>
                    <% @liquidacion_envases.first.try(:keys).try(:each) do |key| %>
                      <th class="component_name_header_col th"><%= key %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <%@liquidacion_envases.to_a.each do |foo|%>
                    <tr>
                      <%foo.each do |label, value|%>
                        <td>
                          <%if value == true%>
                            <input type="checkbox" disabled="true" checked="true">
                          <%elsif value == false%>
                            <input type="checkbox" disabled="true">
                          <%else%>
                            <%= value %>
                          <%end%>
                        </td>
                      <%end%>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<%end%>

  <%= link_to 'Exportar Excel', liquidaciones_path(:search => params[:search], :search4 => params[:search4], :search5 => params[:search5], format:"xls"), class:"btn btn-success btn-xs"  %>
