<% if @monitoreo_de_precios != nil %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <% @monitoreo_de_precios.first.try(:keys).try(:each) do |key| %>
              <th class="component_name_header_col th"><%= key %></th>
            <% end %>
          </tr>
       </thead>
      <tbody id="container_monitoreo_de_precios">
        <%#@monitoreo_de_precios.all.to_a.each do |foo|%>
        <%@monitoreo_de_precios.to_a.each do |foo|%>
          <tr>
            <%foo.each do |label, value|%>
              <td>
                <%if value == true%>
                  <input type="checkbox" disabled="true" checked="true">
                <%elsif value == false%>
                  <input type="checkbox" disabled="true">
                <%else%>
                  <%= value %>
                <%end%>
              </td>
            <%end%>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <%= link_to 'Exportar Excel', monitoreo_de_precios_path(:search => params[:search], :search4 => params[:search4], :search5 => params[:search5], format:"xls"), class:"btn btn-success btn-xs"  %></td>

<%end%>
