<% if @monto_entregas !=nil %>
  <% @monto_entregas.each do |monto_entregas| %>
    <div class="count2">$ <%= number_to_currency(monto_entregas.Totals, format: "%n")  %></div><!--para que muestre dos ceros en el total-->
  <% end %>
<% end %>
