<% if @reporte_consolidado_de_carga != nil %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <% @reporte_consolidado_de_carga.first.try(:keys).try(:each) do |key| %>
              <th class="col_left th_color"><%= key %></th>
            <% end %>
          </tr>
       </thead>
      <tbody id="container_reporte_consolidado_de_carga">
        <%#@reporte_consolidado_de_carga.all.to_a.each do |foo|%>
        <%@reporte_consolidado_de_carga.to_a.each do |foo|%>
          <tr>
            <%foo.each do |label, value|%>
              <td class="col_left">
                <%if value == true%>
                  <input type="checkbox" disabled="true" checked="true">
                <%elsif value == false%>
                  <input type="checkbox" disabled="true">
                <%else%>
                  <%= value %>
                <%end%>
              </td>
            <%end%>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <%= link_to 'Exportar Excel', reporte_consolidado_de_carga_path(:Fecha => params[:Fecha], format:"xls"), class:"btn btn-success btn-xs"  %></td>

<%end%>
