<style>
  .scroll-table-container {height: auto; overflow-x: scroll;}
  .scroll-table, .td, .th{border-collapse:collapse; min-width: 300px;}
  #tablaResumen .scroll-table, .td, .th{min-width: 100px;}
</style>
<div class="row" id="tablaEstadistica"></div>
<div class="row" id="tablaUnidades"></div>
<div class="row" id="tablaResumen"></div>
