<div class="x_panel">
  <div class="x_title">
    <h2>Unidades</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <div class="scroll-table-container">
      <table class="table scroll-table table-striped table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="component_name_header_col th" colspan="2">Ventas</th>
            <th class="component_name_header_col th" colspan="2">Entregas</th>
            <th class="component_name_header_col th" colspan="2">Devoluciones</th>
            <th class="component_name_header_col th" colspan="2">Merma</th>
            <th class="component_name_header_col th" colspan="2">Promoción</th>
            <th class="component_name_header_col th" colspan="2">Obsequio</th>
            <th class="component_name_header_col th" colspan="2">Recarga</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cajas</td>
            <td><%=@liquidacion_productos.map { |h| h["Venta Cajas"] }.sum%></td>
            <td>Cajas</td>
            <td><%=@liquidacion_productos.map { |h| h["Entrega Cajas"] }.sum%></td>
            <td>Cajas</td>
            <td><%=@liquidacion_productos.map { |h| h["Devol Cajas"].to_i }.sum%></td>
            <td>Cajas</td>
            <td><%=@liquidacion_productos.map { |h| h["Merma Cajas"] }.sum%></td>
            <td>Cajas</td>
            <td><%=@liquidacion_productos.map { |h| h["Promo Cajas"] }.sum%></td>
            <td>Cajas</td>
            <td><%=@liquidacion_productos.map { |h| h["Obsequio Cajas"] }.sum%></td>
            <td>Cajas</td>
            <td><%=@liquidacion_productos.map { |h| h["Recarga Cajas"] }.sum%></td>
          </tr>
          <tr>
            <td>Piezas</td>
            <td><%=@liquidacion_productos.map { |h| h["Venta Piezas"] }.sum%></td>
            <td>Piezas</td>
            <td><%=@liquidacion_productos.map { |h| h["Entrega Piezas"] }.sum%></td>
            <td>Piezas</td>
            <td><%=@liquidacion_productos.map { |h| h["Devol Piezas"].to_i }.sum%></td>
            <td>Piezas</td>
            <td><%=@liquidacion_productos.map { |h| h["Merma Piezas"] }.sum%></td>
            <td>Piezas</td>
            <td><%=@liquidacion_productos.map { |h| h["Promo Piezas"] }.sum%></td>
            <td>Piezas</td>
            <td><%=@liquidacion_productos.map { |h| h["Obsequio Piezas"] }.sum%></td>
            <td>Piezas</td>
            <td><%=@liquidacion_productos.map { |h| h["Recarga Piezas"] }.sum%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
