<style media="screen">
.td2 {
  padding: 5px 7px !important;
  text-align: center !important;
}

thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  background-color: #ffffffb3;
}
</style>

<div class="x_panel">
  <div class="x_title">
    <h2>Resumen</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <div class="scroll-table-container" style="height: 300px">
      <table id="myTableLP" class="table scroll-table table-striped table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="component_name_header_col th" colspan="2">Descripción</th>
            <th class="component_name_header_col th" colspan="2">Inventario Inicial</th>
            <th class="component_name_header_col th" colspan="2">Ventas</th>
            <th class="component_name_header_col th" colspan="2">Entregas</th>
            <th class="component_name_header_col th" colspan="2">Devoluciones</th>
            <th class="component_name_header_col th" colspan="2">Merma</th>
            <th class="component_name_header_col th" colspan="2">Promoción</th>
            <th class="component_name_header_col th" colspan="2">Obsequio</th>
            <th class="component_name_header_col th" colspan="2">Recarga</th>
            <th class="component_name_header_col th" colspan="2">Inventario Sobrante</th>
            <th class="component_name_header_col th" colspan="2">Descarga</th>
            <th class="component_name_header_col th" colspan="2">Pedido Día Siguiente</th>
            <th class="component_name_header_col th" colspan="2">Inventario Total</th>
          </tr>
          <tr>
            <th>SKU
              <input type="text" id="LP" onkeyup="myFunctionLP(variable='LP',columna=0)" placeholder="">
            </th>
            <th>Producto
              <input type="text" id="LP2" onkeyup="myFunctionLP(variable='LP2',columna=1)" placeholder="">
            </th>
            <th>Cajas</th>
            <th>Piezas</th>
            <th>Cajas</th>
            <th>Piezas</th>
            <th>Cajas</th>
            <th>Piezas</th>
            <th>Cajas</th>
            <th>Piezas</th>
            <th>Cajas</th>
            <th>Piezas</th>
            <th>Cajas</th>
            <th>Piezas</th>
            <th>Cajas</th>
            <th>Piezas</th>
            <th>Cajas</th>
            <th>Piezas</th>
            <th>Cajas</th>
            <th>Piezas</th>
            <th>Cajas</th>
            <th>Piezas</th>
            <th>Cajas</th>
            <th>Piezas</th>
            <th>Cajas</th>
            <th>Piezas</th>
          </tr>
        </thead>
        <tbody>
          <%@liquidacion_productos.each do |foo|%>
            <tr>
              <td class="td">
                <%=foo["Clave"]%>
              </td>
              <td class="td">
                <%=foo["Producto"]%>
              </td>
              <td class="td">
                <%=foo["Stock Inicial Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Stock Inicial Piezas"]%>
              </td>
              <td class="td">
                <%=foo["Venta Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Venta Piezas"]%>
              </td>
              <td class="td">
                <%=foo["Entrega Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Entrega Piezas"]%>
              </td>
              <td class="td">
                <%=foo["Devol Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Devol Piezas"]%>
              </td>
              <td class="td">
                <%=foo["Merma Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Merma Piezas"]%>
              </td>
              <td class="td">
                <%=foo["Promo Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Promo Piezas"]%>
              </td>
              <td class="td">
                <%=foo["Obsequio Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Obsequio Piezas"]%>
              </td>
              <td class="td">
                <%=foo["Recarga Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Recarga Piezas"]%>
              </td>
              <td class="td">
                <%=foo["Stock Sobrante Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Stock Sobrante Piezas"]%>
              </td>
              <td class="td">
                <%=foo["Descarga Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Descarga Piezas"]%>
              </td>
              <td class="td">
                <%=foo["Pedido Dia Sig Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Pedido Dia Sig Piezas"]%>
              </td>
              <td class="td">
                <%=foo["Stock final Cajas"]%>
              </td>
              <td class="td">
                <%=foo["Stock Final Piezas"]%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= link_to 'Exportar Excel', reporte_liquidacion_concentrado_exportar_path(:diaO => params[:diaO], :fechaDiaO => params[:fechaDiaO], :ruta_autocompletar => params[:ruta_autocompletar], :search6 => params[:search6], format:"xls"), class:"btn btn-success btn-xs"  %></td>

<script>
  function myFunctionLP() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById(variable);
    filter = input.value.toUpperCase();
    table = document.getElementById("myTableLP");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[columna];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
