<div class="x_panel">
  <div class="x_title">
    <h2>Estadísticas</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <div class="scroll-table-container">
      <table class="table scroll-table table-striped table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="component_name_header_col th" colspan="2">Ingresos</th>
            <th class="component_name_header_col th" colspan="2">Promoción</th>
            <th class="component_name_header_col th" colspan="2">Obsequio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Venta de Crédido</td>
            <td>$<%='%.2f' % (@estadistica_venta[:credito] + @rep_liq_con_credito)%></td>
            <td>Cajas</td>
            <td>$<%='%.2f' % @estadistica_venta[:promocion_cajas]%></td>
            <td>Cajas</td>
            <td>$<%='%.2f' % (@estadistica_venta[:obsequio_cajas] + @rep_liq_ObsequioCajas)%></td>
          </tr>
          <tr>
            <td>Venta de Contado</td>
            <td>$<%='%.2f' % (@estadistica_venta[:contado] + @rep_liq_con_contado)%></td>
            <td>Piezas</td>
            <td>$<%='%.2f' % @estadistica_venta[:promocion_piezas]%></td>
            <td>Piezas</td>
            <td>$<%='%.2f' % (@estadistica_venta[:obsequio_piezas] + @rep_liq_ObsequioPiezas) %></td>
          </tr>
          <tr>
            <td>Descuentos</td>
            <td>$<%='%.2f' % (@estadistica_venta[:descuentos] + @rep_liq_Descuento)%></td>
            <td>Importe</td>
            <td>$<%='%.2f' % @estadistica_venta[:importe_promocion]%></td>
            <td>Importe</td>
            <td>$<%='%.2f' % @estadistica_venta[:importe_obsequio]%></td>
          </tr>
          <tr>
            <td>Venta Total</td>
            <td>$<%='%.2f' % (@estadistica_venta[:total] + @rep_liq_con_contado + @rep_liq_con_credito)%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
