$('#cantidad_productosxpedido').html('<%= escape_javascript(render("cantidad_productosxpedido")) %>');
$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$('#cantidad_productosxpedido_consolidado').html('<%= escape_javascript(render("cantidad_productosxpedido_consolidado")) %>');
