<div>
  <h2>Pedidos por Ruta</h2>
  <div class="well center-block">
    <h2>Por favor selecciona la ruta </h2>


  <div class="row">
    <div class="text-right">
        Fecha: <b><%= Time.now.strftime("%d-%m-%Y") %></b>

    </div>
  </div>


    <%= form_tag("/pedidos_por_ruta", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
    <div class="form-group">

      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label col-md-1 col-sm-3 col-xs-6" for="ruta">Ruta:</label>
          <div class="col-md-5 col-sm-4 col-xs-6">
            <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar_nuevo', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          </div>
            <%= label_tag :Status, "Status:", class: "control-label col-md-2 col-sm-2 col-xs-6" %>
          <div class="col-md-4 col-sm-3 col-xs-6">
             <%= select_tag :Status, options_for_select([['TODAS',0], ['PENDIENTE',1], ['LIBERADO',2], ['SURTIDO',3], ['EN TRANSITO',4], ['ENTREGADO',5]])%>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="form-group">
            <%= label_tag :Fecha, "Fecha entrega:", class: "control-label col-md-3 col-sm-4 col-xs-6" %>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <%= text_field_tag :Fecha, params[:Fecha], required: "true",id:"activity-customer-start-period", class:"form-control datepicker", autocomplete: "off", value:Time.now.strftime("%d-%m-%Y")%>
            </div>
          <%= render 'partials/buscadorReportes/buscador_reportes5' %>
        </div>
      </div>

    </div>
    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>

  </div>
  <div id="cantidad_productosxpedido_consolidado"><%= render 'cantidad_productosxpedido_consolidado' %></div>
  <div id="cantidad_productosxpedido"><%= render 'cantidad_productosxpedido' %></div>

</div>
