$('#comisiones').html('<%= escape_javascript(render("comisiones")) %>');
$('#detalle_comisiones').html('<%= escape_javascript(render("detalle_comisiones")) %>');
$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
