<h2>Reporte de comisiones</h2>
<style>
.table{
  margin-bottom:0px
}
.component_name_header_col{
  color:#5A738E;
}
</style>
<div class="well center-block">
  <h2>Ruta y fecha</h2>

    <%= form_tag("/comisiones", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>

      <div class="form-group">
        <div class="col-md-6">
          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          <%= render 'partials/buscadorReportes/buscador_reportes4' %>
          <%= render 'partials/buscadorReportes/buscador_reportes5' %>
        </div>

        <div class="col-md-6">
          <div id="detalle_comisiones"><%= render 'detalle_comisiones' %></div>
        </div>
      </div>

    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
</div>
<div id="comisiones"><%= render 'comisiones' %></div>
