<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="encabezado">
     <Interior ss:Color="#1cb0b6" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>

      <Row>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Fecha</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Artículo</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Nombre</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">CantidadPzas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Precio Unitario</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Importe</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">IdVendedor</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Clave</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Vendedor</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Monto Config Vend</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Comisión Vendedor</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Id_Ayudante</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Clave</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Nombre</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Monto Config Ayud1</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Comisión Ayudante1</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Id_Ayudante2</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Clave</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Nombre</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Monto Config Ayud1</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Comisión Ayudante2</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Notas</Data></Cell>
      </Row>

      <% @comisiones.each do |comision| %>
        <Row>
          <Cell><Data ss:Type="String"><%= comision['Fecha'].try(:strftime,"%d-%m-%Y") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['Articulo'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['NombreArticulo'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['Cantidad'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['PrecioUnitario'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['Importe'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['IdVendedor'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['ClaveVend'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['Vendedor'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['PorcVend'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['ComisionVendedor'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['ID_Ayudante1'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['ClaveAyud1'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['NombreAyudante1'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['PorcAyud1'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['ComisionAyudante1'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['ID_Ayudante2'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['ClaveAyud2'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['NombreAyudante2'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['PorcAyud2'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['ComisionAyudante2'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision['Notas'] %></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
