<div>
  <h2>Liquidaciones</h2>
  <div class="well center-block">
    <h2>Por favor selecciona la ruta </h2>

    <%= form_tag("/liquidaciones", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
      <div class="form-group">
        <div class="col-md-6">
          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          <%= render 'partials/buscadorReportes/buscador_reportes6' %>
          <%= render 'partials/buscadorReportes/buscador_reportes5' %>
        </div>
      </div>
    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_dias' %>

  </div>
  <div id="liquidaciones"><%= render 'liquidaciones' %></div>

</div>
