<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="productos">
     <Interior ss:Color="#6FC9FF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="envases">
     <Interior ss:Color="#56b78a" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="contado">
     <Interior ss:Color="#f06359" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="credito">
     <Interior ss:Color="#1cb0b6" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>

      <% if @liquidacion_productos != nil%>
        <Row>
          <Cell ss:StyleID="productos"><Data ss:Type="String">Productos</Data></Cell>
        </Row>
      <%end%>

        <Row>
          <% @liquidacion_productos.first.try(:keys).try(:each) do |key| %>
            <Cell ss:StyleID="productos"><Data ss:Type="String"><%=key%></Data></Cell>
          <% end %>
        </Row>

      <% @liquidacion_productos.to_a.each do |foo| %>
        <Row>
          <%foo.each do |label, value|%>
            <Cell><Data ss:Type="String"><%= value %></Data></Cell>
          <%end%>
        </Row>
      <%end%>

      <% if @liquidacion_envases != nil%>
        <Row>
          <Cell ss:StyleID="envases"><Data ss:Type="String">Envases</Data></Cell>
        </Row>
      <%end%>

      <Row>
        <% @liquidacion_envases.first.try(:keys).try(:each) do |key| %>
          <Cell ss:StyleID="envases"><Data ss:Type="String"><%=key%></Data></Cell>
        <% end %>
      </Row>

    <% @liquidacion_envases.to_a.each do |foo| %>
      <Row>
        <%foo.each do |label, value|%>
          <Cell><Data ss:Type="String"><%= value %></Data></Cell>
        <%end%>
      </Row>
    <%end%>

    <%if @liquidacion_ventas_contado != nil%>
      <Row>
        <Cell ss:StyleID="contado"><Data ss:Type="String">Ventas contado</Data></Cell>
      </Row>
    <%end%>

    <Row>
      <Cell ss:StyleID="contado"><Data ss:Type="String">Fecha</Data></Cell>
      <Cell ss:StyleID="contado"><Data ss:Type="String">Artículo</Data></Cell>
      <Cell ss:StyleID="contado"><Data ss:Type="String">Descripción</Data></Cell>
      <Cell ss:StyleID="contado"><Data ss:Type="String">Precio</Data></Cell>
      <Cell ss:StyleID="contado"><Data ss:Type="String">Cantidad</Data></Cell>
      <Cell ss:StyleID="contado"><Data ss:Type="String">Litros</Data></Cell>
      <Cell ss:StyleID="contado"><Data ss:Type="String">Unidad de medida</Data></Cell>
      <Cell ss:StyleID="contado"><Data ss:Type="String">Descuento</Data></Cell>
      <Cell ss:StyleID="contado"><Data ss:Type="String">Ban_envase</Data></Cell>
      <Cell ss:StyleID="contado"><Data ss:Type="String">Total</Data></Cell>
    </Row>

    <% @liquidacion_ventas_contado.each do |lqvc| %>
      <Row>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Fecha).try(:strftime,"%d-%m-%Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Articulo) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Descripcion) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Precio) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Cantidad) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Litros) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Unidad) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Descuento) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Ban_Envase) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Total) %></Data></Cell>
      </Row>
    <%end%>

    <% if @liquidacion_ventas_credito != nil%>
      <Row>
        <Cell ss:StyleID="credito"><Data ss:Type="String">Ventas crédito</Data></Cell>
      </Row>
    <%end%>
    
    <Row>
      <Cell ss:StyleID="credito"><Data ss:Type="String">Fecha</Data></Cell>
      <Cell ss:StyleID="credito"><Data ss:Type="String">Artículo</Data></Cell>
      <Cell ss:StyleID="credito"><Data ss:Type="String">Descripción</Data></Cell>
      <Cell ss:StyleID="credito"><Data ss:Type="String">Precio</Data></Cell>
      <Cell ss:StyleID="credito"><Data ss:Type="String">Cantidad</Data></Cell>
      <Cell ss:StyleID="credito"><Data ss:Type="String">Litros</Data></Cell>
      <Cell ss:StyleID="credito"><Data ss:Type="String">Unidad de medida</Data></Cell>
      <Cell ss:StyleID="credito"><Data ss:Type="String">Descuento</Data></Cell>
      <Cell ss:StyleID="credito"><Data ss:Type="String">Ban_envase</Data></Cell>
      <Cell ss:StyleID="credito"><Data ss:Type="String">Total</Data></Cell>
    </Row>

    <% @liquidacion_ventas_credito.each do |lqvc| %>
      <Row>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Fecha).try(:strftime,"%d-%m-%Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Articulo) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Descripcion) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Precio) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Cantidad) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Litros) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Unidad) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Descuento) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Ban_Envase) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lqvc.try(:Total) %></Data></Cell>
      </Row>
    <%end%>

    </Table>
  </Worksheet>
</Workbook>
