<div>
  <h2>Monitoreo de precios</h2>
  <div class="well center-block">
    <h2>Por favor selecciona la ruta </h2>

    <%= form_tag("/monitoreo_de_precios", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
    <div class="form-group">
      <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-4">
          Fecha: <b><%= Time.now.strftime("%d-%m-%Y") %></b>
          </div>
        </div>
        <div class="form-group">
          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          <%= render 'partials/buscadorReportes/buscador_reportes4' %>
          <%= render 'partials/buscadorReportes/buscador_reportes5' %>
        </div >
      </div>
    </div>
    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>

  </div>
  <div id="monitoreo_de_precios"><%= render 'monitoreo_de_precios' %></div>

</div>
