$('#monitoreo_de_precios').html('<%= escape_javascript(render("monitoreo_de_precios")) %>');
$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
