<div>
  <h2>Reporte consolidado de envases</h2>
  <div class="well center-block">
    <h2>Por favor selecciona la ruta </h2>

    <%= form_tag("/reporte_consolidado_de_envases", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
    <div class="form-group">
      <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-4">
          Fecha: <b><%= Time.now.strftime("%d-%m-%Y") %></b>
          </div>
        </div>
        <div class="form-group">
          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          <%= render 'partials/buscadorReportes/buscador_reportes4' %>
          <div class="col-md-7">
            <div id="opciones"class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="Tipo_Env" id="option1" autocomplete="off" value="Promocion" checked="checked">Promoción
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="Tipo_Env" id="option2" autocomplete="off" value="Comodato">Comodato
              </label>
            </div>
          </div>
          <%= render 'partials/buscadorReportes/buscador_reportes5' %>
        </div >
      </div>
    </div>
    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>

  </div>
  <div id="reporte_consolidado_de_envases"><%= render 'reporte_consolidado_de_envases' %></div>

</div>
