<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="encabezado">
     <Interior ss:Color="#1cb0b6" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Descripción</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Inventario Inicial</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Ventas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Entregas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Devoluciones</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Merma</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Promoción</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Obsequio</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Recarga</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Inventario Sobrante</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Descarga</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Pedido Día Siguiente</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Inventario Total</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String"></Data></Cell>
      </Row>
      <Row>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">SKU</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Producto</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="encabezado"><Data ss:Type="String">Piezas</Data></Cell>
      </Row>
      <%@liquidacion_productos.each do |foo|%>
        <Row>
          <Cell><Data ss:Type="String"><%=foo["Clave"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Producto"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Stock Inicial Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Stock Inicial Piezas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Venta Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Venta Piezas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Entrega Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Entrega Piezas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Devol Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Devol Piezas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Merma Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Merma Piezas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Promo Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Promo Piezas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Obsequio Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Obsequio Piezas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Recarga Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Recarga Piezas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Stock Sobrante Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Stock Sobrante Piezas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Descarga Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Descarga Piezas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Pedido Dia Sig Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Pedido Dia Sig Piezas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Stock final Cajas"]%></Data></Cell>
          <Cell><Data ss:Type="String"><%=foo["Stock Final Piezas"]%></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
