$('#reporte_consolidado_de_envases').html('<%= escape_javascript(render("reporte_consolidado_de_envases")) %>');
$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
