<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="titulo">
     <Interior ss:Color="#6FC9FF" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% @reporte_consolidado_de_carga.first.try(:keys).try(:each) do |key| %>
          <Cell ss:StyleID="titulo"><Data ss:Type="String"><%=key%></Data></Cell>
        <% end %>
      </Row>

      <% @reporte_consolidado_de_carga.to_a.each do |foo| %>
        <Row>
              <%foo.each do |label, value|%>
                <Cell><Data ss:Type="String"><%= value %></Data></Cell>
              <%end%>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
