$('#tablaEstadistica').html('<%= escape_javascript(render("tabla_estadistica_reporte_liquidacion")) %>');
$('#tablaUnidades').html('<%= escape_javascript(render("tabla_unidades_reporte_liquidacion")) %>');
$('#tablaResumen').html('<%= escape_javascript(render("tabla_resumen_reporte_liquidacion")) %>');
$("#monto_entregas").html("<%= escape_javascript(render("monto_entregas"))%>")
