<script type="text/javascript">
	$(document).ready(function(){
		document.getElementById("ruta_autocompletar").required = true;
		document.getElementById("DiaOp").required = true;
	});
</script>
<div>
	<h2>Liquidación Concentrado</h2>
    <%= form_tag(reporte_liquidacion_concentrado_detalles_path, method: 'post', remote: true, id:"formLiquidacionConcentrado",class: "form-horizontal" ) do %>
    	<div class="row">
    		<div class="col-md-6">
          <label class="control-label col-md-1 col-sm-3 col-xs-6" for="ruta">Ruta:</label>
          <div class="col-md-5 col-sm-4 col-xs-6">
           <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar_nuevo', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
           <%= hidden_field_tag :search6, params[:search6], value:"#{current_usuario.empresa_id}"%>
          </div>
          <div class="col-md-6 col-xs-6 tile_stats_count text-center">
            <span class="count_top2"><i class="fa fa-user"></i>Monto Entregas</span>
            <div id="monto_entregas"><%= render 'monto_entregas' %></div>
          </div>

        </div>
    		<div class="col-md-6">
          <%= render 'partials/buscadorReportes/buscador_reportes6' %>
          <div class="form-group">
           <div class="col-md-4 col-md-offset-4">
             <%= submit_tag "Buscar", class: "btn btn-primary btn-lg btn-block", data: { disable_with: 'Buscando' } %>
           </div>
          </div>

    			<div class="form-group" id="vendedores_de_la_ruta">
    			</div>
    		</div>
    	</div>
    <%end%>

    <%= render 'partials/buscadorReportes/ventana_modal_dias' %>
  	<div id="reporte_liquidacion"><%= render 'reporte_liquidacion' %></div>
</div>
