<div>
  <h2>Reporte consolidado piezas</h2>
  <div class="well center-block">
    <h2>Por favor selecciona la fecha </h2>

    <%= form_tag("/reporte_consolidado_piezas", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
    <div class="form-group">
      <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-4">
          Fecha: <b><%= Time.now.strftime("%d-%m-%Y") %></b>
          </div>
        </div>
        <div class="form-group">
          <%= render 'partials/buscadorReportes/buscador_reportes_Fecha' %>
          <%= render 'partials/buscadorReportes/buscador_reportes5' %>
        </div >
      </div>
    </div>
    <%end%>

  </div>
  <div id="reporte_consolidado_piezas"><%= render 'reporte_consolidado_piezas' %></div>

</div>
