<div id="demo">

  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-striped table-hover table-bordered table-mc-indigo">
      <thead>
        <tr>
          <th>Errores en la importación de descuentos</th>
        </tr>
      </thead>
      <tbody>
        <% if @errors %>
          <% @errors.each do |message| %>
        <tr>
          <td><%= message %></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>


  <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myimportdata">
    Importar Excel
  </button>


  <div class="modal fade" id="myimportdata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Importar Datos</h4>
        </div>
        <div class="modal-body">
          <p>
            Nota: El formato excel a exportar debe ser .xlsx ó .csv
          </p>
          <%= form_tag import_listad_path, multipart: true do %>
            <%= file_field_tag :file %>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="myimportdataclose">Close</button>
          <%= submit_tag "Importar", class: "btn btn-primary", data: { disable_with: 'Importando' } %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Table Constructor change table classes, you don't need it in your project -->

</div>


<style media="screen">
/* -- import Roboto Font ---------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

/* -- You can use this tables in Bootstrap (v3) projects. -- */
// @import "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css";



body {
font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 2rem;
line-height: 4rem;
letter-spacing: 0.01rem;
color: #212121;
background-color: #f5f5f5;

// Font Rendering
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
}

#demo {
margin: 20px auto;
max-width: 960px;
}


</style>
