<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>
    <Style ss:ID="s23">
     <Interior ss:Color="#6FC9FF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s24">
    <Interior ss:Color="#6F9AFF" ss:Pattern="Solid"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="s23"><Data ss:Type="String">id</Data></Cell>
        <Cell ss:StyleID="s23"><Data ss:Type="String">Nombre</Data></Cell>
        <Cell ss:StyleID="s23"><Data ss:Type="String">Tipo</Data></Cell>
        <Cell ss:StyleID="s23"><Data ss:Type="String">Caduca</Data></Cell>
        <Cell ss:StyleID="s23"><Data ss:Type="String">Fecha inicial</Data></Cell>
        <Cell ss:StyleID="s23"><Data ss:Type="String">Fecha final</Data></Cell>
        <Cell ss:StyleID="s24"><Data ss:Type="String">Articulo</Data></Cell>
        <Cell ss:StyleID="s24"><Data ss:Type="String">Factor</Data></Cell>
        <Cell ss:StyleID="s24"><Data ss:Type="String">Tipo</Data></Cell>
      </Row>

      <% @listad2.each do |detalle| %>
        <Row>
          <Cell><Data ss:Type="String"><%= detalle.slista.try(:id)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= detalle.slista.try(:Lista)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= detalle.slista.try(:Tipo)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= detalle.slista.try(:Caduca)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= detalle.slista.try(:FechaIni).try(:strftime,"%d-%m-%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%= detalle.slista.try(:FechaFin).try(:strftime,"%d-%m-%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%= detalle.Articulo%></Data></Cell>
          <Cell><Data ss:Type="String"><%= detalle.Factor%></Data></Cell>
          <Cell><Data ss:Type="String"><%= detalle.Tipo%></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
