<% if @puede_editar == true %>
  $("#myupdateslista_<%= @slista.id %>").modal('hide');

  $("#slista_<%= @slista.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_listad").prepend('<%= j render @slista %>');
    $('.datepicker').datepicker({format: "yyyy-mm-dd" });

  });
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
