<%= form_for(@sabor) do |f| %>
  <% if @sabor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sabor.errors.count, "error") %> prohibited this sabor from being saved:</h2>

      <ul>
      <% @sabor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Clave %><br>
    <%= f.text_field :Clave %>
  </div>
  <div class="field">
    <%= f.label :Descripcion %><br>
    <%= f.text_field :Descripcion %>
  </div>
  <div class="field">
    <%= f.label :Status %><br>
    <%= f.text_field :Status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
