<tr id="sabor_<%= sabor.id %>">
  <td class="col_left"><%= sabor.try(:Clave)%></td>
  <td class="col_left"><%= sabor.try(:Descripcion)%>
      <!--Modal - update producto-->
    <%= form_for(sabor, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{sabor.id}"}) do |f| %><!--ajax-->
    <div nohidden class="modal fade si" id="myupdatesabor_<%= sabor.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar sabor</h4>
          </div>

          <div class="modal-body">

              <div class="form-group">
                <%= f.label :Descripcion, "Descripcion:", class: "control-label col-md-3"  %>
                <div class="col-md-9">
                  <%= f.text_field :Descripcion, class: "form-control ", required: "true"   %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-2"%>
                <div class="col-md-1">
                  <%= f.check_box :Status,{checked: true} %>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= sabor.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
          </div>
        </div>
      </div>
    </div>
    <%end%>
      <script>
        $(".formulario-validado-update<%=sabor.id%>").validate();

      </script>
  </td>

  <td>
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
       <%= t('basic.Acción') %>
      </a>
      <ul class="dropdown-menu posicion-menu">
        <li>
          <li>
            <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatesabor_<%= sabor.id %>">
              Editar
            </button>
            <!--Destroy-->
            <% if sabor.Status == true%>
            <%= link_to 'Eliminar', sabor, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
            <%else%>
              <%= link_to 'Habilitar', sabor, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'} %>
            <%end%>
          </li>
        </li>
      </ul>
    </div>
  </td>
</tr>
