<% if @puede_crear == true%>
  $("#mynewsabor").modal('hide');
  $(".sabor_clave").val('');
  $(".sabor_descripcion").val('');

  $("#container_sabores").prepend('<%= j render @sabor %>'); //Prepend before append
  $("#sabor_<%= @sabor.id %>").hide().fadeIn(1000);
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
