<!--<p id="notice"><%= notice %></p>-->
<h1>Sabores inactivos</h1>
<h3>Total: <%=@cantidad_sabores_inactivos%></h3>
<style>
.container {
  width: 100%;
}

</style>


  <br>
  <br>

<div id="sabores"><%= render 'sabores' %></div>
<%= link_to 'Volver a Sabores', sabores_path, class: "btn btn-primary btn-lg" %>
