<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @sabor.Clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @sabor.Descripcion %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sabor.Status %>
</p>

<%= link_to 'Edit', edit_sabor_path(@sabor) %> |
<%= link_to 'Back', sabores_path %>
