<% if @puede_editar == true %>
  $("#myupdatesabor_<%= @sabor.id %>").modal('hide');

  $("#sabor_<%= @sabor.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_sabores").prepend('<%= j render @sabor %>');
  });
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
