<%= form_for(@relvendruta) do |f| %>
  <% if @relvendruta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relvendruta.errors.count, "error") %> prohibited this relvendruta from being saved:</h2>

      <ul>
      <% @relvendruta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IdVendedor %><br>
    <%= f.text_field :IdVendedor %>
  </div>
  <div class="field">
    <%= f.label :IdRuta %><br>
    <%= f.text_field :IdRuta %>
  </div>
  <div class="field">
    <%= f.label :IdEmpresa %><br>
    <%= f.text_field :IdEmpresa %>
  </div>
  <div class="field">
    <%= f.label :Fecha %><br>
    <%= f.text_field :Fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
