<tr id="relvendruta_<%= relvendruta.id %>">
  <td class="component_name_body_col"><%= relvendruta.try(:IdVendedor)%></td>
  <td class="component_name_body_col"><%= relvendruta.vendedor.try(:Nombre)%></td>
  <td class="component_name_body_col"><%= relvendruta.vendedor.try(:Telefono)%></td>
  <td class="component_name_body_col"><%= relvendruta.vendedor.try(:Colonia)%></td>

  <td>
        <%= link_to 'Eliminar', relvendruta, method: :delete, class: "btn btn-danger", remote:true, data: {disable_with: 'Eliminando...'}%>
  </td>

</tr>
