<%= search_form_for @searchv, :remote=>"true", url: ruta_vendedores_path(params[:id]), :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="component_name_header_col"><%= sort_link @searchv, :IdCli, "Clave","cliente", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @searchv, :Nombre, "Nombre","cliente", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @searchv, :Telefono, "Teléfono","cliente", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @searchv, :Colonia, "Colonia","cliente", {}, { :remote => true, :method => :get } %></th>
            <th class="action_col"><%= t("basic.action") %></th>
          </tr>
          <tr>
            <th><%= f.text_field :IdVendedor_cont, class:"campo" %></th>
            <th><%= f.text_field :Nombre_cont, class:"campo" %></th>
            <th><%= f.text_field :Telefono_cont, class:"campo" %></th>
            <th><%= f.text_field :Colonia_cont, class:"campo" %></th>
            <th><%= f.submit "Buscar", data: {disable_with: 'Buscando...'} %></th>

          </tr>

        </thead>
        <tbody>
        </tbody>
      </table>
  </div><% end %>
  <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
            <%= search_form_for @searchv, :remote=>"true", url: ruta_vendedores_path(params[:id]), :method => :get do |f| %>
              <thead>
                <tr>
                  <th class="component_name_header_col"><%= sort_link @searchv, :IdCli, "Clave","cliente", {}, { :remote => true, :method => :get } %></th>
                  <th class="component_name_header_col"><%= sort_link @searchv, :Nombre, "Nombre","cliente", {}, { :remote => true, :method => :get } %></th>
                  <th class="component_name_header_col"><%= sort_link @searchv, :Telefono, "Telefono","cliente", {}, { :remote => true, :method => :get } %></th>
                  <th class="component_name_header_col"><%= sort_link @searchv, :Colonia, "Colonia","cliente", {}, { :remote => true, :method => :get } %></th>
                  <th class="action_col"><%= t("basic.action") %></th>
                </tr>
             </thead>
            <% end %>
            <tbody id="container_vendedores">
                <%= render partial: "/relvendrutas/vendedor", collection: @vendedores %>
            </tbody>
          </table>
          <%= paginate @vendedores, :param_name => 'vendedores'  %>
</div>
