<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
    </thead>
    <tbody>
      <table class="table table-striped table-bordered table-condensed table-hover">
        <%= search_form_for @search, :remote=>"true", url: relvendruta_path(params[:id]), :method => :get do |f| %>
          <thead>
            <tr>
              <th class="component_name_header_col"><%= sort_link @search, :IdVendedor, "Clave","relvendruta", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :IdVendedor, "Nombre","relvendruta", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :IdVendedor, "Teléfono","relvendruta", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :IdVendedor, "Colonia","relvendruta", {}, { :remote => true, :method => :get } %></th>
              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
          </thead>
        <% end %>
        <tbody id="container_relvendrutas">
          <%= render partial: "/relvendrutas/relvendruta", collection: @relvendrutas %>
        </tbody>
      </table>
      <%= paginate @relvendrutas, :param_name => 'relvendrutas'  %>
    </tbody>
  </table>
</div>
