<tr id="vendedor_<%= vendedor.id %>">
  <td class="component_name_body_col"><%= vendedor.try(:IdVendedor)%></td>
  <td class="component_name_body_col"><%= vendedor.try(:Nombre)%></td>
  <td class="component_name_body_col"><%= vendedor.try(:Telefono)%></td>
  <td class="component_name_body_col"><%= vendedor.try(:Colonia)%></td>
  <td>

    <%= form_for(@relvendruta, remote: true, html: {class: "form-horizontal"}) do |f| %> <!--ajax remote: true-->
        <%= f.hidden_field :IdRuta, value: params[:id]  %>
        <%= f.hidden_field :IdVendedor, value: vendedor.id%>
        <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
        <%= f.hidden_field :Fecha, value: Time.now.strftime("%d-%m-%Y %T")%>

      <%= submit_tag "Añadir", class: "btn btn-warning", data: { disable_with: 'Añadiendo' }%>
    <%end%>


  </td>

</tr>
