$("#vendedoresadded").html("<%= escape_javascript(render("vendedoresadded"))%>")
$("#vendedoresout").html("<%= escape_javascript(render("vendedoresout"))%>")
$("#cantidad_vendedores_out").html("<%= escape_javascript(render("cantidad_vendedores_out"))%>")
$("#cantidad_vendedores_ruta").html("<%= escape_javascript(render("cantidad_vendedores_ruta"))%>")

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
