$("#cantidad_vendedores_out").html("<%= escape_javascript(render("cantidad_vendedores_out"))%>")
$("#cantidad_vendedores_ruta").html("<%= escape_javascript(render("cantidad_vendedores_ruta"))%>")

$("#container_relvendrutas").prepend('<%= j render @relvendruta %>'); //Prepend before append
$("#relvendruta_<%= @relvendruta.id %>").hide().fadeIn(1000);
$("#vendedor_<%= @relvendruta.IdVendedor %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();

});
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");



setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
