$("#relvendruta_<%= @relvendruta.id %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
  $("#container_vendedores").prepend('<%= j render(:partial => '/relvendrutas/vendedor', locals: { vendedor: @vendedor}) %>'); //Prepend before append

});
$("#cantidad_vendedores_out").html("<%= escape_javascript(render("cantidad_vendedores_out"))%>")
$("#cantidad_vendedores_ruta").html("<%= escape_javascript(render("cantidad_vendedores_ruta"))%>")

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
