<p id="notice"><%= notice %></p>

<h1>Listing Relvendrutas</h1>

<table>
  <thead>
    <tr>
      <th>Idvendedor</th>
      <th>Idruta</th>
      <th>Idempresa</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relvendrutas.each do |relvendruta| %>
      <tr>
        <td><%= relvendruta.IdVendedor %></td>
        <td><%= relvendruta.IdRuta %></td>
        <td><%= relvendruta.IdEmpresa %></td>
        <td><%= relvendruta.Fecha %></td>
        <td><%= link_to 'Show', relvendruta %></td>
        <td><%= link_to 'Edit', edit_relvendruta_path(relvendruta) %></td>
        <td><%= link_to 'Destroy', relvendruta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relvendruta', new_relvendruta_path %>
