<!--<p id="notice"><%= notice %></p>-->
<h1>Administración de vendedores asignados a la ruta <%=@ruta.Ruta%></h1><br>
<style>
.container {
}
</style>
<div>

    <h2 class="text-center"> Lista de vendedores </h2>
    <div id="cantidad_vendedores_out"><%= render 'cantidad_vendedores_out' %></div>
    <div id="vendedoresout"><%= render 'vendedoresout' %></div>

    <h2 class="text-center"> Vendedores añadidos a la ruta</h2>
    <div id="cantidad_vendedores_ruta"><%= render 'cantidad_vendedores_ruta' %></div>
    <div id="vendedoresadded"><%= render 'vendedoresadded' %></div>
    <%= link_to 'Eliminar vendedores asignados', borrar_vendedores_ruta_path(:IdRuta => @ruta.try(:IdRutas)), :remote => true, data: {confirm: "¿Está seguro que desea eliminar todos los vendedores asignados a la ruta?", disable_with: 'Eliminando...'}, class: "btn btn-danger btn-xs"  %>

  <div class="actions">
    <div class="form-group">
      <div class="col-md-12">
      <%= link_to 'Volver a rutas', rutas_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>

</div>
