<p id="notice"><%= notice %></p>

<p>
  <strong>Idvendedor:</strong>
  <%= @relvendruta.IdVendedor %>
</p>

<p>
  <strong>Idruta:</strong>
  <%= @relvendruta.IdRuta %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @relvendruta.IdEmpresa %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @relvendruta.Fecha %>
</p>

<%= link_to 'Edit', edit_relvendruta_path(@relvendruta) %> |
<%= link_to 'Back', relvendrutas_path %>
