<% if defined? @noventas and @noventas != nil %>
  <table class="table scroll-table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th class="col_left th_color">Clave Cliente</th>
        <th class="col_left th_color">Nombre Cliente</th>
        <th class="col_left th_color">Motivo de No Venta</th>
        <th class="col_left th_color">Fecha Inicio</th>
        <th class="col_left th_color">Fecha Final</th>
      </tr>
    </thead>
    <tbody>
      <% @noventas.each do |no| %>
        <tr>
          <td class="col_left"><%=no.try(:ClaveCliente)%></td>
          <td class="col_left"><%=no.try(:NombreCliente)%></td>
          <td class="col_left"><%=no.try(:Motivo)%></td>
          <td class="col_left"><%=no.try(:FechaInicio).try(:strftime,"%d-%m-%Y %H:%M:%S")%></td>
          <td class="col_left"><%=no.try(:FechaFinal).try(:strftime,"%d-%m-%Y %H:%M:%S")%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
