<h2>Visita sin venta</h2>
<div class="well center-block">

  <%= form_tag("/busqueda_noventas", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
    <div class="form-group">
      <div class="col-md-6">
        <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
        <%= render 'partials/buscadorReportes/buscador_reportes6' %>
        <%= render 'partials/buscadorReportes/buscador_reportes5' %>
      </div>
    </div>
  <%end%>
</div>
<%= render 'partials/buscadorReportes/ventana_modal_dias' %>
<div id="visitas_sin_venta"><%= render 'visitas_sin_venta' %></div>
