$('#dias_op').html('<%= escape_javascript(render("partials/buscadorReportes/dias_op")) %>');
$('#paginatorDiasOp').html("<%= escape_javascript(paginate(@DiasOp_Selector, :remote => true, :param_name => 'DiasOp'))%>");