<% if @puede_crear == true%>
  $("#mynewcuota").modal('hide');
  $(".cuota_clave").val('');
  $(".cuota_cantidad").val('');
  $(".cuota_descripcion").val('');
  $(".cuota_fechai").val('');
  $(".cuota_fechaf").val('');

  $("#container_cuotas").prepend('<%= j render @cuota %>'); //Prepend before append
  $("#cuota_<%= @cuota.id %>").hide().fadeIn(1000);
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
