<!--<p id="notice"><%= notice %></p>-->
<h1>Lista de usuarios</h1>
<style>
.container {
}

</style>
<div>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewusuario">
        Nueva usuario
      </button>
    </div>
  </div>

  <br>
  <br>



  <table id="usuarios" class="display"><!--el id usuarios es de datatables referenciado en usuarios.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>ID</th>
      <th>Usuario</th>
      <th>Email</th>
      <th>Acción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_usuarios">
      <%= render @usuarios %><!--carga todos los usuarios-->
</tbody>


</table>
<!-- Modal create action -->
<%= form_for(@usuario, remote: true, html: {class: "form-horizontal"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewusuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar usuario</h4>
        </div>
        <div class="modal-body">


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewusuarioclose">Close</button>
          <%= submit_tag "Create", class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>
