<div>
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :empresa %><br />
      <%= f.select :empresa_id, options_for_select(Empresa.all.map{|e|[e.Empresa, e.IdEmpresa]}) %>
    </div>


    <div class="field">
      <%= f.label :Nombre %><br />
      <%= f.text_field :Nombre, autocomplete: "off", autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :usuario %><br />
      <%= f.text_field :usuario, autocomplete: "off" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "off" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
