<% if @tripulaciones != nil %>
    <%= form_tag("/tripulacion", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
      <div class="rwd">
        <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
          <thead>
            <tr>
              <th class="agrandar_th_pequeño"><%= label_tag :IdRow_param, "Ruta", class: "control-label" %></th>
              <th class="agrandar_th_pequeño"><%= label_tag :IdRow_param, "DiaO", class: "control-label" %></th>
              <th class="agrandar_th_pequeño"><%= label_tag :IdRow_param, "Fecha", class: "control-label" %></th>
              <th><%= label_tag :IdRow_param, "ClaveVendedor", class: "control-label" %></th>
              <th><%= label_tag :IdRow_param, "NombreVendedor", class: "control-label" %></th>
              <th class="action_col"><%= t("basic.Acción") %></th>
            </tr>
            <tr>
              <th><%= text_field_tag :Ruta_param,"", class: 'campo' %></th>
              <th><%= text_field_tag :DiaO_param,"", class: 'campo' %></th>
              <th><%= text_field_tag :Fecha_param,"", class: 'campo' %></th>
              <th><%= text_field_tag :ClaveVendedor_param,"", class: 'campo' %></th>
              <th><%= text_field_tag :NombreVendedor_param,"", class: 'campo' %></th>

              <input id="search" type="hidden" value="<%=params[:search] %>" name="search"/><%# se debe colocar debido a que a la hora de hacer la busqueda de los registros dentro de la tabla, hace la consulta y no toma los ids porque se pierden%>
              <input id="diaO" type="hidden" value="<%=params[:diaO] %>" name="diaO"/>
              <th>
                  <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
              </th>
            </tr>

          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    <% end %>

  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
       <tr>
         <th class="col_left th_color">RutaId</th>
         <th class="col_left th_color">Ruta</th>
         <th class="col_left th_color">DiaO</th>
         <th class="col_left th_color">Fecha</th>
         <th class="col_left th_color">IdVendedor</th>
         <th class="col_left th_color">ClaveVendedor</th>
         <th class="col_left th_color">NombreVendedor</th>
         <th class="col_left th_color">Id_Ayudante1</th>
         <th class="col_left th_color">ClaveAyudante1</th>
         <th class="col_left th_color">NombreAyudante1</th>
         <th class="col_left th_color">Id_Ayudante2</th>
         <th class="col_left th_color">ClaveAyudante2</th>
         <th class="col_left th_color">NombreAyudante2</th>
         <th class="col_left th_color">Clave Vehículo</th>
         <th class="col_left th_color">Placa</th>
         <th class="col_left th_color">OdometroInicial</th>
         <th class="col_left th_color">OdometroFinal</th>
         <th class="col_left th_color">TanqueInicial</th>
         <th class="col_left th_color">TanqueFinal</th>
         <th class="col_left th_color">LitrosCargados</th>
         <th class="col_left th_color">GastoLitros</th>
         <th class="col_left th_color">Rendimiento</th>
         <th class="col_left th_color">KmR</th>
       </tr>
      </thead>
      <tbody id="container_consumos">
        <%= render partial: "/reportes_ruta/tripulacion/tripulacion", collection: @tripulaciones %>
      </tbody>
    </table>
    <%= paginate @tripulaciones, :param_name => 'tripulacion' %>

  </div>




<%end%>
