<tr>
  <td class="col_left"><%=tripulacion.try(:RutaId)%></td>
  <td class="col_left"><%=tripulacion.try(:Ruta)%></td>
  <td class="col_left"><%=tripulacion.try(:DiaO)%></td>
  <td class="col_left"><%=tripulacion.try(:Fecha).try(:strftime,"%d-%m-%Y")%></td>
  <td class="col_left"><%=tripulacion.try(:IdVendedor)%></td>
  <td class="col_left"><%=tripulacion.try(:ClaveVendedor)%></td>
  <td class="col_left"><%=tripulacion.try(:NombreVendedor)%></td>
  <td class="col_left"><%=tripulacion.try(:Id_Ayudante1)%></td>
  <td class="col_left"><%=tripulacion.try(:ClaveAyudante1)%></td>
  <td class="col_left"><%=tripulacion.try(:NombreAyudante1)%></td>
  <td class="col_left"><%=tripulacion.try(:Id_Ayudante2)%></td>
  <td class="col_left"><%=tripulacion.try(:ClaveAyudante2)%></td>
  <td class="col_left"><%=tripulacion.try(:NombreAyudante2)%></td>
  <td class="col_left"><%=tripulacion.try(:Vehiculo_clave)%></td>
  <td class="col_left"><%=tripulacion.try(:Placa)%></td>
  <td class="col_left"><%=tripulacion.try(:OdometroInicial)%></td>
  <td class="col_left"><%=tripulacion.try(:OdometroFinal)%></td>
  <td class="col_left"><%=tripulacion.try(:TanqueInicial)%></td>
  <td class="col_left"><%=tripulacion.try(:TanqueFinal)%></td>
  <td class="col_left"><%=tripulacion.try(:LitrosCargados)%></td>
  <td class="col_left"><%=tripulacion.try(:GastoLitros)%></td>
  <td class="col_left"><%=tripulacion.try(:Rendimiento)%></td>
  <td class="col_left"><%=tripulacion.try(:KmR)%></td>
</tr>
