<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
  <thead>

    <%= search_form_for @search, :remote=>"true", url: catbancos_path, :method => :get do |f| %>
        <tr>
          <th class="col_left">
            <%= sort_link @search, :Clave, "Clave","catbanco", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :Descripcion, "Descripción","catbanco", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :NCuenta,"N° de  Cuenta","catbanco", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :CLABE,"CLABE","catbanco", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :Status,"Status","catbanco", {}, { :remote => true, :method => :get } %>
          </th>


          <th class="action_col"><%= t("basic.Acción") %></th>
        </tr>
        <% end %>

  </thead>
  <tbody id="container_catbancos">
    <% @catbancos.each do |catbanco| %>
  <tr id="catbanco_<%= catbanco.id %>">
  <td class="col_left"><%= catbanco.try(:Clave) %>
        <!--Modal - update mensaje-->
    <%= form_for(catbanco, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{catbanco.id}"}) do |f| %><!--ajax-->
      <div nohidden class="modal fade si" id="myupdatecatbanco_<%= catbanco.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Editar catbanco</h4>
            </div>

            <div class="modal-body">


                <div class="form-group">
                  <%= f.label :Clave, "Clave:", class: "control-label col-md-2"  %>
                  <div class="col-md-4">
                    <%= f.text_field :Clave, class: "form-control catbanco_clave clave_sin_espacios_y_sin_caracteres_especiales",autofocus: true, minlength: "1"  %>
                  </div>

                  <%= f.label :Descripcion, "Descripción:", class: "control-label col-md-2"  %>
                  <div class="col-md-4">
                    <%= f.text_field :Descripcion, class: "form-control catbanco_descripcion",autofocus: true, minlength: "1"  %>
                  </div>
                </div>


                <div class="form-group">
                  <%= f.label :NCuenta , "N° de  Cuenta:", class: "control-label col-md-2"  %>
                  <div class="col-md-4">
                    <%= f.text_field :NCuenta , class: "form-control catbanco_NCuenta", maxlength: "30"  %>
                  </div>
                  <%= f.label :CLABE, "CLABE:", class: "control-label col-md-2"  %>
                  <div class="col-md-4">
                    <%= f.text_field :CLABE, class: "form-control catbanco_CLABE", maxlength: "30"  %>
                  </div>

                </div>


              <div class="form-group">
                <%= f.label :Status,"Activo:", class: "control-label col-xs-3 col-sm-6 col-md-1 " %>
                <div class="col-md-1">
                  <%= f.check_box :Status,{checked: true} %>
                </div>
              </div>


            </div>
            <div class="modal-footer">
              <button type="button" id="myupdatebutton_<%= catbanco.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
            </div>
          </div>
        </div>
      </div>
    <%end%>
    <script>
      $(".formulario-validado-update<%=catbanco.id%>").validate();

    </script>
  </td>
  <td class="col_left"><%= catbanco.try(:Descripcion) %></td>
  <td class="col_left"><%= catbanco.try(:NCuenta) %></td>
  <td class="col_left"><%= catbanco.try(:CLABE) %></td>
  <td class="col_left">
    <%if catbanco.Status == true%>
      Activo
    <%else%>
      Inactivo
    <%end%>
  </td>


  <td>
  <div class="btn-group"><a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
   <%= t('basic.Acción') %>

   </a>
  <ul class="dropdown-menu">

  <li>
      <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatecatbanco_<%= catbanco.id %>">
        Editar
      </button>
      <!--Destroy-->
      <% if catbanco.Status == TRUE%>
        <%= link_to 'Eliminar', catbanco, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
      <%else%>
        <%= link_to 'Habilitar', catbanco, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'} %>
      <%end%>
  </li>



  </ul>
  </div>
  <!-- button group --></td>
  </tr><% end %>
  </tbody>
  </table>
  <%= paginate @catbancos  %>
</div>
