<% if @puede_crear == true%>
  $("#mynewcatbanco").modal('hide');
  $(".catbanco_NCuenta").val('');
  $(".catbanco_CLABE").val('');

  $("#container_catbancos").prepend('<%= j render @catbanco %>'); //Prepend before append
  $("#catbanco_<%= @catbanco.id %>").hide().fadeIn(1000);

<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
