<% if @detalles != nil %>
  <div class="modal fade" id="mydetalle_entrega" class="modalxD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Detalles de la entrega</h4>
        </div>
        <div class="modal-body">

          <div class="rwd">
            <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
             <thead>
              <tr>
                <th>Ruta</th>
                <th>Pedido</th>
                <th>Sku</th>
                <th>Producto</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>PrecioUnitario</th>
                <th>SubTotal</th>
                <th>Descuento</th>
                <th>IVA</th>
                <th>Total</th>
              </tr>
            </thead>
              <tbody id="container_detalle_venta">
                  <% @detalles.each do |detalle_entrega| %>
                    <tr>
                      <td><%= detalle_entrega.Ruta %></td>
                      <td><%= detalle_entrega.PEDIDO %></td>
                      <td><%= detalle_entrega.Clave_Producto %></td>
                      <td><%= detalle_entrega.Producto %></td>
                      <td>
                        <% if detalle_entrega.Tipo == 0%>
                          Cajas
                        <%else%>
                          Piezas
                        <%end%>
                      </td>
                      <td><%= detalle_entrega.PZA%></td>
                      <td><%= (detalle_entrega.PRECIO / ((detalle_entrega.IVA_Producto.to_f/100)+1)).round(2) if detalle_entrega.PRECIO.present? and detalle_entrega.IVA_Producto.present?%></td>
                      <td><%= detalle_entrega.IMPORTE%></td>
                      <td><%= detalle_entrega.DESCUENTO%></td>
                      <td><%= detalle_entrega.IVA %></td>
                      <td><%= (detalle_entrega.IMPORTE + detalle_entrega.IVA) - detalle_entrega.DESCUENTO if detalle_entrega.IMPORTE.present? and detalle_entrega.IVA.present?  and detalle_entrega.DESCUENTO.present? %></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
          <% if @promociones != nil %>
            <div class="rwd">
              <h2>Promociones</h2>
              <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
               <thead>
                <tr>
                  <th>Ruta</th>
                  <th>Folio</th>
                  <th>Sku</th>
                  <th>Producto</th>
                  <th>Unidad</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
                <tbody id="container_detalle_venta">
                    <% @promociones.each do |promo| %>
                      <tr>
                        <td><%= promo.Ruta %></td>
                        <td><%= promo.Folio %></td>
                        <td><%= promo.SKU %></td>
                        <td><%= promo.Producto %></td>
                        <td><%= promo.unidad %></td>
                        <td><%= promo.Cant%></td>
                      </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mydetalle_entregaclose">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<%end%>
