<% if @detalles != nil %>
  <div class="modal fade" id="mydetallevet" class="modalxD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Detalles de la venta</h4>
        </div>
        <div class="modal-body">

          <div class="rwd">
            <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
             <thead>
              <tr>
                <th>Ruta</th>
                <th>Folio</th>
                <th>Sku</th>
                <th>Producto</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>PrecioUnitario</th>
                <th>SubTotal</th>
                <th>Descuento</th>
                <th>IVA</th>
                <th>Total</th>
              </tr>
            </thead>
              <tbody id="container_detalle_venta">
                  <% @detalles.each do |detalleve| %>
                    <tr>
                      <td><%= detalleve.ruta.Ruta %></td>
                      <td><%= detalleve.Docto %></td>
                      <td><%= detalleve.Articulo %></td>
                      <td><%= detalleve.Descripcion %></td>
                      <td>
                        <% if detalleve.Tipo == 0%>
                          Cajas
                        <%else%>
                          Piezas
                        <%end%>
                      </td>
                      <td><%= detalleve.Pza%></td>
                      <td><%= (detalleve.Precio / ((detalleve.producto.IVA.to_f/100)+1)).round(2)  if detalleve.Precio.present? and detalleve.producto.IVA.present?%></td>
                      <td><%= detalleve.Importe%></td>
                      <td><%= detalleve.DescMon%></td>
                      <td><%= detalleve.IVA %></td>
                      <td><%= (detalleve.Importe + detalleve.IVA) - detalleve.DescMon if detalleve.Importe.present? and detalleve.IVA.present? and detalleve.DescMon.present? %></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
          <% if @promociones != nil %>
            <div class="rwd">
              <h2>Promociones</h2>
              <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
               <thead>
                <tr>
                  <th>Ruta</th>
                  <th>Folio</th>
                  <th>Sku</th>
                  <th>Producto</th>
                  <th>Unidad</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
                <tbody id="container_detalle_venta">
                    <% @promociones.each do |promo| %>
                      <tr>
                        <td><%= promo.Ruta %></td>
                        <td><%= promo.Folio %></td>
                        <td><%= promo.SKU %></td>
                        <td><%= promo.Producto %></td>
                        <td><%= promo.unidad %></td>
                        <td><%= promo.Cant%></td>
                      </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mydetallevetclose">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<%end%>
