<!--     Fecha_Entregado, Ruta, COD_CLIENTE, Responsable, NombreComercial, PEDIDO, TIPO, Forma, SubTotal, IVA, sum_Cja, sum_Pza, Cancelada,  Vendedor,  Ayudante1, Ayudante2,ARTICULO, DIAO_ENTREGA-->
<tr id="entrega_<%= entrega.id %>">
  <td class="col_left"><%=entrega.try(:Sucursal)%></td>
  <td class="col_left"><%=entrega.try(:Fecha_Entregado).try(:strftime,"%d-%m-%Y") %></td>
  <td class="col_left"><%=entrega.try(:Ruta)%></td>
  <td class="col_left"><%=entrega.try(:COD_CLIENTE)%></td>
  <td class="col_left"><%=entrega.try(:Responsable)%></td>
  <td class="col_left"><%=entrega.try(:NombreComercial)%></td>
  <td class="col_left"><%=entrega.try(:PEDIDO)%></td>
  <td class="col_left"><%=entrega.try(:TIPO)%></td>
  <td class="col_left"><%=entrega.try(:Forma)%></td>
  <td class="col_right"><%=entrega.try(:TOTAL) - entrega.try(:IVA)%></td>
  <td class="col_right"><%=entrega.try(:IVA)%></td>
  <td class="col_right"><%=entrega.try(:sum_DescMon)%></td>
  <td class="col_right"><%=entrega.try(:TOTAL)%></td>
  <td class="col_left"><%=entrega.try(:sum_Cja)%></td>
  <td class="col_left"><%=entrega.try(:sum_Pza)%></td>
  <td class="col_left"><%=entrega.try(:Cancelada)%></td>
  <td class="col_left"><%=entrega.try(:Vendedor)%></td>
  <td class="col_left"><%=entrega.try(:Ayudante1)%></td>
  <td class="col_left"><%=entrega.try(:Ayudante2)%></td>
  <td class="col_left">
    <% if entrega.cliente.listapromomast != nil %>
      <%= entrega.cliente.listapromomast.ListaMaster%>
    <%end%>
  </td>

  <td>
    <%= link_to 'Detalles', detalle_entrega_path(:rutaId => entrega.try(:IdRutas), :cliente => entrega.try(:COD_CLIENTE), :Pedido => entrega.try(:PEDIDO), :search6 => params[:search6]), :remote => true, data: { disable_with: 'Buscando...' }  %>
  </td>
</tr>
