<style media="screen">
.modal-content{
  min-width: 150%;
  margin-left: -20%;
}
  .campo {
    width: 70px !important;
  }
</style>
<% if @ventas != nil%>

<div class="row tile_count">
  <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
    <span class="count_top2"><i class="fa fa-user"></i>Total Efectivo</span>
    <div id="total_efectivo"><%= render 'total_efectivo' %></div>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
    <span class="count_top2"><i class="fa fa-user"></i>Efectivo</span>
    <div id="efectivo"><%= render 'efectivo' %></div>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
    <span class="count_top2"><i class="fa fa-user"></i>Otros Depositos</span>
    <div id="otros_depositos"><%= render 'otros_depositos' %></div>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
    <span class="count_top2"><i class="fa fa-user"></i>Total Contado</span>
    <div id="total_contado"><%= render 'total_contado' %></div>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
    <span class="count_top2"><i class="fa fa-user"></i>Total Crédito</span>
    <div id="total_credito"><%= render 'total_credito' %></div>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
    <span class="count_top2"><i class="fa fa-user"></i>Total Venta</span>
    <div id="total_venta"><%= render 'total_venta' %></div>
  </div>
<!--
  <div class="">
    <1% @total_cajas.each do |total_cajas| %>
        <1%= total_cajas.sum_Cja_total %>||
    <1% end %>
  </div>
-->

</div>

  <%= form_tag("/venta/venta", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
    <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class=""><%= label_tag :Cliente_param, "Cliente", class: "control-label" %></th>
            <th class=""><%= label_tag :Responsable_param, "Responsable", class: "control-label" %></th>
            <th class=""><%= label_tag :Nombre_Comercial_param, "Nombre Comercial", class: "control-label" %></th>
            <th class=""><%= label_tag :Folio_param, "Folio", class: "control-label" %></th>
            <th class=""><%= label_tag :Tipo_param, "Tipo", class: "control-label" %></th>
            <th class=""><%= label_tag :Metodo_de_pago_param, "Método de pago", class: "control-label" %></th>

            <th class="action_col"><%= t("basic.Acción") %></th>
          </tr>
          <tr>
            <th><%= text_field_tag :Cliente_param,"", class:"campo" %></th>
            <th><%= text_field_tag :Responsable_param,"", class:"campo" %></th>
            <th><%= text_field_tag :Nombre_Comercial_param,"", class:"campo" %></th>
            <th><%= text_field_tag :Folio_param,"", class:"campo" %></th>
            <th><%= select_tag :Tipo_param, options_for_select([['Contado'], ['Credito']]), :prompt => "Todas"  %></th>
            <th><%= text_field_tag :Metodo_de_pago_param,"", class:"campo" %></th>
            <input id="search" type="hidden" value="<%=params[:search] %>" name="search"/>
            <input id="search2" type="hidden" value="<%=params[:search2] %>" name="search2"/>
            <input id="search3" type="hidden" value="<%=params[:search3] %>" name="search3"/>
            <input id="search4" type="hidden" value="<%=params[:search4] %>" name="search4"/>
            <input id="search5" type="hidden" value="<%=params[:search5] %>" name="search5"/>
            <input id="search6" type="hidden" value="<%=params[:search6] %>" name="search6"/>
            <th>
                <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  <% end %>




  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
     <thead>
      <%= search_form_for @search, :remote=>"true", url: venta_venta_path, :method => :get do |f| %>
      <tr>
        <th class="col_left"><%= sort_link @search, :IdEmpresa, "Sucursal","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :Fecha, "Fecha","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :ruta_Ruta, "Ruta","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :CodCliente, "Cliente","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :cliente_Nombre, "Responsable","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :cliente_NombreCorto, "Nombre Comercial","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :Documento, "Folio","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :TipoVta, "Tipo","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :formapag_Forma, "Método de pago","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_right"><%= sort_link @search, :IVA, "Importe","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_right"><%= sort_link @search, :IVA, "IVA","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_right"><%= sort_link @search, :sum_DescMon, "Descuento","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_right"><%= sort_link @search, :TOTAL, "Total","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :sum_Cja, "Cajas","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :sum_Pza, "Piezas","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :Cancelada, "Cancelada","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :Ayudante1, "Vendedor","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :Ayudante1, "Ayudante1","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :Ayudante2, "Ayudante2","vent", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :cliente_listapromomast_ListaMaster, "Promociones","vent", {}, { :remote => true, :method => :get } %></th>
      </tr>
    </thead><% end %>
      <tbody id="container_venta">
        <%= render @ventas%>
      </tbody>
    </table>
    <%= paginate @ventas, :param_name => 'ventas', params: {controller: 'venta', action: 'venta'} %> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>




</tbody>


</table>
  <%= link_to 'Exportar Excel', venta_venta_path(:search => params[:search], :diaO => params[:diaO], :fechaDiaO => params[:fechaDiaO], :vendedor_id => params[:vendedor_id], :search3 => params[:search3], :search2 => params[:search2], :search5 => params[:search5], :search4 => params[:search4], :search6 => params[:search6],:Cliente_param => params[:Cliente_param], :Responsable_param => params[:Responsable_param], :Nombre_Comercial_param => params[:Nombre_Comercial_param], :Pedido_param => params[:Pedido_param], :Tipo_param => params[:Tipo_param], :Metodo_de_pago_param => params[:Metodo_de_pago_param], format:"xls"), class:"btn btn-success btn-xs"  %>

<% end %>
