<tr id="venta_<%= vent.id %>">
  <td class="col_left"><%=vent.try(:Sucursal)%></td>
  <td class="col_left"><%=vent.try(:Fecha_Venta).try(:strftime,"%d-%m-%Y") %></td>
  <td class="col_left"><%=vent.try(:Ruta)%></td>
  <td class="col_left"><%=vent.try(:CodCliente)%></td>
  <td class="col_left"><%=vent.try(:Responsable)%></td>
  <td class="col_left"><%=vent.try(:NombreComercial)%></td>
  <td class="col_left"><%=vent.try(:Documento)%></td>
  <td class="col_left"><%=vent.try(:TipoVta)%></td>
  <td class="col_left"><%=vent.try(:Forma)%></td>
  <td class="col_right"><%=vent.try(:TOTAL) - vent.try(:IVA)%></td>
  <td class="col_right"><%=vent.try(:IVA)%></td>
  <td class="col_right"><%=vent.try(:sum_DescMon)%></td>
  <td class="col_right"><%=vent.try(:TOTAL)%></td>
  <td class="col_left"><%=vent.try(:sum_Cja)%></td>

  <td class="col_left"><%=vent.sum_Pza%></td>
  <td class="col_left">
    <% if vent.Cancelada == true %>
      Si
    <%else%>
      No
    <%end%>
  </td>
  <td class="col_left"><%=vent.try(:Vendedor)%></td>
  <td class="col_left"><%=vent.try(:Ayudante1)%></td>
  <td class="col_left"><%=vent.try(:Ayudante2)%></td>
  <td class="col_left">
  <% if vent.cliente.listapromomast != nil %>
    <%= vent.cliente.listapromomast.ListaMaster%>
  <%end%>
  </td>

  <td>
    <%= link_to 'Detalles', detalle_venta_path(:rutaId => vent.try(:RutaId), :docto => vent.try(:Documento), :search6 => params[:search6]), :remote => true, data: { disable_with: 'Buscando...' }  %>
    <%= link_to 'PDF', ventas_pdf_path(:V => vent.try(:Id), :rutaId => vent.try(:RutaId), :docto => vent.try(:Documento), :producto => params[:search3], :search6 => params[:search6], :format => 'pdf'), data: { disable_with: 'Imprimiendo...' }, class: "btn btn-danger fa fa-file-pdf-o"  %>
  </td>
</tr>
