<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="entrega">
     <Interior ss:Color="#6FC9FF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="detalle">
     <Interior ss:Color="#56b78a" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <% @entregas_export.each do |entrega| %>
      <Row>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Sucursal</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Fecha_Entregado</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Ruta</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Cliente</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Responsable</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Nombre Comercial</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">PEDIDO</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Tipo</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Método de pago</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Importe</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">IVA</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Descuento</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Total</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Cancelada</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Vendedor</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Ayudante1</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Ayudante2</Data></Cell>
        <Cell ss:StyleID="entrega"><Data ss:Type="String">Promociones</Data></Cell>
      </Row>
        <Row>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:Sucursal)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:Fecha_Entregado).try(:strftime,"%d-%m-%Y")%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:Ruta)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:COD_CLIENTE)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:Responsable)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:NombreComercial)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:PEDIDO)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:TIPO)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:Forma)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:TOTAL) - entrega.try(:IVA)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:IVA)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:sum_DescMon)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:TOTAL)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:sum_Cja)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:sum_Pza)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><% if entrega.Cancelada == true %>Si<%else%>No<%end%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:Vendedor)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:Ayudante1)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String"><%=entrega.try(:Ayudante2)%></Data></Cell>
          <Cell ss:StyleID="entrega"><Data ss:Type="String">
            <% if entrega.cliente.listapromomast != nil %>
              <%= entrega.cliente.listapromomast.ListaMaster%>
            <%end%>
          </Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Detalle</Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Ruta</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Pedido</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Sku</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Producto</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Unidad</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Cantidad</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">PrecioUnitario</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">SubTotal</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Descuento</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">IVA</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Total</Data></Cell>
        </Row>

        <% @detalles_export.where(:RUTA => entrega.try(:IdRutas),:PEDIDO => entrega.PEDIDO).each do |detalle_entrega| %>
          <Row>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalle_entrega.Ruta%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalle_entrega.PEDIDO%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalle_entrega.Clave_Producto%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalle_entrega.Producto%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><% if detalle_entrega.Tipo == 0%>Cajas<%else%>Piezas<%end%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalle_entrega.PZA%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= (detalle_entrega.PRECIO / ((detalle_entrega.IVA_Producto.to_f/100)+1)).round(2)%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalle_entrega.IMPORTE%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalle_entrega.DESCUENTO%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalle_entrega.IVA%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= (detalle_entrega.IMPORTE + detalle_entrega.IVA) - detalle_entrega.DESCUENTO%></Data></Cell>
          </Row>
        <%end%>
        <Row>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Promociones</Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Ruta</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Folio</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Sku</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Producto</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Unidad</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Cantidad</Data></Cell>
        </Row>
        <% @promociones_export.where(:Docto => entrega.PEDIDO,:RutaId => entrega.IdRutas).each do |promo| %>
          <Row>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.Ruta %></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.Folio %></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.SKU %></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.Producto %></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.unidad %></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.Cant%></Data></Cell>
          </Row>
        <%end%>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
