$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#clientes').html('<%= escape_javascript(render("partials/buscadorReportes/clientes")) %>');
$('#productos').html('<%= escape_javascript(render("partials/buscadorReportes/productos")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$('#paginatorCliente').html("<%= escape_javascript(paginate(@clientes_Selector, :remote => true, :param_name => 'clientes'))%>");
$('#paginatorProducto').html("<%= escape_javascript(paginate(@productos_Selector, :remote => true, :param_name => 'productos'))%>");
$("#total_efectivo").html("<%= escape_javascript(render("total_efectivo"))%>")
$("#efectivo").html("<%= escape_javascript(render("efectivo"))%>")
$("#otros_depositos").html("<%= escape_javascript(render("otros_depositos"))%>")
$('#dias_op').html('<%= escape_javascript(render("partials/buscadorReportes/dias_op")) %>');
$("#entregas").html("<%= escape_javascript(render("entregas"))%>")
$("#ventas").html("<%= escape_javascript(render("ventas"))%>")
