<h2>Ventas/Entregas</h2>
<div class="well center-block">
  <%= form_tag("/venta/venta", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
    <div class="form-group">
      <div class="col-md-6">
        <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
        <%= render 'partials/buscadorReportes/buscador_reportes2' %>
        <%= render 'partials/buscadorReportes/buscador_reportes3' %>
        <%= render 'partials/buscadorReportes/buscador_reportes_sucursal' %>
        <div class="form-group">
          <%= label_tag :Entregas,"Entregas:", class: "control-label col-xs-7 col-sm-6 col-md-5"%>
          <div class="col-md-1">
            <%= check_box_tag :Entregas%>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <%= render 'partials/buscadorReportes/buscador_reportes6' %>
        <%= render 'partials/buscadorReportes/buscador_reportes4' %>
        <%= render 'partials/buscadorReportes/buscador_reportes5' %>
      </div>
    </div>
  <%end%>
  <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
  <%= render 'partials/buscadorReportes/ventana_modal_clientes' %>
  <%= render 'partials/buscadorReportes/ventana_modal_productos' %>
  <%= render 'partials/buscadorReportes/ventana_modal_dias' %>
</div>
<div id="ventas"><%= render 'ventas' %></div>
<div id="detalle_venta"><%= render 'detalle_venta' %></div>

<div id="entregas"><%= render 'entregas' %></div>
<div id="detalle_entrega"><%= render 'detalle_entrega' %></div>
