<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="venta">
     <Interior ss:Color="#6FC9FF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="detalle">
     <Interior ss:Color="#56b78a" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <% @ventas_export.each do |vent| %>
      <Row>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Fecha</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Ruta</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Cliente</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Responsable</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Nombre Comercial</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Folio</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Tipo</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Método de pago</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Importe</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">IVA</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Descuento</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Total</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Cancelada</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Vendedor</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Ayudante1</Data></Cell>
        <Cell ss:StyleID="venta"><Data ss:Type="String">Ayudante2</Data></Cell>
      </Row>
        <Row>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:Fecha_Venta).try(:strftime,"%d-%m-%Y") %></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:Ruta)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:CodCliente)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:Responsable)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:NombreComercial)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:Documento)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:TipoVta)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:Forma)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:TOTAL)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:IVA)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:sum_DescMon)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:TOTAL)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:sum_Cja)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.sum_Pza%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><% if vent.Cancelada == true %>Si<%else%>No<%end%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:Vendedor)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:Ayudante1)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String"><%=vent.try(:Ayudante2)%></Data></Cell>
          <Cell ss:StyleID="venta"><Data ss:Type="String">
            <% if vent.cliente.listapromomast != nil %>
              <%= vent.cliente.listapromomast.ListaMaster%>
            <%end%>
          </Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Detalle</Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Ruta</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Folio</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Sku</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Producto</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Unidad</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Cantidad</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">PrecioUnitario</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">SubTotal</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">IVA</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Descuento</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Total</Data></Cell>
        </Row>
        <% @detalles_export.where(:Docto => vent.Documento).each do |detalleve| %>
          <Row>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalleve.ruta.Ruta%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalleve.Docto%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalleve.Articulo%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalleve.Descripcion%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><% if detalleve.Tipo == 0%>Cajas<%else%>Piezas<%end%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalleve.Pza%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= (detalleve.Precio / ((detalleve.producto.IVA.to_f/100)+1)).round(2)%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalleve.Importe%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalleve.IVA%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= detalleve.DescMon%></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= (detalleve.Importe + detalleve.IVA) - detalleve.DescMon%></Data></Cell>
          </Row>
        <%end%>
        <Row>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Promociones</Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Ruta</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Folio</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Sku</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Producto</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Unidad</Data></Cell>
          <Cell ss:StyleID="detalle"><Data ss:Type="String">Cantidad</Data></Cell>
        </Row>
        <% @promociones_export.where(:docto => vent.Documento,:rutaId => vent.RutaId).each do |promo| %>
          <Row>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.Ruta %></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.Folio %></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.SKU %></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.Producto %></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.unidad %></Data></Cell>
            <Cell ss:StyleID="detalle"><Data ss:Type="String"><%= promo.Cant%></Data></Cell>
          </Row>
        <%end%>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
