<tr id="clascliente_<%= clascliente.id %>">
  <td><%=clascliente.id%>
    <!--Modal - update clasruta-->
  <%= form_for(clascliente, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{clascliente.id}"}) do |f| %><!--ajax-->
  <div nohidden class="modal fade si" id="myupdateclascliente_<%= clascliente.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Editar Clasificación de cliente</h4>
        </div>

        <div class="modal-body">
          <div class="modal-body">

            <div class="form-group">
              <%= f.label :Descripcion, "Descripción:", class: "control-label col-md-3" %>
              <div class="col-md-8">
                <%= f.text_area :Descripcion, class: "form-control",minlength: "5", required: "true" %>
              </div>
            </div>

            <div class="well center-block">
              <div class="form-group">
                <h4 class="col-md-7">Nivel de Clasificación:</h4>
              </div>

              <div class="form-group">
                <%= f.radio_button(:NivelNum, "1", class:"col-md-1") %>
                <%= f.label(:NivelNum, "Nivel 1", class:"col-md-2 ") %>

                <%= f.radio_button(:NivelNum, "2", class:"col-md-1") %>
                <%= f.label(:NivelNum, "Nivel 2", class:"col-md-2") %>

                <%= f.radio_button(:NivelNum, "3", class:"col-md-1") %>
                <%= f.label(:NivelNum, "Nivel 3", class:"col-md-2") %>

                <%= f.radio_button(:NivelNum, "4", class:" col-md-1") %>
                <%= f.label(:NivelNum, "Nivel 4", class:"col-md-2") %>

                <%= f.radio_button(:NivelNum, "5", class:"col-md-1") %>
                <%= f.label(:NivelNum, "Nivel 5", class:"col-md-2") %>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="myupdatebutton_<%= clascliente.id %>" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
        </div>
      </div>
    </div>
  </div>
  <%end%>

  </td>
  <td><%=clascliente.Descripcion%></td>
  <td><%=clascliente.NivelNum%></td>
  <script>
    $(".formulario-validado-update<%=clascliente.id%>").validate();

  </script>




    <td>

        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myupdateclascliente_<%= clascliente.id %>">
          Editar
        </button>
        <!--Destroy-->
        <%= link_to 'Eliminar', clascliente, method: :delete, class: "btn btn-danger btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
      </td>


<td class="no" >
    </td>
</tr>
