<!--<p id="notice"><%= notice %></p>-->
<h1>Clasificaciones de Clientes</h1>
<style>
.container {
}

</style>
<div>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewclascliente">
        Nueva Clasificación de Cliente
      </button>
    </div>
  </div>

  <br>
  <br>



  <table id="clasclientes" class="display"><!--el id clasrutas es de datatables referenciado en clasrutas.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Id</th>
      <th>Descripción</th>
      <th>NivelNum</th>
      <th>Acción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_clasclientes">
      <%= render @clasclientes %><!--carga todos los clasrutas-->
</tbody>


</table>
<!-- Modal create action -->
<%= form_for(@clascliente, remote: true, html: {class: "form-horizontal formulario-validado-create"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewclascliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar Clasificación de cliente</h4>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <%= f.label :Descripcion, "Descripción:", class: "control-label col-md-3" %>
            <div class="col-md-8">
              <%= f.text_area :Descripcion, class: "form-control clascliente_descripcion",minlength: "5", required: "true" %>
            </div>
          </div>

          <div class="well center-block">
            <div class="form-group">
              <h4 class="col-md-7">Nivel de Clasificación:</h4>
            </div>

            <div class="form-group">
              <%= f.radio_button(:NivelNum, "1", class:"col-md-1") %>
              <%= f.label(:NivelNum, "Nivel 1", class:"col-md-2 ") %>

              <%= f.radio_button(:NivelNum, "2", class:"col-md-1") %>
              <%= f.label(:NivelNum, "Nivel 2", class:"col-md-2") %>

              <%= f.radio_button(:NivelNum, "3", class:"col-md-1") %>
              <%= f.label(:NivelNum, "Nivel 3", class:"col-md-2") %>

              <%= f.radio_button(:NivelNum, "4", class:" col-md-1") %>
              <%= f.label(:NivelNum, "Nivel 4", class:"col-md-2") %>

              <%= f.radio_button(:NivelNum, "5", class:"col-md-1") %>
              <%= f.label(:NivelNum, "Nivel 5", class:"col-md-2") %>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewclasclienteclose">Cerrar</button>
          <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>

<div class="actions">
  <div class="form-group">
    <div class="col-md-12">
    <%= link_to 'Volver a clientes', clientes_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
