<%= search_form_for @searchc, :remote=>"true", url: clientes_promociones_path, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @searchc, :IdCli, "Clave","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @searchc, :Nombre, "Nombre","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @searchc, :NombreCorto, "NombreComercial","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @searchc, :Telefono, "Teléfono","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @searchc, :Colonia, "Colonia","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :rutas_Ruta, "Rutas","relclili", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.action") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :IdCli_cont, class:"campo" %></th>
          <th><%= f.text_field :Nombre_cont, class:"campo" %></th>
          <th><%= f.text_field :NombreCorto_cont, class:"campo" %></th>
          <th><%= f.text_field :Telefono_cont, class:"campo" %></th>
          <th><%= f.text_field :Colonia_cont, class:"campo" %></th>
          <th><%= f.text_field :rutas_Ruta_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
        </tr>

      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
<% end %>
  <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
            <%= search_form_for @searchc, :remote=>"true", url: clientes_promociones_path, :method => :get do |f| %>
              <thead>
                <tr>
                  <th class="col_left"><%= sort_link @searchc, :IdCli, "Clave","cliente", {}, { :remote => true, :method => :get } %></th>
                  <th class="col_left"><%= sort_link @searchc, :Nombre, "Nombre","cliente", {}, { :remote => true, :method => :get } %></th>
                  <th class="col_left"><%= sort_link @searchc, :NombreCorto, "Nombre Comercial","cliente", {}, { :remote => true, :method => :get } %></th>
                  <th class="col_left"><%= sort_link @searchc, :Telefono, "Teléfono","cliente", {}, { :remote => true, :method => :get } %></th>
                  <th class="col_left"><%= sort_link @searchc, :Colonia, "Colonia","cliente", {}, { :remote => true, :method => :get } %></th>
                  <th class="col_left"><%= sort_link @search, :rutas_Ruta, "Rutas","relclili", {}, { :remote => true, :method => :get } %></th>
                  <th class="action_col"><%= t("basic.action") %></th>
                </tr>
             </thead>
            <% end %>
            <tbody id="container_clientes">
                <%= render partial: "/relclilis/Lista_Promo/cliente", collection: @clientes %>
            </tbody>
          </table>
          <%= paginate @clientes, :param_name => 'clientes'  %>
</div>
