<%= search_form_for @search, as: :x, :remote=>"true", url: cliente_listap_path(params[:id]), :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
          <thead>
            <tr>
              <th class="component_name_header_col"><%= sort_link @search, :CodCliente, "Clave","relclili", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :cliente_Nombre, "Nombre","relclili", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :cliente_Telefono, "Teléfono","relclili", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :cliente_Colonia, "Colonia","relclili", {}, { :remote => true, :method => :get } %></th>
              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
            <tr>
              <th><%= f.text_field :CodCliente_cont, class:"campo" %></th>
              <th><%= f.text_field :cliente_Nombre_cont, class:"campo" %></th>
              <th><%= f.text_field :cliente_Telefono_cont, class:"campo" %></th>
              <th><%= f.text_field :cliente_Colonia_cont, class:"campo" %></th>
              <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
            </tr>

          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
<% end %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search, as: :x, :remote=>"true", url: relclilis_path(params[:id]), :method => :get do |f| %>
      <thead>
        <tr>
          <th></th>
          <th class="col_left"><%= sort_link @search, :CodCliente, "Clave","relclili", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search, :cliente_Nombre, "Nombre","relclili", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search, :cliente_Telefono, "Teléfono","relclili", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search, :cliente_Colonia, "Colonia","relclili", {}, { :remote => true, :method => :get } %></th>
        </tr>
    <% end %>
    </thead>
    <tbody id="container_relclilis">
      <%= render partial: "/relclilis/Lista_Precio/relclili", collection: @relclilis %>

    </tbody>
  </table>
  <%= paginate @relclilis, :param_name => 'relclilis', params: {controller: 'relclilis', action: 'indexlistap'}, :remote => true   %>
</div>
