<!--<p id="notice"><%= notice %></p>-->
<h1>Administración de clientes asignados al grupo: <%=@grupo.ListaMaster%></h1><br>
<style>
.container {
}

</style>
<div class="container">
  <!--<div class="row">
    <div class="text-center">
      <!- Button trigger modal ->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewrelclili">
        Nueva Lista de Descuento
      </button>
    </div>
  </div>-->

  <div class="well center-block">
    <h2 class="text-center"> Lista de Clientes </h2>
    <div id="clientesout_promo"><%= render 'clientesout_promo' %></div>
  </div>

  <div class="well center-block">
    <h2 class="text-center"> Clientes Añadidos al grupo</h2>
    <div id="clientesadded_promo"><%= render 'clientesadded_promo' %></div>
  </div>


  <div class="actions">
    <div class="form-group">
      <div class="col-md-12">
      <%= link_to 'Volver a promociones', listapromo_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>


</div>
