$("#myclientadder_<%= @relclili.CodCliente %>").modal('hide');





<% if @proceso == "ListaDescuento" %>
  $("#container_relclilis").prepend('<%= j render(:partial => '/relclilis/Lista_Descuento/relclili', locals: { relclili: @relclili}) %>'); //Prepend before append
<% elsif @proceso == "ListaPrecio" %>
  $("#container_relclilis").prepend('<%= j render(:partial => '/relclilis/Lista_Precio/relclili', locals: { relclili: @relclili}) %>'); //Prepend before append
<% elsif @proceso == "ListaPromo" %>
  $("#container_relclilis").prepend('<%= j render(:partial => '/relclilis/Lista_Promo/relclili', locals: { relclili: @relclili}) %>'); //Prepend before append
<% end %>

$("#relclili_<%= @relclili.id %>").hide().fadeIn(500);
$("#cliente_<%= @relclili.CodCliente %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();

});


$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");



setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
