$("#relclili_<%= @relclili.id %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
});

$("#container_clientes").prepend('<%= j render(:partial => 'clientes_ld_out', :locals => { :c => @cliente }) %>'); //Prepend before append



$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");



setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
