<h1>Administrando clientes a la Lista de Precios</h1><br>
<style>
.container {
}
</style>
<div class="container">

  <br>
  <br>
  <div class="well center-block">
    <div id="agregar_masivo"><%= render 'relclilis/Lista_Precio/agregar_masivo' %></div>
    <h2 class="text-center"> Lista de Clientes </h2>
    <div id="clientesoutprecio"><%= render 'clientesoutprecio' %></div>
  </div>


  <br>
  <br>
  <div class="well center-block">
    <div id="eliminar_masivo"><%= render 'relclilis/Lista_Precio/eliminar_masivo' %></div>
    <h2 class="text-center"> Clientes Añadidos a la Lista</h2>
    <br>
    <br>
    <div id="clientesaddedPrecio"><%= render 'clientesaddedPrecio' %></div>

  </div>

</div>
