<!--<p id="notice"><%= notice %></p>-->
<h1>Administracion de clientes a la Lista de Descuentos</h1><br>
<style>
.container {
}

</style>
<div class="container">
  <!--<div class="row">
    <div class="text-center">
      <!- Button trigger modal ->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewrelclili">
        Nueva Lista de Descuento
      </button>
    </div>
  </div>-->

  <br>
  <br>
  <div class="well center-block">
    <h2 class="text-center"> Lista de Clientes </h2>

    <div id="clientesout"><%= render 'clientesout' %></div>

  </div>

    <br>
    <br>
    <div class="well center-block">
      <h2 class="text-center"> Clientes Añadidos a la Lista</h2>
      <br>
      <br>
        <div id="clientesadded"><%= render 'clientesadded' %></div>

    </div>
</div>
