$('#clientesoutprecio').html('<%= escape_javascript(render("clientesoutprecio")) %>');
$('#clientesaddedPrecio').html('<%= escape_javascript(render("clientesaddedPrecio")) %>');
$("#boton_seleccionar_todos").html("<%= escape_javascript(render("/relclilis/Lista_Precio/boton_seleccionar_todos"))%>")
$("#boton_seleccionar_todos_eliminar").html("<%= escape_javascript(render("/relclilis/Lista_Precio/boton_seleccionar_todos_eliminar"))%>")
