$("#agregar_masivo").html("<%= escape_javascript(render("/relclilis/Lista_Precio/agregar_masivo"))%>")
$("#boton_seleccionar_todos").html("<%= escape_javascript(render("/relclilis/Lista_Precio/boton_seleccionar_todos"))%>")
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
