$("#clientesoutprecio").html("<%= escape_javascript(render("clientesoutprecio"))%>")
$("#clientesaddedPrecio").html("<%= escape_javascript(render("clientesaddedPrecio"))%>")
$("#boton_seleccionar_todos").html("<%= escape_javascript(render("/relclilis/Lista_Precio/boton_seleccionar_todos"))%>")
$("#boton_seleccionar_todos_eliminar").html("<%= escape_javascript(render("/relclilis/Lista_Precio/boton_seleccionar_todos_eliminar"))%>")
$("#agregar_masivo").html("<%= escape_javascript(render("/relclilis/Lista_Precio/agregar_masivo"))%>")
$("#eliminar_masivo").html("<%= escape_javascript(render("/relclilis/Lista_Precio/eliminar_masivo"))%>")

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
