$("#relclili_<%= @container.id %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
});

<% if @proceso == "ListaDescuento" %>
  $("#container_clientes").prepend('<%= j render(:partial => '/relclilis/Lista_Descuento/cliente', locals: { cliente: @cliente }) %>'); //Prepend before append
<% elsif @proceso == "ListaPrecio" %>
  $("#container_clientes").prepend('<%= j render(:partial => '/relclilis/Lista_Precio/cliente', locals: { cliente: @cliente}) %>'); //Prepend before append
<% elsif @proceso == "ListaPromo" %>
  $("#container_clientes").prepend('<%= j render(:partial => '/relclilis/Lista_Promo/cliente', locals: { cliente: @cliente}) %>'); //Prepend before append
<% end %>



$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");



setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
