<% if @puede_crear == true%>
  $("#mynewencuesta").modal('hide');
  $(".encuesta_clave").val('');
  $(".encuesta_desc_enc").val('');


  $("#container_encuestas").prepend('<%= j render @encuesta %>'); //Prepend before append
  $("#encuesta_<%= @encuesta.id %>").hide().fadeIn(1000);
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
