<div>
  <div class="row">
    <script type="text/javascript">
      $(document).on("ready page:load", function() {
        $('.datos tr:first').addClass('selected').siblings().removeClass('selected');
      });
    </script>
    <style>
    .Imagen_controles_tabla_gps{
      width: 40px;
    }
    .diaO{
      width: 30%;
    }
    .previous{
      width: 32%;
    }
    .next{
      width: 32%;
      float: right;
    }
/*Tabla*/
      td {
        border: 1px #DDD solid;
        padding: 5px;
        cursor: pointer;
      }

      .selected {
        background-color: rgba(21, 97, 171, 0.9) !important;
        color: #FFF;
      }
/*tabla responsiva con un scrollbar vertical*/
      .table-fixed thead {
        width: 97%;
      }

      .table-fixed tbody {
        height: 450px;
        overflow-y: auto;
        width: 100%;
      }

      .table-fixed thead,
      .table-fixed tbody,
      .table-fixed tr,
      .table-fixed td,
      .table-fixed th {
        display: block;
        }
        tr {
        overflow:hidden; /*se debe colocar el overflow hidden debido a que es un elemento flotante no mostrara el background color porque el tr no tiene altura, con este elemento se podra ver cuando se seleccione*/
      }

      .table-fixed tbody td,
      .table-fixed thead>tr>th {
        float: left;
        border-bottom-width: 0;
      }
    </style>



    <div style='width: 700px;' class="mapix col-md-5">
    <!--  <div id="map" style='width: 800px; height: 400px;'></div>-->
    <div id="map" style='width: 700px; height: 600px;'></div>
    </div>

    <% if @ventas != nil%>
      <div id="tabla" class="col-md-4">
        <div>
          <div class="row">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>
                     Rutas transitadas
                  </h4>
                </div>
                <table id="table" class="table table-fixed">
                  <thead>
                    <tr>
                      <th class="col-xs-2">#Visita</th><th class="col-xs-3">Código</th><th class="col-xs-4">Cliente</th><th class="col-xs-3">Inicio</th><th style="display:none;">Latitud</th><th style="display:none;">Longitud</th>
                    </tr>
                  </thead>
                  <tbody class="datos">
                    <% @ventas.each do |venta| %>
                    <tr id="<%if venta.Codigo == "A18253" %>inicio_del_dia<%end%>">

                    <td class="col-xs-2"><%=@secuencia%><%@secuencia += 1%></td>
                    <td class="col-xs-3 "><%=venta.Codigo%></td>
                    <td class="col-xs-4"><%=venta.try(:c_nombre)%></td>
                    <td class="col-xs-3"><%=venta.Fecha.try(:strftime,"%d-%m-%Y %H:%M %P")%></td><!--%P es para am y pm en miniscula, en mayuscula seria %p-->
                    <td class="latitud" style="display:none;"><%=venta.try(:latitude)%></td>
                    <td class="longitud" style="display:none;"><%=venta.try(:longitude)%></td>
                  </tr>
    <%end%>
                  </tbody>
                </table>

                <div class="controles_GPS" style="background-color: rgba(222, 216, 216, 0.5);">
                  <button type="button" class="btn btn-secondary diaO" name="diaO" value="diaO"><%= image_tag 'inicio.png', alt: "inicio", class:"Imagen_controles_tabla_gps" %>Inicio</button>
                  <button type="button" class="btn btn-secondary previous" name="diaO" value="anterior"><%= image_tag 'previous.png', alt: "anterior", class:"Imagen_controles_tabla_gps"%>Anterior</button>
                  <button type="button" class="btn btn-secondary next" name="previous" value="siguiente"><%= image_tag 'next.png', alt: "siguiente", class:"Imagen_controles_tabla_gps" %>Siguiente</button>
                </div>

            </div>
          </div>
        </div>
      </div>
    <% end %>






    <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        handler.map.centerOn({ lat: 23.1940258, lng: -98.738694})
        handler.getMap().setZoom(4);
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        markers = handler.addPolyline(<%=raw @hash.to_json %>, {
          strokeColor: '#00AA00',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();


      });



    </script>

    <script type="text/javascript">
    /*
       function DibujarMapa(variable) {

          var latitud=$(variable).find('.latitud').html();
          var longitud=$(variable).find('.longitud').html();
          var latitud3 = parseFloat(latitud);
          var longitud3 = parseFloat(longitud);

        // var myLatlng = {lat: latitud3, lng: longitud3};

            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            handler.map.centerOn({ lat: latitud3, lng: longitud3})
            handler.getMap().setZoom(40);

                markers = handler.addMarkers(<%=raw @hash.to_json %>);
                markers = handler.addPolyline(<%=raw @hash.to_json %>, {
                  strokeColor: '#00AA00',
                  strokeOpacity: 1.0,
                  strokeWeight: 2
                });


            });
      }
    */

    //funcion para dibujar el mapa, recibe una variable que es el objeto el cual es enviado como parametro
    //esta funcion puedo llamarla en otras funciones, haciendo uso de DRY
    function DibujarMapa(variable) {

       var latitud=$(variable).find('.latitud').html();
       var longitud=$(variable).find('.longitud').html();
       var latitud3 = parseFloat(latitud);
       var longitud3 = parseFloat(longitud);

       // var myLatlng = {lat: latitud3, lng: longitud3};

       handler.map.centerOn({ lat: latitud3, lng: longitud3})
       handler.getMap().setZoom(40);



    }


    $("#table tr").click(function(){
       $(this).addClass('selected').siblings().removeClass('selected');


        DibujarMapa(this); //this esta haciendo referencia al objeto  de la funcion "#table tr" parando dicho objeto a la funcion DibujarMapa que lo recibe como variable

    });
//Este solo se uso para mostrar que se esta tomando el valor de la latitud
/*    $('.ok').on('click', function(e){
      var value=$(this).find("#table tr.selected .latitud").html();
        alert(value);
        DibujarMapa(this);

    });
*/
    $('.next').on('click', function(e){
       $(".selected").next('tr').addClass('selected').siblings().removeClass('selected');

       DibujarMapa(".selected");

    });

    $('.previous').on('click', function(e){
        $(".selected").prev('tr').addClass('selected').siblings().removeClass('selected');

        DibujarMapa(".selected");

    });

    $('.diaO').on('click', function(e){
      $('#inicio_del_dia').addClass('selected').siblings().removeClass('selected');

          DibujarMapa(".selected");

    });

    </script>
  </div>
</div>


<style media="screen">
/* -- import Roboto Font ---------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

/* -- You can use this tables in Bootstrap (v3) projects. -- */
// @import "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css";



body {
font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 2rem;
line-height: 4rem;
letter-spacing: 0.01rem;
color: #212121;
background-color: #f5f5f5;

// Font Rendering
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
}

#demo {
margin: 20px auto;
max-width: 960px;
}


</style>
