<script src="//maps.google.com/maps/api/js?key=AIzaSyA1zIVCXI9xlM8b9PbEUSRnO-QQ9Vec_JA"></script><!--de la empresa-->
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<h2>Reporte GPS</h2>
<div class="well center-block">
  <h2>Ruta y día operativo</h2>

    <%= form_tag("/busqueda_gps_venta", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
      <div class="form-group">
        <div class="col-md-6">

          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          <%= render 'partials/buscadorReportes/buscador_reportes6' %>
          <%= render 'partials/buscadorReportes/buscador_reportes5' %>
        </div>
      </div>
    <%end%>

    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
    <%= render 'partials/buscadorReportes/ventana_modal_dias' %>

</div>
<div id="gps_ventas"><%= render 'gps_ventas' %></div>
