<%= search_form_for @search_reldayc_out, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_reldayc_out, :cliente_IdCli, "Clave","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_reldayc_out, :cliente_Nombre, "Nombre","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_reldayc_out, :cliente_NombreCorto, "Razón Social","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_reldayc_out, :cliente_Direccion, "Dirección","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_reldayc_out, :cliente_Colonia, "Colonia","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_reldayc_out, :cliente_Horario, "Horario","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :cliente_IdCli_cont, class:"campo" %></th>
          <th><%= f.text_field :cliente_Nombre_cont, class:"campo" %></th>
          <th><%= f.text_field :cliente_NombreCorto_cont, class:"campo" %></th>
          <th><%= f.text_field :cliente_Direccion_cont, class:"campo" %></th>
          <th><%= f.text_field :cliente_Colonia_cont, class:"campo" %></th>
          <th><%= f.text_field :cliente_Horario_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
        </tr>
        <input id="search" type="hidden" value="<%=params[:search] %>" name="search"/><%# se debe colocar debido a que a la hora de hacer la busqueda de los registros dentro de la tabla, hace la consulta y no toma los ids porque se pierden%>
        <input id="Dia_de_semana" type="hidden" value="<%=params[:Dia_de_semana] %>" name="Dia_de_semana"/>
        <input id="vendedor" type="hidden" value="<%=params[:vendedor] %>" name="vendedor"/>

      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
<% end %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search_reldayc_out, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
      <thead>
        <tr>
          <th></th>
          <th class="col_left"><%= sort_link @search_reldayc_out, :cliente_IdCli, "Clave","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_reldayc_out, :cliente_Nombre, "Nombre","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_reldayc_out, :cliente_NombreCorto, "Razón Social","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_reldayc_out, :cliente_Direccion, "Dirección","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_reldayc_out, :cliente_Colonia, "Colonia","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_reldayc_out, :ruta_Ruta, "Ruta","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_reldayc_out, :cliente_Horario, "Horario","reldayc", {}, { :remote => true, :method => :get } %></th>
        </tr>
     </thead>
    <% end %>
    <tbody id="container_clientes">
        <%= render partial: "/reldaycli/reldayc_out/reldayc", collection: @reldaycliglobal %>
    </tbody>
  </table>
  <%= paginate @reldaycliglobal, :param_name => 'reldayc_out', params: {controller: 'reldaycli', action: 'index'}, :remote => true   %>
</div>
