<tr id="global_<%= reldayc.id %>">
    <td>
      <%=check_box_tag("item_out_#{reldayc.Id}", value = "1", checked = false, options = {class: "check_agregar"}) %>

      <script type="text/javascript">
        //para el checkbox cuando se cambie de página verifica si están en check los elementos
        if (document.getElementById("global_<%=reldayc.Id%>").value != null) {
            document.getElementById("item_out_<%=reldayc.Id%>").checked = true;
        } else {
            document.getElementById("item_out_<%=reldayc.Id%>").checked = false;
        }
      </script>

      <script type="text/javascript">
        $("#item_out_<%=reldayc.Id%>").change(function() {
          var global_<%=reldayc.Id%> = "<%=reldayc.Id%>";

          if (document.getElementById('item_out_<%=reldayc.Id%>').checked) {
            //si el elemento le dan check el crea el campo con el id del mismo para ser enviado
              document.getElementById('campos_para_agregar_masivamente').innerHTML+='<input type="hidden" id="global_<%=reldayc.Id%>" value="'+global_<%=reldayc.Id%>+'" name="lista_clientes_out[global_<%=reldayc.Id%>]" class="items_para_agregar" />';
          } else {
            //si le quitan el check, borra el elemento a enviar
             document.getElementById("campos_para_agregar_masivamente").removeChild(document.getElementById("global_<%=reldayc.Id%>"));
          }

        });
      </script>
    </td>
    <td class="col_left"><%= reldayc.cliente.IdCli %></td>
    <td class="col_left"><%= reldayc.cliente.Nombre %></td>
    <td class="col_left"><%= reldayc.cliente.NombreCorto %></td>
    <td class="col_left"><%= reldayc.cliente.Direccion %></td>
    <td class="col_left"><%= reldayc.cliente.Colonia %></td>
    <td class="col_left"><%= reldayc.ruta.try(:Ruta) %></td>
    <td class="col_left"><%= reldayc.cliente.Horario %></td>


</tr>
