<%if params[:q].present?%>
	<%= link_to "Seleccionar todos", rcl_clientes_agregar_seleccionar_todos_masivo_path(:id => params[:id], :q => {:IdCli_cont => params[:q][:IdCli_cont], :Nombre_cont => params[:q][:Nombre_cont], :Telefono_cont => params[:q][:Telefono_cont], :Colonia_cont => params[:q][:Colonia_cont]}, :commit=>"agregar_masivo"), remote: true, class: "btn btn-primary btn-xs", data: { disable_with: 'Seleccionando...' }, style:"float: right;" %>
<%else%>
	<%= link_to "Seleccionar todos", rcl_clientes_agregar_seleccionar_todos_masivo_path(:id => params[:id], :IdCli_cont => params[:IdCli_cont], :Nombre_cont => params[:Nombre_cont], :Telefono_cont => params[:Telefono_cont], :Colonia_cont => params[:Colonia_cont], :commit=>"agregar_masivo"), remote: true, class: "btn btn-primary btn-xs", data: { disable_with: 'Seleccionando...' }, style:"float: right;" %>
<%end%>
