<tr id="relclili_<%= relclili.id %>">
  <td>
    <%= check_box_tag("item_in_#{relclili.Id}", value = "1", checked = false, options = {class: "check_eliminar"}) %>

    <script type="text/javascript">
        if ($('#relclili_in_<%= relclili.id %>').val() != null) {
          document.getElementById("item_in_<%=relclili.Id%>").checked = true;
        } else {
            document.getElementById("item_in_<%=relclili.Id%>").checked = false;
        }
    </script>

  </td>

  <script type="text/javascript">
    $("#item_in_<%=relclili.Id%>").change(function() {
      var relclili_<%=relclili.Id%> = "<%=relclili.Id%>";

      if (document.getElementById('item_in_<%=relclili.Id%>').checked) {
        //si el elemento le dan check el crea el campo con el id del mismo para ser enviado
          document.getElementById('campos_para_eliminar_masivamente').innerHTML+='<input type="hidden" id="relclili_in_<%=relclili.Id%>" value="'+relclili_<%=relclili.Id%>+'" name="lista_clientes_in[relclili_<%=relclili.Id%>]" class="items_para_eliminar" />';
      } else {
        //si le quitan el check, borra el elemento a enviar
         document.getElementById("campos_para_eliminar_masivamente").removeChild(document.getElementById("relclili_in_<%=relclili.Id%>"));
      }

    });
  </script>
  <td class="col_left"><%= relclili.try(:CodCliente)%></td>
  <td class="col_left"><%= relclili.cliente.try(:Nombre)%></td>
  <td class="col_left"><%= relclili.cliente.try(:Telefono)%></td>
  <td class="col_left"><%= relclili.cliente.try(:Colonia)%></td>


</tr>
