<%= form_for(@producto, remote: true, html: {class: "form-horizontal producto-validado"}) do |f| %> <!--ajax remote: true-->
<%= f.label :Marcas, "Marca:", class: "control-label col-md-2"  %>
<div class="col-md-3">
  <%= f.select :Marcas, options_for_select(@catmarcas.map{|e|[e.Descripcion, e.Clave]}), class: "dropdown"  %>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mynewmarca">
    ...
  </button>
</div>
