<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Id</Data></Cell>
        <Cell><Data ss:Type="String">Clave</Data></Cell>
        <Cell><Data ss:Type="String">Marca</Data></Cell>
        <Cell><Data ss:Type="String">Modelo(Tipo)</Data></Cell>
        <Cell><Data ss:Type="String">Modelo(Año)</Data></Cell>
        <Cell><Data ss:Type="String">Placa</Data></Cell>
        <Cell><Data ss:Type="String">Descripción</Data></Cell>
        <Cell><Data ss:Type="String">Kilometraje</Data></Cell>
        <Cell><Data ss:Type="String">N° Economico</Data></Cell>
        <Cell><Data ss:Type="String">Aseguradora</Data></Cell>
        <Cell><Data ss:Type="String">Poliza</Data></Cell>
        <Cell><Data ss:Type="String">Fecha Vence Seguro</Data></Cell>
        <Cell><Data ss:Type="String">Teléfono Seguro</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de Verificación</Data></Cell>
        <Cell><Data ss:Type="String">KMs Ult Servicio</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>


      </Row>

      <% @vehiculos.each do |vehiculo| %>
        <Row>
          <Cell><Data ss:Type="String"><%= vehiculo.IdVehiculos%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.Clave%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.catmarca.try(:Descripcion)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.Modelo%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.Modelo_year%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.Placas%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.Descripcion%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.Kilometraje%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.NumeroEco%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.Aseguradora%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.Poliza%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.FechaVencSeguro.try(:strftime,"%d-%m-%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.TelSeguro%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.MesVerifica.try(:strftime,"%d-%m-%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.KilometrajeSem%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vehiculo.Status%></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
