<tr id="relmen_<%= cliente.id %>">
  <td><%= cliente.cliente.id %></td>
  <td><%= cliente.cliente.Nombre %></td>
  <td><%= cliente.cliente.NombreCorto %></td>
  <td><%= cliente.cliente.Telefono %></td>
  <td><%= cliente.cliente.Credito %></td>
  <td><%= cliente.cliente.Horario %></td>
  <td><%= cliente.cliente.Colonia %></td>
  <td>
    <%= link_to 'Quitar', cliente, method: :delete, class: "btn btn-danger btn-xs", remote:true, data: { disable_with: 'borrando' } %>
  </td>


</tr>
