<%= search_form_for @search_cliente_in, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :cliente_IdCli, "Clave","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :cliente_Nombre, "Nombre","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :cliente_NombreCorto, "Razón Social","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :cliente_Telefono, "Teléfono","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :cliente_Credito, "Credito","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :cliente_Horario, "Horario","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :cliente_Colonia, "Colonia","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :cliente_IdCli_cont, class:"campo" %></th>
          <th><%= f.text_field :cliente_Nombre_cont, class:"campo" %></th>
          <th><%= f.text_field :cliente_NombreCorto_cont, class:"campo" %></th>
          <th><%= f.text_field :cliente_Telefono_cont, class:"campo" %></th>
          <th><%= f.text_field :cliente_Credito_cont, class:"campo" %></th>
          <th><%= f.text_field :cliente_Horario_cont, class:"campo" %></th>
          <th><%= f.text_field :cliente_Horario_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
        </tr>
      </thead>

    </table>
  </div>
<% end %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search_cliente_in, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :IdCli, "Clave","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Nombre, "Nombre","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :NombreCorto, "Razón Social","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Telefono, "Teléfono","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Credito, "Credito","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Horario, "Horario","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Colonia, "Colonia","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
     </thead>
    <% end %>
    <tbody id="container_relmens">
        <%= render partial: "/relmens/clientes/clientes_in/cliente", collection: @clientes_in %>
    </tbody>
  </table>
  <%= paginate @clientes_in, :param_name => 'clientes_in'  %>
</div>
