<% if @pregalado != nil%>

  <table id="superior" class="display"><!--el id empresas es de datatables referenciado en empresas.coffe y display class es una clase de datatables-->
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Responsable</th>
        <th>Nombre Comercial</th>
        <th>Cancelada</th>
        <th>SKU</th>
        <th>Producto</th>
        <th>Cajas</th>
        <th>Piezas</th>
        <th>Documento</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="container_pregalad">
      <% @pregalado.each do |pregalad| %>
        <tr id="pregalad_<%= pregalad.id %>">
          <td><%=pregalad.try(:Fecha).try(:strftime,"%d-%m-%Y")%></td>
          <td><%=pregalad.try(:Cliente)%></td>
          <td><%=pregalad.try(:Responsable)%></td>
          <td><%=pregalad.try(:NombreComercial)%></td>
          <td><%=pregalad.try(:Cancelada)%></td>
          <td><%=pregalad.try(:SKU)%></td>
          <td><%=pregalad.try(:Producto)%></td>
          <td><%=pregalad.try(:Cajas)%></td>
          <td><%=pregalad.try(:Pzas)%></td>
          <td><%=pregalad.try(:Docto)%></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
