<h2>Producto promoción</h2>
<div class="well center-block">
  <h2>Ruta y día operativo</h2>

    <%= form_tag("/busqueda_producto_promocion", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
      <div class="form-group">
        <div class="col-md-6">
          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          <%= render 'partials/buscadorReportes/buscador_reportes2' %>
          <%= render 'partials/buscadorReportes/buscador_reportes3' %>
        </div>
        <div class="col-md-6">
          <%= render 'partials/buscadorReportes/buscador_reportes6' %>
          <%= render 'partials/buscadorReportes/buscador_reportes4' %>
          <div class="form-group">
            <%= label_tag :Preventa, "Preventa:", class: "control-label col-md-3" %>
            <div class="col-md-2">
              <%= check_box_tag :Preventa,"P" %>
            </div>
          </div>
          <%= render 'partials/buscadorReportes/buscador_reportes5' %>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
    <%= render 'partials/buscadorReportes/ventana_modal_clientes' %>
    <%= render 'partials/buscadorReportes/ventana_modal_productos' %>
    <%= render 'partials/buscadorReportes/ventana_modal_dias' %>
</div>
<div id="pregalado"><%= render 'pregalado' %></div>
