$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#clientes').html('<%= escape_javascript(render("partials/buscadorReportes/clientes")) %>');
$('#productos').html('<%= escape_javascript(render("partials/buscadorReportes/productos")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$('#paginatorCliente').html("<%= escape_javascript(paginate(@clientes_Selector, :remote => true, :param_name => 'clientes'))%>");
$('#paginatorProducto').html("<%= escape_javascript(paginate(@productos_Selector, :remote => true, :param_name => 'productos'))%>");
$('#dias_op').html('<%= escape_javascript(render("partials/buscadorReportes/dias_op")) %>');
$('#paginatorDiasOp').html("<%= escape_javascript(paginate(@DiasOp_Selector, :remote => true, :param_name => 'DiasOp'))%>");
