<div class="row x_title">
  <div class="col-md-6">
    <h3>Backorders</h3>
  </div>
</div>
<%= search_form_for @search_backorder, :remote=>"true", url: th_stockalmacen_path, :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>

        </thead>
        <tbody>
        </tbody>
      </table>
  </div><% end %>
  <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
           <thead>
            <%= search_form_for @search_backorder, :remote=>"true", url: th_stockalmacen_path, :method => :get do |f| %>
            <tr>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :Cliente, "Cliente","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :Responsable, "Responsable","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :NombreComercial, "NombreComercial","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :ClaveProducto, "Clave","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :Producto, "Producto","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :Pedido, "Pedido","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :Folio_BO, "Folio_BO","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :Pza, "Pza","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :Importe, "IMPORTE","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :IVA, "IVA","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :Total, "Total","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_backorder, :Motivo, "Motivo","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
          </thead><% end %>
            <tbody id="container_backorders">

              <%= render @backorder %><!--carga todos los productos-->

            </tbody>
          </table>
          <div id="paginator_backorder"><%= paginate @backorder, :remote => true, :param_name => 'backorder' %></div> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
</div>
