<%= form_for(@pedidoliberado) do |f| %>
  <% if @pedidoliberado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedidoliberado.errors.count, "error") %> prohibited this pedidoliberado from being saved:</h2>

      <ul>
      <% @pedidoliberado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :PEDIDO %><br>
    <%= f.text_field :PEDIDO %>
  </div>
  <div class="field">
    <%= f.label :RUTA %><br>
    <%= f.text_field :RUTA %>
  </div>
  <div class="field">
    <%= f.label :COD_CLIENTE %><br>
    <%= f.text_field :COD_CLIENTE %>
  </div>
  <div class="field">
    <%= f.label :FOLIO_BO %><br>
    <%= f.text_field :FOLIO_BO %>
  </div>
  <div class="field">
    <%= f.label :FECHA_PEDIDO %><br>
    <%= f.text_field :FECHA_PEDIDO %>
  </div>
  <div class="field">
    <%= f.label :FECHA_LIBERACION %><br>
    <%= f.text_field :FECHA_LIBERACION %>
  </div>
  <div class="field">
    <%= f.label :FECHA_ENTREGA %><br>
    <%= f.text_field :FECHA_ENTREGA %>
  </div>
  <div class="field">
    <%= f.label :TIPO %><br>
    <%= f.text_field :TIPO %>
  </div>
  <div class="field">
    <%= f.label :STATUS %><br>
    <%= f.text_field :STATUS %>
  </div>
  <div class="field">
    <%= f.label :CANCELADA %><br>
    <%= f.text_field :CANCELADA %>
  </div>
  <div class="field">
    <%= f.label :INCIDENCIA %><br>
    <%= f.text_field :INCIDENCIA %>
  </div>
  <div class="field">
    <%= f.label :SUBTOTAL %><br>
    <%= f.text_field :SUBTOTAL %>
  </div>
  <div class="field">
    <%= f.label :IVA %><br>
    <%= f.text_field :IVA %>
  </div>
  <div class="field">
    <%= f.label :IEPS %><br>
    <%= f.text_field :IEPS %>
  </div>
  <div class="field">
    <%= f.label :TOTAL %><br>
    <%= f.text_field :TOTAL %>
  </div>
  <div class="field">
    <%= f.label :KG %><br>
    <%= f.text_field :KG %>
  </div>
  <div class="field">
    <%= f.label :IDVENDEDOR %><br>
    <%= f.text_field :IDVENDEDOR %>
  </div>
  <div class="field">
    <%= f.label :ID_AYUDANTE1 %><br>
    <%= f.text_field :ID_AYUDANTE1 %>
  </div>
  <div class="field">
    <%= f.label :ID_AYUDANTE2 %><br>
    <%= f.text_field :ID_AYUDANTE2 %>
  </div>
  <div class="field">
    <%= f.label :IDEMPRESA %><br>
    <%= f.text_field :IDEMPRESA %>
  </div>
  <div class="field">
    <%= f.label :RutaEnt %><br>
    <%= f.text_field :RutaEnt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
