<style media="screen">
  .Liberar{
    background-color: #32c52f !important;
  }
  .Transitar{
    background-color: #fcf94d !important;
    color: black;
  }
  .Transitar:hover{
    color: black;
  }
  .Entregar{
    background-color: #f0441f !important;
  }
</style>
<div class="row x_title">
  <div class="col-md-6">
    <h3>Pedidos liberados</h3>
  </div>
</div>
<%= search_form_for @search_liberados, :remote=>"true", url: th_stockalmacen_path, :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>

        </thead>
        <tbody>
        </tbody>
      </table>
  </div><% end %>
  <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
           <thead>
            <%= search_form_for @search_liberados, :remote=>"true", url: th_stockalmacen_path, :method => :get do |f| %>
            <tr>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :Cliente, "Cliente","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :Responsable, "Responsable","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :NombreComercial, "Nombre Comercial","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :ClaveProducto, "Clave","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :Producto, "Producto","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :Pedido, "Pedido","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :Pza_liberadas, "Pza_liberadas","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :Pza, "Pza","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :IMPORTE, "IMPORTE","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :IVA, "IVA","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :TOTAL, "TOTAL","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search_liberados, :STATUS, "STATUS","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
          </thead><% end %>
            <tbody id="container_pedidosliberados">
            <%= render @pedidosliberados %><!--carga todos los productos-->

            </tbody>
          </table>
          <div id="paginator_liberados"><%= paginate @pedidosliberados, :remote => true, :param_name => 'pedidosliberados' %></div> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
</div>
