<tr id="pedidoliberado_<%= pedidoliberado.id %>">
  <td class="component_name_body_col"><%=pedidoliberado.try(:Cliente)%></td>
  <td class="component_name_body_col"><%=pedidoliberado.try(:Responsable)%></td>
  <td class="component_name_body_col"><%=pedidoliberado.try(:NombreComercial)%></td>
  <td class="component_name_body_col"><%=pedidoliberado.try(:ClaveProducto)%></td>
  <td class="component_name_body_col"><%=pedidoliberado.try(:Producto)%></td>
  <td class="component_name_body_col"><%=pedidoliberado.try(:Pedido)%></td>
  <td class="component_name_body_col"><%=pedidoliberado.try(:Pza_liberadas)%></td>
  <td class="component_name_body_col"><%=pedidoliberado.try(:Pza)%></td>
  <td class="component_name_body_col"><%=pedidoliberado.try(:IMPORTE)%></td>
  <td class="component_name_body_col"><%=pedidoliberado.try(:IVA)%></td>
  <td class="component_name_body_col"><%=pedidoliberado.try(:TOTAL)%></td>
  <td class="component_name_body_col">
    <%if pedidoliberado.try(:Status) == 1%>
      Pendiente
    <%elsif pedidoliberado.try(:Status) == 2%>
      Liberado
    <%elsif pedidoliberado.try(:Status) == 3%>
      En Transito
    <%elsif pedidoliberado.try(:Status) == 4%>
      Entregado
    <%end%>
  </td>
  <td class="component_name_body_col">
    <%= form_for(pedidoliberado, :method => :put, remote: true, :url => {:controller =>'pedidosliberados', :action => 'update', :id => pedidoliberado.ID}, html: {class: "form-horizontal "}) do |f| %><!--ajax-->

      <%= f.hidden_field :STATUS, value: "#{pedidoliberado.Status + 1}" %>


      <% if pedidoliberado.Status == 1  %>
        <%= submit_tag "Liberar", class: "btn btn-primary Liberar", data: { disable_with: 'Actualizando' }%>
      <%elsif pedidoliberado.Status == 2  %>
        <%= submit_tag "Transitar", class: "btn btn-primary Transitar", data: { disable_with: 'Actualizando' }%>
      <%elsif pedidoliberado.Status == 3  %>
        <%= submit_tag "Entregar", class: "btn btn-primary Entregar", data: { disable_with: 'Actualizando' }%>
      <%end%>

    <% end %>

    <%= form_for(pedidoliberado, :method => :put, remote: true, :url => {:controller =>'pedidosliberados', :action => 'update', :id => pedidoliberado.ID}, html: {class: "form-horizontal "}) do |f| %><!--ajax-->
      <%= f.hidden_field :CANCELADA, value: "1" %>
      <%= submit_tag "Cancelar", class: "btn btn-warning", data: { disable_with: 'Actualizando' }%>
    <% end %>
  </td>
</tr>
