<!--<p id="notice"><%= notice %></p>-->

<div>
  <h1>Liberar pedidos</h1>

  <br>
  <br>

  <div class="well center-block">
    <h2>Ruta y día operativo</h2>

      <%= form_tag("/busqueda_stored", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
      <div class="form-group">
        <div class="col-md-6">
          <%= render 'partials/buscadorReportes/buscador_reportes' %>
          <%= render 'partials/buscadorReportes/buscador_reportes2' %>

          <div class="form-group">
            <%= label_tag :fecha_entrega, "Fecha entrega:", class: "control-label col-md-4" %>
            <div class="col-md-4">
              <%= text_field_tag :fecha_entrega, "", id:"", class:"" %><!--el text_field_tag se le debe colocar un "" debido a que necesita un campo vacio, de lo contrario imprime la clase en el campo-->
            </div>
          </div>
        </div>
      </div>

      <%= render 'partials/buscadorReportes/buscador_reportes5' %>

      <%end%>

      <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
      <%= render 'partials/buscadorReportes/ventana_modal_clientes' %>

  </div>

</table>
<div id="liberar_pedidos"><%= render 'liberar_pedidos' %></div>

<div id="backorder"><%= render 'backorder' %></div>
