<p id="notice"><%= notice %></p>

<p>
  <strong>Pedido:</strong>
  <%= @pedidoliberado.PEDIDO %>
</p>

<p>
  <strong>Ruta:</strong>
  <%= @pedidoliberado.RUTA %>
</p>

<p>
  <strong>Cod cliente:</strong>
  <%= @pedidoliberado.COD_CLIENTE %>
</p>

<p>
  <strong>Folio bo:</strong>
  <%= @pedidoliberado.FOLIO_BO %>
</p>

<p>
  <strong>Fecha pedido:</strong>
  <%= @pedidoliberado.FECHA_PEDIDO %>
</p>

<p>
  <strong>Fecha liberacion:</strong>
  <%= @pedidoliberado.FECHA_LIBERACION %>
</p>

<p>
  <strong>Fecha entrega:</strong>
  <%= @pedidoliberado.FECHA_ENTREGA %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @pedidoliberado.TIPO %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pedidoliberado.STATUS %>
</p>

<p>
  <strong>Cancelada:</strong>
  <%= @pedidoliberado.CANCELADA %>
</p>

<p>
  <strong>Incidencia:</strong>
  <%= @pedidoliberado.INCIDENCIA %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @pedidoliberado.SUBTOTAL %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @pedidoliberado.IVA %>
</p>

<p>
  <strong>Ieps:</strong>
  <%= @pedidoliberado.IEPS %>
</p>

<p>
  <strong>Total:</strong>
  <%= @pedidoliberado.TOTAL %>
</p>

<p>
  <strong>Kg:</strong>
  <%= @pedidoliberado.KG %>
</p>

<p>
  <strong>Idvendedor:</strong>
  <%= @pedidoliberado.IDVENDEDOR %>
</p>

<p>
  <strong>Id ayudante1:</strong>
  <%= @pedidoliberado.ID_AYUDANTE1 %>
</p>

<p>
  <strong>Id ayudante2:</strong>
  <%= @pedidoliberado.ID_AYUDANTE2 %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @pedidoliberado.IDEMPRESA %>
</p>

<p>
  <strong>Rutaent:</strong>
  <%= @pedidoliberado.RutaEnt %>
</p>

<%= link_to 'Edit', edit_pedidoliberado_path(@pedidoliberado) %> |
<%= link_to 'Back', pedidosliberados_path %>
