<% if @pedidoliberado.CANCELADA == TRUE %>
$("#pedidoliberado_<%= @pedidoliberado.id %>").fadeOut(500, function(){
  $(this).remove();
  $("#container_backorders").prepend('<%= j render @backord %>');

});
<%elsif @pedidoliberado.STATUS > 1 %>
  $("#pedidoliberado_<%= @pedidoliberado.id %>").fadeOut(500, function(){
    $(this).remove();
    $("#container_pedidosliberados").prepend('<%= j render @pedidoliberado_ESTADOS %>');

  });

<% end %>


$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
