  <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-archive"></i></div>
      <div id="total_clientes">
      	<div class="count"><%=@total_cajas.to_i%></div>
      </div>
      <h3>Total Cajas</h3>
    </div>
  </div>

    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-puzzle-piece"></i></div>
      <div id="total_clientes">
      	<div class="count"><%=@total_piezas.to_i%></div>
      </div>
      <h3>Total Piezas</h3>
    </div>
  </div>
