<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="producto">
     <Interior ss:Color="#6FC9FF" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="producto"><Data ss:Type="String">Ruta</Data></Cell>
        <Cell ss:StyleID="producto"><Data ss:Type="String">Fecha</Data></Cell>
        <Cell ss:StyleID="producto"><Data ss:Type="String">DiaO</Data></Cell>
        <Cell ss:StyleID="producto"><Data ss:Type="String">Clave</Data></Cell>
        <Cell ss:StyleID="producto"><Data ss:Type="String">Descripción</Data></Cell>
        <Cell ss:StyleID="producto"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="producto"><Data ss:Type="String">Piezas</Data></Cell>
      </Row>

      <% @productos_export.each do |producto| %>
        <Row>
          <Cell><Data ss:Type="String"><%= producto.try(:Ruta) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:Fecha) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:DiaO) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:Clave) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:Descripcion) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:Cajas).to_i %></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:Piezas).to_i %></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
