$('#inv_dia_siguiente').html('<%= escape_javascript(render("/inventario/inventario_dia_siguiente/inv_dia_siguiente")) %>');
$('#total_cajas_piezas').html('<%= escape_javascript(render("/inventario/total_cajas_piezas")) %>');
$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#dias_op').html('<%= escape_javascript(render("partials/buscadorReportes/dias_op")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$('#paginatorDiasOp').html("<%= escape_javascript(paginate(@DiasOp_Selector, :remote => true, :param_name => 'DiasOp'))%>");
