<style media="screen">
  .table{
    margin-bottom: 0px;
  }
</style>
<h2>Inventario Inicial</h2>
<div class="well center-block">
  <h2>Ruta y día operativo</h2>

    <%= form_tag("/inventario/inventario_inicial", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
      <div class="form-group">
        <div class="col-md-6">
          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          <%= render 'partials/buscadorReportes/buscador_reportes6' %>
        </div>
        <div class="col-md-6">
          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel tile overflow_hidden">
                  <div class="x_title">
                    <h2>Productos</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div id="Productos">
                    <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                      <div id="total_cajas"><%= render 'partials/total_cajas' %></div>
                    </div>
                    <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                      <div id="total_piezas"><%= render 'partials/total_piezas' %></div>
                    </div>
                  </div>
                </div>
              </div>
            <% if current_usuario.empresamadre.NombreComercial != "La Central Aqui"%>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel tile overflow_hidden">
                  <div class="x_title">
                    <h2>Envases</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div id="Envases">
                    <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                      <div id="total_cajas_envase"><%= render 'partials/total_cajas_envase' %></div>
                    </div>
                    <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                      <div id="total_piezas_envase"><%= render 'partials/total_piezas_envase' %></div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-md-2">
          <%= submit_tag "Buscar", id: 'the_search', class: "btn btn-primary btn-lg btn-block", data: { disable_with: 'Buscando' } %>
        </div>

      </div>
    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
    <%= render 'partials/buscadorReportes/ventana_modal_dias' %>
</div>
<div id="inv_inicial"><%= render 'inventario/inventario_inicial/inv_inicial' %></div>
