$('#inv_total').html('<%= escape_javascript(render("/inventario/inventario_total/inv_total")) %>');
$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#dias_op').html('<%= escape_javascript(render("partials/buscadorReportes/dias_op")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$('#paginatorDiasOp').html("<%= escape_javascript(paginate(@DiasOp_Selector, :remote => true, :param_name => 'DiasOp'))%>");
$('#total_cajas').html('<%= escape_javascript(render("/partials/total_cajas")) %>');
$('#total_piezas').html('<%= escape_javascript(render("/partials/total_piezas")) %>');
$('#total_cajas_envase').html('<%= escape_javascript(render("/partials/total_cajas_envase")) %>');
$('#total_piezas_envase').html('<%= escape_javascript(render("/partials/total_piezas_envase")) %>');
