<style media="screen">
  .table{
    margin-bottom: 0px;
  }
</style>
<h2>Pedido día siguiente</h2>
<div class="well center-block">
  <h2>Ruta y día operativo</h2>

    <%= form_tag("/inventario/inventario_dia_siguiente", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
      <div class="form-group">
        <div class="col-md-6">
          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          <%= render 'partials/buscadorReportes/buscador_reportes6' %>
          <%= render 'partials/buscadorReportes/buscador_reportes5' %>
        </div>
        <div class="col-md-6">
          <div id="total_cajas_piezas"><%= render 'inventario/total_cajas_piezas' %></div>
        </div>
      </div>
    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
    <%= render 'partials/buscadorReportes/ventana_modal_dias' %>
</div>


<div id="inv_dia_siguiente"><%= render 'inventario/inventario_dia_siguiente/inv_dia_siguiente' %></div>
