<tr id="list_<%= list.id %>">
  <td class="col_left"><%= list.try(:id) %>
    <!--Modal - update list-->
    <%= form_for(list, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{list.id}"}) do |f| %><!--ajax-->
      <div nohidden class="modal fade si" id="myupdatelist_<%= list.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Editar Lista de precios</h4>
            </div>

            <div class="modal-body">

              <div class="form-group">
                <%= f.label :Lista, "Nombre:", class: "control-label col-md-3" %>
                <div class="col-md-7">
                  <%= f.text_field :Lista, class: "form-control",autofocus: true, minlength: "4", required: "true" %>
                </div>
              </div>


              <div class="form-group">
                <h3 class="col-md-5">Tipo de Lista:</h3>
              </div>

              <div class="form-group">
                <%= f.radio_button(:Tipo, TRUE, class:"col-xs-2 col-sm-1") %>
                <%= f.label(:Tipo, "Lista de Precios Normal", class:"col-md-3 ") %>
              </div>

              <div class="form-group">
                <%= f.radio_button(:Tipo, FALSE, class:"col-xs-2 col-sm-1") %>
                <%= f.label(:Tipo, "Lista de Precios Por Rango de Precios", class:"col-md-3") %>
              </div>

              <div class="well center-block">

                <div class="form-group">
                  <h3 class="col-md-5">Rango de Fechas:</h3>
                </div>

                <div class="form-group">
                  <%= f.label :FechaIni,"Fecha de inicio:", class: "control-label col-md-3" %>
                  <div class="col-md-3">
                    <%= f.text_field :FechaIni, class: "form-control datepicker", minlength: "10", required: "true", value: list.FechaIni.try(:strftime,"%d/%m/%Y") %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :FechaFin,"Fecha de fin:", class: "control-label col-md-3" %>
                  <div class="col-md-3">
                    <%= f.text_field :FechaFin, class: "form-control datepicker",minlength: "10", required: "true", value: list.FechaFin.try(:strftime,"%d/%m/%Y") %>
                  </div>
                </div>
              </div>

            </div>

            <div class="modal-footer">
              <button type="button" id="myupdatebutton_<%= list.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
            </div>
          </div>
        </div>
      </div>
    <%end%>

    <script>
      $(".formulario-validado-update<%=list.id%>").validate();

    </script>
  </td>
  <td class="col_left"><%= list.try(:Lista) %></td>
  <td class="col_left">
    <%if list.Tipo == TRUE %>
      Precio normal
    <% elsif list.Tipo == FALSE %>
      Rango de Precios
    <%end%>
  </td>

  <td>
    <div class="btn-group"><a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
     <%= t('basic.Acción') %></a>
      <ul class="dropdown-menu">
        <li>
            <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatelist_<%= list.id %>">
              Editar
            </button>
            <!--Destroy-->
              <%= link_to 'Eliminar', list, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
            <%= link_to 'Añadir productos', productos_listap_path(list), class:"btn btn-default btn-xs"  %>
            <%= link_to 'Añadir clientes', cliente_listap_path(list), class:"btn btn-default btn-xs"  %>
        </li>
      </ul>
    </div>
  </td>
</tr>
