<%= search_form_for @search, :remote=>"true", url: listap_path, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="col_left"><%= sort_link @search, :id, "Id","list", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="col_left"><%= sort_link @search, :Lista, "Lista","list", {}, { :remote => true, :method => :get } %>
            </th>
            <th class="action_col"><%= t("basic.Acción") %></th>
          </tr>
          <tr>
            <th><%= f.text_field :id_cont, class:"campo" %></th>
            <th><%= f.text_field :Lista_cont, class:"campo" %></th>
            <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
          </tr>

        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
<% end %>

<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
  <thead>
    <%= search_form_for @search, :remote=>"true", url: listap_path, :method => :get do |f| %>
        <tr>
          <th class="col_left">
            <%= sort_link @search, :id, "Id","list", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :Lista, "Lista","list", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :Tipo,"Tipo","list", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="action_col"><%= t("basic.Acción") %></th>
        </tr>
    <% end %>
  </thead>
  <tbody id="container_listap">
    <%= render partial: "/listap/list", collection: @listap %>


  </tbody>
  </table>
  <%= paginate @listap  %>
</div>
