<!--<p id="notice"><%= notice %></p>-->
<h1>Lista de Precios</h1>
<h3>Total: <%=@cantidad_listap_activos%></h3>
<style>
.container {
}

</style>
<div>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewlist">
        Nueva Lista de Precios
      </button>
    </div>
  </div>

  <br>
  <br>

  <div id="listap"><%= render 'listap' %></div>


<!-- Modal create action -->
<%= form_for(@list, remote: true, html: {class: "form-horizontal formulario-validado-create"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewlist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar Lista de precios</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <%= f.label :Lista, "Nombre:", class: "control-label col-md-3 " %>
            <div class="col-md-7">
              <%= f.text_field :Lista, class: "form-control list_lista",autofocus: true, minlength: "4", required: "true" %>
            </div>
          </div>


          <div class="form-group">
            <h3 class="col-md-5">Tipo de Lista:</h3>
          </div>

          <div class="form-group">
            <%= f.radio_button(:Tipo, TRUE, class:"col-xs-2 col-sm-1", checked: true) %>
            <%= f.label(:Tipo, "Lista de Precios Normal", class:"col-md-3 ") %>
          </div>

          <div class="form-group">
            <%= f.radio_button(:Tipo, FALSE, class:"col-xs-2 col-sm-1") %>
            <%= f.label(:Tipo, "Lista de Precios Por Rango de Precios", class:"col-md-3") %>
          </div>

          <div class="well center-block">

            <div class="form-group">
              <h3 class="col-md-5">Rango de Fechas:</h3>
            </div>

            <div class="form-group">
              <%= f.label :FechaIni,"Fecha de inicio:", class: "control-label col-md-3" %>
              <div class="col-md-3">
                <%= f.text_field :FechaIni, class: "form-control datepicker list_fechaini", autocomplete: "off", minlength: "10", required: "true" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :FechaFin,"Fecha de fin:", class: "control-label col-md-3" %>
              <div class="col-md-3">
                <%= f.text_field :FechaFin, class: "form-control datepicker list_fechafin", autocomplete: "off", minlength: "10", required: "true" %>
              </div>
          </div>
          <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>

        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewlistclose">Cerrar</button>
          <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>
  <%= link_to "Exportar Excel", listap_path(format:"xlsx"), class:"btn btn-success btn-xs" %>


<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myimportdata">
  Importar Excel
</button>

<div class="modal fade" id="myimportdata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Importar Datos</h4>
      </div>
      <div class="modal-body">
        <p>
          Nota: El formato excel a exportar debe ser .xlsx ó .csv
        </p>
        <%= form_tag import_listap_path, multipart: true do %>
          <%= file_field_tag :file %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="myimportdataclose">Cerrar</button>
        <%= submit_tag "Importar", class: "btn btn-primary", data: { disable_with: 'Importando' } %>
      <% end %>
      </div>
    </div>
  </div>
</div>
