<% if @puede_editar == true %>
  $("#myupdatelist_<%= @list.id %>").modal('hide');

  $("#list_<%= @list.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_listap").prepend('<%= j render @list %>');
    $('.datepicker').datepicker({format: "yyyy-mm-dd" });
  });
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
