<tr id="mvodevolucion_<%= mvodevolucion.id %>">
  <td><%=mvodevolucion.Clave%>

          <!--Modal - update mvodevolucion-->
      <%= form_for(mvodevolucion, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{mvodevolucion.id}"}) do |f| %><!--ajax-->
        <div nohidden class="modal fade si" id="myupdatemvodevolucion_<%= mvodevolucion.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar MvoDev</h4>
              </div>
              <div class="modal-body">

                <div class="field">
                  <%= f.label :MvoDev,"Motivo:" %><br>
                  <%= f.text_field :MvoDev, class: "form-control",autofocus: true, minlength: "7", required: "true"   %>
                </div>

                <div class="form-group">
                  <%= f.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-3"%>
                  <div class="col-md-1">
                    <%= f.check_box :Status %>
                  </div>
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" id="myupdatebutton_<%= mvodevolucion.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </td>
  <td><%=mvodevolucion.MvoDev%></td>
  <script>
    $(".formulario-validado-update<%=mvodevolucion.id%>").validate();

  </script>




    <td>

        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myupdatemvodevolucion_<%= mvodevolucion.id %>">
          Editar
        </button>
        <!--Destroy-->
        <%= link_to 'Eliminar', mvodevolucion, method: :delete, class: "btn btn-danger btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
      </td>
      <td>

      </td>

</tr>
