<% if @puede_crear == true%>
  $("#mynewmvodevolucion").modal('hide');
  $(".mvodevolucion_clave").val('');
  $(".mvodevolucion_mvodev").val('');

  if (<%= @mvodevolucion.Status == true %>){
    $("#container_mvodev").prepend('<%= j render @mvodevolucion %>'); //Prepend before append
    $("#mvodevolucion_<%= @mvodevolucion.id %>").hide().fadeIn(1000);
  }
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
