<!--<p id="notice"><%= notice %></p>-->
<h1>Motivo Devoluciones inactivos</h1>
<h3>Total: <%=@cantidad_mvodev_inactivos%></h3>
<style>
.container {
}

</style>
<div>

  <br>
  <br>



  <table id="mvodev" class="display"><!--el id mvodev es de datatables referenciado en mvodev.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Clave</th>
      <th>Motivo</th>
      <th>Acción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_mvodev">
      <%= render @mvodev %><!--carga todos los mvodev-->
</tbody>


</table>
</div>

  <%= link_to "Exportar Excel", mvodev_path(format:"xls"), class:"btn btn-success btn-xs" %>

<%= link_to 'Volver a Motivos de devolución', mvodev_path, class: "btn btn-primary btn-lg" %>
