<% if @puede_editar == true %>
  $("#myupdatemvodevolucion_<%= @mvodevolucion.id %>").modal('hide');

  $("#mvodevolucion_<%= @mvodevolucion.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_mvodev").prepend('<%= j render @mvodevolucion %>');

  });
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
