<tr id="producto_<%= producto.id %>">
    <td class="col_left"><%= producto.try(:Ruta) %></td>
    <td class="col_left"><%= producto.try(:Fecha) %></td>
    <td class="col_left"><%= producto.try(:DiaO) %></td>
    <td class="col_left"><%= producto.try(:Clave) %></td>
    <td class="col_left"><%= producto.try(:Descripcion) %></td>
    <td class="col_left"><%= producto.try(:Cajas).to_i %></td>
    <td class="col_left"><%= producto.try(:Piezas).to_i %></td>
</tr>
