<tr id="relactivo_<%= relactivo.id %>">
  <td><%= relactivo.activo.id %></td>
  <td><%= relactivo.activo.Descripcion %></td>
  <td><%= relactivo.cliente.Nombre %></td>
  <td><%= relactivo.activo.Serie%></td>
    <td>

        <!--Destroy-->
        <%= link_to 'Quitar', relactivo, method: :delete, class: "btn btn-danger btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'} %>

      </td>

    <td>

    </td>


</tr>
