<!--<p id="notice"><%= notice %></p>-->
<h1>Administración de activos asignados al cliente <%=@cliente.Nombre%></h1><br>
<style>
.container {
}

</style>
<div>
  <!--<div class="row">
    <div class="text-center">
      <!- Button trigger modal ->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewrelclili">
        Nueva Lista de Descuento
      </button>
    </div>
  </div>-->

  <br>
  <br>
  <div class="well center-block">
    <h2 class="text-center"> Lista de Activos </h2>

  <table id="superior" class="display"><!--el id clientes es de datatables referenciado en clientes.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Id</th>
      <th>Descripción</th>
      <th>Modelo</th>
      <th>Serie</th>
      <th>Status</th>
      <th>Total</th>
      <th>Asignado</th>
      <th>Disponible</th>
      <th>Acción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_activos">
      <% @activos.each do |activo| %>
      <tr id="activo_<%= activo.id %>">
          <td><%= activo.id %></td>
          <td><%= activo.try(:Descripcion) %></td>
          <td><%= activo.try(:Modelo) %></td>
          <td><%= activo.try(:Serie) %></td>
          <td><%= activo.try(:Status) %></td>
          <td><%= activo.try(:Cantidad) %></td>
          <td><%= activo.try(:Asignado) %></td>
          <td><%= activo.try(:Cantidad) - activo.try(:Asignado) if activo.Cantidad.present? and activo.Asignado.present? %></td>

          <td>

            <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myaddactivo_<%= activo.id %>">
              Añadir
            </button>




            <!--Modal - update producto-->
        <%= form_for(@relactivo, remote: true, html: {class: "form-horizontal"}) do |f| %> <!--ajax remote: true-->
          <div nohidden class="modal fade si" id="myaddactivo_<%= activo.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Agregar activo</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <%= f.label :Cantidad, "Cantidad:", class: "control-label col-md-3"  %>
                    <div class="col-md-5">
                      <%= f.number_field :Cantidad, class: "form-control", required: "true"  %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :Folio, "Folio:", class: "control-label col-md-3"  %>
                    <div class="col-md-5">
                      <%= f.number_field :Folio, class: "form-control" %>
                    </div>
                  </div>
                  <%= f.hidden_field :FechaAsignacion, value: "#{Time.zone.now}"  %>
                  <%= f.hidden_field :Status, value: "A"  %>
                  <%= f.hidden_field :Cliente, value: params[:id]  %>
                  <%= f.hidden_field :Activo, value: activo.id%>
                  <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>

                </div>
                <div class="modal-footer">
                  <button type="button" id="myaddactivo_<%= activo.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <%= submit_tag "Agregar", class: "btn btn-primary", data: { disable_with: 'Agregando...' }%>
                </div>
              </div>
            </div>
          </div>
        <%end%>


          </td>
          <td>

          </td>

      </tr>
      <%end%>


  </tbody>


  </table>
</div>

    <br>
    <br>
    <div class="well center-block">
    <h2 class="text-center"> Activos Añadidos al cliente</h2>
    <br>
    <br>
  <table id="inferior" class="display"><!--el id relclilis es de datatables referenciado en relclilis.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->


      <th>Id</th>
      <th>Descripción</th>
      <th>Cliente</th>
      <th>Serie</th>
      <th>Acción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_relactivos">
      <%= render @relactivos %><!--carga todos los relmen-->
</tbody>


</table>
<!-- Modal create action -->


</div>
<div class="actions">
  <div class="form-group">
    <div class="col-md-12">
    <%= link_to 'Volver a clientes', clientes_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
</div>
