$("#myaddactivo_<%= @relactivo.Activo %>").modal('hide');
$("#activo_<%= @relactivo.Activo %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
  $("#container_relactivos").prepend('<%= j render @relactivo %>');

  });

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");



setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
