<%= search_form_for @search_productos_out, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :Clave, "Clave","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :Producto, "Producto","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :CodBarras, "Código de barras","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :VBase, "Precio","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :Clave_cont, class:"campo" %></th>
          <th><%= f.text_field :Producto_cont, class:"campo" %></th>
          <th><%= f.text_field :CodBarras_cont, class:"campo" %></th>
          <th><%= f.text_field :VBase_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
        </tr>

      </thead>

    </table>
  </div>
<% end %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search_productos_out, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :Clave, "Clave","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :Producto, "Producto","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :CodBarras, "Código de barras","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :VBase, "Precio","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
     </thead>
    <% end %>
    <tbody id="container_productos">
        <%= render partial: "/relprogrupos/productos_out/producto", collection: @productos %>
    </tbody>
  </table>
  <%= paginate @productos, :param_name => 'productos_out', params: {controller: 'relprogrupos', action: 'productos_grupo'}  %>
</div>
