<tr id="producto_<%= producto.id %>">
    <td><%= producto.Clave %></td>
    <td><%= producto.Producto %></td>
    <td><%= producto.CodBarras %></td>
    <td><%= producto.VBase %></td>
    <td>
      <%= form_for(@relprogrupo, remote: true, html: {class: "form-horizontal"}) do |f| %> <!--ajax remote: true-->
        <%= f.hidden_field :IdGrupo, value: params[:id]  %>
        <%= f.hidden_field :ProductoId, value: producto.id%>
        <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
        <%= submit_tag "Añadir", class: "btn btn-warning", data: { disable_with: 'Agregando' }%>
      <%end%>
    </td>

</tr>
