<div class="tile-stats">
  <div class="icon"><i class="fa fa-archive"></i></div>
  <div id="total_clientes">
  	<div class="count"><%=@total_cajas_envase.to_i%></div>
  </div>
  <h3>Total Cajas</h3>
</div>
