<div class="tile-stats">
  <div class="icon"><i class="fa fa-puzzle-piece"></i></div>
  <div id="total_clientes">
  	<div class="count"><%=@total_piezas_envase.to_i%></div>
  </div>
  <h3>Total Piezas</h3>
</div>
