<script type="text/javascript">
  $(document).on("ready page:load", function () {
        $(".chosen-select").chosen();
        TipoPromocion(); //this calls it on load
        if ($("#opciones input[type=radio]").val() == "Por producto" ) {
            $("#grupos").hide();
            $("#articulos").show();
            $('.lista_grupos').attr('disabled', 'disabled');
            $('.lista_articulos').attr('disabled', false);

        }
        else if ($("#opciones input[type=radio]").val() == "Por grupo" ) {
            $("#grupos").show();
            $("#articulos").hide();
            $('.lista_articulos').attr('disabled', 'disabled');
            $('.lista_grupos').attr('disabled', false);

        }



        // cuando la promocion es de tipo "volumen (Unidades)" el producto base debe guardar tanto el volumen como cantidad con el mismo valor
        $(".volumen_base").change(function() {
          $('.cantidad_base').val($('.volumen_base').val());
          return false;
        });


  //  alert($(".tipop").val());
//  alert($(this).find(":selected").data("value"));
//alert(tipop);

  });
</script>


<script>

//Dependiendo de que si se escoge producto o grupo en el radiobuton de producto regalo, entonces escondera el selectbox de la opcion contraria y lo desactivara
$(function () {
    $('#opciones input[type=radio]').change(function(){
      if ($(this).val() == "Por producto" ) {
          $("#grupos").hide();
          $("#articulos").show();
          $('.lista_grupos').attr('disabled', 'disabled');
          $('.lista_articulos').attr('disabled', false);

      }
      else if ($(this).val() == "Por grupo" ) {
          $("#grupos").show();
          $("#articulos").hide();
          $('.lista_articulos').attr('disabled', 'disabled');
          $('.lista_grupos').attr('disabled', false);

      }
    })
})
</script>

<script>
function TipoPromocion() {
  var tipop = $('.tipop :selected').val();

  if (tipop == "Monto de Venta ($)" ) {
    $(".monto_base").prop("disabled", false);
    $(".volumen_base").prop("disabled", true);
    // $(".cantidad_base").prop("disabled", false);
    $(".volumen_base").val('');
    $(".cantidad_base").val('');
    $(".cantidad_base").prop("disabled", true);
    $(".tipmed").prop("disabled", true);

  }
  else if (tipop == "Volumen (Unidades)" ) {
    $(".monto_base").prop("disabled", true);
    $(".volumen_base").prop("disabled", false);
    $(".cantidad_base").prop("disabled", false);
    $(".monto_base").val('');
    $(".tipmed").prop("disabled", false);
  }

}


</script>

<script>
//este codigo sirve para que cuando se le asigne valores a un campo, los demas se deshabiliten
/*
$(function () {
  $(".campo_opcional").change(function() {
    var st = this.value == "";
    if (st) {
      $(".campo_opcional").prop("disabled", false);
    }
    else {
      $(".campo_opcional").prop("disabled", true);
      $(this).prop("disabled", false);
    }
  });

  $(".campo_opcional2").change(function() {
    var st = this.value == "";
    if (st) {
      $(".campo_opcional2").prop("disabled", false);
    }
    else {
      $(".campo_opcional2").prop("disabled", true);
      $(this).prop("disabled", false);
    }
  });


});*/

</script>


<%= form_for(@listaprom, html: {class: "form-horizontal formulario-validado-create"} )do |f| %>
  <% if @listaprom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listaprom.errors.count, "error") %> prohibited this listaprom from being saved:</h2>

      <ul>
      <% @listaprom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="well center-block">
  <div class="form-group">
    <%= f.label :Lista,"Lista:", class: "control-label col-md-2" %>
    <div class="col-md-3">
      <%= f.text_field :Lista, class: "form-control ", disabled: true   %>
    </div>

    <%= f.label :Descripcion,"Descripcion:", class: "control-label col-md-2" %>
    <div class="col-md-3">
      <%= f.text_field :Descripcion, class: "form-control ",minlength: "7", required: "true", disabled:true    %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :FechaI,"Fecha Inicial:", class: "control-label col-md-2" %>
    <div class="col-md-3">
      <%= f.text_field :FechaI, class: "form-control datepicker", autocomplete: "off", :value => @listaprom.FechaI.try(:strftime,"%d-%m-%Y"), minlength: "7", required: "true", disabled:true  %>
    </div>

    <%= f.label :FechaF,"Fecha Final:", class: "control-label col-md-2" %>
    <div class="col-md-3">
      <%= f.text_field :FechaF, class: "form-control  datepicker", autocomplete: "off", :value => @listaprom.FechaF.try(:strftime,"%d-%m-%Y"), minlength: "7", required: "true", disabled:true  %>
    </div>
  </div>
  <div class="well center-block">

  <div class="form-group ">
    <%= f.label :Caduca,"Caduca:", class: "control-label col-xs-7 col-sm-6 col-md-4"%>
    <div class="col-md-1">
      <%= f.check_box :Caduca, disabled: true %>
    </div>

    <%= f.label :Activa,"Activa:", class: "control-label col-xs-7 col-sm-6 col-md-1"%>
    <div class="col-md-1">
      <%= f.check_box :Activa %>
    </div>

    <%= f.label :Tipo, "Tipo:", class: "control-label col-md-1"  %>
    <div class="col-md-3">
      <%= f.select :Tipo, ['Monto de Venta ($)','Volumen (Unidades)'], {}, onChange:"TipoPromocion();", class: "form-control tipop"%>
    <!--  <%= f.select :Tipo, ['Monto de Venta ($)','Volumen (Unidades)'], {}, onChange:"myFunction();", class: "form-control tipop"%>-->
    </div>
  </div>
</div>
</div>



<div class="well center-block">
  <div class="form-group">
    <h3 class="col-md-5">Producto base:</h3>
  </div>
  <table id="listapromo" class="display"><!--el id listapromo es de datatables referenciado en listapromo.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Articulo</th>
      <th>Grupo</th>
      <!--<th>Cantidad</th>-->
      <th>Monto</th>
      <th>Cantidad</th>
      <th>Unidad</th>
      <th>Tipo promoción</th>
      <th>Descripción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_listapromo">
      <%= f.fields_for :detallepromo do |builder| %>

        <% if  builder.object.Tipo == false %>
          <tr>
            <td><%=builder.object.Articulo%>

              <%= builder.hidden_field :id %><!--se coloca el id para que se pueda eliminar el registro-->
            </td>
            <td><%=builder.object.try(:catgrupo).try(:Descripcion)%>
              <%= builder.hidden_field :Grupo %>
            </td>
            <!--<td><%=builder.object.Cantidad%></td>-->
            <td><%=builder.object.Monto%></td>
            <td><%=builder.object.Volumen%></td>
            <td>
              <%if builder.object.TipMed == 2 %>
                Pieza
              <% elsif builder.object.TipMed == 1 %>
                Caja
              <%end%>
            </td>
            <td>
              <%if builder.object.Articulo != nil %>
                    Por producto
              <% else %>
                    Por grupo
              <%end%></td>
            <td><%=builder.object.try(:producto).try(:Producto)%></td>
            <td>Eliminar<%=builder.check_box '_destroy' %></td>


          </tr>
        <% elsif builder.object.Tipo.nil? and @cantidad_de_productosbase<1%><!--solo se debe de crear un producto base por promocion-->


        <div class="well center-block">

          <div id="opciones"class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
              <%= builder.radio_button :TipoProm, 'Por producto', id:"option1",checked: true %> Por producto
            </label>
            <label class="btn btn-primary">
              <%= builder.radio_button :TipoProm, 'Por grupo', id:"option2" %> Por grupo
            </label>
          </div>

        <br>
        <div id="grupos" class="form-group" style="margin-top: 10px;">
          <%= builder.label :Grupo, "Grupo:", class: "control-label col-md-2"  %>
          <div class="col-md-4">
            <%= builder.select :Grupo, options_for_select(@catgrupos.map{|e|[e.Descripcion, e.Clave]}), {:include_blank => 'Por favor seleccione'}, class:"lista_grupos"%>
          </div>
        </div>

        <div id="articulos" class="form-group" style="margin-top: 10px;">
          <%= builder.label :Articulo,"Articulo:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.select :Articulo, options_for_select(@productos.map{|e| ["#{e.Clave} - #{e.Producto}", e.Clave]}), {:include_blank => 'Por favor seleccione'}, class:"lista_articulos chosen-select", required:true    %>
          </div>
        </div>

        <div class="form-group">
          <%= builder.label :Monto,"Monto:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.number_field :Monto, class: "form-control monto_base"   %>
          </div>

          <%= builder.label :Volumen,"Cantidad:", class: "control-label col-md-2" %>
          <!-- cuando la promocion es de tipo "volumen (Unidades)" el producto base debe guardar tanto el volumen como cantidad con el mismo valor-->
          <div class="col-md-3">
            <%= builder.number_field :Volumen, class: "form-control volumen_base"  %>
            <%= builder.hidden_field :Cantidad, class: "form-control cantidad_base"   %>
          </div>
        </div>

        <div class="form-group">
      <!--    <%= builder.label :Cantidad,"Cantidad:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.number_field :Cantidad, class: "form-control   cantidad_base"   %>
          </div>
-->

          <%= builder.label :TipMed,"Tipo Medida:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.select :TipMed, ([['Caja', 1], ['Pieza', 2]]),{}, class: "form-control tipmed"%>
          </div>
        </div>
        <%= builder.hidden_field :Tipo, value: 0 %>
        <%= builder.hidden_field :Nivel, value: 0 %>
        <%= builder.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>

      </div>
    <%end%>
  <%end%>
</tbody>
</table>
<% if @cantidad_de_productosbase>=1%><!--solo se debe de crear un producto base por promocion-->
  <p class="" style="color:red">*Para actualizar el producto o grupo base primero se debe eliminar el mismo</p>
<% end %><!--solo se debe de crear un producto base por promocion-->
</div>



<div class="well center-block">
  <div class="form-group">
    <h3 class="col-md-5">Producto promoción:</h3>
  </div>
  <table id="promociones_regalo" class="display"><!--el id listapromo es de datatables referenciado en listapromo.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Articulo</th>
      <th>Cantidad</th>
    <!--  <th>Monto</th>
      <th>Volumen</th>-->
      <th>Equivalente</th>
      <th>Unidad</th>
      <th>Descripción</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_listapromo">
      <%= f.fields_for :detallepromo do |builder| %>

        <% if builder.object.Tipo == true  %>
          <tr>
            <td><%=builder.object.Articulo%>
              <%= builder.hidden_field :id %><!--se coloca el id para que se pueda modificar el nivel y eliminar el registro-->
            </td>

            <td><%=builder.object.Cantidad%>
              <%= builder.hidden_field :Cantidad %><!--se coloca la cantidad para que se pueda modificar el nivel debido a que el programa rechazara el registro si cantidad esta en blanco-->
            </td>
          <!--  <td><%=builder.object.Monto%></td>
            <td><%=builder.object.Volumen%> </td>
            <td>
              <%if builder.object.TipMed == 2 %>
                Pieza
              <% elsif builder.object.TipMed == 1 %>
                Caja
              <%end%>
            </td>-->
            <td><%= builder.number_field :Nivel, class: "form-control"   %></td>
            <td>
              <%if builder.object.TipMed == 2 %>
                Pieza
              <% elsif builder.object.TipMed == 1 %>
                Caja
              <%end%>
            </td>
            <td><%=builder.object.try(:producto).try(:Producto)%></td>
            <td>Eliminar<%=builder.check_box '_destroy' %></td>
            <td></td>


          </tr>
          <% elsif builder.object.Tipo.nil? %>

        <div class="well center-block">





        <div id="articulos" class="form-group">
          <%= builder.label :Articulo,"Articulo:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.select :Articulo, options_for_select(@productos.map{|e| ["#{e.Clave} - #{e.Producto}", e.Clave]},selected: @listaprom.detallepromo.collect(&:Articulo)), {:include_blank => 'Por favor seleccione'}, class: 'chosen-select'  %>
          </div>

        </div>

      <!--  <div class="form-group">
          <%= builder.label :Monto,"Monto:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.number_field :Monto, class: "form-control  listaprom_monto campo_opcional"   %>
          </div>

          <%= builder.label :Volumen,"Volumen:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.number_field :Volumen, class: "form-control  listaprom_volumen campo_opcional"   %>
          </div>
        </div>
-->
        <div class="form-group">
          <%= builder.label :Cantidad,"Cantidad:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.number_field :Cantidad, class: "form-control  listaprom_cantidad campo_opcional"   %>
          </div>

          <%= builder.label :TipMed,"Tipo Medida:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.select :TipMed, ([['Caja', 1], ['Pieza', 2]]), class: "form-control"%>
          </div>
        </div>
        <%= builder.hidden_field :Tipo, value: 1 %>
        <%= builder.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
        <%= builder.hidden_field :Nivel, value: @cantidad_de_productosRegalo%>

      </div>
    <%end%>
  <%end%>
</tbody>
</table>
</div>

  <div class="actions">
    <div class="form-group">
      <div class="col-md-12">
        <%= f.submit "Aceptar", class: "btn btn-primary btn-lg" %>
        <% if @cantidad_de_productosbase>=1%><!--solo se debe de crear un producto base por promocion-->
          <%= link_to 'Volver a promociones', listapromo_path, class: "btn btn-primary btn-lg" %>
        <% end %><!--solo se debe de crear un producto base por promocion-->
      </div>
    </div>
  </div>
<% end %>
