<tr id="listaprom_<%= listaprom.id %>">
  <td class="col_left"><%=listaprom.try(:id)%>

    <!--Modal - update listaprom-->
  <div nohidden class="modal fade si" id="myupdatelistaprom_<%= listaprom.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Editar promoción</h4>
        </div>

        <div class="modal-body">
          <%= form_for(listaprom, :method => :put, remote: true, html: {class: "form-horizontal"}) do |f| %><!--ajax-->



          <div class="form-group">

            <%= f.label :Descripcion,"Descripción:", class: "control-label col-md-2" %>
            <div class="col-md-5">
              <%= f.text_field :Descripcion, class: "form-control ", required: "true" %>
            </div>
            <%= f.label :Tipo, "Tipo:", class: "control-label col-md-1"  %>
            <div class="col-md-3">
              <%= f.select :Tipo, ['Monto de Venta ($)','Volumen (Unidades)'], class: "form-control"%>

            </div>

          </div>

            <div class="form-group">

                <%= f.label :Caduca,"Caduca:", class: "control-label col-xs-7 col-sm-6 col-md-1"%>
                <div class="col-md-1">
                  <%= f.check_box :Caduca, id: "caduca_#{listaprom.id}", class:"caducax "%>
                </div>

              <%= f.label :Activa,"Activa:", class: "control-label col-xs-7 col-sm-6 col-md-1"%>
              <div class="col-md-1">
                <%= f.check_box :Activa %>
              </div>

            </div>
          </div>

          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= listaprom.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
          </div>
          <%end%>


        </div>

      </div>
    </div>
  </div>
</td>

  </td>

  <td class="col_left"><%=listaprom.try(:Lista)%></td>
  <td class="col_left"><%=listaprom.try(:Descripcion)%></td>
  <td class="col_center">
    <% if listaprom.try(:Caduca) == true%>
      <input type="checkbox" disabled="true" checked="true">
    <%else%>
      <input type="checkbox" disabled="true" >
    <%end%>
  </td>
  <td class="col_left"><%=listaprom.FechaI.try(:strftime,"%d-%m-%Y")%></td>
  <td class="col_left"><%=listaprom.FechaF.try(:strftime,"%d-%m-%Y")%></td>
  <td class="col_left"><%=listaprom.producto_base.try(:TipoProm)%></td><!--Imprime el producto base de su relacion condicional en el modelo y para ser usado en el sort-->



  <td>
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
       <%= t('basic.Acción') %>
      </a>
      <ul class="dropdown-menu posicion-menu">
        <li>
          <li>
            <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatelistaprom_<%= listaprom.id %>">
              Editar
            </button>
            <!--Destroy-->
            <% if listaprom.Activa == true%>
            <%= link_to 'Eliminar', listaprom, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
            <%else%>
              <%= link_to 'Habilitar', listaprom, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'} %>
            <%end%>
          </li>
        </li>
      </ul>
    </div>
  </td>




</tr>
