<%= form_tag("/listapromo", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="col_left th_color"><%= label_tag :id_param, "Id", class: "control-label" %></th>
          <th class="col_left th_color"><%= label_tag :Clave_param, "Clave", class: "control-label" %></th>
          <th class="col_left th_color"><%= label_tag :Descripcion_param, "Descripción", class: "control-label" %></th>
          <th class="col_left th_color"><%= label_tag :FechaI_param, "Fecha inicio", class: "control-label" %></th>
          <th class="col_left th_color"><%= label_tag :FechaF_param, "Fecha final", class: "control-label" %></th>
          <th class="action_col"><%= t("basic.Acción") %></th>
        </tr>
        <tr>
          <th><%= text_field_tag :id_param %></th>
          <th><%= text_field_tag :Clave_param %></th>
          <th><%= text_field_tag :Descripcion_param %></th>
          <th><%= text_field_tag :FechaI_param %></th>
          <th><%= text_field_tag :FechaF_param %></th>
          <th>
              <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
          </th>
        </tr>

      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
<% end %>



<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
    <%= search_form_for @search, :remote=>"true", url: listapromo_path, :method => :get do |f| %>
      <tr>
        <th class="col_left"><%= sort_link @search, :id, "ID","listaprom", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :Lista, "Clave","listaprom", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :Descripcion, "Descripción","listaprom", {}, { :remote => true, :method => :get } %></th>
        <th class="col_center"><%= sort_link @search, :Caduca, "Caduca","listaprom", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :FechaI, "Fecha Inicio","listaprom", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :FechaF, "Fecha Final","listaprom", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :producto_base_TipoProm, "Tipo Promoción","listaprom", {}, { :remote => true, :method => :get } %></th>
        <th class="action_col"><%= t("basic.action") %></th>
      </tr><% end %>
    </thead>
    <tbody id="container_listapromo">
      <%= render @listapromo %><!--carga todos los activos-->
    </tbody>
  </table>
  <%= paginate @listapromo, :param_name => 'listapromo' %>
</div>
