<% if @puede_editar == true %>
  $("#myupdatelistaprom_<%= @listaprom.id %>").modal('hide');

  $("#listaprom_<%= @listaprom.id %>").fadeOut(500, function(){
    $(this).remove();
    $("#container_listapromo").prepend('<%= j render @listaprom %>');

  });
  $(window.location.replace("/listapromo/<%= @listaprom.id %>/edit"))
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
