<% if @DiaC.present? %>
  <!-- Modal create action -->
  <%= form_for(@solicitudserv, remote: true, html: {class: "form-horizontal solicitudserv-validado"}) do |f| %> <!--ajax remote: true-->
    <div class="modal fade" id="mynewsolicitudserv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Agregar servicio</h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <%= f.label :FolServicio, "Folio Servicio:", class: "control-label col-md-3"  %>
              <div class="col-md-7">
                <%= f.text_field :FolServicio, class: "form-control solicitudserv_campo_formulario", required: "true", value: @DiaC.FolServicio, style: "display:none;"   %>

                <input id="FolServicio" type="text" name="FolServicio" class="form-control" value="<%=@DiaC.FolServicio%>" readonly />
          
              </div>
            </div>

            <div class="form-group">
              <%= f.label :CodCliente, "Cliente:", class: "control-label col-md-3" %>
              <div class="col-md-7">
                <%= f.text_field :CodCliente, id:"Cliente", style: "display:none;", class:"form-control solicitudserv_campo_formulario", readonly:true, required: "true"  %>
                <input id="ClienteNombre" type="text" name="ClienteNombre" class="form-control solicitudserv_campo_formulario col-md-5" required="true" />
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addcliente">
                  ...
                </button>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :DescripcionServicio, "Descripción:", class: "control-label col-md-3"  %>
              <div class="col-md-9">
                <%= f.text_area :DescripcionServicio, class: "form-control solicitudserv_campo_formulario", required: "true"   %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :Prioridad, "Prioridad:", class: "control-label col-md-3"  %>
              <div class="col-md-9">
                <%= f.select :Prioridad, options_for_select([['Alta',0], ['Media',1], ['Baja',2]]),class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :FechaServicio, "FechaServicio:", class: "control-label col-md-3"  %>
              <div class="col-md-5">
                <%= f.text_field :FechaServicio, class: "form-control solicitudserv_campo_formulario datepicker", required: "true"   %>
              </div>
            </div>

            <div class="well center-block">
              <div class="form-group">
                <h3 class="col-md-5">Tipo de Precio:</h3>
              </div>
              <div id="opciones"class="btn-group" data-toggle="buttons">
                <div class="form-group">
                  <label class="">
                    <div class="col-md-5">
                      <input type="radio" name="Tipo_Precio" id="option1" autocomplete="off" value="precio_fijo" checked="checked">Fijo
                    </div>
                    <div class="col-md-7">
                      <input id="precio_fijo" type="text" name="precio_fijo" class="form-control solicitudserv_campo_formulario" required="true"/>
                    </div>
                  </label>

                  <label class="">
                    <div class="col-md-5">
                      <input type="radio" name="Tipo_Precio" id="option2" autocomplete="off" value="precio_por_rango">Rango de precios
                    </div>
                    <div class="col-md-7">
                      Precio Minimo: <input id="precio_minimo" type="text" name="precio_minimo" class="form-control solicitudserv_campo_formulario" disabled="true" required="true"/>
                      Precio Máximo: <input id="precio_maximo" type="text" name="precio_maximo" class="form-control solicitudserv_campo_formulario" disabled="true" required="true"/>
                    </div>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :Status,"Activo:", class: "control-label col-xs-3 col-sm-6 col-md-1 " %>
              <div class="col-md-1">
                <%= f.check_box :Status,{checked: true}%>
              </div>
            </div>
            
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewsolicitudserv">Cerrar</button>
            <%= f.submit "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>
