<tr id="solicitudserv_<%= solicitudserv.id %>">
  <td class="col_left"><%= solicitudserv.try(:FolServicio)%></td>
  <td class="col_left"><%= solicitudserv.try(:CodCliente)%>


<script>
  $(function () {
      $('#opciones_<%=solicitudserv.id%> input[type=radio]').change(function(){
        if ($(this).val() == "precio_fijo") {
            $('#precio_fijo_<%=solicitudserv.id%>').attr('disabled', false);
            $('#precio_minimo_<%=solicitudserv.id%>').attr('disabled', 'disabled');
            $('#precio_maximo_<%=solicitudserv.id%>').attr('disabled', 'disabled');

        }
        else if ($(this).val() == "precio_por_rango") {
            $('#precio_fijo_<%=solicitudserv.id%>').attr('disabled', 'disabled');
            $('#precio_minimo_<%=solicitudserv.id%>').attr('disabled', false);
            $('#precio_maximo_<%=solicitudserv.id%>').attr('disabled', false);

        }
      })
  })
</script>


      <!--Modal - update producto-->
    <%= form_for(solicitudserv, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{solicitudserv.id}"}) do |f| %><!--ajax-->
    <div nohidden class="modal fade si" id="myupdatesolicitudserv_<%= solicitudserv.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar Servicio</h4>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <%= f.label :FolServicio, "Folio Servicio:", class: "control-label col-md-3"  %>
              <div class="col-md-7">
                <%= f.text_field :FolServicio, class: "form-control", required: "true", readonly:true   %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :CodCliente, "Cliente:", class: "control-label col-md-3" %>
              <div class="col-md-7">
                <%= f.text_field :CodCliente, id:"Cliente", style: "display:none;", class:"form-control", readonly:true, required: "true", readonly:"true" %>
                <input id="ClienteNombre" type="text" name="ClienteNombre" class="form-control col-md-5" required="true" value="<%=solicitudserv.Nombre%>" readonly/>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :DescripcionServicio, "Descripción:", class: "control-label col-md-3"  %>
              <div class="col-md-9">
                <%= f.text_area :DescripcionServicio, class: "form-control", required: "true"   %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :Prioridad, "Prioridad:", class: "control-label col-md-3"  %>
              <div class="col-md-9">
                <%= f.select :Prioridad, options_for_select([['Alta',0], ['Media',1], ['Baja',2]]),class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :FechaServicio, "FechaServicio:", class: "control-label col-md-3"  %>
              <div class="col-md-5">
                <%= f.text_field :FechaServicio, class: "form-control datepicker", required: "true", value:solicitudserv.try(:FechaServicio).try(:strftime,'%d-%m-%Y')  %>
              </div>
            </div>

            <div class="well center-block">
              <div class="form-group">
                <h3 class="col-md-5">Tipo de Precio:</h3>
              </div>
              <div id="opciones_<%=solicitudserv.id%>" class="btn-group" data-toggle="buttons">

              <% if solicitudserv.PrecioMin == solicitudserv.PrecioMax %>

                <div class="form-group">
                  <label class="">
                    <div class="col-md-5">
                      <input type="radio" name="Tipo_Precio" id="option1" autocomplete="off" value="precio_fijo" checked="checked">Fijo
                    </div>
                    <div class="col-md-7">
                      <input id="precio_fijo_<%=solicitudserv.id%>" type="text" name="precio_fijo" class="form-control" required="true" value="<%=solicitudserv.PrecioMin%>"/>
                    </div>
                  </label>

                  <label class="">
                    <div class="col-md-5">
                      <input type="radio" name="Tipo_Precio" id="option2" autocomplete="off" value="precio_por_rango">Rango de precios
                    </div>
                    <div class="col-md-7">
                      Precio Minimo: <input id="precio_minimo_<%=solicitudserv.id%>" type="text" name="precio_minimo" class="form-control" disabled="true" required="true"/>
                      Precio Máximo: <input id="precio_maximo_<%=solicitudserv.id%>" type="text" name="precio_maximo" class="form-control" disabled="true" required="true"/>
                    </div>
                  </label>
                </div>
              
              <%else%>
                <div class="form-group">
                  <label class="">
                    <div class="col-md-5">
                      <input type="radio" name="Tipo_Precio" id="option1" autocomplete="off" value="precio_fijo" >Fijo
                    </div>
                    <div class="col-md-7">
                      <input id="precio_fijo_<%=solicitudserv.id%>" type="text" name="precio_fijo" class="form-control" disabled="true" required="true"/>
                    </div>
                  </label>

                  <label class="">
                    <div class="col-md-5">
                      <input type="radio" name="Tipo_Precio" id="option2" autocomplete="off" value="precio_por_rango" checked="checked">Rango de precios
                    </div>
                    <div class="col-md-7">
                      Precio Minimo: <input id="precio_minimo_<%=solicitudserv.id%>" type="text" name="precio_minimo" class="form-control" required="true" value="<%=solicitudserv.PrecioMin%>" />
                      Precio Máximo: <input id="precio_maximo_<%=solicitudserv.id%>" type="text" name="precio_maximo" class="form-control" required="true" value="<%=solicitudserv.PrecioMax%>" />
                    </div>
                  </label>
                </div>
              <%end%>

              </div>
            </div>

            <div class="form-group">
              <%= f.label :Status,"Activo:", class: "control-label col-xs-3 col-sm-6 col-md-1 " %>
              <div class="col-md-1">
                <%= f.check_box :Status,{checked: true}%>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= solicitudserv.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
          </div>
        </div>
      </div>
    </div>
    <%end%>


  </td>
  <td class="col_left"><%= solicitudserv.try(:Nombre)%></td>
  <td class="col_left"><%= solicitudserv.try(:DescripcionServicio)%></td>
  <td class="col_left">
    <% if solicitudserv.try(:Prioridad) == 0%>
      Alta
    <%elsif solicitudserv.try(:Prioridad) == 1%>
      Media
    <%elsif solicitudserv.try(:Prioridad) == 2%>
      Baja
    <%end%>
  </td>
  <td class="col_left"><%= solicitudserv.try(:FechaServicio).try(:strftime,"%d-%m-%Y")%></td>
  <td class="col_left"><%= solicitudserv.try(:PrecioMin)%></td>
  <td class="col_left"><%= solicitudserv.try(:PrecioMax)%></td>

  <td>
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
       <%= t('basic.Acción') %>
      </a>
      <ul class="dropdown-menu posicion-menu">
        <li>
          <li>
            <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatesolicitudserv_<%= solicitudserv.id %>">
              Editar
            </button>
          </li>
        </li>
      </ul>
    </div>
  </td>
</tr>
