        <%= form_tag("solicitudservicio", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
        <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
            <thead>
              <tr>
                <th class=""><%= label_tag :FolServicio_param, "Folio Servicio", class: "control-label" %></th>
                <th class=""><%= label_tag :CodCliente_param, "Cliente", class: "control-label" %></th>
                <th class=""><%= label_tag :Nombre_param, "Nombre", class: "control-label" %></th>
                <th class=""><%= label_tag :DescripcionServicio_param, "Servicio", class: "control-label" %></th>
                <th class=""><%= label_tag :Prioridad_param, "Prioridad", class: "control-label" %></th>
                <th class=""><%= label_tag :FechaServicio_param, "Fecha Servicio", class: "control-label" %></th>
                <th class=""><%= label_tag :PrecioMin_param, "Precio Minimo", class: "control-label" %></th>
                <th class=""><%= label_tag :PrecioMax_param, "Precio Máximo", class: "control-label" %></th>
                <th class="action_col"><%= t("basic.Acción") %></th>
              </tr>
              <tr>
                <th><%= text_field_tag :FolServicio_param,"", value: params[:FolServicio_param], class:"campo"%></th>
                <th><%= text_field_tag :CodCliente_param,"", value: params[:CodCliente], class:"campo"%></th>
                <th><%= text_field_tag :Nombre_param,"", value: params[:Nombre], class:"campo"%></th>
                <th><%= text_field_tag :DescripcionServicio_param,"", value: params[:DescripcionServicio], class:"campo"%></th>
                <th><%= text_field_tag :Prioridad_param,"", value: params[:Prioridad], class:"campo"%></th>
                <th><%= text_field_tag :FechaServicio_param,"", value: params[:FechaServicio_param], class:"campo"%></th>
                <th><%= text_field_tag :PrecioMin_param,"", value: params[:PrecioMin_param], class:"campo"%></th>
                <th><%= text_field_tag :PrecioMax_param,"", value: params[:PrecioMax_param], class:"campo"%></th>
                <th>
                    <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
                </th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      <% end %>



      <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
              <%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
                <tr>
                  <th class="col_left th_color">Folio Servicio</th>
                  <th class="col_left th_color">Cliente</th>
                  <th class="col_left th_color">Nombre</th>
                  <th class="col_left th_color">Servicio</th>
                  <th class="col_left th_color">Prioridad</th>
                  <th class="col_left th_color">Fecha Servicio</th>
                  <th class="col_left th_color">Precio Minimo</th>
                  <th class="col_lright th_color">Precio Máximo</th>
                  <th class="action_col"><%= t("basic.action") %></th>
                </tr><% end %>
            </thead>
            <tbody id="container_solicitudservicio">
              <%= render @solicitudservicio %><!--carga todos los activos-->

            </tbody>
          </table>
          <%= paginate @solicitudservicio %>

  </div>
