  $("#mynewsolicitudserv").modal('hide');
  $(".solicitudserv_campo_formulario").val('');

  $("#container_solicitudservicio").prepend('<%= j render @solicitudserv %>'); //Prepend before append
  $("#solicitudserv_<%= @solicitudserv.id %>").hide().fadeIn(1000);
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
