$("#formulario_crear_servicio").html("<%= escape_javascript(render("formulario_crear_servicio"))%>")
$('#mynewsolicitudserv').modal('show');

$('.datepicker').datepicker({
	format: "dd-mm-yyyy",
	autoclose: true
	});

$(function () {
  $('#opciones input[type=radio]').change(function(){
    if ($(this).val() == "precio_fijo") {
        $('#precio_fijo').attr('disabled', false);
        $('#precio_minimo').attr('disabled', 'disabled');
        $('#precio_maximo').attr('disabled', 'disabled');

    }
    else if ($(this).val() == "precio_por_rango") {
        $('#precio_fijo').attr('disabled', 'disabled');
        $('#precio_minimo').attr('disabled', false);
        $('#precio_maximo').attr('disabled', false);

    }
  })
})