<!--<p id="notice"><%= notice %></p>-->
<h1>Servicios inactivos</h1>
<h3>Total: <%=@cantidad_solicitudservicio_inactivos%></h3>
<style>
.container {
  width: 100%;
}

</style>


  <br>
  <br>

<div id="solicitudservicio"><%= render 'solicitudservicio' %></div>
<%= link_to 'Volver a servicio', solicitudservicio_path, class: "btn btn-primary btn-lg" %>
