$('#clientes').html('<%= escape_javascript(render("partials/buscadorReportes/clientes")) %>');
$('#paginatorCliente').html("<%= escape_javascript(paginate(@clientes_Selector, :remote => true, :param_name => 'clientes'))%>");
$("#solicitudservicio").html("<%= escape_javascript(render("solicitudservicio"))%>")
