<!--<p id="notice"><%= notice %></p>-->
<h1>Servicios</h1>
<style>
  .container {
    width: 100%;
  }
</style>

<script>
  $(function () {
      $('#opciones input[type=radio]').change(function(){
        if ($(this).val() == "precio_fijo") {
            $('#precio_fijo').attr('disabled', false);
            $('#precio_minimo').attr('disabled', 'disabled');
            $('#precio_maximo').attr('disabled', 'disabled');

        }
        else if ($(this).val() == "precio_por_rango") {
            $('#precio_fijo').attr('disabled', 'disabled');
            $('#precio_minimo').attr('disabled', false);
            $('#precio_maximo').attr('disabled', false);

        }
      })
  })
</script>

<%= render 'partials/buscadorReportes/ventana_modal_clientes' %>



<div class="row">
  <div class="text-center">
    <%= link_to 'Nuevo Servicio'.html_safe, formulario_crear_servicio_path, class: "btn btn-primary btn-lg", :remote => true, data: { disable_with: 'Cargando...' }  %>
  </div>
</div>

<br>
<br>

<div id="formulario_crear_servicio"><%= render 'formulario_crear_servicio' %></div>
<div id="solicitudservicio"><%= render 'solicitudservicio' %></div>
