  $("#myupdatesolicitudserv_<%= @solicitudserv.id %>").modal('hide');

  $("#solicitudserv_<%= @solicitudserv.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_solicitudservicio").prepend('<%= j render @solicitudserv %>');
  });
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
