<tr id="bitacoratiempo_<%= bitacoratiempo.id %>">
    <td class="col_left"><%= bitacoratiempo.try(:Codigo) %></td>
    <td class="col_left"><%= bitacoratiempo.try(:DiaO) %></td>
    <td class="col_left"><%= bitacoratiempo.try(:Descripcion) %></td>
    <td class="col_left"><%= bitacoratiempo.try(:Nombre) %></td>
    <td class="col_left"><%= bitacoratiempo.try(:NombreCorto) %></td>
    <td class="col_left"><%= bitacoratiempo.try(:Fecha).try(:strftime,"%d-%m-%Y %H:%M:%S") %></td>
    <td class="col_left"><%= bitacoratiempo.try(:HoraInicio).try(:strftime,"%d-%m-%Y %H:%M:%S") %></td>
    <td class="col_left"><%= bitacoratiempo.try(:HoraFin).try(:strftime,"%d-%m-%Y %H:%M:%S") %></td>
    <td class="col_left"><%= bitacoratiempo.try(:TiempoTraslado).try(:strftime,"%d-%m-%Y %H:%M:%S") %></td>
    <td class="col_left"><%= bitacoratiempo.try(:TiempoServicio).try(:strftime,"%d-%m-%Y %H:%M:%S") %></td>
    <td>
      <% if bitacoratiempo.try(:Visita) == true%>
        <input type="checkbox" disabled="true" checked="true">
      <%else%>
        <input type="checkbox" disabled="true" >
      <%end%>
    </td>
    <td>
      <% if bitacoratiempo.try(:Programado) == true%>
        <input type="checkbox" disabled="true" checked="true">
      <%else%>
        <input type="checkbox" disabled="true" >
      <%end%>
    </td>
    <td class="col_left"><%= bitacoratiempo.try(:RutaId) %></td>
    <td>
      <% if bitacoratiempo.try(:Cerrado) == true%>
        <input type="checkbox" disabled="true" checked="true">
      <%else%>
        <input type="checkbox" disabled="true" >
      <%end%>
    </td>
    <td class="col_left"><%= bitacoratiempo.try(:IdVendedor) %></td>
    <td class="col_left"><%= bitacoratiempo.try(:Tip) %></td>
    <td class="col_left"><%= bitacoratiempo.try(:pila) %></td>
    <td class="col_left"><%= bitacoratiempo.try(:latitude) %></td>
    <td class="col_left"><%= bitacoratiempo.try(:longitude) %></td>

</tr>
