<div class="rwd_auto rwd">
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
     <tr>
       <th class="col_left th_color">Código</th>
       <th class="col_left th_color">DiaO</th>
       <th class="col_left th_color">Descripción</th>
       <th class="col_left th_color">Nombre</th>
       <th class="col_left th_color">Nombre Comercial</th>
       <th class="col_left th_color">Fecha</th>
       <th class="col_left th_color">Hora Inicio</th>
       <th class="col_left th_color">Hora Fin</th>
       <th class="col_left th_color">Tiempo Traslado</th>
       <th class="col_left th_color">Tiempo Servicio</th>
       <th class="col_left th_color">Visita</th>
       <th class="col_left th_color">Programado</th>
       <th class="col_left th_color">RutaId</th>
       <th class="col_left th_color">Cerrado</th>
       <th class="col_left th_color">IdVendedor</th>
       <th class="col_left th_color">Tip</th>
       <th class="col_left th_color">Pila</th>
       <th class="col_left th_color">Latitude</th>
       <th class="col_left th_color">Longitude</th>

     </tr>
    </thead>
    <tbody id="container_bitacoratiempos">
      <%= render @bitacoratiempos %>
    </tbody>
  </table>
  <%= paginate @bitacoratiempos, :param_name => 'bitacoratiempos', params: {controller: 'bitacoratiempos', action: 'index'} %> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
</div>
<%= link_to 'Exportar Excel', bitacoratiempos_path(:search => params[:search], :vendedor_id => params[:vendedor_id], :fechaDiaO => params[:fechaDiaO], :diaO => params[:diaO], :search6 => params[:search6],  format:"xls"), class:"btn btn-success btn-xs"  %></td>
