<tr id="cliente_no_visitado_<%= cliente_no_visitado.id %>">
    <td class="col_left"><%= cliente_no_visitado.try(:IdCli)%></td>
    <td class="col_left"><%= cliente_no_visitado.try(:Nombre)%></td>
    <td class="col_left"><%= cliente_no_visitado.try(:NombreCorto)%></td>
    <td class="col_left"><%= cliente_no_visitado.try(:Direccion)%></td>
    <td class="col_left"><%= cliente_no_visitado.try(:Colonia)%></td>
</tr>
