  <div class="rwd_auto rwd">
    <table class="table table-striped table-bordered table-condensed table-hover ">
      <thead>
       <%= search_form_for @search_clientesNoVisitados, :remote=>"true", url: bitacoratiempos_path, :method => :get do |f| %>
       <tr>
         <th class="col_left th_color">IdCli</th>
         <th class="col_left th_color">Nombre</th>
         <th class="col_left th_color">Nombre Comercial</th>
         <th class="col_left th_color">Dirección</th>
         <th class="col_left th_color">Colonia</th>

       </tr>
      <% end %>
      </thead>
      <tbody id="container_clientes_no_vistados">
        <%= render partial: "/bitacoratiempos/cliente_no_visitado", collection: @clientes_no_visitados %>
      </tbody>
    </table>
    <%= paginate @clientes_no_visitados, :param_name => 'clientes_no_visitados', params: {controller: 'bitacoratiempos', action: 'index'} %> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>
