<div class="col-md-6 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_content">

      <form class="form-horizontal form-label-left">

        <div class="col-md-4 col-sm-3">

          <div class="x_title">
            <h2>Efectividad <%= @efectividad_entrega %>%</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <div class="sidebar-widget">
                <canvas width="150" height="80" id="foo_E" class="" style="width: 100%; height: 100px;"></canvas>
                <div class="goal-wrapper">
                  <span id="gauge_E-text" class="gauge_E-value pull-left">0</span>
                  <span class="gauge_E-value pull-left">%</span>
                  <span id="goal-text" class="goal-value pull-right">100%</span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-8 col-sm-7">
          <div class="x_title">
            <h2>Totales Pedidos/Entregas</h2>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-6 col-sm-4 col-xs-12">Pedidos/Entregas total:</label>
            <div class="col-md-6 col-sm-4 col-xs-12">
              <input type="text" class="form-control" Value="$ <%= @entregas_pedidos_total %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-4 col-xs-12">Pedidos/Entregas contado:</label>
            <div class="col-md-6 col-sm-4 col-xs-12">
              <input type="text" class="form-control" Value="$ <%= @entregas_pedidos_contado %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-4 col-xs-12">Pedidos/Entregas crédito:</label>
            <div class="col-md-6 col-sm-4 col-xs-12">
              <input type="text" class="form-control" Value="$ <%= @entregas_pedidos_credito %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-4 col-xs-12">Devoluciones:</label>
            <div class="col-md-6 col-sm-4 col-xs-12">
              <input type="text" class="form-control" Value="<%= @devoluciones_entregas_pedidos %>" disabled="true">
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="x_title">
            <h2>Pedidos/Entregas</h2>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Cajas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TE_Cajas_entregas_pedidos %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Piezas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TE_Piezas_entregas_pedidos %>" disabled="true">
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="x_title">
            <h2>Obsequios</h2>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Cajas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TO_Cajas_entregas_pedidos %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Piezas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TO_Piezas_entregas_pedidos %>" disabled="true">
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="x_title">
            <h2>Promociones</h2>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Cajas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TP_Cajas_entregas_pedidos %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Piezas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TP_Piezas_entregas_pedidos %>" disabled="true">
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>


<div class="col-md-6 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_content">

      <form class="form-horizontal form-label-left">

        <div class="col-md-4 col-sm-3">

          <div class="x_title">
            <h2>Efectividad <%= @efectividad %>%</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <div class="sidebar-widget">
                <canvas width="150" height="80" id="foo" class="" style="width: 100%; height: 100px;"></canvas>
                <div class="goal-wrapper">
                  <span id="gauge-text" class="gauge-value pull-left">0</span>
                  <span class="gauge-value pull-left">%</span>
                  <span id="goal-text" class="goal-value pull-right">100%</span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-8 col-sm-7">
          <div class="x_title">
            <h2>Totales Ventas</h2>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-6 col-sm-4 col-xs-12">Ventas total:</label>
            <div class="col-md-6 col-sm-4 col-xs-12">
              <input type="text" class="form-control" Value="$ <%= @ventas_total %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-4 col-xs-12">Ventas contado:</label>
            <div class="col-md-6 col-sm-4 col-xs-12">
              <input type="text" class="form-control" Value="$ <%= @ventas_contado %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-4 col-xs-12">Ventas crédito:</label>
            <div class="col-md-6 col-sm-4 col-xs-12">
              <input type="text" class="form-control" Value="$ <%= @ventas_credito %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-4 col-xs-12">Devoluciones:</label>
            <div class="col-md-6 col-sm-4 col-xs-12">
              <input type="text" class="form-control" Value="<%= @devoluciones %>" disabled="true">
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="x_title">
            <h2>Ventas</h2>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Cajas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TV_Cajas %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Piezas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TV_Piezas %>" disabled="true">
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="x_title">
            <h2>Obsequios</h2>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Cajas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TO_Cajas %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Piezas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TO_Piezas %>" disabled="true">
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="x_title">
            <h2>Promociones</h2>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Cajas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TP_Cajas %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-6 col-sm-6 col-xs-12">Piezas:</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" Value="<%= @TP_Piezas %>" disabled="true">
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>




<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_content">
      <form class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Consumo Promedio Por cliente(Venta total/Clientes con Vta)</label>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= number_to_currency(@ConsumoPromedioPorClientes, format: "%n")  %>" disabled="true">
            </div>

            <label class="control-label col-md-4 col-sm-4 col-xs-12">Efectividad de la Venta (Ctes. Prog. con Vta./Prog. Realizadas):</label>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= number_to_currency(@EfectividadDeLaVenta, format: "%n") %> %" disabled="true">
            </div>

            <label class="control-label col-md-4 col-sm-4 col-xs-12">Efectividad en visitas(Prog. Realizadas / Programadas)</label>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= number_to_currency(@EfectividadEnVisitas, format: "%n") %> %" disabled="true">
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- gauge.js -->
<script>
  var opts = {
    lines: 12,
    angle: 0,
    lineWidth: 0.4,
    pointer: {
      length: 0.75,
      strokeWidth: 0.042,
      color: '#1D212A'
    },
    limitMax: 'false',
    colorStart: '#1ABC9C',
    colorStop: '#1ABC9C',
    strokeColor: '#F0F3F3',
    generateGradient: true
  };
  var target = document.getElementById('foo'),
      gauge = new Gauge(target).setOptions(opts);

  gauge.maxValue = 100;
  gauge.animationSpeed = 32;
  gauge.set(<%= @efectividad %>);
  gauge.setTextField(document.getElementById("gauge-text"));


  //entregas
  var target_E = document.getElementById('foo_E'),
    gauge_E = new Gauge(target_E).setOptions(opts);

  gauge_E.maxValue = 100;
  gauge_E.animationSpeed = 32;
  gauge_E.set(<%= @efectividad_entrega %>);
  gauge_E.setTextField(document.getElementById("gauge_E-text"));

</script>
<!-- /gauge.js -->
