<style type="text/css">
  .c label, .c h2{
    color: rgb(115, 135, 156);
  }
</style>
<div class="col-md-6 col-sm-12 col-xs-12 c">
  <div class="x_panel">
    <div class="x_title">
      <h2>Resumen</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <form class="form-horizontal form-label-left">
        <div class="">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-4 col-xs-12">Visitas realizadas:</label>
            <div class="col-md-3 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= @visitas_realizadas %>" disabled="true">
            </div>

            <label class="control-label col-md-3 col-sm-4 col-xs-12">Clientes no visitados:</label>
            <div class="col-md-3 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= @clientes_no_visitados_count %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-4 col-xs-12">Programadas:</label>
            <div class="col-md-3 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= @visitas_programadas %>" disabled="true">
            </div>

            <label class="control-label col-md-3 col-sm-4 col-xs-12">Sin Vta/Ped/Ent:</label>
            <div class="col-md-3 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= @sin_venta %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-4 col-xs-12">Programadas realizadas:</label>
            <div class="col-md-3 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= @programadas_realizadas %>" disabled="true">
            </div>

            <label class="control-label col-md-3 col-sm-4 col-xs-12">Clientes con Vta/Ped/Ent:</label>
            <div class="col-md-3 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= @clientes_con_venta %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-4 col-xs-12">Realizadas no repetidas:</label>
            <div class="col-md-3 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= @realizadas_no_repetidas %>" disabled="true">
            </div>

            <label class="control-label col-md-3 col-sm-4 col-xs-12">Prog. con Vta/Ped/Ent:</label>
            <div class="col-md-3 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= @prog_con_venta %>" disabled="true">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-4 col-xs-12">No Programadas:</label>
            <div class="col-md-3 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= @realizadas_no_programadas %>" disabled="true">
            </div>

            <label class="control-label col-md-3 col-sm-4 col-xs-12">No Prog con Vta/Ped/Ent:</label>
            <div class="col-md-3 col-sm-2 col-xs-12">
              <input type="text" class="form-control" Value="<%= @no_prog_con_venta %>" disabled="true">
            </div>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>