$('#resumen').html('<%= escape_javascript(render("resumen")) %>');
$('#resumen_c').html('<%= escape_javascript(render("resumen_c")) %>');
$('#bitacora_tiempos').html('<%= escape_javascript(render("bitacora_tiempos")) %>');
$('#clientes_no_visitados').html('<%= escape_javascript(render("clientes_no_visitados")) %>');
$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#vendedores_busqueda').html('<%= escape_javascript(render("partials/buscadorReportes/vendedores")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$('#paginatorVendedor').html("<%= escape_javascript(paginate(@vendedores_Selector, :remote => true, :param_name => 'vendedores'))%>");
$('#dias_op').html('<%= escape_javascript(render("partials/buscadorReportes/dias_op")) %>');
$('#paginatorDiasOp').html("<%= escape_javascript(paginate(@DiasOp_Selector, :remote => true, :param_name => 'DiasOp'))%>");