<style media="screen">
  .table{
    margin-bottom: 0px;
  }
  #resumen{
    color: #73879C;
  }
  #bitacora_tiempos{
    font-size: 10px;
  }
  .sidebar-widget{
    /*margin-left:15% !important;*/
    float:left !important;
    width: 100% !important;
  }
</style>
<!-- sidebar son estilos para el gráfico-->

<h2>Bitácora de tiempos</h2>
<div class="well center-block">
  <h2>Ruta y día operativo</h2>
    <%= form_tag("/bitacoratiempos", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
      <div class="form-group">
        <div class="col-md-6">
          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          <%= render 'partials/buscadorReportes/buscador_reportes6' %>
          <%= render 'partials/buscadorReportes/buscador_reportes5' %>
        </div>
          <div id="resumen_c"><%= render 'resumen_c' %></div>

      </div>
    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
    <%= render 'partials/buscadorReportes/ventana_modal_dias' %>
</div>

<div id="resumen"><%= render 'resumen' %></div>

<div class="row">
  <div class="col-md-12 rwd">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_bitacora_tiempos" data-toggle="tab">Bitácora de tiempos</a></li>
          <li><a href="#tab_clientesNoVisitados" data-toggle="tab">Clientes no visitados</a></li>
        </ul>
      </div>

      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab_bitacora_tiempos">
            <div id="bitacora_tiempos"><%= render 'bitacora_tiempos' %></div>
          </div>
          <div class="tab-pane fade" id="tab_clientesNoVisitados">
            <div id="clientes_no_visitados"><%= render 'clientes_no_visitados' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
