<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="titulo">
     <Interior ss:Color="#6FC9FF" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Código</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Descripción</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Nombre</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Nombre Comercial</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Fecha</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Hora Inicio</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Hora Fin</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Tiempo Traslado</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Tiempo Servicio</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Visita</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Programado</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">RutaId</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Cerrado</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">IdVendedor</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Tip</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Pila</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Latitude</Data></Cell>
        <Cell ss:StyleID="titulo"><Data ss:Type="String">Longitude</Data></Cell>
      </Row>

      <% @bitacoratiempos_Export.each do |bit| %>
        <Row>
          <Cell><Data ss:Type="String"><%= bit['Codigo'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['Descripcion'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['Nombre'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['NombreCorto'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['Fecha'].try(:strftime,"%d-%m-%Y %H:%M:%S") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['HoraInicio'].try(:strftime,"%d-%m-%Y %H:%M:%S") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['HoraFin'].try(:strftime,"%d-%m-%Y %H:%M:%S") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['TiempoTraslado'].try(:strftime,"%d-%m-%Y %H:%M:%S") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['TiempoServicio'].try(:strftime,"%d-%m-%Y %H:%M:%S") %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['Visita'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['Programado'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['RutaId'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['Cerrado'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['IdVendedor'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['Tip'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['pila'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['latitude'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bit['longitude'] %></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
