<style>
body {
  color: #73879C;
  background: #FFF;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
  padding-left: 30%;
  padding-right: 30%;


}
.forml{
  padding-left: 15%;
  padding-right: 15%;
}

</style>
  <a class="hiddenanchor" id="toregister"></a>
  <a class="hiddenanchor" id="tologin"></a>
  <%= image_tag 'logo2.png', alt: "logo", class:"logoadA" %>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	  <%= devise_error_messages! %>
      <div id="wrapper">
        <div id="login" class="animate form">
          <section class="login_content">
              <h1>¿Olvidaste tu password?</h1>
              <div class="forml">
                <div class="form-group">
                  <div>
                    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder =>"Email",  :required => ""  %>
                  </div>
                </div>
              </div>
              <div>
                <%= f.submit "Envíame instrucciones para cambiar mi password", :class => "btn btn-default submit col-md-12"%>
                <div class="form-group">
                  <%= render "devise/shared/links" %>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="separator"></div>
            <!-- form -->
          </section>
          <!-- content -->
        </div>
      </div>
    <% end %>


