<%= form_for(@incidencia) do |f| %>
  <% if @incidencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incidencia.errors.count, "error") %> prohibited this incidencia from being saved:</h2>

      <ul>
      <% @incidencia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CLAVE %><br>
    <%= f.text_field :CLAVE %>
  </div>
  <div class="field">
    <%= f.label :STATUS %><br>
    <%= f.text_field :STATUS %>
  </div>
  <div class="field">

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
