<tr id="incidencia_<%= incidencia.id %>">
  <td class="col_left"><%= incidencia.try(:Clave)%></td>
  <td class="col_left"><%= incidencia.try(:Descripcion)%></td>
  <td class="col_left"><%= incidencia.try(:Status)%>
      <!--Modal - update producto-->
    <%= form_for(incidencia, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{incidencia.id}"}) do |f| %><!--ajax-->
    <div nohidden class="modal fade si" id="myupdateincidencia_<%= incidencia.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar incidencia</h4>
          </div>

          <div class="modal-body">

              <div class="form-group">
                <%= f.label :Descripcion, "Descripcion:", class: "control-label col-md-3"  %>
                <div class="col-md-9">
                  <%= f.text_field :Descripcion, class: "form-control ", required: "true"   %>
                </div>
              </div>



              <div class="form-group">
                <%= f.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-2"%>
                <div class="col-md-1">
                  <%= f.check_box :Status %>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= incidencia.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
          </div>
        </div>
      </div>
    </div>
    <%end%>
      <script>
        $(".formulario-validado-update<%=incidencia.id%>").validate();

      </script>
  </td>


  <td>
  <div class="btn-group"><a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
   <%= t('basic.Acción') %>

   </a>
  <ul class="dropdown-menu posicion-menu">


    <li>

      <li>
        <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdateincidencia_<%= incidencia.id %>">
          Editar
        </button>
        <!--Destroy-->
        <% if incidencia.Status == true%>
        <%= link_to 'Eliminar', incidencia, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
        <%else%>
          <%= link_to 'Habilitar', incidencia, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'} %>
        <%end%>
      </li>

    </li>



  </ul>
  </div>
  <!-- button group --></td>
</tr>
