<% if @puede_crear == true%>
  $("#mynewincidencia").modal('hide');
  $(".incidencia_clave").val('');
  $(".incidencia_descripcion").val('');

  $("#container_incidencias").prepend('<%= j render @incidencia %>'); //Prepend before append
  $("#incidencia_<%= @incidencia.id %>").hide().fadeIn(1000);
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
