<!--<p id="notice"><%= notice %></p>-->
<h1>Incidencias inactivas</h1>
<h3>Total: <%=@cantidad_incidencias_inactivos%></h3>
<style>
.container {
  width: 100%;
}

</style>

  <br>
  <br>

<div id="incidencias"><%= render 'incidencias' %></div>

<%= link_to 'Volver a Incidencias', incidencias_path, class: "btn btn-primary btn-lg" %>
