<!--<p id="notice"><%= notice %></p>-->
<h1>Incidencias</h1>
<h3>Total: <%=@cantidad_incidencias_activos%></h3>
<style>
.container {
  width: 100%;
}

</style>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewincidencia">
        Nueva incidencia
      </button>

    </div>
  </div>

  <br>
  <br>

<div id="incidencias"><%= render 'incidencias' %></div>



<!-- Modal create action -->
<%= form_for(@incidencia, remote: true, html: {class: "form-horizontal incidencia-validado"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewincidencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar incidencia</h4>
        </div>
        <div class="modal-body">


          <div class="form-group">

            <%= f.label :Clave, "Clave:", class: "control-label col-md-3"  %>
            <div class="col-md-7">
              <%= f.text_field :Clave, class: "form-control incidencia_clave clave_sin_espacios_y_sin_caracteres_especiales",autofocus: true, required: "true"   %>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :Descripcion, "Descripcion:", class: "control-label col-md-3"  %>
            <div class="col-md-9">
              <%= f.text_field :Descripcion, class: "form-control incidencia_descripcion", required: "true"   %>
            </div>
          </div>



          <div class="form-group">
            <%= f.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-2"%>
            <div class="col-md-1">
              <%= f.check_box :Status,{checked: true} %>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewincidencia">Cerrar</button>
          <%= f.submit "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
<%= link_to 'Incidencias eliminadas ó inhabilitadas<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, incidencias_inactivos_path, class: "btn btn-danger btn-xs"%>
