<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @incidencia.Clave %>
</p>

<p>
  <strong>Status:</strong>
  <%= @incidencia.Status %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @incidencia.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_incidencia_path(@incidencia) %> |
<%= link_to 'Back', incidencias_path %>
