<% if @puede_editar == true %>
  $("#myupdateincidencia_<%= @incidencia.id %>").modal('hide');

  $("#incidencia_<%= @incidencia.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_incidencias").prepend('<%= j render @incidencia %>');
  });
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
