<%= search_form_for @search, :remote=>"true", url: producto_detalle_path, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="col_left"><%= sort_link @search, :productos_Clave, "Clave","detalle", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search, :productos_Producto, "Producto","detalle", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.accion") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :productos_Clave_cont, class:"campo" %></th>
          <th><%= f.text_field :productos_Producto_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
        </tr>
      </thead>
    </table>
  </div>
<% end %>

<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
  <thead>

    <%= search_form_for @search, :remote=>"true", url: producto_detalle_path, :method => :get do |f| %>
        <tr>
          <th class="col_left">
            <%= sort_link @search, :Articulo, "Clave","detalle", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :productos_Producto, "Producto","detalle", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_right">
            <%= sort_link @search, :Factor,"Porcentaje de descuento","detalle", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @search, :productos_Producto_CodBarras,"Código de barras","detalle", {}, { :remote => true, :method => :get } %>
          </th>


          <th class="action_col"><%= t("basic.Acción") %></th>
        </tr>
        <% end %>

  </thead>
  <tbody id="container_detalleld">
    <% @detalleld.each do |detalle| %>
  <tr id="detalle_<%= detalle.id %>">
  <td class="col_left"><%= detalle.try(:Articulo) %>

    <!--Modal - update detalle-->
  <%= form_for(detalle, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{detalle.id}"}) do |f| %><!--ajax-->
   <div nohidden class="modal fade si" id="myupdatedetalle_<%= detalle.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="myModalLabel">Editando descuento al producto</h4>
         </div>

         <div class="modal-body">
           <h4 class="text-center">Descuento para crédito y contado</h4><br>

             <div class="form-group">
               <p class="control-label col-md-3">Producto Clave:</p>
               <div class="control-label col-md-1" style="font-weight: bold">
                 <%= detalle.Articulo %>
               </div>
               <p class="control-label col-md-4">Nombre del Producto:</p>
               <div class="control-label col-md-4" style="font-weight: bold">
                 <%= detalle.productos.try(:Producto) %>
               </div>
             </div>

             <div class="well center-block">
                 <div class="form-group">
                   <div class="col-md-5">
                     <%= f.check_box(:Tipo, {}, "P", "R" )%><!--Agregarle valores a los check_box-->
                     <%= f.label :Tipo,"Por porcentaje" %>
                   </div>
                 </div>

                 <div class="form-group">
                   <%= f.label :Factor, "Descuento por porcentaje:", class:"control-label col-md-4" %>

                   <div class="col-md-5">
                     <div class="input-group">
                       <%= f.number_field :Factor, class:"form-control", autofocus: true, required: "true" %>
                       <div class="input-group-addon">%</div>
                     </div>
                   </div>
                 </div>
             </div>
             <script>
               $(".formulario-validado-update<%=detalle.id%>").validate();

             </script>



         </div>

         <div class="modal-footer">
           <button type="button" id="myupdatebutton_<%= detalle.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
           <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
         </div>
       </div>
     </div>
   </div>
  <%end%>


  <script>
   $(".formulario-validado-update<%=detalle.id%>").validate();

  </script>

  </td>
  <td class="col_left"><%= detalle.try(:productos).try(:Producto) %></td>
  <td class="col_right"><%= detalle.try(:Factor) %></td>
  <td class="col_left"><%= detalle.try(:productos).try(:CodBarras) %></td>


  <td>
  <div class="btn-group"><a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
   <%= t('basic.Acción') %>

   </a>
  <ul class="dropdown-menu">

  <li>
    <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatedetalle_<%= detalle.id %>">
      Editar
    </button>

    <!--Destroy-->
    <%= link_to 'Eliminar', detalle, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
  </li>



  </ul>
  </div>
  <!-- button group --></td>
  </tr><% end %>
  </tbody>
  </table>
  <%= paginate @detalleld, :param_name => 'detalleld'  %>
</div>
