<%= search_form_for @searchp, :remote=>"true", url: producto_detalle_path, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="col_left"><%= sort_link @searchp, :Clave, "Clave","detalle", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @searchp, :Producto, "Producto","detalle", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.accion") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :Clave_cont, class:"campo" %></th>
          <th><%= f.text_field :Producto_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
        </tr>
      </thead>
    </table>
  </div>
<% end %>

<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto"><!--tanto la clase rwd_auto como el div rwd son para que las tablas se vean responsivas-->
  <thead>

    <%= search_form_for @searchp, :remote=>"true", url: producto_detalle_path, :method => :get do |f| %>
        <tr>
          <th class="col_left">
            <%= sort_link @searchp, :Clave, "Clave","producto", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @searchp, :Producto, "Producto","producto", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @searchp, :CodBarras,"Código de barras","producto", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_left">
            <%= sort_link @searchp, :Sector,"Grupo","producto", {}, { :remote => true, :method => :get } %>
          </th>
          <th class="col_right">
            <%= sort_link @searchp, :VBase,"Precio","producto", {}, { :remote => true, :method => :get } %>
          </th>

          <th class="component_component_definition_name_header_col">
            Acción
          </th>


        </tr>
        <% end %>

  </thead>
  <tbody>
    <% @productos.each do |producto| %>
  <tr id="producto_<%= producto.Clave %>">
  <td class="col_left"><%= producto.try(:Clave) %>

    <!--Modal - create detalle-->
    <%= form_for(@detalle, remote: true, html: {class: "form-horizontal formulario-validado-create"}) do |f| %> <!--ajax remote: true-->

    <div nohidden class="modal fade si" id="myproductadder_<%= producto.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Registrando descuento al producto <%= producto.id%></h4>
          </div>

          <div class="modal-body">

          <h4 class="text-center">Descuento para crédito y contado</h4><br>

            <div class="form-group">
              <p class="control-label col-md-3">Producto Clave:</p>
              <div class="control-label col-md-1" style="font-weight: bold">
                <%= producto.Clave %>
              </div>
              <p class="control-label col-md-4">Nombre del Producto:</p>
              <div class="control-label col-md-4" style="font-weight: bold">
                <%= producto.Producto %>
              </div>
            </div>

            <div class="well center-block">
                <div class="form-group">
                  <div class="col-md-5">
                    <%= f.check_box(:Tipo, {}, "P", "R")%><!--Agregarle valores a los check_box-->
                    <%= f.label :Tipo,"Por porcentaje" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :Factor, "Descuento por porcentaje:", class:"control-label col-md-4" %>

                  <div class="col-md-5">
                    <div class="input-group">
                      <%= f.number_field :Factor, class:"form-control detalle-factor", autofocus: true, required: "true" %>
                      <div class="input-group-addon">%</div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="field">
              <%= f.hidden_field :ListaId, value: params[:id]  %>
            </div>
            <div class="field">
              <%= f.hidden_field :Articulo, value: producto.id%>
            </div>
            <div class="field">
              <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= producto.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Create", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
          </div>
        </div>
      </div>
    </div>
  <%end%>



  </td>
  <td class="col_left"><%= producto.try(:Producto) %></td>
  <td class="col_left"><%= producto.try(:CodBarras) %></td>
  <td class="col_left"><%= producto.catgrupos.try(:Descripcion) %></td>
  <td class="col_right"><%= producto.try(:VBase) %></td>
  <td>

      <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myproductadder_<%= producto.id %>">
      Añadir
      </button>

  </td>
  </tr>
  <% end %>
  </tbody>
  </table>
  <%= paginate @productos, :param_name => 'productos'  %>
</td>
