<!--<p id="notice"><%= notice %></p>-->
<h1>Administrar productos de la Lista de Descuentos</h1><br>

<div>
  <!--<div class="row">
    <div class="text-center">
      <!- Button trigger modal ->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewdetalle">
        Nueva Lista de Descuento
      </button>
    </div>
  </div>-->

  <br>
  <br>
  <div class="well center-block">
    <h2 class="text-center"> Lista de Productos </h2>

    <div id="productosout"><%= render 'productosout' %></div>

  </div>

    <br>
    <br>
    <div class="well center-block">
      <h2 class="text-center"> Productos Añadidos a la Lista</h2>
      <br>
      <br>

      <div id="productosadded"><%= render 'productosadded' %></div>

    </div>
</div>
