<tr id="pos_<%= producto.try(:id_productoparapos)%>">
  <td class="col-xs-1">
    <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe,pos_terminated_path(producto.id_productoparapos), method: :delete, remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}%>
    <%= producto.try(:Clave)%>
  </td>
  <td class="col-xs-3"><%= producto.try(:Producto)%></td>
  <td class="col-xs-1"><%= producto.try(:Cantidad)%></td>
  <td class="col-xs-1">
    <% if producto.try(:Tipo) == 0%>
      Cajas
    <%else%>
      Piezas
    <%end%>
  </td>
  <td class="col-xs-1"><%= producto.try(:Precio)%></td>
  <td class="col-xs-1"><%= producto.try(:SubTotal)%></td>
  <td class="col-xs-1"><%= producto.try(:Descuento).round(2)%></td>
  <td class="col-xs-1"><%= producto.try(:IVA_calculado).round(2)%></td>
  <td class="col-xs-1"><%= producto.try(:IEPS)%></td>
  <td class="col-xs-1"><%= producto.try(:Total).round(2)%></td>
</tr>
