<label class="control-label col-md-2" for="Productos">Productos:</label>
<div class="col-md-2">
	<input name="Productos" id="Productos" value="<%=@cantidad_productos%>" class="form-control" type="text", readonly="readonly">
</div>

<label class="control-label col-md-2" for="Total_venta">Total venta:</label>
<div class="col-md-2">
	<input name="Total_venta" id="Total_venta" value="<%=@suma_total.round(2)%>" class="form-control" type="text", readonly="readonly">
</div>
