$("#pos_<%= @pos.id %>").fadeOut(500, function(){});
$("#resumen_pos").html("<%= escape_javascript(render("resumen_pos"))%>")

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
