 <style>
	/*Tabla*/
  td,th {
    border: 0px #DDD solid;
    padding: 5px;
    cursor: pointer;
    text-align: center;
  }

  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f2f2f233 !important;
  }

  .selected {
    background-color: rgba(21, 97, 171, 0.9) !important;
    color: #FFF;
  }
	/*tabla responsiva con un scrollbar vertical*/
  .table-fixed thead {
    width: 97%;
  }

  .table-fixed tbody {
    height: 450px;
    overflow-y: auto;
    width: 100%;
  }

  .table-fixed thead,
  .table-fixed tbody,
  .table-fixed tr,
  .table-fixed td,
  .table-fixed th {
    display: block;
    }
    tr {
    overflow:hidden; /*se debe colocar el overflow hidden debido a que es un elemento flotante no mostrara el background color porque el tr no tiene altura, con este elemento se podra ver cuando se seleccione*/
  }

  .table-fixed tbody td,
  .table-fixed thead>tr>th {
    float: left;
    border-bottom-width: 0;
  }
</style>
<style media="screen">
	/* -- import Roboto Font ---------------------------- */
	@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

	/* -- You can use this tables in Bootstrap (v3) projects. -- */
	// @import "//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css";



	body {
	font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 2rem;
	line-height: 4rem;
	letter-spacing: 0.01rem;
	color: #212121;
	background-color: #f5f5f5;

	// Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	}

	#demo {
	margin: 20px auto;
	max-width: 960px;
	}


</style>

<%= form_tag("/producto_para_POS", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
	<div  class="col-xs-12 col-md-12">

	    <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4>
	         Datos de venta
	      </h4>
	    </div>


		<div>
			<div class="form-group">
				<%= label_tag :Ruta, "Ruta:", class: "control-label col-md-1" %>
				<div class="col-md-1">
					<%= text_field_tag :Ruta,"", value: @vendedor.try(:Ruta), class:"form-control", readonly:true  %>
          <%= text_field_tag :IdRuta,"", value: params[:IdRuta], class:"form-control", style: "display:none;", readonly:true  %>
				</div>
				<%= label_tag :DiaO, "DiaO:", class: "control-label col-md-2" %>
				<div class="col-md-2">
					<%= text_field_tag :DiaO, "", value: @DiaO.try(:DiaO), class:"form-control", readonly:true  %>
				</div>
				<div class="col-md-2">
					<%= text_field_tag :Fecha_DiaO, "", value: @DiaO.try(:Fecha).strftime("%d-%m-%Y"), class:"form-control", readonly:true  %>
				</div>
				<%= label_tag :Folio_Vta, "Folio Vta:", class: "control-label col-md-2" %>
				<div class="col-md-2">
					<%= text_field_tag :Folio_Vta, "", value: @DiaC.try(:FolVta), class:"form-control", readonly:true  %>
				</div>
			</div>

			<div class="form-group">
				<%= label_tag :Vendedor, "Vendedor:", class: "control-label col-md-1" %>
				<div class="col-md-3">
          <%= text_field_tag :Vendedor,"", value: @vendedor.try(:Nombre), class:"form-control", readonly:true  %>
					<%= text_field_tag :IdVendedor,"", value: params[:IdVendedor], class:"form-control", style: "display:none;", readonly:true  %>

        </div>
			</div>
			<div class="form-group">
				<div class="col-md-3">
				  	<%= label_tag :Clientes, "Cliente:", class: "control-label" %>
				    <%= text_field_tag :Cliente, "", id:"Cliente", style: "display:none;", class:"form-control", readonly:true  %>
				    <%= text_field_tag :ClienteNombre, "", id:"ClienteNombre", class:"form-control", required: "true", readonly:true  %>

				    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addcliente">
				      ...
				    </button>
				</div>
				<div class="col-md-3">
					<%= label_tag :Condicion_de_venta, "Condicion de venta:", class: "control-label" %>
            		<%= select_tag :Condicion_de_venta, options_for_select([['Contado'], ['Crédito'], ['Obsequio']]), class: 'form-control'%>
				</div>
				<div class="col-md-3">
					<%= label_tag :Condicion_de_pago, "Condicion de pago:", class: "control-label" %>
                    <%= select_tag :Condicion_de_pago, options_for_select(@Formaspago.map{|e|[e.Forma, e.IdFpag]}), class: "form-control" %>

				</div>
				<div class="col-md-3">
					<%= label_tag :DocSalida, "Documento:", class: "control-label" %>
            		<%= select_tag :DocSalida, options_for_select([['Ticket'], ['Factura']]), class: 'form-control'%>
				</div>
			</div>
		</div>

		 </div>

	</div>
    <div class="row">
		<div  class="col-xs-12 col-md-4">

		    <div class="panel panel-default">
		        <div class="panel-heading">
		          <h4>
		            Producto
		          </h4>
		        </div>

				<div id="agregar_producto" class="x_title">
          <%= render partial: 'partials/buscadorReportes/buscador_productos_POS'%>

					<div class="form-group">
						<div class="col-md-12">
							<%= text_field_tag :Nombre_Producto, "", id:"Nombre_Producto", class:"form-control", readonly:true  %>
						</div>
					</div>
					<div class="form-group">
						<%= label_tag :Cantidad, "Cantidad:", class: "control-label col-md-3" %>
						<div class="col-md-3">
							<%=  number_field_tag :Cantidad, "", required: "true", min: 0, id:"Cantidad", class:"form-control", step: :any%>

						</div>
						<div class="col-md-6">
            				<%= select_tag :UM, options_for_select([['Cajas'], ['Piezas']]), class: 'form-control'%>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6">
							<%= label_tag :Precio_Unitario, "P.U:", class: "control-label" %>
							<%= text_field_tag :Precio_Unitario, "", id:"Precio_Unitario", class:"form-control", readonly:true  %>
						</div>
						<div class="col-md-6">
						<%= label_tag :Lt_Kg, "Eq.Lt/Kg", class: "control-label" %>
							<%= text_field_tag :Lt_Kg, "", id:"Lt_Kg", class:"form-control", readonly:true  %>
							<%= text_field_tag :Equivalente,"", id:"Equivalente", class:"form-control", style: "display:none;", readonly:true  %>
							<%= text_field_tag :PzaXCja,"", id:"PzaXCja", class:"form-control", style: "display:none;", readonly:true  %>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6">
							<%= label_tag :SubTotal, "Sub-Total:", class: "control-label" %>
							<%= text_field_tag :SubTotal, "", id:"Sub-total", class:"form-control", readonly:true  %>
						</div>
						<div class="col-md-6">
							<%= label_tag :Descuento, "Descuento:", class: "control-label" %>
							<%= text_field_tag :Descuento, "", value: @producto.try(:Factor), id:"Descuento", class:"form-control", readonly:true  %>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6">
							<%= label_tag :IVA, "IVA:", class: "control-label" %>
							<%= text_field_tag :IVA, "", id:"IVA", class:"form-control oculto", readonly:true  %>
              <%= text_field_tag :IVA_calculado, "", id:"IVA_calculado", class:"form-control", readonly:true  %>
						</div>
						<div class="col-md-6">
							<%= label_tag :IEPS, "IEPS:", class: "control-label" %>
							<%= text_field_tag :IEPS, "", id:"IEPS", class:"form-control", readonly:true  %>
						</div>
					</div>
				</div>

			    <div class="form-group">
					<%= label_tag :Total, "Total:", class: "control-label col-md-2" %>
					<div class="col-md-9">
						<%= text_field_tag :Total, "", id:"Total", class:"form-control", readonly:true  %>
					</div>
				</div>
				<div class="form-group">
          <div class="col-md-12 col-xs-6" style="text-align: center;">
            <%= submit_tag "Agregar", class: "btn btn-primary", data: { disable_with: 'Agregando' } %>
  	      </div>
	      </div>
		 	</div>

		</div>
		<%end%>

	 	<div id="tabla" class="col-xs-12 col-md-8">
	        <div>
	          <div class="row">
	              <div class="panel panel-default">
	                <div class="panel-heading">
	                  <h4>
	                     Lista de Productos
	                  </h4>
	                </div>
	                <table id="table" class="table table-fixed">
	                  <thead>
	                    <tr>
	                      <th class="col-xs-1">Clave</th>
	                      <th class="col-xs-3">Descripción</th>
	                      <th class="col-xs-1">Cant</th>
	                      <th class="col-xs-1">UM</th>
	                      <th class="col-xs-1">P.U</th>
	                      <th class="col-xs-1">Sub-Total</th>
	                      <th class="col-xs-1">Desc.</th>
	                      <th class="col-xs-1">IVA</th>
	                      <th class="col-xs-1">IEPS</th>
	                      <th class="col-xs-1">Total</th>
	                    </tr>
	                  </thead>
	                  <tbody id="container_productos" class="datos">
                      <%= render partial: "pos/producto", collection: @productos %>
	                  </tbody>
	                </table>

          				<div class="form-group">
                  	<div id="resumen_pos"><%= render 'resumen_pos' %></div>
          				</div>

	            </div>
	          </div>
	        </div>
	    </div>
	</div>

  <div class="row">
    <div class="text-center">
      <%= form_tag("/procesar_venta", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
          <div class="form-group">
            <%= text_field_tag :IdRuta,"", value: params[:IdRuta], style: "display:none;", readonly:true%>
            <%= text_field_tag :documento, "", value: @DiaC.try(:FolVta), style: "display:none;", readonly:true%>
            <%= text_field_tag :DiaO, "", value: @DiaO.try(:DiaO), style: "display:none;", readonly:true%>
            <%= text_field_tag :IdVendedor,"", value: params[:IdVendedor], style: "display:none;", readonly:true%>
            <%= text_field_tag :PdaPW,"", value: params[:PdaPW], style: "display:none;", readonly:true%>
        </div>
        <div class="form-group">
            <%= submit_tag "Cerrar Venta", class: "btn btn-primary btn-lg", data: { disable_with: 'Finalizando...' } %>
        </div>
      <%end%>
    </div>
  </div>

  <script type="text/javascript">
    $(document).on("ready page:load", function () {

      $("#Cantidad, #UM, #Producto").change(function() {
         var precio_unitario=parseFloat(document.getElementById('Precio_Unitario').value, 10);
         var descuento=parseFloat(document.getElementById('Descuento').value, 10);
         var iva=parseInt(document.getElementById('IVA').value, 10);
         var ieps=parseInt(document.getElementById('IEPS').value, 10);
         var cantidad=parseInt(document.getElementById('Cantidad').value, 10);
         var Equivalente=document.getElementById('Equivalente').value;
         var PzaXCja=document.getElementById('PzaXCja').value;
         var UM=document.getElementById('UM').value;
        if (UM == "Cajas"){
	    	    var Lt_Kg = (PzaXCja*cantidad)*Equivalente;
            var SubTotal = precio_unitario*cantidad;
        }else if (UM == "Piezas"){
	    	    var Lt_Kg = cantidad*Equivalente;
            var SubTotal = ((precio_unitario/PzaXCja)*cantidad).toFixed(2);
    	  }


         $("#Lt_Kg").val(Lt_Kg);


         //Descuento
         var cliente=document.getElementById('Cliente').value;
         var producto=document.getElementById('Producto').value;
         var Precio_Unitario=$(this).find('.Precio_Unitario').html();

        $.ajax({
          url: "/pos_vendedor_descuentoxproducto",
          type: "get",
          data: {
            Cliente: cliente,
            Clave_producto: producto,
            SubTotal: SubTotal,
            iva: iva

          }
        });
      });
          //Lt/Kg
    });
  </script>


    <%= render 'partials/buscadorReportes/ventana_modal_clientes' %>
    <%= render 'partials/buscadorReportes/ventana_modal_productos' %>
