$('#clientes').html('<%= escape_javascript(render("partials/buscadorReportes/clientes")) %>');
$('#productos').html('<%= escape_javascript(render("partials/buscadorReportes/productos")) %>');
$('#paginatorCliente').html("<%= escape_javascript(paginate(@clientes_Selector, :remote => true, :param_name => 'clientes'))%>");
$('#paginatorProducto').html("<%= escape_javascript(paginate(@productos_Selector, :remote => true, :param_name => 'productos'))%>");
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);

