$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");
$("#Descuento").val('<%= @Descuento%>');
$("#IVA_calculado").val('<%= @IVA_calculado%>');
$("#Sub-total").val('<%= @SubTotal%>');
$("#Total").val('<%= @Total%>');

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
