<%if (params[:Condicion_de_venta] != "Crédito") || (params[:Condicion_de_venta] == "Crédito" && @Saldodisponible > @total)%>
	$("#container_productos").prepend('<%= j render(:partial => '/pos/producto', locals: { producto: @producto}) %>'); //Prepend before append
	$("#producto_<%= @producto.Clave %>").hide().fadeIn(1000);
	$("#resumen_pos").html("<%= escape_javascript(render("resumen_pos"))%>")
<%end%>
$("#Producto").val('');
$("#Nombre_Producto").val('');
$("#Cantidad").val('');
$("#Precio_Unitario").val('');
$("#Lt_Kg").val('');
$("#Equivalente").val('');
$("#PzaXCja").val('');
$("#Sub-total").val('');
$("#Descuento").val('');
$("#IVA").val('');
$("#IEPS").val('');
$("#Total").val('');

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
