<% if @ruta != nil %>

  <%= form_for(@ruta, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update"}) do |f| %><!--ajax-->
  <div nohidden class="modal fade si" id="myupdateruta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Ruta</h4>
      </div>

      <div class="modal-body">

                <div class="modal-body">

                  <div class="row">
                    <div class="col-md-12">
                          <div class="panel with-nav-tabs panel-default">
                              <div class="panel-heading">
                                      <ul class="nav nav-tabs">
                                          <li class="active"><a href="#tab1default-UPDATE" data-toggle="tab">Datos Generales</a></li>
                                          <li><a href="#tab3default-UPDATE" data-toggle="tab">Datos de Grupos</a></li>
                                          <li><a href="#tab2default-UPDATE" data-toggle="tab">Datos de Configuración</a></li>
                                          <li><a href="#tab4default-UPDATE" data-toggle="tab">Datos de Configuración</a></li>
                                      </ul>
                              </div>




                              <div class="panel-body">
                                  <div class="tab-content">
                                      <div class="tab-pane fade in active" id="tab1default-UPDATE">

                                        <div class="form-group">
                                          <%= f.label :Ruta, "Número de Ruta:", class: "control-label col-md-3" %>
                                          <div class="col-md-7">
                                            <%= f.text_field :Ruta, class: "form-control", required: "true" %>
                                          </div>
                                        </div>

                                        <div class="form-group">

                                          <%= f.label :TipoRuta, "Tipo:", class: "control-label col-md-3"  %>
                                          <div class="col-md-5">
                                            <%= f.select :TipoRuta, options_for_select(@catgrupos_ruta_TipoRuta.map{|e|[e.Descripcion, e.Clave]},selected: @ruta.TipoRuta)%>

                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <%= f.label :Oficina, "Oficina:", class: "control-label col-md-3" %>
                                          <div class="col-md-8">
                                            <%= f.text_area :Oficina, class: "form-control ", maxlength: "100", required: "true" %>
                                          </div>
                                        </div>


                                        <div class="form-group">

                                          <%= f.label :Sector, "Grupo:", class: "control-label col-md-3"  %>
                                          <div class="col-md-4">
                                            <%= f.select :Sector, options_for_select(@catgrupos_ruta_Sector.map{|e|[e.Descripcion, e.Clave]},selected: @ruta.Sector), :onchange => ("$(this).submit()") %>

                                          </div>

                                        </div>

                                          <div class="form-group">
                                              <%= f.label :Vendedor, "Empleado:", class: "control-label col-md-3" %>
                                            <div class="col-md-3">
                                              <%= f.select :Vendedor, options_for_select(@vendedores.map{|e|[e.Nombre, e.IdVendedor]},selected: @ruta.Vendedor), :prompt => "Por favor seleccione", class: "form-control", required: "true" %>
                                            </div>
                                          </div>

                                          <div class="form-group">
                                              <%= f.label :id_ayudante1, "Asistente 1:", class: "control-label col-md-3" %>
                                            <div class="col-md-3">
                                              <%= f.select :id_ayudante1, options_for_select(@vendedores.map{|e|[e.Nombre, e.IdVendedor]},selected: @ruta.id_ayudante1),:include_blank => "Por favor seleccione", class: "form-control" %>
                                            </div>
                                          </div>

                                          <div class="form-group">
                                              <%= f.label :id_ayudante2, "Asistente 2:", class: "control-label col-md-3" %>
                                            <div class="col-md-3">
                                              <%= f.select :id_ayudante2, options_for_select(@vendedores.map{|e|[e.Nombre, e.IdVendedor]},selected: @ruta.id_ayudante2),:include_blank => "Por favor seleccione", class: "form-control" %>
                                            </div>
                                          </div>

                                          <div class="form-group">
                                              <%= f.label :vehiculo, "Vehículo:", class: "control-label col-md-3" %>
                                            <div class="col-md-3">
                                              <%= f.select :vehiculo, options_for_select(@vehiculos.map{|e| ["#{e.Placas} - #{e.Descripcion}", e.IdVehiculos]},selected: @ruta.vehiculo)%>
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <%= f.label :Activa,"Activa:", class: "control-label col-xs-7 col-sm-6 col-md-3"%>
                                            <div class="col-md-1">
                                              <%= f.check_box :Activa %>
                                            </div>
                                          </div>



                                      </div>



                                      <div class="tab-pane fade" id="tab2default-UPDATE">
                                        <%= f.fields_for :configruta do |configruta| %>
                                          <!--
                                          <div class="well center-block">
                                            <div class="form-group">
                                              <h4 class="col-md-5">Impresora:</h4>
                                            </div>
                                            <div class="form-group">
                                              <%= configruta.label :ModelPrinter, "Impersora:", class: "control-label col-md-3"  %>
                                              <div class="col-md-3">
                                                <%= configruta.select :ModelPrinter, ['Zebra 220', 'Zebra 320', 'Bixolon SPP-R200'], class: "form-control"%>
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <%= configruta.label :COM, "Puerto:", class: "control-label col-md-3"  %>
                                              <div class="col-md-3">
                                                <%= configruta.select :COM, ['COM1', 'COM2', 'COM3', 'COM4', 'COM5', 'COM6', 'COM7', 'COM8', 'COM9' ], class: "form-control"%>
                                              </div>
                                            </div>
                                          </div>
                                          -->
                                          <div class="well center-block">
                                            <div class="form-group">
                                              <h4 class="col-md-5">Servidor:</h4>
                                            </div>
                                            <div class="form-group">
                                              <%= configruta.label :Server, "Servidor WebServices:", class: "control-label col-md-3" %>
                                              <div class="col-md-5">
                                                <%= configruta.text_field :Server, class: "form-control", minlength: "7", required: "true" %>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="well center-block">
                                            <div class="form-group">
                                              <h4 class="col-md-5">Clientes Nuevos:</h4>
                                            </div>
                                            <div class="form-group">
                                              <%= configruta.label :CteNvo,"Capturar Clientes Nuevos:", class: "control-label col-xs-7 col-sm-5 col-md-5"%>
                                              <div class="col-md-1">
                                                <%= configruta.check_box :CteNvo %>
                                              </div>
                                            </div>


                                            <div class="form-group">
                                              <%= configruta.label :CveCteNvo, "Definir Clave:", class: "control-label col-xs-7 col-sm-5 col-md-5" %>
                                              <div class="col-md-1">
                                                <%= configruta.check_box :CveCteNvo %>
                                              </div>
                                            </div>

                                            <%= f.fields_for :continuid do |continuid| %>
                                              <div class="form-group">
                                                <%= continuid.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
                                                <%= continuid.label :CteNvo, "Clave Actual:", class: "control-label col-md-5" %>
                                                <div class="col-md-5">
                                                  <%= continuid.text_field :CteNvo,  class: "form-control " %>
                                                </div>
                                              </div>
                                              <%= continuid.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
                                              <%= continuid.hidden_field :RutaID, value: @ruta.id %>

                                            <%end%>
                                          </div>

                                          <div class="form-group">
                                            <%= configruta.label :PromoEq,"Sugerir Promoción equivalente:", class: "control-label col-xs-7 col-sm-5 col-md-5"%>
                                            <div class="col-md-1">
                                              <%= configruta.check_box :PromoEq %>
                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <%= configruta.label :SugerirCant,"Capturar Clientes Nuevos:", class: "control-label col-xs-7 col-sm-5 col-md-5"%>
                                            <div class="col-md-1">
                                              <%= configruta.check_box :SugerirCant %>
                                            </div>
                                          </div>

                                          <%= configruta.hidden_field :VelCom, value: 19200 %>
                                          <%= configruta.hidden_field :Puerto, value: 21 %>
                                          <%= configruta.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>

                                        <%end%>
                                        <div class="form-group">
                                          <%= f.label :Foranea,"Foranea:", class: "control-label col-xs-7 col-sm-5 col-md-5"%>
                                          <div class="col-md-1">
                                            <%= f.check_box :Foranea %>
                                          </div>
                                        </div>

                                      </div>
                                      <div class="tab-pane fade" id="tab3default-UPDATE">
                                        <%= f.fields_for :relrucla do |relrucla| %>

                                            <div class="form-group">
                                                <%= relrucla.label :Clas1, "Clasificación 1:", class: "control-label col-md-3" %>
                                              <div class="col-md-3">
                                                <%= relrucla.select :Clas1, options_for_select(@clas1.map{|e|[e.Descripcion, e.IdCRutas]},selected: @ruta.relrucla.Clas1),:include_blank => "Por favor seleccione", class: "form-control" %>
                                              </div>
                                            </div>

                                            <div class="form-group">
                                                <%= relrucla.label :Clas2, "Clasificación 2:", class: "control-label col-md-3" %>
                                              <div class="col-md-3">
                                                <%= relrucla.select :Clas2, options_for_select(@clas2.map{|e|[e.Descripcion, e.IdCRutas]},selected: @ruta.relrucla.Clas2),:include_blank => "Por favor seleccione",  class: "form-control" %>
                                              </div>
                                            </div>

                                            <div class="form-group">
                                                <%= relrucla.label :Clas3, "Clasificación 3:", class: "control-label col-md-3" %>
                                              <div class="col-md-3">
                                                <%= relrucla.select :Clas3, options_for_select(@clas3.map{|e|[e.Descripcion, e.IdCRutas]},selected: @ruta.relrucla.Clas3),:include_blank => "Por favor seleccione", class: "form-control" %>
                                              </div>
                                            </div>

                                            <div class="form-group">
                                                <%= relrucla.label :Clas4, "Clasificación 4:", class: "control-label col-md-3" %>
                                              <div class="col-md-3">
                                                <%= relrucla.select :Clas4, options_for_select(@clas4.map{|e|[e.Descripcion, e.IdCRutas]},selected: @ruta.relrucla.Clas4),:include_blank => "Por favor seleccione", class: "form-control" %>
                                              </div>
                                            </div>

                                            <div class="form-group">
                                                <%= relrucla.label :Clas5, "Clasificación 5:", class: "control-label col-md-3" %>
                                              <div class="col-md-3">
                                                <%= relrucla.select :Clas5, options_for_select(@clas5.map{|e|[e.Descripcion, e.IdCRutas]},selected: @ruta.relrucla.Clas5),:include_blank => "Por favor seleccione", class: "form-control" %>
                                              </div>
                                            </div>

                                            <div class="actions">
                                              <div class="form-group">
                                                <div class="col-md-12">
                                                <%= link_to 'Clasificaciones', clasrutas_path, class: "btn btn-primary btn-lg" %>
                                                </div>
                                              </div>
                                            </div>
                                            
                                            <%= relrucla.hidden_field :RutaId, value: @ruta.id %>
                                        <%end%>
                                      </div>

                                      <div class="tab-pane fade" id="tab4default-UPDATE">
                                         <%= f.fields_for :continuid do |continuid| %>
                                           <div class="form-group">
                                             <%= continuid.label :UDiaO, "Dia operativo:", class: "control-label col-xs-5 col-sm-5 col-md-5" %>
                                             <div class="col-xs-5 col-sm-5 col-md-5">
                                               <%= continuid.text_field :UDiaO, class: "form-control " %>
                                             </div>
                                           </div>
                                           <div class="form-group">
                                             <%= continuid.label :FolVta, "Folio de venta:", class: "control-label col-xs-5 col-sm-5 col-md-5" %>
                                             <div class="col-xs-5 col-sm-5 col-md-5">
                                               <%= continuid.text_field :FolVta, class: "form-control " %>
                                             </div>
                                           </div>
                                           <div class="form-group">
                                             <%= continuid.label :FolPed, "Folio de pedidos:", class: "control-label col-xs-5 col-sm-5 col-md-5" %>
                                             <div class="col-xs-5 col-sm-5 col-md-5">
                                               <%= continuid.text_field :FolPed, class: "form-control " %>
                                             </div>
                                           </div>
                                           <div class="form-group">
                                             <%= continuid.label :FolDevol, "Folio de devolución:", class: "control-label col-xs-5 col-sm-5 col-md-5" %>
                                             <div class="col-xs-5 col-sm-5 col-md-5">
                                               <%= continuid.text_field :FolDevol, class: "form-control " %>
                                             </div>
                                           </div>

                                         <%end%>

                                       </div>
                                  </div>
                              </div>
                          </div>
                      </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="myupdatebutton" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
      </div>
    </div>
  </div>
  </div>
  <%end%>

  <script>
    $(".formulario-validado-update").validate();

  </script>
</div>


<%end%>
