  <tr id="ruta_<%= ruta.id %>">
    <td class="col_left"><%=ruta.try(:IdRutas)%></td>

    <td class="col_left"><%= ruta.try(:Ruta)%></td>
    <td>
         <% if ruta.Activa == true%>
          Activa
        <%else%>
          Inactiva
        <%end%>
    </td>
    <td class="col_left"><%=ruta.sector.try(:Descripcion)%></td>
    <td class="col_left"><%=ruta.tiporuta.try(:Descripcion)%></td>
    <td class="col_left"><%=ruta.vendedor.try(:Nombre)%></td>
    <td class="col_left"><%=ruta.vendedor.try(:NumLicencia)%></td>
    <td class="col_left"><%=ruta.vendedor.try(:VenceLic).try(:strftime,"%d-%m-%Y")%></td>
    <td class="col_left"><%=ruta.asistente1.try(:Nombre)%></td>
    <td class="col_left"><%=ruta.asistente2.try(:Nombre)%></td>
    <td class="col_left"><%=ruta.coche.try(:Descripcion)%></td>
    <td class="col_left"><%=ruta.coche.try(:FechaVencSeguro).try(:strftime,"%d-%m-%Y")%></td>


    <td class="col_center">
    <div class="btn-group"><a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
     <%= t('basic.Acción') %>

     </a>
    <ul class="dropdown-menu posicion-menu">


      <li>

        <%= link_to '<i class="fa fa-user-plus" aria-hidden="true"></i>Clientes'.html_safe, ruta_clientes_path(ruta), class:"btn btn-default btn-lg", title:"Agregar clientes"   %>
        <%= link_to '<i class="fa fa-user-plus" aria-hidden="true"></i>Vendedores'.html_safe, ruta_vendedores_path(ruta), class:"btn btn-default btn-lg", title:"Agregar vendedores"   %>

        <%= link_to 'Editar', datos_ruta_path(:IdRutas => ruta.try(:IdRutas)), class: "btn btn-default btn-lg btn-block", :remote => true, data: { disable_with: 'Cargando...' }  %>

        <!--Destroy-->
        <% if ruta.Activa == true%>
          <%= link_to 'Eliminar', ruta, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
        <%else%>
          <%= link_to 'Habilitar', ruta, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'}  %>
        <%end%>

      </li>



    </ul>
    </div>
    <!-- button group --></td>
  </tr>
