<style>
.campo {
  width: 70px !important;
}
</style>


<%= search_form_for @search, :remote=>"true", url: rutas_path, :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="col_left"><%= sort_link @search, :Ruta, "Ruta","ruta", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :sector_Descripcion, "Grupo","ruta", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :tiporuta_Descripcion, "Tipo de Ruta	","ruta", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :vendedor_Nombre, "Vendedor","ruta", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :vendedor_NumLicencia, "Licencia","ruta", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :asistente1_Nombre, "Asistente 1","ruta", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :asistente2_Nombre, "Asistente 2","ruta", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :coche_Descripcion, "Vehículo","ruta", {}, { :remote => true, :method => :get } %></th>
            <th class="action_col col_center"><%= t("basic.action") %></th>
          </tr>
          <tr>
            <th><%= f.text_field :Ruta_matches, class:"campo" %></th>
            <th><%= f.text_field :sector_Descripcion_cont, class:"campo" %></th>
            <th><%= f.text_field :tiporuta_Descripcion_cont, class:"campo" %></th>
            <th><%= f.text_field :vendedor_Nombre_cont, class:"campo" %></th>
            <th><%= f.text_field :vendedor_NumLicencia_cont, class:"campo" %></th>
            <th><%= f.text_field :asistente1_Nombre_cont, class:"campo" %></th>
            <th><%= f.text_field :asistente2_Nombre_cont, class:"campo" %></th>
            <th><%= f.text_field :coche_Descripcion_cont, class:"campo" %></th>

            <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
          </tr>

        </thead>
        <tbody>
        </tbody>
      </table>
  </div><% end %>





      <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
            <%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
              <tr>
                <th class="col_left"><%= sort_link @search, :RutaId, "Id","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :Ruta, "Ruta","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :Activa, "Estado","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :sector_Descripcion, "Grupo","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :tiporuta_Descripcion, "Tipo de Ruta	","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :vendedor_Nombre, "Vendedor","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :vendedor_NumLicencia, "Licencia","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :vendedor_VenceLic, "Vigencia de licencia	","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :asistente1_Nombre, "Asistente 1","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :asistente2_Nombre, "Asistente 2","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :coche_Descripcion, "Vehículo","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :coche_FechaVencSeguro, "Vencimiento de Seguro","ruta", {}, { :remote => true, :method => :get } %></th>
                <th class="action_col"><%= t("basic.action") %></th>
              </tr><% end %>
            </thead>
            <tbody id="container_rutas">
              <%= render @rutas%>
            </tbody>
          </table>
          <%= paginate @rutas, :param_name => 'rutas'  %>

  </div>
  <div id="datos_ruta"><%= render 'datos_ruta' %></div>
