<%= form_for(@ruta, remote: true, html: {class: "form-horizontal ruta-validado"}) do |f| %> <!--ajax remote: true-->
<%= f.label :Sector, "Grupo:", class: "control-label col-md-3"  %>
<div class="col-md-4">
  <%= f.select :Sector, options_for_select(@catgrupos_ruta_Sector.map{|e|[e.Descripcion, e.Clave]}), :onchange => ("$(this).submit()") %>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mynewcategorySector">
    ...
  </button>
</div>
<%end%>
