<%= form_for(@ruta, remote: true, html: {class: "form-horizontal ruta-validado"}) do |f| %> <!--ajax remote: true-->
<%= f.label :TipoRuta, "Tipo:", class: "control-label col-md-3"  %>
<div class="col-md-5">
  <%= f.select :TipoRuta, options_for_select(@catgrupos_ruta_TipoRuta.map{|e|[e.Descripcion, e.Clave]}), :onchange => ("$(this).submit()") %>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mynewcategory">
    ...
  </button>
</div>
<%end%>
