<% if @puede_crear == true%>
  $("#mynewruta").modal('hide');
  $(".ruta_ruta").val('');
  $(".ruta_oficina").val('');
  $(".continuidad_ctenvo").val('');
  $(".continuidad_diao").val('');
  $(".continuidad_folvta").val('');
  $(".continuidad_folped").val('');
  $(".continuidad_foldevol").val('');


  $("#container_rutas").prepend('<%= j render @ruta %>'); //Prepend before append
  $("#ruta_<%= @ruta.id %>").hide().fadeIn(1000);
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
