<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Id</Data></Cell>
        <Cell><Data ss:Type="String">Número de Ruta</Data></Cell>
        <Cell><Data ss:Type="String">Tipo Ruta</Data></Cell>
        <Cell><Data ss:Type="String">Oficina</Data></Cell>
        <Cell><Data ss:Type="String">Vendedor</Data></Cell>
        <Cell><Data ss:Type="String">Vehiculo</Data></Cell>
        <Cell><Data ss:Type="String">Sector</Data></Cell>
        <Cell><Data ss:Type="String">Activa</Data></Cell>
      </Row>

      <% @rutasEXP.each do |ruta| %>
        <Row>
          <Cell><Data ss:Type="String"><%= ruta.IdRutas%></Data></Cell>
          <Cell><Data ss:Type="String"><%= ruta.Ruta%></Data></Cell>
          <Cell><Data ss:Type="String"><%= ruta.tiporuta.try(:Descripcion)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= ruta.Oficina%></Data></Cell>
          <Cell><Data ss:Type="String"><%= ruta.Vendedor%></Data></Cell>
          <Cell><Data ss:Type="String"><%= ruta.try(:vehiculo)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= ruta.sector.try(:Descripcion)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= ruta.Activa%></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
