
<%= search_form_for @search_backorder, :remote=>"true", url: backorder_path, :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>

        </thead>
        <tbody>
        </tbody>
      </table>
  </div><% end %>
  <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
           <thead>
            <%= search_form_for @search_backorder, :remote=>"true", url: backorder_path, :method => :get do |f| %>
            <tr>
              <th class="col_left"><%= sort_link @search_backorder, :Ruta, "Ruta","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="col_left"><%= sort_link @search_backorder, :Pedido, "Pedido","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="col_left"><%= sort_link @search_backorder, :Cliente, "Cliente","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="col_left"><%= sort_link @search_backorder, :NombreComercial, "NombreComercial","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="col_left"><%= sort_link @search_backorder, :Fecha_Pedido, "Fecha","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="col_left"><%= sort_link @search_backorder, :Fecha_Entrega, "Fecha Entrega","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="col_left"><%= sort_link @search_backorder, :Cajas, "Cajas","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="col_left"><%= sort_link @search_backorder, :Pzas, "Pzas","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="col_right"><%= sort_link @search_backorder, :Total, "Total","detallebo", {}, { :remote => true, :method => :get } %></th>
              <th class="col_left"><%= sort_link @search_backorder, :Status, "Status","detallebo", {}, { :remote => true, :method => :get } %></th>
            </tr>
          </thead><% end %>
            <tbody id="container_backorders">

              <%= render @backorder %><!--carga todos los productos-->

            </tbody>
          </table>
          <div id="paginator_backorder"><%= paginate @backorder, :remote => true, :param_name => 'backorder' %></div> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
</div>
