<tr id="backord_<%= backord.id %>">
  <td class="col_left"><%=backord.try(:Ruta)%></td>
  <td class="col_left"><%=backord.try(:Pedido)%></td>
  <td class="col_left"><%=backord.try(:Cliente)%></td>
  <td class="col_left"><%=backord.try(:NombreComercial)%></td>
  <td class="col_left"><%=backord.try(:Fecha_Pedido).try(:strftime,"%d-%m-%Y")%></td>
  <td class="col_left"><%=backord.try(:Fecha_Entrega).try(:strftime,"%d-%m-%Y")%></td>
  <td class="col_left"><%=backord.try(:Cajas)%></td>
  <td class="col_left"><%=backord.try(:Pzas)%></td>
  <td class="col_right"><%=backord.try(:Total)%></td>
  <td class="col_left"><%=backord.try(:Status)%></td>
</tr>
