<%= form_for(@backord) do |f| %>
  <% if @backord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@backord.errors.count, "error") %> prohibited this backord from being saved:</h2>

      <ul>
      <% @backord.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ID %><br>
    <%= f.text_field :ID %>
  </div>
  <div class="field">
    <%= f.label :PEDIDO %><br>
    <%= f.text_field :PEDIDO %>
  </div>
  <div class="field">
    <%= f.label :RUTA %><br>
    <%= f.text_field :RUTA %>
  </div>
  <div class="field">
    <%= f.label :CODCLIENTE %><br>
    <%= f.text_field :CODCLIENTE %>
  </div>
  <div class="field">
    <%= f.label :FOLIO_BO %><br>
    <%= f.text_field :FOLIO_BO %>
  </div>
  <div class="field">
    <%= f.label :FECHA_PEDIDO %><br>
    <%= f.text_field :FECHA_PEDIDO %>
  </div>
  <div class="field">
    <%= f.label :FECHA_BO %><br>
    <%= f.text_field :FECHA_BO %>
  </div>
  <div class="field">
    <%= f.label :FECHA_ENTREGA %><br>
    <%= f.text_field :FECHA_ENTREGA %>
  </div>
  <div class="field">
    <%= f.label :FECHA_LIBERACION %><br>
    <%= f.text_field :FECHA_LIBERACION %>
  </div>
  <div class="field">
    <%= f.label :TIPO %><br>
    <%= f.text_field :TIPO %>
  </div>
  <div class="field">
    <%= f.label :STATUS %><br>
    <%= f.text_field :STATUS %>
  </div>
  <div class="field">
    <%= f.label :CANCELADA %><br>
    <%= f.text_field :CANCELADA %>
  </div>
  <div class="field">
    <%= f.label :SUBTOTAL %><br>
    <%= f.text_field :SUBTOTAL %>
  </div>
  <div class="field">
    <%= f.label :IVA %><br>
    <%= f.text_field :IVA %>
  </div>
  <div class="field">
    <%= f.label :IEPS %><br>
    <%= f.text_field :IEPS %>
  </div>
  <div class="field">
    <%= f.label :TOTAL %><br>
    <%= f.text_field :TOTAL %>
  </div>
  <div class="field">
    <%= f.label :KG %><br>
    <%= f.text_field :KG %>
  </div>
  <div class="field">
    <%= f.label :IDEMPRESA %><br>
    <%= f.text_field :IDEMPRESA %>
  </div>
  <div class="field">
    <%= f.label :Motivo %><br>
    <%= f.text_field :Motivo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
