<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @backord.ID %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @backord.PEDIDO %>
</p>

<p>
  <strong>Ruta:</strong>
  <%= @backord.RUTA %>
</p>

<p>
  <strong>Codcliente:</strong>
  <%= @backord.CODCLIENTE %>
</p>

<p>
  <strong>Folio bo:</strong>
  <%= @backord.FOLIO_BO %>
</p>

<p>
  <strong>Fecha pedido:</strong>
  <%= @backord.FECHA_PEDIDO %>
</p>

<p>
  <strong>Fecha bo:</strong>
  <%= @backord.FECHA_BO %>
</p>

<p>
  <strong>Fecha entrega:</strong>
  <%= @backord.FECHA_ENTREGA %>
</p>

<p>
  <strong>Fecha liberacion:</strong>
  <%= @backord.FECHA_LIBERACION %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @backord.TIPO %>
</p>

<p>
  <strong>Status:</strong>
  <%= @backord.STATUS %>
</p>

<p>
  <strong>Cancelada:</strong>
  <%= @backord.CANCELADA %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @backord.SUBTOTAL %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @backord.IVA %>
</p>

<p>
  <strong>Ieps:</strong>
  <%= @backord.IEPS %>
</p>

<p>
  <strong>Total:</strong>
  <%= @backord.TOTAL %>
</p>

<p>
  <strong>Kg:</strong>
  <%= @backord.KG %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @backord.IDEMPRESA %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @backord.Motivo %>
</p>

<%= link_to 'Edit', edit_backord_path(@backord) %> |
<%= link_to 'Back', backorder_path %>
