<% if (@backord.CANCELADA == TRUE) and (@opcion == "liberar")%>
  $("#backord_<%= @backord.id %>").fadeOut(500, function(){
    $(this).remove();
    $("#container_pedidosliberados").prepend('<%= j render @pedidoliberado %>');

  });

<% elsif (@backord.CANCELADA == TRUE) and (@opcion == "cancelar")%>
  $("#backord_<%= @backord.id %>").fadeOut(500, function(){
    $(this).remove();

  });
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
