<div class="row">
  <div class="col-md-8">
    <h4 style="text-align: right;">Entregas</h4>
  </div>
</div>
<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th class="text-center">Cajas</th>
      <th class="text-center">Piezas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">
        <%= @total_cajas_entregadas %>
      </td>
      <td class="text-center">
        <%= @total_piezas_entregadas %>
      </td>
    </tr>
  </tbody>
</table>


