<style>

@media screen and (min-width: 480px){/* cuando la anchura minima sea de 489 pixeles, va a cambiar el dispositivo*/
  .modal-lg{
    width: 100%;
	}
}

@media screen and (min-width: 767px){
  .modal-lg{
    width: 100%;
	}
}
@media screen and (min-width: 950px){
  .modal-lg{
    width: 90%;
	}
}
</style>
<% if @detalles != nil %>
    <div class="modal fade" id="mydetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Detalles</h4>
          </div>
          <div class="modal-body">
           <div style="overflow-x:auto;">
             <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                  <tr>
                    <th class="component_name_header_col">Ruta</th>
                    <th class="component_name_header_col">Pedido</th>
                    <th class="component_name_header_col">Clave</th>
                    <th class="component_name_header_col">Producto</th>
                    <th class="component_name_header_col">Fecha</th>
                    <th class="component_name_header_col">Fecha Entrega</th>
                    <th class="component_name_header_col">Cajas</th>
                    <th class="component_name_header_col">Piezas</th>
                    <th class="component_name_header_col">Precio</th>
                    <th class="component_name_header_col">Subtotal</th>
                    <th class="component_name_header_col">Descuento</th>
                    <th class="component_name_header_col">IVA</th>
                    <th class="component_name_header_col">Total</th>
                    <th class="component_name_header_col">Status</th>
                  </tr>
                </thead>
                <tbody id="container_detalles">
                  <% @detalles.each do |detalle| %>
                    <tr>
                      <td class="component_name_body_col"><%=detalle.try(:RutaPedido)%></td>
                      <td class="component_name_body_col"><%=detalle['Pedido']%></td>
                      <td class="component_name_body_col"><%=detalle['Producto_Clave']%></td>
                      <td class="component_name_body_col"><%=detalle['Producto_Producto']%></td>
                      <td class="component_name_body_col"><%=detalle['Fecha'].try(:strftime,"%d-%m-%Y")%></td>
                      <td class="component_name_body_col"><%=detalle['Fecha_Entrega'].try(:strftime,"%d-%m-%Y")%></td>
                      <td class="component_name_body_col"><%=detalle['Cajas']%></td>
                      <td class="component_name_body_col"><%=detalle['Piezas']%></td>
                      <td class="component_name_body_col"><%=detalle['DetallePedidos_Precio']%></td>
                      <td class="component_name_body_col"><%=detalle['DetallePedidos_Importe']%></td>
                      <td class="component_name_body_col"><%=detalle['DetallePedidos_Descuento']%></td>
                      <td class="component_name_body_col"><%=detalle['DetallePedidos_IVA']%></td>
                      <td class="component_name_body_col"><%=detalle['DetallePedidos_Total']%></td>
                      <td class="component_name_body_col"><%=detalle['StatusDetalle']%></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <h4>Productos Promoción</h4>
              <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                  <tr>
                    <th class="component_name_header_col">Ruta</th>
                    <th class="component_name_header_col">Pedido</th>
                    <th class="component_name_header_col">Clave</th>
                    <th class="component_name_header_col">Producto</th>
                    <th class="component_name_header_col">Fecha</th>
                    <th class="component_name_header_col">Cajas</th>
                    <th class="component_name_header_col">Piezas</th>
                  </tr>
                </thead>
                <tbody id="container_promociones">
                  <% @productos_promocion.each do |producto| %>
                    <tr>
                      <td class="component_name_body_col"><%=producto.try(:Ruta)%></td>
                      <td class="component_name_body_col"><%=producto.try(:Docto)%></td>
                      <td class="component_name_body_col"><%=producto.try(:SKU)%></td>
                      <td class="component_name_body_col"><%=producto.try(:Producto)%></td>
                      <td class="component_name_body_col"><%=producto.try(:Fecha).try(:strftime,"%d-%m-%Y")%></td>
                      <td class="component_name_body_col"><%=producto.try(:Cajas)%></td>
                      <td class="component_name_body_col"><%=producto.try(:Pzas)%></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mydetalleclose">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
<% end %>
