<% if @pedidos_consolidar != nil %>
<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Producto</th>
      <th>Cajas</th>
      <th>Piezas</th>
      <th>Total Piezas</th>
    </tr>
  </thead>
  <tbody id="container_item_consolidado">
    <% @pedidos_consolidar.each do |pc| %>
      <%
        cajas = pc['Cajas'].to_i
        piezas = pc['Piezas'].to_i
        total_piezas = (pc['Cajas'].to_i * pc['PiezasXProducto'].to_i).to_i + pc['Piezas'].to_i
        if pc['Piezas'].to_i >= pc['PiezasXProducto']
          cajas = pc['Cajas'].to_i + (pc['Piezas'].to_i / pc['PiezasXProducto'].to_i).to_i
          piezas = (pc['Piezas'].to_i % pc['PiezasXProducto'].to_i).to_i
        end
      %>
      <tr id="pc_<%= pc['Clave'] %>">
        <td><%= pc['Clave']%></td>
        <td><%= pc['Producto']%></td>
        <td><%= cajas%></td>
        <td><%= piezas%></td>
        <td><%= total_piezas%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="consolidados_paginator">
  <%= paginate @pedidos_consolidar, :param_name => 'consolidar' , :remote => true %>
</div>
<%= link_to 'Exportar Excel', consolidacion_path(:ventana_modal => true, search: params[:search], status: params[:status], search4: params[:search4], search5: params[:search5], format: 'xls'), class: "btn btn-success btn-sm"  %>

<% end %>