<%= form_tag("/visor_de_pedidos", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
    <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="component_name_header_col"><%= label_tag :Producto_param, "Producto", class: "control-label" %></th>
            <th class="component_name_header_col"><%= label_tag :Clave_param, "Clave", class: "control-label" %></th>
            <th class="component_name_header_col"><%= label_tag :Pedido_param, "Pedido", class: "control-label" %></th>
            <th class="component_name_header_col"><%= label_tag :Cliente_IdCli_param, "Cliente", class: "control-label" %></th>
            <th class="component_name_header_col"><%= label_tag :Cliente_NombreComercial_param, "Nombre Comercial", class: "control-label" %></th>
            <th class="component_name_header_col"><%= label_tag :Fecha_param, "Fecha", class: "control-label" %></th>
            <th class="component_name_header_col"><%= label_tag :FechaEntrega_param, "Fecha Compromiso", class: "control-label" %></th>
            <th class="component_name_header_col"><%= label_tag :Tipo_param, "Tipo", class: "control-label" %></th>
            <th class="action_col"><%= t("basic.Acción") %></th>
          </tr>
          <tr>
            <th><%= text_field_tag :Producto_param,"", class:"campo" %></th>
            <th><%= text_field_tag :Clave_param,"", class:"campo" %></th>
            <th><%= text_field_tag :Pedido_param,"", class:"campo" %></th>
            <th><%= text_field_tag :Cliente_IdCli_param,"", class:"campo" %></th>
            <th><%= text_field_tag :Cliente_NombreComercial_param,"", class:"campo" %></th>
            <th><%= text_field_tag :Fecha_param,"", class:"campo" %></th>
            <th><%= text_field_tag :FechaEntrega_param,"", class:"campo" %></th>
            <th><%= select_tag :Tipo_param, options_for_select([['Contado'], ['Credito'], ['Obsequio']]), :prompt => "Todas"  %></th>
            <input id="rutaIdB" type="hidden" value="<%=params[:rutaIdB] %>" name="rutaIdB"/><%# se debe colocar debido a que a la hora de hacer la busqueda de los registros dentro de la tabla, hace la consulta y no toma los ids porque se pierden%>
            <input id="Status" type="hidden" value="<%=params[:Status] %>" name="Status" class="status_busqueda_secundaria"/>
            <input id="search4" type="hidden" value="<%=params[:search4] %>" name="search4"/>
            <input id="search5" type="hidden" value="<%=params[:search5] %>" name="search5"/>
            <input id="Tipo_Fecha" type="hidden" value="<%=params[:Tipo_Fecha] %>" name="Tipo_Fecha"/>


            <th>
                <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
<% end %>



<%= form_tag("/consolidar", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->

  <input id="ruta_consolidados" type="hidden" value="<%=params[:ruta_consolidados] %>" name="ruta_consolidados"/><%# se debe colocar debido a que a la hora de hacer la busqueda de los registros dentro de la tabla, hace la consulta y no toma los ids porque se pierden%>
  <%= submit_tag "Enviar para consolidar", name: "subaction", data: { disable_with: 'Enviando...' } %>
<!--
  <%= link_to "Surtir de forma masiva", surtir_de_forma_masiva_path(:rutaIdB => params[:rutaIdB], :Status => params[:Status], :search4 => params[:search4], :search5 => params[:search5], :commit=>"surtimiento_masivo"), remote: true, class: "btn-sm btn-primary ", data: { disable_with: 'Surtiendo...' } %>
-->

  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th class="component_name_header_col">Ruta</th>
          <th class="component_name_header_col">Pedido</th>
          <th class="component_name_header_col">Cliente</th>
          <th class="component_name_header_col">Nombre comercial</th>
          <th class="component_name_header_col">Fecha</th>
          <th class="component_name_header_col">Fecha Compromiso</th>
          <th class="component_name_header_col">Fecha Entrega</th>
          <th class="component_name_header_col">Tipo</th>
          <th class="component_name_header_col">Pedido Cajas</th>
          <th class="component_name_header_col">Pedido Piezas</th>
          <th class="component_name_header_col">Promociones Cajas</th>
          <th class="component_name_header_col">Promociones Piezas</th>
          <th class="component_name_header_col">Total</th>
          <th class="component_name_header_col">Status</th>
          <th class="component_name_header_col">Cancelado</th>
          <th class="component_name_header_col">Crédito</th>
          <th class="component_name_header_col">Stock</th>
          <th class="action_col"><%= t("basic.action") %></th>
        </tr>
      </thead>
      <tbody id="container_pedidos">
          <%= render @pedidos %>
      </tbody>
    </table>
    <% end %>
    <div id="pedidos_paginator">
      <%= paginate @pedidos, :param_name => 'pedidos' , :remote => true, params: {commit: params[:commit]} %>
    </div>

    <%= link_to 'Exportar Excel', visor_de_pedidos_path(:rutaIdB => params[:rutaIdB], :Ruta => params[:rutaIdB], :search => params[:rutaIdB], :Status => params[:Status], :search2 => params[:search2], :search3 => params[:search3], :search4 => params[:search4], :search5 => params[:search5], :search6 => params[:search6], :Tipo_Fecha => params[:Tipo_Fecha], :Producto_param => params[:Producto_param], :Clave_param => params[:Clave_param], :Pedido_param => params[:Pedido_param], :Cliente_IdCli_param => params[:Cliente_IdCli_param], :Cliente_NombreComercial_param => params[:Cliente_NombreComercial_param], :Fecha_param => params[:Fecha_param], :FechaEntrega_param => params[:FechaEntrega_param], :Tipo_param => params[:Tipo_param],:commit => params[:commit], format:"xls"), class:"btn btn-success btn-xs", data: { disable_with: 'Exportando...' }  %></td>


  </div>
