<tr id="pedido_<%= pedido.IdPedido %>">
  <td class="component_name_body_col"><%=pedido.try(:Ruta_Ruta)%></td>
  <td class="component_name_body_col"><%=pedido.try(:Pedido)%></td>
  <td class="component_name_body_col"><%=pedido.try(:Cliente_IdCli)%></td>
  <td class="component_name_body_col"><%=pedido.try(:Cliente_NombreComercial)%></td>
  <td class="component_name_body_col"><%=pedido.try(:Pedidos_Fecha).try(:strftime,"%d-%m-%Y")%></td>
  <td class="component_name_body_col"><%=pedido.try(:Pedidos_Fecha_Compromiso).try(:strftime,"%d-%m-%Y")%></td>
  <td class="component_name_body_col"><%=pedido.try(:Pedidos_Fecha_Entrega).try(:strftime,"%d-%m-%Y")%></td>
  <td class="component_name_body_col"><%=pedido.try(:Tipo)%></td>
  <td class="component_name_body_col"><%=pedido.try(:Cajas)%></td>
  <td class="component_name_body_col"><%=pedido.try(:Pzas)%></td>
  <td class="component_name_body_col"><%=pedido.try(:Promociones_Cajas)%></td>
  <td class="component_name_body_col"><%=pedido.try(:Promociones_Pzas)%></td>
  <td class="component_name_body_col"><%=pedido.try(:Total_calculado)%></td>
  <td class="component_name_body_col"><%=pedido.try(:Status_Pedido)%></td>
  <td class="component_name_body_col">
    <% if(pedido.try(:Cancelado) == true) %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
  <td class="component_name_body_col">
    <% if(pedido.try(:Credito) == true) %>
      <i class="fa fa-check"></i>
    <% end %>
  </td>
  <td class="component_name_body_col">
    <% if(pedido.try(:Stock).to_i.eql? 1) %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
  </td>
  <td><%= link_to 'Detalles', detalles_pedidos_path(:Pedido => pedido.try(:Pedido), :Ruta => pedido.try(:Id_Ruta), :IdEmpresa => params[:search6], :Producto_param => params[:Producto_param], :Clave_param => params[:Clave_param]), :remote => true, data: { disable_with: 'Buscando...' }  %>

    <% if pedido.try(:Status_Pedido) == "LIBERADO"  %>
      <%= link_to "Surtir", pedido_path(pedido, pedido: {Status: 3}), method: :put, remote: true, class: "btn-xs btn-primary ", data: { disable_with: 'Surtiendo...' } %>
    <%end%>

    <% if pedido.try(:Status_Pedido) == "SURTIDO"  %>
      <%= link_to 'PDF', pedidos_pdf_path(:P => pedido.try(:Pedido),:R => pedido.try(:Id_Ruta), :format => 'pdf'), data: { disable_with: 'Imprimiendo...' }  %>
    <%end%>
    <% if pedido.try(:Status_Pedido) == "ENTREGADO" %>
      <% if (pedido.try(:Email) != 'CORREO' and pedido.try(:Email) != nil and pedido.try(:Email) != '') %>
        <a onclick="generarFactura(event, '<%=pedido.try(:IdPedido)%>')" href="javascript:void(0)" data-email="<%=pedido.try(:Email)%>">
          Facturar
        </a>
      <% else %>
      <a href="#" onclick="updateEmail('<%=pedido.try(:Cliente_IdCli)%>', '<%=pedido.try(:Cliente_NombreComercial)%>')">Actualizar Correo</a>
      <%end%>
    <% end %>
    <% if pedido.try(:Cancelado) != true and pedido.try(:Status_Pedido) != "EN TRANSITO" and pedido.try(:Status_Pedido) != "ENTREGADO" %>
      <a href="#" onclick="cancelarPedido('<%=pedido.try(:IdPedido)%>', '<%=pedido.try(:Pedido)%>')">Cancelar</a>
    <% end %>
  </td>
  <td>
      <%= check_box_tag "item_#{pedido.IdPedido}"%>

    <script type="text/javascript">
      //para el checkbox cuando se cambie de página verifica si están en check los elementos
      if (document.getElementById("pedido_<%=pedido.IdPedido%>").value != null) {
          document.getElementById("item_<%=pedido.IdPedido%>").checked = true;
      } else {
          document.getElementById("item_<%=pedido.IdPedido%>").checked = false;
      }
    </script>

  </td>

    <script type="text/javascript">
      $("#item_<%=pedido.IdPedido%>").change(function() {
        var pedido_<%=pedido.IdPedido%> = <%=pedido.IdPedido%>;

        if (document.getElementById('item_<%=pedido.IdPedido%>').checked) {
          //si el elemento le dan check el crea el campo con el id del mismo para ser enviado
            document.getElementById('campos_para_surtir_masivamente').innerHTML+='<input type="hidden" id="pedido_<%=pedido.IdPedido%>" value="'+pedido_<%=pedido.IdPedido%>+'" name="lista[pedido_<%=pedido.IdPedido%>]" class="items_para_surtir" />';
        } else {
          //si le quitan el check, borra el elemento a enviar
           document.getElementById("campos_para_surtir_masivamente").removeChild(document.getElementById("pedido_<%=pedido.IdPedido%>"));
        }

      });
    </script>


  </tr>
