<h4 class="text-center">Obsequios</h4>
<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th class="text-center">Cajas</th>
      <th class="text-center">Piezas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td class="text-center">
          <%= @pedidos_obsequios_total_existencia_cajas %>
        </td>
        <td class="text-center">
          <%= @pedidos_obsequios_total_existencia_piezas %>
        </td>
    </tr>
  </tbody>
</table>