<div class="row">
  <div class="col-md-8">
    <h4 style="text-align: right;">Resumen de Pedidos</h4>
  </div>

  <div class="col-md-4 text-center">
     <%= link_to 'Consolidado', consolidacion_path(:ventana_modal => true, search: params[:rutaIdB], status: params[:Status], search4: params[:search4], search5: params[:search5]), data: { disable_with: 'Procesando...' }, :remote => true, class: "btn btn-primary btn-sm disabled", id: 'consolidado'  %>
  </div>
</div>
<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th class="text-center">Pedidos</th>
      <th class="text-center">Clientes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">
        <%= @total_pedidos %>
      </td>
      <td class="text-center">
        <%= @total_clientes %>
      </td>
    </tr>
  </tbody>
</table>
<script type="text/javascript">
  $("#Status").trigger('change');
</script>