<%= form_tag("/surtir_de_forma_masiva", method: 'get', remote: true, class: "form-horizontal" ) do %> 

	<%= fields_for :lista do |ff|%>
	 <div id="campos_para_surtir_masivamente">
		
		<% if @todos_los_pedidos_seleccionados.present?%>
			<% @todos_los_pedidos_seleccionados.each do |pedido| %>
		    	<input type="hidden" id="pedido_<%=pedido.IdPedido%>" value="<%=pedido.IdPedido%>" name="lista[pedido_<%=pedido.IdPedido%>]" class="items_para_surtir" />

		    	    <script type="text/javascript">
						var myitem = document.getElementById('item_<%=pedido.IdPedido%>');
						if (myitem != null) document.getElementById("item_<%=pedido.IdPedido%>").checked = true;      
				    </script>
		    <% end %>
	    <% end %>

	 </div>
	<% end %>

	<%= submit_tag "Surtir campos seleccionados", name: "subaction", class: "btn btn-primary btn-xs", data: { disable_with: 'Enviando...' }, style:"float: right;" %>
<% end %>

<div id="boton_seleccionar_todos"><%=render 'boton_seleccionar_todos'%> </div>






