$('#item_consolidado').html('<%= escape_javascript(render("item_consolidado")) %>');
$('#consolidados_paginator').html("<%= escape_javascript(paginate(@pedidos_consolidar, :remote => true, :param_name => 'consolidar'))%>");
$('#pc').modal('show');
