<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>
    <Style ss:ID="Cabecera_Producto">
     <Interior ss:Color="#1DA1F2" ss:Pattern="Solid"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="Cabecera_Producto"><Data ss:Type="String">Clave</Data></Cell>
        <Cell ss:StyleID="Cabecera_Producto"><Data ss:Type="String">Producto</Data></Cell>
        <Cell ss:StyleID="Cabecera_Producto"><Data ss:Type="String">Cajas</Data></Cell>
        <Cell ss:StyleID="Cabecera_Producto"><Data ss:Type="String">Piezas</Data></Cell>
        <Cell ss:StyleID="Cabecera_Producto"><Data ss:Type="String">Total Piezas</Data></Cell>
      </Row>

      <% @pedidos_todos.each do |producto| %>
        <%
          cajas = producto['Cajas'].to_i
          piezas = producto['Piezas'].to_i
          total_piezas = (producto['Cajas'].to_i * producto['PiezasXProducto'].to_i).to_i + producto['Piezas'].to_i
          if producto['Piezas'].to_i >= producto['PiezasXProducto']
            cajas = producto['Cajas'].to_i + (producto['Piezas'].to_i / producto['PiezasXProducto'].to_i).to_i
            piezas = (producto['Piezas'].to_i % producto['PiezasXProducto'].to_i).to_i
          end
        %>
        <Row>
          <Cell><Data ss:Type="String"><%= producto['Clave'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto['Producto'] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= cajas %></Data></Cell>
          <Cell><Data ss:Type="String"><%= piezas %></Data></Cell>
          <Cell><Data ss:Type="String"><%= total_piezas %></Data></Cell>
        </Row>
      <% end %>

    </Table>
  </Worksheet>
</Workbook>
