$("#pedido_<%= @pedido.IdPedido %>").fadeOut(500, function(){
  $(this).remove();

    $("#container_pedidos").prepend('<%= j render @pedido %>');

});
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
