<!--<p id="notice"><%= notice %></p>-->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<h1>Visor de pedidos</h1>
<style>
.component_name_header_col{
  color:#5A738E;
}
</style>



<div>
  <div class="well center-block">
    <h2 class="x_title">Busqueda de pedidos</h2>
    <%= form_tag("/visor_de_pedidos", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
    <div class="row x_title">
      <div class="col-md-3 col-xs-12">
        <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
        <%= hidden_field_tag :nombre_ruta_verificar_checkbox, params[:ruta_autocompletar]%>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="form-group">
          <%= hidden_field_tag :search6, params[:search6], value:"#{current_usuario.empresa_id}"%>
          <%= label_tag :Status, "Status del pedido:", class: "control-label col-md-4 col-xs-4" %>
          <div class="col-md-4 col-xs-5">
            <%= select_tag :Status, options_for_select([['PENDIENTE',1], ['LIBERADO',2], ['SURTIDO',3], ['EN TRANSITO',4], ['ENTREGADO',5], ['CANCELADO', 6]]), :prompt => "Todas", class: 'form-control' %>
          </div>
          <div class="col-md-4 col-xs-3">
            <%= select_tag :Tipo_Fecha, options_for_select([['Fech.Pedido'], ['Fech.Entrega']]), class: 'form-control', disabled: true %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
          <div class="form-group">
            <label class="col-md-2 col-xs-6 control-label">
              Inicio:
            </label>
            <div class="col-md-4 col-xs-6">
              <%= text_field_tag :search4, params[:search4],id:"activity-customer-start-period", class:"form-control datepicker", autocomplete: "off"%>
            </div>
            <label class="col-md-2 col-xs-6 control-label">
              Fin:
            </label>
            <div class="col-md-4 col-xs-6">
              <%= text_field_tag :search5, params[:search5],id:"activity-customer-end-period" , class:"form-control datepicker", autocomplete: "off"%>
            </div>
          </div>
          <div class="form-group">
            <%= hidden_field_tag :search6, params[:search6], value:"#{current_usuario.empresa_id}"%>
             <div class="col-md-6 col-xs-6 text-center">
               <%= submit_tag "Procesar Pedidos", id: 'liberar_pedidos', class: "btn btn-primary disabled", data: { disable_with: 'Procesando' } %>
             </div>
             <div class="col-md-6 col-xs-6" style="text-align: right;">
               <%= submit_tag "Buscar", id: 'searchPedidos', class: "btn btn-primary", data: { disable_with: 'Buscando' } %>
             </div>
          </div>

      </div>
      <%end%>
      <div class="col-md-3 col-xs-6 tile_stats_count text-center">
        <span class="count_top2"><i class="fa fa-user"></i>Monto Entregas</span>
        <div id="monto_entregas"><%= render 'monto_entregas' %></div>
      </div>
      <div class="col-md-3 col-xs-6 tile_stats_count text-center">
        <span class="count_top2"><i class="fa fa-user"></i>Monto Contado</span>
        <div id="monto_contado"><%= render 'monto_contado' %></div>
      </div>
      <div class="col-md-3 col-xs-6 tile_stats_count text-center">
        <span class="count_top2"><i class="fa fa-user"></i>Monto Credito</span>
        <div id="monto_credito"><%= render 'monto_credito' %></div>
      </div>
      <div class="col-md-3 col-xs-6 tile_stats_count text-center">
        <span class="count_top2"><i class="fa fa-user"></i>Monto Total</span>
        <div id="monto_total"><%= render 'monto_total' %></div>
      </div>


  </div>

  <div class="row">
    <div class="col-md-2">
      <div id="productos_pedidos_total"><%=render 'productos_pedidos_total'%> </div>
    </div>
    <div class="col-md-2">
      <div id="productos_obsequios_pedidos_total"><%=render 'productos_obsequios_pedidos_total'%> </div>
    </div>
    <div class="col-md-3">
      <div id="productos_promocion_total"><%=render 'productos_promocion_total'%> </div>
    </div>
    <div class="col-md-2">
      <div id="cajas_y_pzas_entregadas"><%=render 'cajas_y_pzas_entregadas'%> </div>
    </div>
    <div class="col-md-3">
      <div id="resumen_pedidos"><%=render 'resumen_pedidos'%> </div>
    </div>
  </div>

    <div class="modal fade" id="pc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Consolidado de Carga</h4>
          </div>
          <div class="modal-body">
            <div class="rwd">
              <div id="item_consolidado"><%= render 'item_consolidado' %></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="pcclose">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

      <div id="surtimiento_masivo"><%= render 'surtimiento_masivo' %></div>
      <div id="pedidos"><%= render 'pedidos' %></div>
      <div id="detalles_pedidos"><%= render 'detalles_pedidos' %></div>


  <%= form_tag("/clientes", method: :put, remote: true, id: 'cliente_form', class: "form-horizontal" ) do %><!--responde al index-->
      <div class="modal fade" id="actualizar_correo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Actualizar correo de <span id="cliente"></span></h4>
            </div>
            <div class="modal-body">
              <div class="rwd">
                <div class="form-group">
                  <label for="" class="control-label col-md-3">Email</label>
                  <div class="col-md-9">
                    <input type="email" name="cliente[Email]" id="cliente_Email" class="form-control" required="required">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="pcclose">Cerrar</button>
              <%= submit_tag "Actualizar", name: "subaction", id: 'sendFormCliente', class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
            </div>
          </div>
        </div>
      </div>
    <% end %>

      <div class="modal fade" id="pdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="min-height: 80vh">
              <iframe src="" type="application/pdf" width="100%" height="100%" style="overflow: auto; min-height: 80vh"></iframe>
            </div>
          </div>
        </div>
      </div>
</div>

<script type="text/javascript">
  var pdfData;

  function cancelarPedido(id, numero){
    swal({
      title: 'Advertencia',
      text: `¿Está seguro que desea cancelar el pedido ${numero}?`,
      showCancelButton: true,
      closeOnConfirm: false,
      cancelButtonText: 'No',
      confirmButtonText: 'Sí'
    }, function(confirm){
      if(confirm){
        $.ajax({
          url: '/pedidos/cancelar',
          method: 'POST',
          data: {
            IdPedido: id
          },
          dataType: 'json'
        }).done(function(data){
          if(data){
            $("#searchPedidos").trigger('click');
            swal('Éxito', 'El pedido se ha cancelado exitosamente', 'success');
          }else{
            swal('Error', 'Ocurrió un error al cancelar el pedido', 'error');
          }
        })
      }
    })
  }

  function updateEmail(cliente, nombre){
    $("#cliente").text(nombre);
    $("#cliente_id").val(cliente);
    $("#actualizar_correo").modal('show');
    $("#cliente_Email").val('');
    $("#cliente_form").attr('action', '/clientes/'+cliente);
  }
  $("#Status").on('change', function(e){
    var status = parseInt($("#Status").val()) || 0;
    if(status !== 0){
      $("#consolidado").removeClass('disabled');
      if (status === 3){
        $("#liberar_pedidos").removeClass('disabled');
      }else{
        $("#liberar_pedidos").addClass('disabled');
        if (status == 5){
          $("#Tipo_Fecha").prop("disabled", false);
        }else{
          $("#Tipo_Fecha").prop("disabled", true);
        }
      }
    }else{
      $("#consolidado").addClass('disabled');
      $("#liberar_pedidos").addClass('disabled');
    }
  });
  var generarFactura = function (event, pedido){
    event.target.innerHTML = 'Generando factura electrónica';
    $.ajax({
      method: 'post',
      url: '/pedidos/facturacion',
      data: {
        IdPedido: pedido
      },
      dataType: 'json'
    }).done(function(data){
      if(data[0].length > 1){
        swal('Error', data[0], 'error');
      }else{
        pdfData = data[2];
        swal({title: 'Éxito', text: data[4], type: 'success'}, function(confirm){
          $("#pdf").modal('show');
          var file = URL.createObjectURL(converBase64toBlob(pdfData, 'application/pdf'));
          document.querySelector("iframe").src = file;
        });
      }
      event.target.innerHTML = 'Facturar';
    })
  }

  function converBase64toBlob(content, contentType) {
    contentType = contentType || '';
    var sliceSize = 512;
    var byteCharacters = window.atob(content); //method which converts base64 to binary
    var byteArrays = [
    ];
    for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
      var slice = byteCharacters.slice(offset, offset + sliceSize);
      var byteNumbers = new Array(slice.length);
      for (var i = 0; i < slice.length; i++) {
        byteNumbers[i] = slice.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      byteArrays.push(byteArray);
    }
    var blob = new Blob(byteArrays, {
      type: contentType
    }); //statement which creates the blob
    return blob;
  }
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
