<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>
    <Style ss:ID="Cabecera_Pedido">
     <Interior ss:Color="#FF9F4F" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="Cabecera_Detalle">
    <Interior ss:Color="#89acfe" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="Productos_Promociones">
    <Interior ss:Color="#111111" ss:Pattern="Solid"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Ruta</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Pedido</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Cliente</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Nombre Comercial</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Fecha</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Fecha Compromiso</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Fecha Entrega</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Tipo</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Pedido Cajas</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Pedido Piezas</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Promociones Cajas</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Promociones Piezas</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Total</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Status</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Cancelado</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Crédito</Data></Cell>
        <Cell ss:StyleID="Cabecera_Pedido"><Data ss:Type="String">Stock</Data></Cell>
      </Row>

      <% @pedidos_export.each do |pedido| %>

        <Row>
          <Cell><Data ss:Type="String"><%= pedido.try(:Ruta_Ruta)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Pedido)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Cliente_IdCli)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Cliente_NombreComercial)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Pedidos_Fecha).try(:strftime,"%d-%m-%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Pedidos_Fecha_Compromiso).try(:strftime,"%d-%m-%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Pedidos_Fecha_Entrega).try(:strftime,"%d-%m-%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Tipo)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Cajas)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Pzas)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Promociones_Cajas)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Promociones_Pzas)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Total_calculado)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= pedido.try(:Status_Pedido)%></Data></Cell>
          <Cell><Data ss:Type="String">
            <% if(pedido.try(:Cancelado) == true) %>
              X
            <% end %>
          </Data></Cell>
          <Cell><Data ss:Type="String">
            <% if(pedido.try(:Credito) == true) %>
              Sí
            <% end %>
          </Data></Cell>
          <Cell><Data ss:Type="String">
            <% if(pedido.try(:Stock).to_i.eql? 1) %>
              X
            <% end %>
          </Data></Cell>
        </Row>

        <Row>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Detalle</Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Ruta</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Pedido</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Clave</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Producto</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Fecha</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Fecha Entrega</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Cajas</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Piezas</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Precio</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Subtotal</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Descuento</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">IVA</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Total</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Status</Data></Cell>
        </Row>
        <% @detalles_export.where(:Pedido => pedido.try(:Pedido), :Ruta => pedido.try(:Id_Ruta), :IdEmpresa => params[:search6]).each do |detalle| %>
          <Row>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle.try(:RutaPedido)%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['Pedido']%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['Producto_Clave']%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['Producto_Producto']%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['Fecha'].try(:strftime,"%d-%m-%Y")%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['Fecha_Entrega'].try(:strftime,"%d-%m-%Y")%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['Cajas']%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['Piezas']%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['DetallePedidos_Precio']%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['DetallePedidos_Importe']%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['DetallePedidos_Descuento']%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['DetallePedidos_IVA']%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['DetallePedidos_Total']%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=detalle['StatusDetalle']%></Data></Cell>
          </Row>
        <% end %>

        <Row>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Productos promoción</Data></Cell>
        </Row>
        <Row>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Ruta</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Pedido</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Clave</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Producto</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Fecha</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Cajas</Data></Cell>
          <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Piezas</Data></Cell>
        </Row>
        <% @productos_promocion_export.where(:Docto => pedido.try(:Pedido), :RutaId => pedido.try(:Id_Ruta), :IdEmpresa => params[:search6]).each do |promocion| %>
          <Row>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=promocion.try(:Ruta)%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=promocion.try(:Docto)%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=promocion.try(:SKU)%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=promocion.try(:Producto)%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=promocion.try(:Fecha).try(:strftime,"%d-%m-%Y")%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=promocion.try(:Cajas)%></Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%=promocion.try(:Pzas)%></Data></Cell>
          </Row>
        <% end %>


      <% end %>


    </Table>
  </Worksheet>
</Workbook>
