<%if params[:ruta_autocompletar].present?%>
	if ($("#nombre_ruta_verificar_checkbox").val() != "<%=params[:ruta_autocompletar].try(:upcase)%>") {
		$(".items_para_surtir").remove();
	}
	$("#nombre_ruta_verificar_checkbox").val('<%=params[:ruta_autocompletar].try(:upcase)%>');
<%end%>
$("#rutaIdB").val('<%=params[:rutaIdB]%>');
$(".status_busqueda_secundaria").val('<%=params[:Status]%>');

$('#pedidos').html('<%= escape_javascript(render("pedidos")) %>');
$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$("#monto_entregas").html("<%= escape_javascript(render("monto_entregas"))%>")
$("#monto_total").html("<%= escape_javascript(render("monto_total"))%>")
$("#monto_credito").html("<%= escape_javascript(render("monto_credito"))%>")
$("#monto_contado").html("<%= escape_javascript(render("monto_contado"))%>")
$("#productos_pedidos_total").html("<%= escape_javascript(render("productos_pedidos_total"))%>")
$("#productos_obsequios_pedidos_total").html("<%= escape_javascript(render("productos_obsequios_pedidos_total"))%>")
$("#productos_promocion_total").html("<%= escape_javascript(render("productos_promocion_total"))%>")
$("#resumen_pedidos").html("<%= escape_javascript(render("resumen_pedidos"))%>")
$('#pedidos_paginator').html("<%= escape_javascript(paginate(@pedidos, :remote => true, :param_name => 'pedidos', params: {commit: params[:commit]}))%>");
$("#boton_seleccionar_todos").html("<%= escape_javascript(render("boton_seleccionar_todos"))%>")
$("#cajas_y_pzas_entregadas").html("<%= escape_javascript(render("cajas_y_pzas_entregadas"))%>")
