<tr id="cliente_<%= cliente.id %>">
  <td class="col_left"><%= cliente.try(:IdCli)%></td>
  <td class="col_left"><%= cliente.try(:Nombre)%></td>
  <td class="col_left"><%= cliente.try(:NombreCorto)%></td>
  <td class="col_left"><%= cliente.try(:Telefono)%></td>
  <td class="col_left"><%= cliente.try(:Colonia)%></td>
  <td class="col_left">
    <% if cliente.relclirutas != nil%>
      <% cliente.relclirutas.each do |varias| %>
        <% if varias.ruta.try(:IdEmpresa) == current_usuario.empresa_id %>
          <%=varias.ruta.try(:Ruta)%>
        <%end%>
      <%end%>
    <%end%>
  </td>
  <td>

      <!--Modal - create relclili-->
      <%= form_for(@relclili, remote: true, html: {class: "form-horizontal"}) do |f| %> <!--ajax remote: true-->

              <div class="field">
                <%= f.hidden_field :ListaPromo, value: params[:id]  %>
              </div>
              <div class="field">
                <%= f.hidden_field :CodCliente, value: cliente.id%>
              </div>
              <div class="field">
                <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
              </div>


            <%= submit_tag "Añadir", class: "btn btn-warning", data: { disable_with: 'Agregando' }%>
      <%end%>

  </td>

</tr>
