<tr id="relclili_<%= relclili.id %>">
  <td class="col_left"><%= relclili.try(:CodCliente)%></td>
  <td class="col_left"><%= relclili.cliente.try(:Nombre)%></td>
  <td class="col_left"><%= relclili.cliente.try(:NombreCorto)%></td>
  <td class="col_left"><%= relclili.cliente.try(:Telefono)%></td>
  <td class="col_left"><%= relclili.cliente.try(:Colonia)%></td>
  <td class="col_left">
    <% if relclili.cliente.relclirutas != nil%>
      <% relclili.cliente.relclirutas.each do |varias| %>
        <% if varias.ruta.try(:IdEmpresa) == current_usuario.empresa_id %>
          <%=varias.ruta.try(:Ruta)%>
        <%end%>
      <%end%>
    <%end%>
  </td>
  <td>
    <%= form_for(relclili, :method => :put, remote: true) do |f| %><!--ajax-->

      <div class="field">
        <%= f.hidden_field :ListaPromo, value: nil   %>
      </div>
      <input id="parametro_ID" type="hidden" value="<%=relclili.ListaPromo%>" name="parametro_ID"/><!--PARA QUE NO SE PIERDA EL ID DE LA LISTA CUANDO PASE POR EL EDITAR-->

      <%= submit_tag "Eliminar", class: "btn btn-danger", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'} %>

    <%end%>
        <!--Destroy-->

  </td>

</tr>
