<tr id="cliente_<%= cliente.id %>">
  <td class="col_left"><%= cliente.try(:IdCli)%></td>
  <td class="col_left"><%= cliente.try(:Nombre)%></td>
  <td class="col_left"><%= cliente.try(:Telefono)%></td>
  <td class="col_left"><%= cliente.try(:Colonia)%></td>
  <td>

      <!--Modal - create relclili-->
      <%= form_for(@relclili, remote: true, :url => {:controller =>'relclilis', :action => 'create'}, html: {class: "form-horizontal"}) do |r| %> <!--ajax remote: true-->

              <div class="field">
                <%= r.hidden_field :ListaD, value: params[:id]  %>
              </div>
              <div class="field">
                <%= r.hidden_field :CodCliente, value: cliente.id%>
              </div>
              <div class="field">
                <%= r.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
              </div>

            <%= r.submit "Añadir", class: "btn btn-warning", data: { disable_with: 'Agregando' }%>
      <%end%>
  </td>

</tr>
