<tr id="relclili_<%= relclili.id %>">
  <td class="col_left"><%= relclili.try(:CodCliente)%></td>
  <td class="col_left"><%= relclili.cliente.try(:Nombre)%></td>
  <td class="col_left"><%= relclili.cliente.try(:Telefono)%></td>
  <td class="col_left"><%= relclili.cliente.try(:Colonia)%></td>

  <td>
    <%= form_for(relclili, :method => :put, remote: true) do |f| %><!--ajax-->

      <div class="field">
       <%= f.hidden_field :ListaD, value: nil   %>
      </div>
      <input id="parametro_ID" type="hidden" value="<%=relclili.ListaD%>" name="parametro_ID"/><!--PARA QUE NO SE PIERDA EL ID DE LA LISTA CUANDO PASE POR EL EDITAR-->

      <%= submit_tag "Eliminar", class: "btn btn-danger", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'} %>

    <%end%>
        <!--Destroy-->

  </td>

</tr>
