<%= link_to 'Transferir clientes', proc_transf_cli_vend_path(:search => params[:search], :vendedor => params[:vendedor], :vendedor2 => params[:vendedor2], :Dia_de_semana => params[:Dia_de_semana]), remote:true, data: {confirm: "¿Está seguro que desea transferirlos?", disable_with: 'Transfiriendo...'}, class:"btn btn-success btn-xs"  %>
