<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search_cliente_v2, as: :x, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
      <thead>
        <tr>
          <th class="col_left"><%= sort_link @search_cliente_v2, :cliente_IdCli, "Clave","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v2, :cliente_Nombre, "Nombre","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v2, :cliente_NombreCorto, "Razón Social","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v2, :cliente_Direccion, "Dirección","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v2, :cliente_Colonia, "Colonia","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v2, :ruta_Ruta, "Ruta","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v2, :cliente_Horario, "Horario","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left">Secuencia</th>
        </tr>
     </thead>
    <% end %>
    <tbody id="container_clientes_v2">
        <%= render partial: "/reldaycli/asig_clientes_entre_vendedores/cliente_v2", collection: @clientes_v2 %>
    </tbody>
  </table>
  <%= paginate @clientes_v2, :param_name => 'cliente_v2', params: {controller: 'reldaycli', action: 'asig_clientes_entre_vendedores'}, :remote => true   %>
</div>
