<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search_cliente_v, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
      <thead>
        <tr>
          <th class="col_left"><%= sort_link @search_cliente_v, :cliente_IdCli, "Clave","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v, :cliente_Nombre, "Nombre","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v, :cliente_NombreCorto, "Razón Social","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v, :cliente_Direccion, "Dirección","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v, :cliente_Colonia, "Colonia","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v, :ruta_Ruta, "Ruta","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @search_cliente_v, :cliente_Horario, "Horario","reldayc", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left">Secuencia</th>
        </tr>
     </thead>
    <% end %>
    <tbody id="container_clientes_v">
        <%= render partial: "/reldaycli/asig_clientes_entre_vendedores/cliente_v", collection: @clientes_v %>
    </tbody>
  </table>
  <%= paginate @clientes_v, :param_name => 'cliente_v', params: {controller: 'reldaycli', action: 'asig_clientes_entre_vendedores'}, :remote => true    %>
</div>



<% if @clientes_v.present?%>
  <div class="col-md-12" style="padding: 0;">
    <div id="btn_agregar_clientes" style="float: right;"><%= render '/reldaycli/asig_clientes_entre_vendedores/btn_agregar_clientes' %></div>
  </div>
<% end %>
