  <div class="well center-block">
    <h2 id="nombre_vendedor" class="text-center"> Lista de Clientes asignados al vendedor</h2>
    <div id="cantidad_clientes_v"><%= render '/reldaycli/asig_clientes_entre_vendedores/cantidad_clientes_v' %></div>
    <div id="clientes_vendedor"><%= render '/reldaycli/asig_clientes_entre_vendedores/clientes_vendedor' %></div>
  </div>

  <br>
  <br>
  <div class="well center-block well_inferior">
    <h2 id="nombre_vendedor2" class="text-center vendedor2"> Lista de Clientes asignados al vendedor </h2>
    <div id="cantidad_clientes_v2"><%= render '/reldaycli/asig_clientes_entre_vendedores/cantidad_clientes_v2' %></div>
    <br>
    <br>
    <div id="clientes_vendedor2"><%= render '/reldaycli/asig_clientes_entre_vendedores/clientes_vendedor2' %></div>
  </div>
