<tr id="cliente_v2_<%= cliente_v2.id %>">
  <td class="col_left"><%= cliente_v2.cliente.IdCli %></td>
  <td class="col_left"><%= cliente_v2.cliente.Nombre %></td>
  <td class="col_left"><%= cliente_v2.cliente.NombreCorto %></td>
  <td class="col_left"><%= cliente_v2.cliente.Direccion %></td>
  <td class="col_left"><%= cliente_v2.cliente.Colonia %></td>
  <td class="col_left"><%= cliente_v2.ruta.try(:Ruta) %></td>
  <td class="col_left"><%= cliente_v2.cliente.Horario %></td>
  <td class="col_left"><%= cliente_v2.try(:"#{params[:Dia_de_semana]}") %></td>
</tr>
