<tr id="cliente_v_<%= cliente_v.id %>">
  <td class="col_left"><%= cliente_v.cliente.IdCli %></td>
  <td class="col_left"><%= cliente_v.cliente.Nombre %></td>
  <td class="col_left"><%= cliente_v.cliente.NombreCorto %></td>
  <td class="col_left"><%= cliente_v.cliente.Direccion %></td>
  <td class="col_left"><%= cliente_v.cliente.Colonia %></td>
  <td class="col_left"><%= cliente_v.ruta.try(:Ruta) %></td>
  <td class="col_left"><%= cliente_v.cliente.Horario %></td>
  <td class="col_left"><%= cliente_v.try(:"#{params[:Dia_de_semana]}") %></td>
</tr>
