<%= search_form_for @search, :remote=>"true", url: catgrupos_path, :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="col_left"><%= sort_link @search, :Clave, "Clave","catgrupo", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :Descripcion, "Descripcion","catgrupo", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :TipoGrupo, "TipoGrupo","catgrupo", {}, { :remote => true, :method => :get } %></th>
            <th class="action_col"><%= t("basic.action") %></th>
          </tr>
          <tr>
            <th><%= f.text_field :Clave_cont, class:"campo" %></th>
            <th><%= f.text_field :Descripcion_cont, class:"campo" %></th>
            <th><%= f.select :TipoGrupo_cont, [['Producto', 'P'], ['Ruta', 'R'], ['Ruta Tipo', 'T']], class:"campo",:include_blank => "Todos los grupos" %></th>

            <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
          </tr>

        </thead>
        <tbody>
        </tbody>
      </table>
  </div><% end %>




      <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
            <%= search_form_for @search, :remote=>"true", url: catgrupos_path, :method => :get do |f| %>
              <tr>
                <th class="col_left"><%= sort_link @search, :Clave, "Clave","catgrupo", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :Descripcion, "Descripcion","catgrupo", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :Status, "Status","catgrupo", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :TipoGrupo, "TipoGrupo","catgrupo", {}, { :remote => true, :method => :get } %></th>
                <th class="action_col"><%= t("basic.action") %></th>
              </tr><% end %>
            </thead>
            <tbody id="container_catgrupos">
              <%= render @catgrupos %><!--carga todos los activos-->

            </tbody>
          </table>
          <%= paginate @catgrupos %>

  </div>
