<tr id="catgrupo_<%= catgrupo.id %>">
  <td class="col_left"><%= catgrupo.try(:Clave)%></td>
  <td class="col_left"><%= catgrupo.try(:Descripcion)%></td>
  <td class="col_left">
    <%if catgrupo.try(:Status) == true%>
      Activo
    <%else%>
      Inactivo
    <%end%>
      <!--Modal - update producto-->
    <%= form_for(catgrupo, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{catgrupo.id}"}) do |f| %><!--ajax-->
    <div nohidden class="modal fade si" id="myupdatecatgrupo_<%= catgrupo.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar grupo</h4>
          </div>

          <div class="modal-body">

              <div class="form-group">
                <%= f.label :TipoGrupo, "Tipo:", class: "control-label col-md-3"  %>
                <div class="col-md-7">
                  <div id="opciones"class="btn-group" data-toggle="buttons">

                    <label class="btn btn-primary <%if catgrupo.TipoGrupo == "P" %> active <%end%>">
                      <%= f.radio_button :TipoGrupo, 'P' %> Producto
                    </label>

                    <label class="btn btn-primary <%if catgrupo.TipoGrupo == "R" %> active <%end%>">
                      <%= f.radio_button :TipoGrupo, 'R' %> Ruta
                    </label>

                    <label class="btn btn-primary <%if catgrupo.TipoGrupo == "T" %> active <%end%>">
                      <%= f.radio_button :TipoGrupo, 'T' %> Ruta Tipo
                    </label>

                  </div>
                </div>
              </div>


              <div class="form-group">
                <%= f.label :Descripcion, "Descripcion:", class: "control-label col-md-3"  %>
                <div class="col-md-9">
                  <%= f.text_field :Descripcion, class: "form-control ", required: "true"   %>
                </div>
              </div>



              <div class="form-group">
                <%= f.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-2"%>
                <div class="col-md-1">
                  <%= f.check_box :Status,{checked: true} %>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= catgrupo.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
          </div>
        </div>
      </div>
    </div>
    <%end%>
      <script>
        $(".formulario-validado-update<%=catgrupo.id%>").validate();

      </script>
  </td>
  <td class="col_left">
    <%if catgrupo.try(:TipoGrupo) == "P"%>
      Producto
    <%elsif catgrupo.try(:TipoGrupo) == "R" %>
      Ruta
    <%elsif catgrupo.try(:TipoGrupo) == "T" %>
      RutaTipo
    <%end%>

  </td>

  <td>
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
       <%= t('basic.Acción') %>
      </a>
      <ul class="dropdown-menu posicion-menu">
        <li>
          <li>
            <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatecatgrupo_<%= catgrupo.id %>">
              Editar
            </button>
            <!--Destroy-->
            <% if catgrupo.TipoGrupo == "P"%>
              <%= link_to '<i class="fa fa-barcode" aria-hidden="true"></i>Añadir Productos'.html_safe, productos_grupo_path(catgrupo), class:"btn btn-default btn-lg", title:"Agregar productos"   %>
            <%end%>
            <% if catgrupo.Status == true%>
            <%= link_to 'Eliminar', catgrupo, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
            <%else%>
              <%= link_to 'Habilitar', catgrupo, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'} %>
            <%end%>
          </li>
        </li>
      </ul>
    </div>
  </td>
</tr>
