<% if @puede_crear == true%>
  $("#mynewcatgrupo").modal('hide');
  $(".catgrupo_clave").val('');
  $(".catgrupo_descripcion").val('');

  $("#container_catgrupos").prepend('<%= j render @catgrupo %>'); //Prepend before append
  $("#catgrupo_<%= @catgrupo.id %>").hide().fadeIn(1000);
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
