<!--<p id="notice"><%= notice %></p>-->
<h1>Grupos inactivos</h1>
<h3>Total: <%=@cantidad_grupos_inactivos%></h3>
<style>
.container {
  width: 100%;
}

</style>


  <br>
  <br>

<div id="catgrupos"><%= render 'catgrupos' %></div>
<%= link_to 'Volver a Grupos', catgrupos_path, class: "btn btn-primary btn-lg" %>
