<!--<p id="notice"><%= notice %></p>-->
<h1>Grupos</h1>
<h3>Total: <%=@cantidad_grupos_activos%></h3>
<style>
.container {
  width: 100%;
}

</style>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewcatgrupo">
        Nuevo Grupo
      </button>

    </div>
  </div>

  <br>
  <br>

<div id="catgrupos"><%= render 'catgrupos' %></div>



<!-- Modal create action -->
<%= form_for(@catgrupo, remote: true, html: {class: "form-horizontal catgrupo-validado"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewcatgrupo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar grupo</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <%= f.label :TipoGrupo, "Tipo:", class: "control-label col-md-3"  %>
            <div class="col-md-7">
              <div id="opciones"class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <%= f.radio_button :TipoGrupo, 'P',checked: true %> Producto
                </label>
                <label class="btn btn-primary">
                  <%= f.radio_button :TipoGrupo, 'R' %> Ruta
                </label>

                <label class="btn btn-primary">
                  <%= f.radio_button :TipoGrupo, 'T' %> Ruta Tipo
                </label>


              </div>
            </div>
          </div>

          <div class="form-group">

            <%= f.label :Clave, "Clave:", class: "control-label col-md-3"  %>
            <div class="col-md-7">
              <%= f.text_field :Clave, class: "form-control catgrupo_clave clave_sin_espacios_y_sin_caracteres_especiales",autofocus: true, required: "true"   %>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :Descripcion, "Descripcion:", class: "control-label col-md-3"  %>
            <div class="col-md-9">
              <%= f.text_field :Descripcion, class: "form-control catgrupo_descripcion", required: "true"   %>
            </div>
          </div>



          <div class="form-group">
            <%= f.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-2"%>
            <div class="col-md-1">
              <%= f.check_box :Status,{checked: true} %>
            </div>
          </div>
            <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewcatgrupo">Cerrar</button>
          <%= f.submit "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
<%= link_to 'Grupos eliminados ó inhabilitados<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, catgrupos_inactivos_path, class: "btn btn-danger btn-xs"%>
