<p id="notice"><%= notice %></p>

<h1>Listing Catgrupos</h1>

<table>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Descripcion</th>
      <th>Status</th>
      <th>Idempresa</th>
      <th>Tipogrupo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catgrupos.each do |catgrupo| %>
      <tr>
        <td><%= catgrupo.Clave %></td>
        <td><%= catgrupo.Descripcion %></td>
        <td><%= catgrupo.Status %></td>
        <td><%= catgrupo.IdEmpresa %></td>
        <td><%= catgrupo.TipoGrupo %></td>
        <td><%= link_to 'Show', catgrupo %></td>
        <td><%= link_to 'Edit', edit_catgrupo_path(catgrupo) %></td>
        <td><%= link_to 'Destroy', catgrupo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catgrupo', new_catgrupo_path %>
