<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @catgrupo.Clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @catgrupo.Descripcion %>
</p>

<p>
  <strong>Status:</strong>
  <%= @catgrupo.Status %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @catgrupo.IdEmpresa %>
</p>

<p>
  <strong>Tipogrupo:</strong>
  <%= @catgrupo.TipoGrupo %>
</p>

<%= link_to 'Edit', edit_catgrupo_path(@catgrupo) %> |
<%= link_to 'Back', catgrupos_path %>
