<% if @puede_editar == true %>
  $("#myupdatecatgrupo_<%= @catgrupo.id %>").modal('hide');

  $("#catgrupo_<%= @catgrupo.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_catgrupos").prepend('<%= j render @catgrupo %>');
  });
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
