<tr id="reldayc_<%= reldayc.id %>">
  <td>
    <%= check_box_tag("item_in_#{reldayc.Id}", value = "1", checked = false, options = {class: "check_eliminar"}) %>

    <script type="text/javascript">
      if ($('#reldayc_in_<%= reldayc.id %>').val() != null) {
        document.getElementById("item_in_<%=reldayc.Id%>").checked = true;
      } else {
          document.getElementById("item_in_<%=reldayc.Id%>").checked = false;
      }
    </script>

  </td>

  <script type="text/javascript">
    $("#item_in_<%=reldayc.Id%>").change(function() {
      var reldayc_<%=reldayc.Id%> = "<%=reldayc.Id%>";

      if (document.getElementById('item_in_<%=reldayc.Id%>').checked) {
        //si el elemento le dan check el crea el campo con el id del mismo para ser enviado
          document.getElementById('campos_para_eliminar_masivamente').innerHTML+='<input type="hidden" id="reldayc_in_<%=reldayc.Id%>" value="'+reldayc_<%=reldayc.Id%>+'" name="lista_clientes_in[reldayc_<%=reldayc.Id%>]" class="items_para_eliminar" />';
      } else {
        //si le quitan el check, borra el elemento a enviar
         document.getElementById("campos_para_eliminar_masivamente").removeChild(document.getElementById("reldayc_in_<%=reldayc.Id%>"));
      }

    });
  </script>
  <td class="col_left"><%= reldayc.cliente.IdCli %></td>
  <td class="col_left"><%= reldayc.cliente.Nombre %></td>
  <td class="col_left"><%= reldayc.cliente.NombreCorto %></td>
  <td class="col_left"><%= reldayc.cliente.Direccion %></td>
  <td class="col_left"><%= reldayc.cliente.Colonia %></td>
  <td class="col_left"><%= reldayc.ruta.try(:Ruta) %></td>
  <td class="col_left"><%= reldayc.cliente.Horario %></td>

  <td class="col_left"><!--para que muestre la secuencia dependiendo del dia por parametro-->

    <%= form_for(reldayc, :method => :put, remote: true, html: {class: "form-horizontal"}) do |f| %><!--ajax-->

      <%if @dia == "Lunes"%>
        <%= f.number_field :Lunes, value: reldayc.Lunes, min:1 %>

      <%elsif @dia == "Martes"%>
        <%= f.number_field :Martes, value: reldayc.Martes, min:1 %>

      <%elsif @dia == "Miercoles"%>
        <%= f.number_field :Miercoles, value: reldayc.Miercoles, min:1 %>

      <%elsif @dia == "Jueves"%>
        <%= f.number_field :Jueves, value: reldayc.Jueves, min:1 %>

      <%elsif @dia == "Viernes"%>
        <%= f.number_field :Viernes, value: reldayc.Viernes, min:1 %>

      <%elsif @dia == "Sabado"%>
        <%= f.number_field :Sabado, value: reldayc.Sabado, min:1 %>

      <%elsif @dia == "Domingo"%>
        <%= f.number_field :Domingo, value: reldayc.Domingo, min:1 %>

      <%end%>
      <input id="actualizado_por_el_usuario" type="hidden" value=1 name="actualizado_por_el_usuario"/>
      <input id="DGEVOLUCION" type="hidden" value=1 name="DGEVOLUCION"/>

      <%= submit_tag "Ingresar", class: "btn btn-warning btn-xs", data: { disable_with: 'Ingresando' }%>
    <%end%>

  </td>



</tr>
