<tr id="producto_<%= producto.id %>">
 <td><%= producto.Clave %></td>
 <td><%= producto.Producto %></td>
 <td><%= producto.CodBarras %></td>
 <td><%= producto.try(:catgrupo).try(:Descripcion) %></td>
 <td><%= producto.VBase %></td>
 <td>
     <!--Modal - create relmen-->
  <%= form_for(@relmen, remote: true, html: {class: "form-horizontal"}) do |f| %> <!--ajax remote: true-->
   <%= f.hidden_field :IdProducto, value: params[:id]  %>
   <%= f.hidden_field :CodProducto, value: producto.Clave%>
   <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
   <%= submit_tag "Añadir", class: "btn btn-warning btn-xs", data: { disable_with: 'Añadiendo' }%>
  <%end%>
 </td>

</tr>
