<% if @puede_crear == true%>
  $("#mynewcomision").modal('hide');
  $(".comision_comentarios").val('');

  if (<%= @comision.Status == "A" %>){
    $("#container_th_comision").prepend('<%= j render @comision %>'); //Prepend before append
    $("#comision_<%= @comision.id %>").hide().fadeIn(1000);
  }
  $("#cantidad_activos").text('Total: <%=@cantidad_th_comision_activos%>');
  $("#cantidad_inactivos").text('Total: <%=@cantidad_th_comision_inactivos%>');
<%end%>


$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
