<% if @puede_destroy == true%>
  $("#comision_<%= @comision.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
  });
$("#cantidad_activos").text('Total: <%=@cantidad_th_comision_activos%>');
$("#cantidad_inactivos").text('Total: <%=@cantidad_th_comision_inactivos%>');
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
