<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Comision">
     <Interior ss:Color="#6FC9FF" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="Comision"><Data ss:Type="String">Id</Data></Cell>
        <Cell ss:StyleID="Comision"><Data ss:Type="String">Clave del producto</Data></Cell>
        <Cell ss:StyleID="Comision"><Data ss:Type="String">Descripción</Data></Cell>
        <Cell ss:StyleID="Comision"><Data ss:Type="String">Status</Data></Cell>
        <Cell ss:StyleID="Comision"><Data ss:Type="String">Sucursal</Data></Cell>
      </Row>

      <% @th_comision.each do |comision| %>
        <Row>
          <Cell><Data ss:Type="String"><%= comision.ID_Comision%></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision.ID_Producto%></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision.Comentarios%></Data></Cell>
          <Cell><Data ss:Type="String"><%if comision.Status == "A"%>Activo<%else%>Inactivo<%end%></Data></Cell>
          <Cell><Data ss:Type="String"><%= comision.IdEmpresa%></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
