<!--<p id="notice"><%= notice %></p>-->
<h1>Lista de Comisiones</h1>
<h3 id="cantidad_activos">Total: <%=@cantidad_th_comision_activos%></h3>
<style>
.container {
}

</style>
<div>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button button-comision" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewcomision">
        Nueva Comisión
      </button>
    </div>
  </div>

  <br>
  <br>

<%= search_form_for @search, :remote=> false, url: th_comision_path, :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="component_name_header_col"><%= sort_link @search, :ID_Comision, "ID_Comisión","th_comision", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :ID_Producto, "ID_Producto","th_comision", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Status, "Status","th_comision", {}, { :remote => true, :method => :get } %></th>
            <th class="component_name_header_col"><%= sort_link @search, :Comentarios, "Comentarios","th_comision", {}, { :remote => true, :method => :get } %></th>
            <th class="action_col"><%= t("basic.action") %></th>
          </tr>
          <tr>
            <th><%= f.text_field :ID_Comision_matches, class:"campo" %></th>
            <th><%= f.text_field :ID_Producto_matches, class:"campo" %></th>
            <th><%= f.text_field :Status_cont, class:"campo" %></th>
            <th><%= f.text_field :Comentarios_cont, class:"campo" %></th>
            <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
          </tr>

        </thead>
        <tbody>
        </tbody>
      </table>
  </div><% end %>

  <table id="th_comision" class="display"><!--el id th_comision es de datatables referenciado en th_comision.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>ID_Comisión</th>
      <th>ID_Producto</th>
      <th>Status</th>
      <th>Comentarios</th>
      <th>Producto</th>
      <th>Acción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_th_comision">
      <%= render @th_comision %><!--carga todos los th_comision-->
</tbody>


</table>
<!-- Modal create action -->
<%= form_for(@comision, remote: true, html: {class: "form-horizontal formulario-validado-create"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewcomision" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar Comisión</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <%= f.label :ID_Producto, "Producto:", class: "control-label col-md-3"  %>
            <div class="col-md-9">
              <%= f.select :ID_Producto, options_for_select(Producto.all.map{|e|[e.Clave + " - " + e.Producto, e.Clave]}), {}, {:class => "chosen-select form-control"} %>
            </div>
          </div>

            <div class="form-group">
              <%= f.label :Comentarios, "Descripción:", class:"control-label col-md-3" %>
              <div class="col-md-9">
                <%= f.text_area :Comentarios, class: "form-control comision_comentarios", autofocus: true, required: "true", minlength: "7"  %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :Status,"Activo:", class: "control-label col-xs-3 col-sm-6 col-md-3 " %>
              <div class="col-md-1">
                <%= f.check_box :Status, {checked: true}, "A", "I" %>
              </div>
            </div>
            <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewcomisionclose">Cerrar</button>
          <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>

<%= link_to "Exportar Excel", th_comision_path(format:"xls"), class:"btn btn-success btn-xs" %>


<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myimportdata">
  Importar Excel
</button>

<div class="modal fade" id="myimportdata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Importar Datos</h4>
      </div>
      <div class="modal-body">
        <p>
          Nota: El formato excel a exportar debe ser .xlsx ó .csv
        </p>
        <%= form_tag import_th_comision_path, multipart: true do %>
          <%= file_field_tag :file %>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="myimportdataclose">Cerrar</button>
        <%= submit_tag "Importar", class: "btn btn-primary", data: { disable_with: 'Importando' } %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Comisiones eliminadas ó inhabilitadas<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, th_comision_inactivos_path, class: "btn btn-danger btn-xs"%>

<script type="text/javascript">
  $(document).on("ready", function(){
    $('#mynewcomision').on('shown.bs.modal', function (e) {
      $(".chosen-select").chosen();
    });
  });;
</script>
