<tr id="ruta_<%= ruta.id %>">
    <td><%= ruta.try(:id) %></td>
    <td><%= ruta.try(:Ruta) %></td>
    <td><%= ruta.tiporuta.try(:Descripcion)%></td>
    <td><%= ruta.sector.try(:Descripcion) %></td>
    <td><%= ruta.vendedor.try(:Nombre)%></td>
    <td>
       <% if ruta.Activa == true%>
        Activa
      <%else%>
        Inactiva
      <%end%>
    </td>
    <td>
      <%= form_for(@relmen, remote: true, html: {class: "form-horizontal"}) do |f| %> <!--ajax remote: true-->
        <%= f.hidden_field :IdRuta, value: params[:id]  %>
        <%= f.hidden_field :CodRuta, value: ruta.id%>
        <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
        <%= submit_tag "Añadir", class: "btn btn-warning btn-xs", data: { disable_with: 'Añadiendo' }%>
      <%end%>
    </td>
</tr>
