<%= search_form_for @search_ruta_out, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :IdRutas, "Id","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :Ruta, "Ruta","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :tiporuta_Descripcion, "TipoRuta","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :sector_Descripcion, "Sector","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :vendedor_Nombre, "Vendedor","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :IdRutas_cont, class:"campo" %></th>
          <th><%= f.text_field :Ruta_cont, class:"campo" %></th>
          <th><%= f.text_field :tiporuta_Descripcion_cont, class:"campo" %></th>
          <th><%= f.text_field :sector_Descripcion_cont, class:"campo" %></th>
          <th><%= f.text_field :vendedor_Nombre_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
        </tr>
      </thead>

    </table>
  </div>
<% end %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search_ruta_out, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :IdRutas, "Id","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :Ruta, "Ruta","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :tiporuta_Descripcion, "TipoRuta","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :sector_Descripcion, "Sector","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :vendedor_Nombre, "Vendedor","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :Activa, "Status","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
     </thead>
    <% end %>
    <tbody id="container_rutas">
        <%= render partial: "/relmens/rutas/rutas_out/ruta", collection: @rutas_out %>
    </tbody>
  </table>
  <%= paginate @rutas_out, :param_name => 'rutas_out'  %>
</div>
