<tr id="tdcomision_<%= tdcomision.id %>">
  <td><%=tdcomision.RangoIni%>
    <!--Modal - update tdcomision-->
<%= form_for(tdcomision, :method => :put, remote: true, html: {class: "form-horizontal  formulario-validado-update#{tdcomision.id}"}) do |f| %><!--ajax-->
  <div nohidden class="modal fade si" id="myupdatetdcomision_<%= tdcomision.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Editar comision</h4>
        </div>


        <div class="modal-body">

          <div class="form-group">
            <%= f.label :Tipo, "Unidad de Medida:", class: "control-label col-md-4"  %>
            <div class="col-md-4">
              <%= f.select :Tipo, [['Cajas', 0], ['Piezas', 1]] %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :RangoIni, "Rango Inicial:", class: "control-label col-md-4"  %>
            <div class="col-md-4">
              <%= f.number_field :RangoIni, class:"form-control", autofocus: true, required: "true"   %>
            </div>
          </div>

            <div class="form-group">
              <%= f.label :RangoFin, "Rango Final:", class:"control-label col-md-4" %>
              <div class="col-md-4">
                <%= f.number_field :RangoFin, class: "form-control ", required: "true"  %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :Angente, "Comisión del Agente:", class: "control-label col-md-4"  %>
              <div class="col-md-4">
                <%= f.number_field :Angente, class:"form-control", step: "any", required: "true"  %>
              </div>
            </div>

              <div class="form-group">
                <%= f.label :Ayudante, "Comisión del Ayudante:", class:"control-label col-md-4" %>
                <div class="col-md-4">
                  <%= f.number_field :Ayudante, class: "form-control ", step: "any", required: "true" %>
                </div>
              </div>


        </div>
        <div class="modal-footer">
          <button type="button" id="myupdatebutton_<%= tdcomision.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
<script>
  $(".formulario-validado-update<%=tdcomision.id%>").validate();

</script>
</td>
  <td><%=tdcomision.RangoFin%></td>
  <td>
    <%if tdcomision.Tipo == 0 %>
      Cajas
    <% elsif tdcomision.Tipo == 1 %>
      Piezas
    <%end%>
  </td>
  <td><%=tdcomision.Angente%></td>
  <td><%=tdcomision.Ayudante%></td>





    <td>

        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myupdatetdcomision_<%= tdcomision.id %>">
          Editar
        </button>
        <!--Destroy-->
        <%= link_to 'Eliminar', tdcomision, method: :delete, class: "btn btn-danger btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
      </td>


<td class="no" >
  </td>
</tr>
