<%= form_tag("/lp_productos_agregar_de_forma_masiva", method: 'get', remote: true, class: "form-horizontal" ) do %>
	<input type="hidden" id="id_lista" value="<%=params[:id]%>" name="id_lista" />

	<%= fields_for :lista_productos_out do |ff|%>
	 <div id="campos_para_agregar_masivamente">

		<% if @todos_los_productos_out_seleccionados.present?%>
			<% @todos_los_productos_out_seleccionados.each do |producto| %>
		    	<input type="hidden" id="global_<%=producto.Clave%>" value="<%=producto.Clave%>" name="lista_productos_out[global_<%=producto.Clave%>]" class="items_para_agregar" />

		    	  <script type="text/javascript">
							var myitem_agregar = document.getElementById('item_out_<%=producto.Clave%>');
							if (myitem_agregar != null) document.getElementById("item_out_<%=producto.Clave%>").checked = true;
				    </script>
		    <% end %>
	    <% end %>

	 </div>
	<% end %>

	<%= submit_tag "Agregar productos seleccionados", name: "subaction", class: "btn btn-primary btn-xs", data: { disable_with: 'Agregando...' }, style:"float: right;" %>
<% end %>

<div id="boton_seleccionar_todos"><%=render 'boton_seleccionar_todos'%> </div>
<button class="btn warning" onclick="btn_borrar_seleccion_out()">Borrar selección</button>

<script>
function btn_borrar_seleccion_out() {
	$('.items_para_agregar').remove();
	$(".check_agregar").prop('checked', false);
}
</script>
