<%if params[:q].present?%>
	<%= link_to "Seleccionar todos", lp_productos_agregar_seleccionar_todos_masivo_path(:id => params[:id], :q => {:Clave_cont => params[:q][:Clave_cont], :Producto_cont => params[:q][:Producto_cont], :CodBarras_cont => params[:q][:CodBarras_cont], :catgrupos_Descripcion_cont => params[:q][:catgrupos_Descripcion_cont], :VBase_cont => params[:q][:VBase_cont]}, :commit=>"agregar_masivo"), remote: true, class: "btn btn-primary btn-xs", data: { disable_with: 'Seleccionando...' }, style:"float: right;" %>
<%else%>
	<%= link_to "Seleccionar todos", lp_productos_agregar_seleccionar_todos_masivo_path(:id => params[:id], :Clave_cont => params[:Clave_cont], :Producto_cont => params[:Producto_cont], :CodBarras_cont => params[:CodBarras_cont], :catgrupos_Descripcion_cont => params[:catgrupos_Descripcion_cont], :VBase_cont => params[:VBase_cont], :commit=>"agregar_masivo"), remote: true, class: "btn btn-primary btn-xs", data: { disable_with: 'Seleccionando...' }, style:"float: right;" %>
<%end%>
