<%if params[:x].present?%>
	<%= link_to "Seleccionar todos", lp_productos_eliminar_seleccionar_todos_masivo_path(:id => params[:id], :x => {:producto_Clave_cont => params[:x][:producto_Clave_cont], :producto_Producto_cont => params[:x][:producto_Producto_cont], :producto_CodBarras_cont => params[:x][:producto_CodBarras_cont], :PrecioMin_cont => params[:x][:PrecioMin_cont], :PrecioMax_cont => params[:x][:PrecioMax_cont]}, :commit=>"eliminar_masivo"), remote: true, class: "btn btn-primary btn-xs", data: { disable_with: 'Seleccionando...' }, style:"float: right;" %>
<%else%>
	<%= link_to "Seleccionar todos", lp_productos_eliminar_seleccionar_todos_masivo_path(:id => params[:id], :producto_Clave_cont => params[:producto_Clave_cont], :producto_Producto_cont => params[:producto_Producto_cont], :producto_CodBarras_cont => params[:producto_CodBarras_cont], :PrecioMin_cont => params[:PrecioMin_cont], :PrecioMax_cont => params[:PrecioMax_cont], :commit=>"eliminar_masivo"), remote: true, class: "btn btn-primary btn-xs", data: { disable_with: 'Seleccionando...' }, style:"float: right;" %>
<%end%>
