<tr id="deta_<%= deta.id %>">
  <td>
    <%= check_box_tag("item_in_#{deta.id}", value = "1", checked = false, options = {class: "check_eliminar"}) %>

    <script type="text/javascript">
        if ($('#deta_in_<%= deta.id %>').val() != null) {
          document.getElementById("item_in_<%=deta.id%>").checked = true;
        } else {
            document.getElementById("item_in_<%=deta.id%>").checked = false;
        }
    </script>

    <script type="text/javascript">
      $("#item_in_<%=deta.id%>").change(function() {
        var deta_<%=deta.id%> = "<%=deta.id%>";

        if (document.getElementById('item_in_<%=deta.id%>').checked) {
          //si el elemento le dan check el crea el campo con el id del mismo para ser enviado
            document.getElementById('campos_para_eliminar_masivamente').innerHTML+='<input type="hidden" id="deta_in_<%=deta.id%>" value="'+deta_<%=deta.id%>+'" name="lista_productos_in[deta_<%=deta.id%>]" class="items_para_eliminar" />';
        } else {
          //si le quitan el check, borra el elemento a enviar
           document.getElementById("campos_para_eliminar_masivamente").removeChild(document.getElementById("deta_in_<%=deta.id%>"));
        }

      });
    </script>
  </td>

  <td class="col_left"><%= deta.try(:Articulo) %>

    <%= form_for(deta, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{deta.id}"}) do |f| %><!--ajax-->
      <div nohidden class="modal fade si" id="myupdatedeta_<%= deta.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Editando precios al producto</h4>
            </div>
            <div class="modal-body">
              <h4 class="text-center">Datos del Producto</h4><br>
                <div class="form-group">
                  <p class="control-label col-md-3">Producto Clave:</p>
                  <div class="control-label col-md-1" style="font-weight: bold">
                    <%= deta.Articulo %>
                  </div>
                  <p class="control-label col-md-4">Nombre del Producto:</p>
                  <div class="control-label col-md-4" style="font-weight: bold">
                    <%= deta.producto.Producto %>
                  </div>
                </div>
                <%if @list.Tipo == TRUE %>
                  <div class="well center-block">
                    <div class="form-group">
                      <%= f.label :PrecioMin, "Precio:", class:"control-label col-md-4" %>
                      <div class="col-md-5">
                        <div class="input-group">
                          <%= f.number_field :PrecioMin, class:"form-control",autofocus: true, minlength: "1", required: "true" %>
                        </div>
                      </div>
                    </div>
                  </div>
                <%else%>
                  <div class="well center-block">
                    <div class="form-group">
                      <%= f.label :PrecioMin, "Precio Minimo:", class:"control-label col-md-4" %>
                      <div class="col-md-5">
                        <div class="input-group">
                          <%= f.number_field :PrecioMin, class:"form-control",autofocus: true, minlength: "1", required: "true" %>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :PrecioMax, "Precio Maximo:", class:"control-label col-md-4" %>
                      <div class="col-md-5">
                        <div class="input-group">
                          <%= f.number_field :PrecioMax, class:"form-control",minlength: "1", required: "true" %>
                        </div>
                      </div>
                    </div>
                  </div>
                <%end%>
            </div>

            <div class="modal-footer">
              <button type="button" id="myupdatebutton_<%= deta.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
            </div>
          </div>
        </div>
      </div>
    <%end%>
    <script>
      $(".formulario-validado-update<%=deta.id%>").validate();
    </script>
  </td>
  <td class="col_left"><%= deta.try(:producto).try(:Producto) %></td>
  <td class="col_left"><%= deta.try(:producto).try(:CodBarras) %></td>
  <td class="col_right"><%= deta.try(:PrecioMin) %></td>
  <td class="col_right"><%= deta.try(:PrecioMax) %></td>

  <td>
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
        <%= t('basic.Acción') %>
      </a>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatedeta_<%= deta.id %>">
            Editar
          </button>
        </li>
        <li>
          <%= link_to 'Eliminar', deta, method: :delete, class: "btn btn-default", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
        </li>
      </ul>
    </div>
  </td>
</tr>
