<% if @producto_seleccionado.present? %>
	<%= form_for(@deta, remote: true, html: {class: "form-horizontal formulario-validado-create#{@producto_seleccionado.id}"}) do |f| %> <!--ajax remote: true-->
	  <div nohidden class="modal fade si" id="myproductadder_<%= @producto_seleccionado.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          <h4 class="modal-title" id="myModalLabel">Registrando precio al producto <%= @producto_seleccionado.id%></h4>
	        </div>

	        <div class="modal-body">

	        <h4 class="text-center">Datos del Producto</h4><br>

	          <div class="form-group">
	            <p class="control-label col-md-3">Producto Clave:</p>
	            <div class="control-label col-md-1" style="font-weight: bold">
	              <%= @producto_seleccionado.Clave %>
	            </div>
	            <p class="control-label col-md-4">Nombre del Producto:</p>
	            <div class="control-label col-md-4" style="font-weight: bold">
	              <%= @producto_seleccionado.Producto %>
	            </div>
	          </div>
	          <%if @list.Tipo == TRUE %>
	            <div class="well center-block">
	              <div class="form-group">
	                <%= f.label :PrecioMin, "Precio:", class:"control-label col-md-4" %>
	                <div class="col-md-5">
	                  <div class="input-group">
	                    <%= f.number_field :PrecioMin, class:"form-control deta_preciomin",autofocus: true, minlength: "1", required: "true" %>
	                  </div>
	                </div>
	              </div>
	            </div>

	          <%else%>
	            <div class="well center-block">
	              <div class="form-group">
	                <%= f.label :PrecioMin, "Precio Minimo:", class:"control-label col-md-4" %>
	                <div class="col-md-5">
	                  <div class="input-group">
	                    <%= f.number_field :PrecioMin, class:"form-control deta_preciomin",autofocus: true, minlength: "1", required: "true" %>
	                  </div>
	                </div>
	              </div>

	              <div class="form-group">
	                <%= f.label :PrecioMax, "Precio Maximo:", class:"control-label col-md-4" %>

	                <div class="col-md-5">
	                  <div class="input-group">
	                    <%= f.number_field :PrecioMax, class:"form-control deta_preciomax", minlength: "1", required: "true" %>
	                  </div>
	                </div>
	              </div>
	            </div>
	          <%end%>

	          <div class="field">
	            <%= f.hidden_field :ListaId, value: params[:id_lista]  %>
	          </div>
	          <div class="field">
	            <%= f.hidden_field :Articulo, value: @producto_seleccionado.id%>
	          </div>
	          <div class="field">
	            <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
	          </div>

	        </div>
					<input type="hidden" id="producto_siguiente" name="producto_siguiente" />
					<input type="hidden" id="id_lista" value="<%=params[:id_lista]%>" name="id_lista" />

	        <div class="modal-footer">
	          <button type="button" id="myupdatebutton_<%= @producto_seleccionado.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	          <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
	        </div>
	      </div>
	    </div>
	  </div>
	<%end%>

	<script>
	  $(".formulario-validado-create<%=@producto_seleccionado.id%>").validate();
	</script>
<%end%>
