<%= search_form_for @searchp, :remote=>"true", url: productos_listap_path(params[:id]), :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
          <thead>
            <tr>
              <th class="component_name_header_col"><%= sort_link @searchp, :Clave, "Clave","producto", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @searchp, :Producto, "Producto","producto", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @searchp, :CodBarras,"Código de barras","producto", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @searchp, :catgrupos_Descripcion,"Grupo","producto", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @searchp, :VBase,"Precio","producto", {}, { :remote => true, :method => :get } %></th>
              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
            <tr>
              <th><%= f.text_field :Clave_cont, class:"campo" %></th>
              <th><%= f.text_field :Producto_cont, class:"campo" %></th>
              <th><%= f.text_field :CodBarras_cont, class:"campo" %></th>
              <th><%= f.text_field :catgrupos_Descripcion_cont, class:"campo" %></th>
              <th><%= f.text_field :VBase_cont, class:"campo" %></th>
              <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
            </tr>
          </thead>
    </table>
  </div>
<% end %>




<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <thead>
      <%= search_form_for @searchp, :remote=>"true", url: productos_listap_path(params[:id]), :method => :get do |f| %>
        <tr>
          <th></th>
          <th class="col_left"><%= sort_link @searchp, :Clave, "Clave","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @searchp, :Producto, "Producto","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @searchp, :CodBarras,"Código de barras","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="col_left"><%= sort_link @searchp, :catgrupos_Descripcion,"Grupo","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="col_right"><%= sort_link @searchp, :VBase,"Precio","producto", {}, { :remote => true, :method => :get } %></th>
        </tr>
      <% end %>
    </thead>
    <tbody id="container_productos_out">
      <%= render partial: "/detallelp/producto", collection: @productos %>
    </tbody>
  </table>
  <%= paginate @productos, :param_name => 'productos', :remote => true  %>
</div>
