<%= search_form_for @search, as: :x, :remote=>"true", url: productos_listap_path(params[:id]), :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search, :producto_Clave, "Clave","deta", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :producto_Producto, "Producto","deta", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :producto_CodBarras,"Código de barras","deta", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :PrecioMin,"Precio Minimo","deta", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :PrecioMax,"Precio Maximo","deta", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.action") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :producto_Clave_cont, class:"campo" %></th>
          <th><%= f.text_field :producto_Producto_cont, class:"campo" %></th>
          <th><%= f.text_field :producto_CodBarras_cont, class:"campo" %></th>
          <th><%= f.text_field :PrecioMin_cont, class:"campo" %></th>
          <th><%= f.text_field :PrecioMax_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
        </tr>
      </thead>
    </table>
  </div>
<% end %>



<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <thead>
      <%= search_form_for @search, as: :x, :remote=>"true", url: productos_listap_path(params[:id]), :method => :get do |f| %>
          <tr>
            <th></th>
            <th class="col_left"><%= sort_link @search, :producto_Clave, "Clave","deta", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :producto_Producto, "Producto","deta", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :producto_CodBarras,"Código de barras","deta", {}, { :remote => true, :method => :get } %></th>
            <th class="col_right"><%= sort_link @search, :PrecioMin,"Precio Minimo","deta", {}, { :remote => true, :method => :get } %></th>
            <th class="col_right"><%= sort_link @search, :PrecioMax,"Precio Maximo","deta", {}, { :remote => true, :method => :get } %></th>
            <th class="action_col"><%= t("basic.Acción") %></th>
          </tr>
      <% end %>
    </thead>
    <tbody id="container_detallelp">
      <%= render @detallelp %>
    </tbody>
  </table>
  <%= paginate @detallelp, :param_name => 'detallelp', :remote => true  %>
</div>
