<tr id="producto_<%= producto.Clave %>">
  <td>
    <%=check_box_tag("item_out_#{producto.Clave}", value = "1", checked = false, options = {class: "check_agregar"}) %>

    <script type="text/javascript">
      if ($('#global_<%=producto.Clave%>').val() != null) {
        document.getElementById("item_out_<%=producto.Clave%>").checked = true;
      } else {
          document.getElementById("item_out_<%=producto.Clave%>").checked = false;
      }
    </script>

    <script type="text/javascript">
      $("#item_out_<%=producto.Clave%>").change(function() {
        var global_<%=producto.Clave%> = "<%=producto.Clave%>";

        if (document.getElementById('item_out_<%=producto.Clave%>').checked) {
          //si el elemento le dan check el crea el campo con el id del mismo para ser enviado
            document.getElementById('campos_para_agregar_masivamente').innerHTML+='<input type="hidden" id="global_<%=producto.Clave%>" value="'+global_<%=producto.Clave%>+'" name="lista_productos_out[global_<%=producto.Clave%>]" class="items_para_agregar" />';
        } else {
          //si le quitan el check, borra el elemento a enviar
           document.getElementById("campos_para_agregar_masivamente").removeChild(document.getElementById("global_<%=producto.Clave%>"));
        }

      });
    </script>
  </td>
  <td class="col_left"><%= producto.try(:Clave) %></td>
  <td class="col_left"><%= producto.try(:Producto) %></td>
  <td class="col_left"><%= producto.try(:CodBarras) %></td>
  <td class="col_left"><%= producto.catgrupos.try(:Descripcion) %></td>
  <td class="col_right"><%= producto.try(:VBase) %></td>
</tr>
