$("#myproductadder_<%= @detalle.Articulo %>").modal('hide');
$(".tdcomision_rangoini").val('');
$(".tdcomision_rangofin").val('');
$(".tdcomision_angente").val('');
$(".tdcomision_ayudante").val('');

$("#producto_<%= @detalle.Articulo %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();

});
$("#container_detallelp").prepend('<%= j render @detalle %>'); //Prepend before append
$("#deta_<%= @detalle.id %>").hide().fadeIn(1000);
$(".modal-backdrop").remove();

<%if @producto_seleccionado.present?%>
  //proceso de cambio de ventana modal de agregar producto por multiple selección
  $("#modal_agregar_productos").html("<%= escape_javascript(render("modal_agregar_productos"))%>")
  $("#myproductadder_<%= @producto_seleccionado.id %>").modal('show');
  $("#global_<%=@producto_seleccionado.Clave%>").remove();//elimina el campo
  $('#item_out_<%=@producto_seleccionado.Clave%>').prop('checked', false); // Unchecks it
  $("#producto_siguiente").val($(".items_para_agregar").val()); //añade el siguiente producto a mostrar
  //fin del proceso
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
