$("#deta_<%= @deta.id %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
  $("#container_productos_out").prepend('<%= j render(:partial => '/detallelp/producto', locals: { producto: @producto}) %>'); //Prepend before append
});
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
