<!--<p id="notice"><%= notice %></p>-->
<p class="h1">Administrar productos en Lista de Precios</p><br>
<style>
.container {
}

</style>

  <br>
  <br>
  <div id="agregar_masivo"><%= render 'agregar_masivo' %></div>
  <div id="modal_agregar_productos"><%= render 'modal_agregar_productos' %></div>
  <h2 class="text-center"> Lista de Productos </h2>
  <br>
  <br>
  <div id="productosout"><%= render 'productosout' %></div>



  <br>
  <br>
  <div id="eliminar_masivo"><%= render 'eliminar_masivo' %></div>
  <h2 class="text-center"> Productos Añadidos a la Lista</h2>
  <br>
  <br>
  <div id="productosadded"><%= render 'productosadded' %></div>
