$('#productosout').html('<%= escape_javascript(render("productosout")) %>');
$('#productosadded').html('<%= escape_javascript(render("productosadded")) %>');
$("#boton_seleccionar_todos").html("<%= escape_javascript(render("boton_seleccionar_todos"))%>")
$("#boton_seleccionar_todos_eliminar").html("<%= escape_javascript(render("boton_seleccionar_todos_eliminar"))%>")
