$("#eliminar_masivo").html("<%= escape_javascript(render("eliminar_masivo"))%>")
$("#boton_seleccionar_todos_eliminar").html("<%= escape_javascript(render("boton_seleccionar_todos_eliminar"))%>")
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
