
<%# views/devise/sessions/new.html.erb %>
<style>
body {
  color: #73879C;
  background: #FFF;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
  padding-left: 30%;
  padding-right: 30%;


}
.forml{
  padding-left: 15%;
  padding-right: 15%;
}

</style>
<div class="">
  <a class="hiddenanchor" id="toregister"></a>
  <a class="hiddenanchor" id="tologin"></a>
  <%= image_tag 'error.png', alt: "logo", class:"logoadA" %>


</div>
