<%if @cobranza_bitacora != nil%>

  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
      <span class="count_top2"><i class="fa fa-user"></i>Total Cobranza</span>
      <div id="total_cobranza">
        <div class="count2">
          <% if @TotalEfectivo.nil? %>
            $0
          <% else %>
            $<%= @TotalEfectivo %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
<!--    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
          <thead>

            <tr>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Id","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Ruta","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Vendedor","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Cliente","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Nombre","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Razón Social","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Documento","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Saldo Inicial","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Abono","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Saldo Actual","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Fecha Reg","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Fecha Vence","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "TipoDoc","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
            <tr>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>

              <th><%= f.submit "Buscar" %></th>
            </tr>

          </thead>
          <tbody>
          </tbody>
        </table>-->
    </div><% end %>

    <%= form_tag("bit_cobranza/busqueda_cobranza", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
    <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class=""><%= label_tag :Sucursal_param, "Sucursal", class: "control-label" %></th>
            <th class="action_col"><%= t("basic.Acción") %></th>
          </tr>
          <tr>
            <th><%= select_tag :Sucursal_param, options_for_select(@Sucursales.map{|e|[e.Sucursal, e.IdEmpresa]}), :prompt => "Todas", class: "form-control" %></th>
            <input id="search" type="hidden" value="<%=params[:search] %>" name="search"/>
            <input id="search2" type="hidden" value="<%=params[:search2] %>" name="search2"/>
            <input id="search3" type="hidden" value="<%=params[:diaO] %>" name="search3"/>
            <input id="search4" type="hidden" value="<%=params[:vendedor_id] %>" name="search4"/>
            <input id="search5" type="hidden" value="<%=params[:search4] %>" name="search5"/>
            <input id="search5" type="hidden" value="<%=params[:search5] %>" name="search5"/>
            <th>
                <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  <% end %>

        <div class="rwd">
          <div style="text-align: right">
            <%= link_to 'Exportar Excel', cobranza_path(:search => params[:search], :search2 => params[:search2], :search4 => params[:search4], :search5 => params[:search5], :search6 => params[:search6], format:"xls"), class:"btn btn-success btn-xs"  %>
          </div>

            <table class="table table-striped table-bordered table-condensed table-hover">
              <thead>
              <%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
                <tr>
                   <th class="col_left th_color">Sucursal</th>
                  <th class="col_left th_color">Ruta</th>
                  <th class="col_left th_color">Clave</th>
                  <th class="col_left th_color">Cliente</th>
                  <th class="col_left th_color">Razón Social</th>
                  <th class="col_left th_color">ClaveVendedor</th>
                  <th class="col_left th_color">Vendedor</th>
                  <th class="col_left th_color">Folio</th>
                  <th class="col_right th_color">Total</th>
                  <th class="col_left th_color">Fecha</th>
                  <!--
                  <th class="action_col"><%= t("basic.action") %></th>
                  -->
                </tr><% end %>
              </thead>
              <tbody id="container_cb">
                <% @cobranza_bitacora.each do |cb| %>
                  <tr id="cobran_<%= cb.id %>">
                    <td class="col_left"><%=cb.try(:Sucursal)%></td>
                    <td class="col_left"><%=cb.try(:Ruta)%></td>
                    <td class="col_left"><%=cb.try(:Clave)%></td>
                    <td class="col_left"><%=cb.try(:Nombre)%></td>
                    <td class="col_left"><%=cb.try(:NombreCorto)%></td>
                    <td class="col_left"><%=cb.try(:ClaveVendedor)%></td>
                    <td class="col_left"><%=cb.try(:NombreVendedor)%></td>
                    <td class="col_left"><%=cb.try(:Folio)%></td>
                    <td class="col_right"><%=cb.try(:Total)%></td>
                    <td class="col_left"><%=cb.try(:FechaCob).try(:strftime,"%d-%m-%Y")%></td>

                    <!--
                    <td>
                      <%= link_to 'Abono<i class="fa fa-money" aria-hidden="true"></i>'.html_safe, abonos_bit_cobranza_path(:IdCobranza => cb.try(:id)), :remote => true, data: { disable_with: 'Buscando...' }, class: "btn btn-success"%>
                    </td>
                    -->
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @cobranza_bitacora, :param_name => 'cobranza', params: {controller: 'cobranza', action: 'index_cobranza_bitacora'} %> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->

    </div>
<%end%>
