<% if @detalleco != nil%>
  <div class="modal fade" id="mynewabono" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Pagos</h4>
        </div>
        <div class="modal-body">
          <table id="cob" class="display"><!--el id empresas es de datatables referenciado en empresas.coffe y display class es una clase de datatables-->
            <thead>
              <tr><!--active es para sombrear la fila-->
                <th>Abono</th>
                <th>Fecha</th>
                <th>Saldo Anterior</th>
                <th>Saldo</th>
                <th>Forma</th>
              </tr>
            </thead>
            <tbody>
              <% @detalleco.each do |detalleco| %>
                <tr id="abono_<%= detalleco.id %>">
                  <td><%= detalleco.Abono %></td>
                  <td><%= detalleco.Fecha.strftime("%d-%m-%Y") %></td>
                  <td><%= detalleco.SaldoAnt %></td>
                  <td><%= detalleco.Saldo %></td>
                  <td><%= detalleco.formapag.Forma %></td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewabonoclose">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<%end%>
