<%= form_for(@stockalmacen) do |f| %>
  <% if @stockalmacen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stockalmacen.errors.count, "error") %> prohibited this stockalmacen from being saved:</h2>

      <ul>
      <% @stockalmacen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IdEmpresa %><br>
    <%= f.text_field :IdEmpresa %>
  </div>
  <div class="field">
    <%= f.label :Articulo %><br>
    <%= f.text_field :Articulo %>
  </div>
  <div class="field">
    <%= f.label :Stock %><br>
    <%= f.text_field :Stock %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
