<% if @th_stockalmacen != nil %>

  <%= form_tag("/th_stockalmacen", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
    <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="component_name_header_col">
              <%= label_tag :Clave_param, "Clave", class: "control-label" %>
            </th>
            <th class="component_name_header_col">
              <%= label_tag :Producto_param, "Producto", class: "control-label" %>
            </th>
            <th class="action_col"><%= t("basic.Acción") %></th>
          </tr>
          <tr>
            <th><%= text_field_tag :Clave_param %></th>
            <th><%= text_field_tag :Producto_param %></th>
            <th>
                <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  <% end %>

  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
     <thead>
      <%= search_form_for @search, :remote=>"true", url: th_stockalmacen_path, :method => :get do |f| %>
      <tr>
        <th class="col_left"><%= sort_link @search, :Articulo, "Clave","stockalmacen", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :producto_Producto, "Producto","stockalmacen", {}, { :remote => true, :method => :get } %></th>
        <th class="component_name_header_col"><%= sort_link @search, :Stock, "Cajas / Piezas","stockalmacen", {}, { :remote => true, :method => :get } %></th>
        <th class="component_name_header_col"><%= sort_link @search, :Stock, "Total Piezas","stockalmacen", {}, { :remote => true, :method => :get } %>
          <div id="total_piezas_stock_almacen"><%= render 'total_piezas_stock_almacen' %></div>
        </th>
      </tr>
    </thead><% end %>
      <tbody id="container_productos">
        <%= render @th_stockalmacen%>
      </tbody>
    </table>
    <div id="paginator"><%= paginate @th_stockalmacen, :remote => true %></div> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>
<% end %>
