<!--<p id="notice"><%= notice %></p>-->
<style>
.container {
}

</style>
<div>
  <h2>Carga Stock Almacén</h2>

        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel tile overflow_hidden">
                <div class="x_title">
                  <h2>Productos</h2>
                  <div class="clearfix"></div>
                </div>
                <div id="Productos">
                  <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div id="total_cajas"><%= render 'partials/total_cajas' %></div>
                  </div>
                  <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div id="total_piezas"><%= render 'partials/total_piezas' %></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel tile overflow_hidden">
                <div class="x_title">
                  <h2>Envases</h2>
                  <div class="clearfix"></div>
                </div>
                <div id="Envases">
                  <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div id="total_cajas_envase"><%= render 'partials/total_cajas_envase' %></div>
                  </div>
                  <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div id="total_piezas_envase"><%= render 'partials/total_piezas_envase' %></div>
                  </div>
                </div>
              </div>
            </div>

        </div>
<div id="productosinstockalmacen"><%= render 'productosinstockalmacen' %></div>


  <%= link_to "Exportar Excel", th_stockalmacen_path(format:"xls"), class:"btn btn-success btn-xs" %>

<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myimportdata">
  Importar Excel
</button>


<div class="modal fade" id="myimportdata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Importar Datos</h4>
      </div>
      <div class="modal-body">
        <p>
          Nota: El formato excel a exportar debe ser .xlsx ó .csv
        </p>
        <%= form_tag import_th_stockalmacen_path, multipart: true do %>
          <%= file_field_tag :file %>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="myimportdataclose">Close</button>
        <%= submit_tag "Importar", class: "btn btn-primary", data: { disable_with: 'Importando' } %>
      <% end %>
      </div>
    </div>
  </div>
</div>
