$('#productosinstockalmacen').html('<%= escape_javascript(render("productosinstockalmacen")) %>');
$('#paginator').html("<%= escape_javascript(paginate(@th_stockalmacen, :remote => true))%>");
$('#total_cajas').html('<%= escape_javascript(render("/partials/total_cajas")) %>');
$('#total_piezas').html('<%= escape_javascript(render("/partials/total_piezas")) %>');
