<?xml version="1.0" encoding="UTF-8"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:c="urn:schemas-microsoft-com:office:component:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:x2="http://schemas.microsoft.com/office/excel/2003/xml" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

 <?xml version="1.0" encoding="UTF-8"?>
 <?mso-application progid="Excel.Sheet"?><Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:c="urn:schemas-microsoft-com:office:component:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:x2="http://schemas.microsoft.com/office/excel/2003/xml" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office"><Colors><Color><Index>3</Index><RGB>#c0c0c0</RGB></Color><Color><Index>4</Index><RGB>#ff0000</RGB></Color></Colors></OfficeDocumentSettings><ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
   <WindowHeight>9000</WindowHeight><WindowWidth>13860</WindowWidth><WindowTopX>240</WindowTopX><WindowTopY>75</WindowTopY><ProtectStructure>False</ProtectStructure><ProtectWindows>False</ProtectWindows></ExcelWorkbook><Styles><Style ss:ID="Default" ss:Name="Default"/><Style ss:ID="Result" ss:Name="Result"><Font ss:Bold="1" ss:Italic="1" ss:Underline="Single"/></Style><Style ss:ID="Result2" ss:Name="Result2"><Font ss:Bold="1" ss:Italic="1" ss:Underline="Single"/><NumberFormat ss:Format="Currency"/></Style><Style ss:ID="Heading" ss:Name="Heading"><Font ss:Bold="1" ss:Italic="1" ss:Size="16"/></Style><Style ss:ID="Heading1" ss:Name="Heading1"><Font ss:Bold="1" ss:Italic="1" ss:Size="16"/></Style><Style ss:ID="co1"/><Style ss:ID="ta1"/></Styles><ss:Worksheet ss:Name="Hoja1"><Table ss:StyleID="ta1"><Column ss:Width="64,0063"/><Row ss:Height="12,8126"><Cell ss:Index="1"/></Row></Table><x:WorksheetOptions/></ss:Worksheet></Workbook>



  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Id del Pedido</Data></Cell>
        <Cell><Data ss:Type="String">Clave del producto</Data></Cell>
        <Cell><Data ss:Type="String">Producto</Data></Cell>
        <Cell><Data ss:Type="String">StockCajas</Data></Cell>
        <Cell><Data ss:Type="String">StockPiezas</Data></Cell>

      </Row>

      <% @StockalmacenE.each do |stoc| %>
        <Row>
          <Cell><Data ss:Type="String"><%= stoc.Id%></Data></Cell>
          <Cell><Data ss:Type="String"><%= stoc.try(:Clave_producto)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= stoc.try(:Producto)%></Data></Cell>
          <% if (stoc.UnidadMedida == "pieza" || stoc.UnidadMedida == "piezas")%>
            <Cell><Data ss:Type="Number"> </Data></Cell>
            <Cell><Data ss:Type="Number"><%= (stoc.try(:Stock)).to_i %></Data></Cell>
          <%else%>
            <Cell><Data ss:Type="Number"><%= (stoc.Stock / stoc.PzaXCja).to_i %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= (stoc.Stock % stoc.PzaXCja).to_i%></Data></Cell>
          <%end%>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
