<p id="notice"><%= notice %></p>

<p>
  <strong>Idempresa:</strong>
  <%= @stockalmacen.IdEmpresa %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @stockalmacen.Articulo %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @stockalmacen.Stock %>
</p>

<%= link_to 'Edit', edit_stockalmacen_path(@stockalmacen) %> |
<%= link_to 'Back', th_stockalmacen_path %>
