$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

$("#stockalmacen_<%= @stockalmacen.id %>").fadeOut(500, function(){
  $(this).remove();
  $("#container_productos").prepend('<%= j render @stockalmacen %>');
});
$('#total_piezas_stock_almacen').html('<%= escape_javascript(render("total_piezas_stock_almacen")) %>');
$('#total_cajas').html('<%= escape_javascript(render("/partials/total_cajas")) %>');
$('#total_piezas').html('<%= escape_javascript(render("/partials/total_piezas")) %>');

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
