<% if @producto != nil%>
  <!--Modal - update producto-->
  <%= form_for(@producto, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update"}) do |f| %><!--ajax-->
  <div nohidden class="modal fade si" id="myupdateproducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar producto</h4>
      </div>

      <div class="modal-body">



        <div class="form-group">
          <%= f.label :Producto, "Producto:", class: "control-label col-md-3"  %>
          <div class="col-md-9">
            <%= f.text_field :Producto, class: "form-control", minlength: "3", required: "true"  %>
          </div>
        </div>


        <div class="form-group">

          <%= f.label :CodBarras, "Codigo de Barras:", class: "control-label col-md-3"  %>
          <div class="col-md-9">
            <%= f.text_field :CodBarras, class: "form-control"%>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :ClaveMarca, "Marca:", class: "control-label col-md-3"  %>
          <div class="col-md-5">
            <%= f.select :ClaveMarca, options_for_select(@catmarcas.map{|e|[e.Descripcion, e.Clave]},selected: @producto.ClaveMarca),class: "dropdown"  %>

          </div>

        </div>

        <div class="form-group">

          <%= f.label :IVA, "IVA: %", class: "control-label col-md-3"  %>
          <div class="col-md-3">
            <%= f.number_field :IVA, class: "form-control" %>
          </div>

          <%= f.label :IEPS, "IEPS: %", class: "control-label col-md-3"  %>
          <div class="col-md-3">
            <%= f.number_field :IEPS, class: "form-control" %>
          </div>

        </div>


        <div class="form-group">

          <div class="form-group">
            <%= f.label :UniMed, "Unidad Medida:", class: "control-label col-md-3"  %>
            <div class="col-md-3">
              <%= f.select :UniMed, options_for_select(@unidadmedidas.map{|e|[e.Abreviatura, e.Clave]},selected: @producto.UniMed),class: "dropdown"  %>

            </div>

          </div>

          <%= f.label :VBase, "Precio Base: $", class: "control-label col-md-3"  %>
          <div class="col-md-3">
            <%= f.number_field :VBase, class: "form-control" %>
          </div>

        </div>



          <div class="form-group">
            <%= f.fields_for :productosxpza do |builder| %>
              <%= builder.label :PzaXCja,"PzaXCja:", class: "control-label col-md-3" %>
              <div class="col-md-3">
                <%= builder.text_field :PzaXCja, class:"form-control ", minlength: "1", required: "true"  %>
              </div>
            <%end%>

          <%= f.label :Ban_Envase, "Es envase:", class: "control-label col-md-3"  %>
          <div class="col-md-1">
            <%= f.check_box :Ban_Envase %>
          </div>

        </div>

        <div class="form-group">

          <%= f.label :Equivalente, "Equivalente (Lt/Kg):", class: "control-label col-md-3"  %>
          <div class="col-md-3">
            <%= f.number_field :Equivalente, class: "form-control" %>
          </div>

          <label class="control-label col-md-3">Utiliza Envase:</label>
          <div class="col-md-1">
            <%if @producto.productoenvase.first == nil%>
              <input type="checkbox" id='showAreaBox' name='envase' class="producto_Utl.Env">
            <%else%>
              <input type="checkbox" id='showAreaBox' name='envase' class="producto_Utl.Env" checked>
            <%end%>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :UniMedEq, "Unidad Medida Eq:", class: "control-label col-md-3"  %>
          <div class="col-md-3">
            <%= f.select :UniMedEq, options_for_select(@unidadmedidas.map{|e|[e.Abreviatura, e.Clave]},selected: @producto.UniMedEq), class: "dropdown"  %>
          </div>
        </div>

        <div class="form-group">

          <%= f.label :Granel, "granel:", class: "control-label col-md-3"  %>
          <div class="col-md-1">
            <%= f.check_box :Granel %>
          </div>

        </div>

        <div class="form-group">

          <%= f.label :Cover, "Foto:", class: "control-label col-md-3"  %>
          <div class="col-md-3">
            <%= f.file_field :cover%>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="myupdatebutton" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
      </div>
    </div>
  </div>
  </div>
  <%end%>

  <script>
  $(".formulario-validado-update").validate();
  </script>
<%end%>
