<%= form_for(@producto, remote: true, html: {class: "form-horizontal "}) do |f| %> <!--ajax remote: true-->
  <%= f.label :ClaveMarca, "Marca:", class: "control-label col-md-3"  %>
  <div class="col-md-5">
    <%= f.select :ClaveMarca, options_for_select(@catmarcas.map{|e|[e.Descripcion, e.Clave]}), :onchange => ("$(this).submit()") , class: "dropdown"  %>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mynewmarca">
      ...
    </button>
  </div>
<%end%>
