<tr id="producto_<%= producto.id %>">
  <td class="col_left"><%= producto.try(:Clave)%></td>
  <td class="col_left"><%= producto.try(:Producto)%></td>
  <td class="col_left"><%= producto.try(:Grupo)%></td>
  <td class="col_left"><%= producto.try(:CodBarras)%></td>
  <td class="col_right"><%= producto.try(:VBase)%></td>
  <td class="col_right"><%= producto.try(:IVA)%></td>
  <td class="col_left"><%= producto.try(:Ban_Envase)%></td>
  <td class="col_left"><%= producto.try(:UnidadMedida)%></td>
  <td id="producto-imagen" class="col_left">
    <% if producto.cover? %>
      <%= image_tag producto.cover.url(:minithumb) %>
    <%end%>
  </td>
  <td>
  <div class="btn-group"><a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
   <%= t('basic.Acción') %>

   </a>
  <ul class="dropdown-menu posicion-menu">


    <li>
      <%= link_to 'Editar', datos_producto_path(:producto => producto.try(:Clave)), class: "btn btn-default btn-lg btn-block", :remote => true, data: { disable_with: 'Cargando...' }  %>
      <!--Destroy-->
      <% if producto.Status == "A"%>
      <%= link_to 'Eliminar', producto, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
      <%else%>
        <%= link_to 'Habilitar', producto, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'} %>
      <%end%>
    </li>



  </ul>
  </div>
  <!-- button group --></td>
</tr>
