<%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="col_left"><%= sort_link @search, :Clave, "Clave","producto", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :Producto, "Producto","producto", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :catgrupos_Descripcion, "Grupo","producto", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :CodBarras, "Código de Barras","producto", {}, { :remote => true, :method => :get } %></th>
            <th class="col_right"><%= sort_link @search, :VBase, "Precio","producto", {}, { :remote => true, :method => :get } %></th>
            <th class="col_right"><%= sort_link @search, :IVA, "IVA","producto", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :Ban_Envase, "Envase","producto", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :UniMed, "Unidad Medida","producto", {}, { :remote => true, :method => :get } %></th>
            <th class="action_col"><%= t("basic.action") %></th>
          </tr>
          <tr>
            <th><%= f.text_field :Clave_cont, class:"campo" %></th>
            <th><%= f.text_field :Producto_cont, class:"campo" %></th>
            <th><%= f.text_field :catgrupos_Descripcion_cont, class:"campo" %></th>
            <th><%= f.text_field :CodBarras_cont, class:"campo" %></th>
            <th><%= f.text_field :VBase_cont, class:"campo" %></th>
            <th><%= f.text_field :IVA_cont, class:"campo" %></th>
            <th><%= f.text_field :Ban_Envase_cont, class:"campo" %></th>
            <th><%= f.text_field :UniMed_cont, class:"campo" %></th>
            <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
          </tr>

        </thead>
        <tbody>
        </tbody>
      </table>
  </div><% end %>




      <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
            <%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
              <tr>
                <th class="col_left"><%= sort_link @search, :Clave, "Clave","producto", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :Producto, "Producto","producto", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :catgrupos_Descripcion, "Grupo","producto", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :CodBarras, "Código de Barras","producto", {}, { :remote => true, :method => :get } %></th>
                <th class="col_right"><%= sort_link @search, :VBase, "Precio","producto", {}, { :remote => true, :method => :get } %></th>
                <th class="col_right"><%= sort_link @search, :IVA, "IVA","producto", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :Ban_Envase, "Envase","producto", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :UniMed, "Unidad Medida","producto", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :cover_file_name, "Foto","producto", {}, { :remote => true, :method => :get } %></th>
                <th class="action_col"><%= t("basic.action") %></th>
              </tr><% end %>
            </thead>
            <tbody id="container_productos">
              <%= render partial: "/productos/producto", collection: @productosV %>
            </tbody>
          </table>
          <%= paginate @productosV %>

  </div>
  <div id="datos_producto"><%= render 'datos_producto' %></div>
