<%= form_for(@producto, remote: true, html: {class: "form-horizontal "}) do |f| %> <!--ajax remote: true-->
  <%= f.label :Sector, "Grupo:", class: "control-label col-md-3"  %>
  <div class="col-md-4">
    <%= f.select :Sector, options_for_select(@catgrupos.map{|e|[e.Descripcion, e.Clave]}), :onchange => ("$(this).submit()") %>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mynewcategory">
      ...
    </button>
  </div>
<%end%>
