  $("#mynewproductogen").modal('hide');
  $(".productogen_clave").val('');
  $(".productogen_descripcion").val('');

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);

