<!--<p id="notice"><%= notice %></p>-->
<h1>Productos inactivos</h1>
<h3>Total: <%=@cantidad_productos_inactivos%></h3>
<style>
.container {
  width: 100%;
}

</style>


  <br>
  <br>

  <div id="productos"><%= render 'productos' %></div>



  <%= link_to "Exportar Excel", productos_path(format:"xls"), class:"btn btn-success btn-xs" %>

<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myimportdata">
  Importar Excel
</button>


<div class="modal fade" id="myimportdata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Importar Datos</h4>
      </div>
      <div class="modal-body">
        <p>
          Nota: El formato excel a exportar debe ser .xlsx ó .csv
        </p>
        <%= form_tag import_productos_path, multipart: true do %>
          <%= file_field_tag :file %>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="myimportdataclose">Close</button>
        <%= submit_tag "Importar", class: "btn btn-primary", data: { disable_with: 'Importando' } %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Volver a Productos', productos_path, class: "btn btn-primary btn-lg" %>
