<!--<p id="notice"><%= notice %></p>-->
<h1>Productos</h1>
<h3>Total: <%=@cantidad_productos_activos%></h3>
<style>
.container {
  width: 100%;
}

</style>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewproducto">
        Nuevo producto
      </button>
    </div>
  </div>

  <br>
  <br>

<div id="productos"><%= render 'productos' %></div>


<!-- Modal create action -->
<%= form_for(@producto, remote: true, html: {class: "form-horizontal producto-validado"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewproducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar producto</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">

            <%= f.label :Clave, "Clave:", class: "control-label col-md-3"  %>
            <div class="col-md-7">
              <%= f.text_field :Clave, class: "form-control producto_clave clave_sin_espacios_y_sin_caracteres_especiales",autofocus: true, minlength: "1", required: "true"   %>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :Producto, "Producto:", class: "control-label col-md-3"  %>
            <div class="col-md-9">
              <%= f.text_field :Producto, class: "form-control producto_producto", minlength: "3", required: "true"   %>
            </div>
          </div>


          <div class="form-group">

            <%= f.label :CodBarras, "Codigo de Barras:", class: "control-label col-md-3"  %>
            <div class="col-md-9">
              <%= f.text_field :CodBarras, class: "form-control producto_codbarras"%>
            </div>
          </div>
          <div class="form-group">

            <%= f.label :ClaveMarca, "Marca:", class: "control-label col-md-3"  %>
            <div class="col-md-5">
              <%= f.select :ClaveMarca, options_for_select(@catmarcas.map{|e|[e.Descripcion, e.Clave]}), :onchange => ("$(this).submit()") , class: "dropdown"  %>

            </div>

          </div>
          <div class="form-group">

            <%= f.label :IVA, "IVA: %", class: "control-label col-md-3"  %>
            <div class="col-md-3">
              <%= f.number_field :IVA, class: "form-control producto_iva" %>
            </div>

            <%= f.label :IEPS, "IEPS: %", class: "control-label col-md-3"  %>
            <div class="col-md-3">
              <%= f.number_field :IEPS, class: "form-control producto_ieps" %>
            </div>

          </div>


          <div class="form-group">
            <%= f.label :UniMed, "Unidad Medida:", class: "control-label col-md-3"  %>
            <div class="col-md-3">
              <%= f.select :UniMed, options_for_select(@unidadmedidas.map{|e|[e.Abreviatura, e.Clave]}), :onchange => ("$(this).submit()"), class: "dropdown"  %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :VBase, "Precio Base: $", class: "control-label col-md-3"  %>
            <div class="col-md-3">
              <%= f.number_field :VBase, class: "form-control producto_vbase" %>
            </div>

            <%= f.label :Ban_Envase, "Es envase:", class: "control-label col-md-3"  %>
            <div class="col-md-1">
              <%= f.check_box :Ban_Envase, class: "producto_ban_envase" %>
            </div>

          </div>
          <div class="form-group">
            <%= f.fields_for :productosxpza do |productosxpza| %>
              <%= productosxpza.label :PzaXCja,"PzaXCja:", class: "control-label col-md-3" %>
              <div class="col-md-3">
                <%= productosxpza.text_field :PzaXCja, class:"form-control producto_pzaxcja", minlength: "1", required: "true", min: 1  %>
              </div>

              <%= productosxpza.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
            <%end%>

            <label class="control-label col-md-3">Utiliza Envase:</label>
            <div class="col-md-1">
              <input type="checkbox" id='showAreaBox' name='envase' class="producto_Utl.Env">
            </div>

          </div>
          <div class="form-group">
            <%= f.label :UniMedEq, "Unidad Medida Eq:", class: "control-label col-md-3"  %>
            <div class="col-md-3">
              <%= f.select :UniMedEq, options_for_select(@unidadmedidas.map{|e|[e.Abreviatura, e.Clave]}), class: "dropdown"  %>
            </div>
          </div>
          <div class="form-group">

            <%= f.label :Equivalente, "Valor Eq:", class: "control-label col-md-3"  %>
            <div class="col-md-3">
              <%= f.number_field :Equivalente, class: "form-control producto_equivalente" %>
            </div>

            <%= f.label :Granel, "granel:", class: "control-label col-md-3"  %>
            <div class="col-md-1">
              <%= f.check_box :Granel, class:"producto_granel" %>
            </div>

          </div>


          <div class="form-group">

            <%= f.label :Cover, "Foto:", class: "control-label col-md-3"  %>
            <div class="col-md-3">
              <%= f.file_field :cover, class:"producto_cover"%>
            </div>

          </div>
            <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
            <%= f.hidden_field :Status, value: "A" %>






        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewproductoclose">Cerrar</button>
          <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>



<%= form_for(@productogen, remote: true, url: create_producto_generico_path, html: {class: "form-horizontal"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewproductogen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar producto genérico</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <%= f.label :Clave, "Clave:", class: "control-label col-md-3"  %>
            <div class="col-md-7">
              <input type="text" name="Clave_productogen" disabled="true" class="form-control productogen_clave">
            </div>
          </div>

          <div class="form-group">
            <%= f.label :Descripcion, "Descripción:", class: "control-label col-md-3"  %>
            <div class="col-md-9">
              <%= f.text_field :Descripcion, class: "form-control productogen_descripcion",autofocus: true, minlength: "3", required: "true"   %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :Status,"Activo:", class: "control-label col-xs-3 col-sm-6 col-md-1 " %>
            <div class="col-md-1">
              <%= f.check_box :Status, checked: true %>
            </div>
          </div>  
          <%= f.hidden_field :Clave, class: "productogen_clave" %>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewproductogenclose">Cerrar</button>
          <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>


  <%= link_to "Expotar Excel", productos_path(format:"xls"), class:"btn btn-success btn-xs" %>
<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myimportdata">
  Importar Excel
</button>


<div class="modal fade" id="myimportdata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Importar Datos</h4>
      </div>
      <div class="modal-body">
        <p>
          Nota: El formato excel a exportar debe ser .xlsx ó .csv
        </p>
        <%= form_tag import_productos_path, multipart: true do %>
          <%= file_field_tag :file %>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="myimportdataclose">Close</button>
        <%= submit_tag "Importar", class: "btn btn-primary", data: { disable_with: 'Importando' } %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Productos eliminados ó inhabilitados<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, productos_inactivos_path, class: "btn btn-danger btn-xs"%>
