<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Clave</Data></Cell>
        <Cell><Data ss:Type="String">Producto</Data></Cell>
        <Cell><Data ss:Type="String">Codigo de Barras</Data></Cell>
        <Cell><Data ss:Type="String">IVA</Data></Cell>
        <Cell><Data ss:Type="String">IEPS</Data></Cell>
        <Cell><Data ss:Type="String">Precio Base</Data></Cell>
        <Cell><Data ss:Type="String">PzaXCja</Data></Cell>
        <Cell><Data ss:Type="String">Valor Eq</Data></Cell>
        <Cell><Data ss:Type="String">Es envase</Data></Cell>
        <Cell><Data ss:Type="String">Granel</Data></Cell>
        <Cell><Data ss:Type="String">Unidad Medida Eq(Abreviatura)</Data></Cell>
        <Cell><Data ss:Type="String">Marca(Descripción)</Data></Cell>
        <Cell><Data ss:Type="String">Unidad Medida(Abreviatura)</Data></Cell>
        <Cell><Data ss:Type="String">Sector(Clave)</Data></Cell>
        <Cell><Data ss:Type="String">Sector(Descripción)</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>

      <% @productos.each do |producto| %>
        <Row>
          <Cell><Data ss:Type="String"><%= producto.try(:Clave)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:Producto)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:CodBarras)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:IVA)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:IEPS)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:VBase)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:productosxpza).try(:PzaXCja)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:Equivalente)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:Ban_Envase)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:Granel)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:unimedeq).try(:Abreviatura)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:catmarca).try(:Descripcion)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:catunidadmed).try(:Abreviatura)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:catgrupos).last.try(:Clave)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:catgrupos).last.try(:Descripcion)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= producto.try(:Status)%></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
