<% if @puede_editar == true %>
$("#myupdateproducto").modal('hide');
  $('#showAreaBox').change(function() {
      // if the checkbox is checked, invoke the link
      if(this.checked ) {
        $(window.location.replace("/Productos/<%= @producto.id %>/envase"))
      }
      // checkbox is unchecked
      // else {}
  });

  $("#myupdateproducto_<%= @producto.id %>").modal('hide');
  $("#mynewproductoenvase").modal('show');

  $("#producto_<%= @producto.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_productos").prepend('<%= j render @producto %>');
  });
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
