$("#productoenvas_<%= @productoenvas.id %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
});
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
