<%= form_for(@productoenvas, remote: true, html: {class: "form-horizontal formulario-validado-create"}) do |env| %> <!--ajax remote: true-->
  <h4 class="modal-title" id="myModalLabel">Envases</h4>
      <div class="modal-body">

        <div class="form-group">
          <div class="well center-block">
            <h2>Datos del Producto:</h2>
            <div class="well center-block">
          <h3 class="text-center"> <%= @producto.Clave%> <%= @producto.Producto%></h3>
        </div>



          </div>

        </div>

        <div class="form-group">
          <%= env.label :Envase, "Envase:", class: "control-label col-md-2"  %>
          <div class="col-md-9">
            <%= env.select :Envase, options_for_select(@productos_envases.map{|e|[e.Producto, e.Clave]}),  class: "form-control" %>

          </div>
        </div>


        <div class="form-group">
          <%= env.label :Cant_Base, "Cantidad Base:", class: "control-label col-md-2"  %>
          <div class="col-md-2">
            <%= env.text_field :Cant_Base, class: "form-control productoenvase_cant_base" %>
          </div>

          <%= env.label :Cant_Eq, "Cantidad Equivalente:", class: "control-label col-md-2"  %>
          <div class="col-md-2">
            <%= env.text_field :Cant_Eq, class: "form-control productoenvase_cant_eq" %>
          </div>
          <div class="col-md-2">
            <%= submit_tag "Agregar", class: "btn btn-primary", data: { disable_with: 'Agregando' }%>
          </div>
        </div>

          <%= env.hidden_field :Producto, class: "form-control producto_clave", value: params[:id]%>
          <%= env.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
          <%= env.hidden_field :Status, value: "A" %>
<%end%>

<table id="productoenvase" class="display"><!--el id productos es de datatables referenciado en productos.coffe y display class es una clase de datatables-->
<thead>

  <tr><!--active es para sombrear la fila-->
    <th>Id</th>
    <th>Producto</th>
    <th>Envase</th>
    <th>Cant_Base</th>
    <th>Cant_Eq</th>
    <th></th>
    <th></th>


  </tr>
</thead>
  <tbody id="container_productoenvase">
    <%= render @productoenvase %><!--carga todos los productos-->
</tbody>


</table>
