<%= form_for(@cteimage) do |f| %>
  <% if @cteimage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cteimage.errors.count, "error") %> prohibited this cteimage from being saved:</h2>

      <ul>
      <% @cteimage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IdCli %><br>
    <%= f.text_field :IdCli %>
  </div>
  <div class="field">
    <%= f.label :IdEmpresa %><br>
    <%= f.text_field :IdEmpresa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
