<p id="notice"><%= notice %></p>

<h1>Listing Cteimagen</h1>

<table>
  <thead>
    <tr>
      <th>Idcli</th>
      <th>Idempresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cteimagen.each do |cteimage| %>
      <tr>
        <td><%= cteimage.IdCli %></td>
        <td><%= cteimage.IdEmpresa %></td>
        <td><%= link_to 'Show', cteimage %></td>
        <td><%= link_to 'Edit', edit_cteimage_path(cteimage) %></td>
        <td><%= link_to 'Destroy', cteimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cteimage', new_cteimage_path %>
