<p id="notice"><%= notice %></p>

<p>
  <strong>Idcli:</strong>
  <%= @cteimage.IdCli %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @cteimage.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_cteimage_path(@cteimage) %> |
<%= link_to 'Back', cteimagen_path %>
