<tr id="abono_<%= detalleco.id %>">
  <td><%= detalleco.try(:Abono) %></td>
  <td><%= detalleco.try(:Fecha).try(:strftime,"%d-%m-%Y") %></td>
  <td><%= detalleco.try(:SaldoAnt) %></td>
  <td><%= detalleco.try(:Saldo) %></td>
  <td><%= detalleco.formapag.try(:Forma) %></td>
</tr>
