<tr id="motivonoventa_<%= motivonoventa.id %>">
  <td><%= motivonoventa.Clave %>    <!--Modal - update motivonoventa-->
  <%= form_for(motivonoventa, :method => :put, remote: true, html: {class: "form-horizontalformulario-validado-update#{motivonoventa.id}"}) do |f| %><!--ajax-->
    <div nohidden class="modal fade si" id="myupdatemotivonoventa_<%= motivonoventa.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar Motivo No Venta</h4>
          </div>

          <div class="modal-body">

            <div class="field">
              <%= f.label :Motivo,"Descripción:" %><br>
              <%= f.text_field :Motivo, class: "form-control ",autofocus: true, minlength: "5", required: "true"   %>
            </div>
            <div class="form-group">
              <%= f.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-3"%>
              <div class="col-md-1">
                <%= f.check_box :Status %>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= motivonoventa.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
          </div>
        </div>
      </div>
    </div>
  <%end%>

  <script>
    $(".formulario-validado-update<%=motivonoventa.id%>").validate();

  </script></td>
  <td><%= motivonoventa.Motivo %></td>




    <td>

        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myupdatemotivonoventa_<%= motivonoventa.id %>">
          Editar
        </button>
        <!--Destroy-->
        <% if motivonoventa.Status == true%>
          <%= link_to 'Eliminar', motivonoventa, method: :delete, class: "btn btn-danger btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
        <%else%>
          <%= link_to 'Habilitar', motivonoventa, method: :delete, class: "btn btn-success btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'} %>
        <%end%>
      </td>


<td class="no" >
  </td>
</tr>
