<!--<p id="notice"><%= notice %></p>-->
<h1>Lista de Motivos No Venta</h1>
<h3>Total: <%=@cantidad_motivosnoventa_activos%></h3>
<style>
.container {
}

</style>
<div>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewmotivonoventa">
        Nuevo Motivo No Venta
      </button>
    </div>
  </div>

  <br>
  <br>



  <table id="motivosnoventa" class="display"><!--el id motivosnoventa es de datatables referenciado en motivosnoventa.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Clave</th>
      <th>Motivo</th>
      <th>Acción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_motivosnoventa">
      <%= render @motivosnoventa %><!--carga todos los motivosnoventa-->
</tbody>


</table>
<!-- Modal create action -->
<%= form_for(@motivonoventa, remote: true, html: {class: "form-horizontal motivonoventa-validado"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewmotivonoventa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar Motivo No Venta</h4>
        </div>
        <div class="modal-body">

          <div class="field">
            <%= f.label :Clave,"Clave:" %><br>
            <%= f.text_field :Clave, class: "form-control motivonoventa_clave",autofocus: true, minlength: "1", required: "true"   %>
          </div>

          <div class="field">
            <%= f.label :Motivo,"Motivo:" %><br>
            <%= f.text_field :Motivo, class: "form-control motivonoventa_motivo", minlength: "5", required: "true"   %>
          </div>

          <div class="form-group">
            <%= f.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-3"%>
            <div class="col-md-1">
              <%= f.check_box :Status %>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewmotivonoventaclose">Cerrar</button>
          <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>

  <%= link_to "Exportar Excel", formaspag_path(format:"xls"), class:"btn btn-success btn-xs" %>

<%= link_to 'Motivos eliminados ó inhabilitados<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, motivosnoventa_inactivos_path, class: "btn btn-danger btn-xs"%>
