<% if @puede_editar == true %>
  $("#myupdatemotivonoventa_<%= @motivonoventa.id %>").modal('hide');

  $("#motivonoventa_<%= @motivonoventa.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_motivosnoventa").prepend('<%= j render @motivonoventa %>');

  });
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
