<tr id="vendedor_<%= vendedor.id %>">
    <td><%=vendedor.Clave%>
      <!--Modal - update vendedor-->
  <%= form_for(vendedor, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{vendedor.id}"}) do |f| %><!--ajax-->
    <div nohidden class="modal fade si" id="myupdatevendedor_<%= vendedor.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar Empleado</h4>
          </div>

          <div class="modal-body">


            <div class="form-group">


                <%= f.label :Nombre, "Nombre:", class: "control-label col-xs-2 col-sm-2 col-md-2" %>
              <div class="col-xs-5 col-sm-5 col-md-5">
                <%= f.text_field :Nombre, class: "form-control", minlength: "7", required: "true" %>
              </div>

            </div>

            <div class="form-group">


              <%= f.label :Telefono, "Teléfono:", class: "control-label col-xs-2 col-sm-2 col-md-2" %>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <%= f.text_field :Telefono, class: "form-control", required: "true" %>
              </div>

              <%= f.label :NumLicencia, "Licencia:", class: "control-label col-xs-2 col-sm-2 col-md-2" %>
              <div class="col-xs-5 col-sm-5 col-md-5">
                <%= f.text_field :NumLicencia, class: "form-control", minlength: "7", required: "true" %>
              </div>

            </div>

            <div class="form-group">

              <%= f.label :PdaPw, "PDA Pw:", class: "control-label col-xs-2 col-sm-2 col-md-2" %>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <%= f.text_field :PdaPw, class: "form-control", required: "true" %>
              </div>

              <%= f.label :Movil, "Movil:", class: "control-label col-xs-2 col-sm-2 col-md-2" %>
              <div class="col-xs-5 col-sm-5 col-md-5">
                <%= f.text_field :Movil, class: "form-control" %>
              </div>

            </div>

            <!--<div class="form-group">

              <%= f.label :MetaDiaria, "MetaDiaria:", class: "control-label col-md-2" %>
              <div class="col-md-3">
                <%= f.number_field :MetaDiaria, class: "form-control ", required: "true" %>
              </div>

              <%= f.label :MetaMes, "MetaMes:", class: "control-label col-md-2" %>
              <div class="col-md-5">
                <%= f.number_field :MetaMes, class: "form-control ", required: "true" %>
              </div>

            </div> -->

            <div class="form-group">


              <%= f.label :Tipo, "Categoría:", class: "control-label col-xs-2 col-sm-2 col-md-2"  %>
              <div class="col-xs-3 col-sm-3 col-md-3">
                <%= f.select :Tipo, ['Ayudante','Agente','Cobrador','Encuestador','Gerente','Repartidor','Supervisor','Vendedor'], class: "form-control"%>
              </div>

              <%= f.label :VenceLic, "Vencelic:", class: "control-label col-xs-2 col-sm-2 col-md-2" %>
              <div class="col-xs-5 col-sm-5 col-md-5">
                <%= f.text_field :VenceLic, class: "form-control datepicker", autocomplete: "off", minlength: "4", required: "true", :value => vendedor.VenceLic.strftime("%d-%m-%Y") %>
              </div>


            </div>
            <div class="form-group">
              <h3 class="col-md-5">Dirección:</h3>
            </div>

            <div class="form-group">
              <%= f.label :Direccion, "Calle y N°:", class: "control-label col-sm-2 col-md-2" %>
              <div class="col-sm-10 col-md-10">
                <%= f.text_field :Direccion, class: "form-control ",minlength: "10", required: "true"  %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :CP, "C.P:", class: "control-label col-sm-2 col-md-2" %>
              <div class="col-sm-3 col-md-3">
                <%= f.text_field :CP, class: "form-control " %>
              </div>
                <%= f.label :Colonia, "Colonia:", class: "control-label col-sm-2 col-md-2" %>
              <div class="col-sm-5 col-md-5">
                <%= f.text_field :Colonia, class: "form-control " %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :Latitud, "Latitud:", class: "control-label col-sm-2 col-md-2" %>
              <div class="col-sm-4 col-md-4">
                <%= f.number_field :Latitud, class: "form-control ", step: "any"%><!--con step: "any" le especificamos al control que acepte atributos decimales-->
              </div>
                <%= f.label :Longitud, "Longitud:", class: "control-label col-md-2" %>
              <div class="col-sm-4 col-md-4">
                <%= f.number_field :Longitud, class: "form-control ", step: "any"%><!--con step: "any" le especificamos al control que acepte atributos decimales-->
              </div>
            </div>

            <div class="form-group">
              <%= f.label :Referencia, "Referencia:", class: "control-label col-sm-2 col-md-2" %>
              <div class="col-sm-10 col-md-10">
                <%= f.text_field :Referencia, class: "form-control " %>
              </div>
            </div>




              <div class="col-md-3">
                <%= f.label :Status, "Activo:", class: "control-label col-md-2" %>
                <%= f.check_box :Status, class: "form-control" %>
              </div>


          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= vendedor.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
          </div>
        </div>
      </div>
    </div>
  <%end%>

  <script>
    $(".formulario-validado-update<%=vendedor.id%>").validate();

  </script>

    </td>
    <td><%=vendedor.Nombre%></td>
    <td>
      <% if vendedor.Tipo == nil%>
        Vendedor
      <%else%>
        <%=vendedor.Tipo%>
      <%end%>
    </td>
    <td><%=vendedor.Direccion%></td>
    <td><%=vendedor.Telefono%></td>
    <td><%=vendedor.PdaPw%></td>
  <!--  <td><%=vendedor.MetaDiaria%></td>
    <td><%=vendedor.MetaMes%></td>
    <td><%=vendedor.Movil%></td>-->
    <td><%=vendedor.VenceLic.strftime("%d-%m-%Y")%></td>




    <td>

        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myupdatevendedor_<%= vendedor.id %>">
          Editar
        </button>
        <!--Destroy-->

        <% if vendedor.Status == true%>
          <%= link_to 'Eliminar', vendedor, method: :delete, class: "btn btn-danger btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'} %>
        <%else%>
        <%= link_to 'Habilitar', vendedor, method: :delete, class: "btn btn-success btn-xs", remote:true, data: {confirm: "¿Está seguro que desea Habilitarlo?", disable_with: 'Habilitando...'} %>

        <%end%>
      </td>


<td class="no" >
</td>
</tr>
