<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Id</Data></Cell>
        <Cell><Data ss:Type="String">Clave</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Teléfono</Data></Cell>
        <Cell><Data ss:Type="String">Numero de Licencia</Data></Cell>
        <Cell><Data ss:Type="String">Vence Licencia</Data></Cell>
        <Cell><Data ss:Type="String">PdaPw</Data></Cell>
        <Cell><Data ss:Type="String">Móvil</Data></Cell>
        <Cell><Data ss:Type="String">Calle y N°</Data></Cell>
        <Cell><Data ss:Type="String">C.P</Data></Cell>
        <Cell><Data ss:Type="String">Colonia</Data></Cell>
        <Cell><Data ss:Type="String">Latitud</Data></Cell>
        <Cell><Data ss:Type="String">Longitud</Data></Cell>
        <Cell><Data ss:Type="String">Referencia</Data></Cell>
        <Cell><Data ss:Type="String">Categoría</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>

      <% @vendedores.each do |vendedor| %>
        <Row>
          <Cell><Data ss:Type="String"><%= vendedor.IdVendedor%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.Clave%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.Nombre%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.Telefono%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.NumLicencia%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.VenceLic.try(:strftime,"%d-%m-%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.PdaPw%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.Movil%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.Direccion%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.CP%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.Colonia%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.Latitud%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.Longitud%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.Referencia%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.Tipo%></Data></Cell>
          <Cell><Data ss:Type="String"><%= vendedor.Status%></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
