<% if @puede_editar == true %>
  $("#myupdatevendedor_<%= @vendedor.id %>").modal('hide');

  $("#vendedor_<%= @vendedor.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_vendedores").prepend('<%= j render @vendedor %>');

  });
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
