<%= search_form_for @search, :remote=>"true", url: catunidadmedida_path, :method => :get do |f| %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="col_left"><%= sort_link @search, :Clave, "Clave","catunidadmed", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :UnidadMedida, "Unidad Medida","catunidadmed", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :Abreviatura, "Abreviatura","catunidadmed", {}, { :remote => true, :method => :get } %></th>
            <th class="col_left"><%= sort_link @search, :Status, "Status","catunidadmed", {}, { :remote => true, :method => :get } %></th>
            <th class="action_col"><%= t("basic.action") %></th>
          </tr>
          <tr>
            <th><%= f.text_field :Clave_cont, class:"campo" %></th>
            <th><%= f.text_field :UnidadMedida_cont, class:"campo" %></th>
            <th><%= f.text_field :Abreviatura_cont, class:"campo" %></th>
            <th><%= f.text_field :Status_cont, class:"campo" %></th>

            <th><%= f.submit "Buscar" %></th>
          </tr>

        </thead>
        <tbody>
        </tbody>
      </table>
  </div><% end %>




      <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
            <%= search_form_for @search, :remote=>"true", url: catunidadmedida_path, :method => :get do |f| %>
              <tr>
                <th class="col_left"><%= sort_link @search, :Clave, "Clave","catunidadmed", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :UnidadMedida, "Unidad Medida","catunidadmed", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :Abreviatura, "Abreviatura","catunidadmed", {}, { :remote => true, :method => :get } %></th>
                <th class="col_left"><%= sort_link @search, :Status, "Status","catunidadmed", {}, { :remote => true, :method => :get } %></th>
                <th class="action_col"><%= t("basic.action") %></th>
              </tr><% end %>
            </thead>
            <tbody id="container_catunidadmedida">
              <%= render @catunidadmedida %><!--carga todos los activos-->

            </tbody>
          </table>
          <%= paginate @catunidadmedida %>

  </div>
