<tr id="catunidadmed_<%= catunidadmed.id %>">
  <td class="col_left"><%= catunidadmed.try(:Clave)%></td>
  <td class="col_left"><%= catunidadmed.try(:UnidadMedida)%></td>
  <td class="col_left"><%= catunidadmed.try(:Abreviatura)%>
      <!--Modal - update producto-->
    <%= form_for(catunidadmed, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{catunidadmed.id}"}) do |m| %><!--ajax-->
    <div nohidden class="modal fade si" id="myupdatecatunidadmed_<%= catunidadmed.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar grupo</h4>
          </div>

          <div class="modal-body">

            <div class="form-group">
              <%= m.label :UnidadMedida, "UnidadMedida:", class: "control-label col-md-3"  %>
              <div class="col-md-9">
                <%= m.text_field :UnidadMedida, class: "form-control ", required: "true"   %>
              </div>
            </div>

            <div class="form-group">
              <%= m.label :Abreviatura, "Abreviatura:", class: "control-label col-md-3"  %>
              <div class="col-md-9">
                <%= m.text_field :Abreviatura, class: "form-control ", required: "true"   %>
              </div>
            </div>



            <div class="form-group">
              <%= m.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-2"%>
              <div class="col-md-1">
                <%= m.check_box :Status,{checked: true} %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= catunidadmed.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
          </div>
        </div>
      </div>
    </div>
    <%end%>
      <script>
        $(".formulario-validado-update<%=catunidadmed.id%>").validate();

      </script>
  </td>
  <td class="col_left"><%= catunidadmed.try(:Status)%></td>

  <td>
  <div class="btn-group"><a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
   <%= t('basic.Acción') %>

   </a>
  <ul class="dropdown-menu posicion-menu">


    <li>

      <li>
        <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatecatunidadmed_<%= catunidadmed.id %>">
          Editar
        </button>
        <!--Destroy-->
        <% if catunidadmed.Status == true%>
        <%= link_to 'Eliminar', catunidadmed, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
        <%else%>
          <%= link_to 'Habilitar', catunidadmed, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'} %>
        <%end%>
      </li>

    </li>



  </ul>
  </div>
  <!-- button group --></td>
</tr>
