<% if @puede_crear == true%>
  $("#mynewcatunidadmed").modal('hide');
  $(".unimed_clave").val('');
  $(".unimed_unidadmedida").val('');
  $(".unimed_abreviatura").val('');

  $("#container_catunidadmedida").prepend('<%= j render @catunidadmed %>'); //Prepend before append
  $("#catunidadmed_<%= @catunidadmed.id %>").hide().fadeIn(1000);

<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
