<!--<p id="notice"><%= notice %></p>-->
<h1>Unidades de medida inactivas</h1>
<style>
.container {
  width: 100%;
}

</style>


  <br>
  <br>

<div id="catunidadmedida"><%= render 'catunidadmedida' %></div>

<%= link_to 'Volver a unidades de medida', catunidadmedida_path, class: "btn btn-primary btn-lg" %>
