<!--<p id="notice"><%= notice %></p>-->
<h1>Unidades de medida</h1>
<style>
.container {
  width: 100%;
}

</style>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewcatunidadmed">
        Nueva unidad de medida
      </button>

    </div>
  </div>

  <br>
  <br>

<div id="catunidadmedida"><%= render 'catunidadmedida' %></div>

<!-- Modal create action -->
<%= form_for(@catunidadmed, remote: true, html: {class: "form-horizontal catunidadmed-validado"}) do |m| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewcatunidadmed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar unidad de medida</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">

            <%= m.label :Clave, "Clave:", class: "control-label col-md-3"  %>
            <div class="col-md-7">
              <%= m.text_field :Clave, class: "form-control unimed_clave clave_sin_espacios_y_sin_caracteres_especiales",autofocus: true, required: "true"   %>
            </div>

          </div>

          <div class="form-group">
            <%= m.label :UnidadMedida, "UnidadMedida:", class: "control-label col-md-3"  %>
            <div class="col-md-9">
              <%= m.text_field :UnidadMedida, class: "form-control unimed_unidadmedida", required: "true"   %>
            </div>
          </div>

          <div class="form-group">
            <%= m.label :Abreviatura, "Abreviatura:", class: "control-label col-md-3"  %>
            <div class="col-md-9">
              <%= m.text_field :Abreviatura, class: "form-control unimed_abreviatura", required: "true"   %>
            </div>
          </div>



          <div class="form-group">
            <%= m.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-2"%>
            <div class="col-md-1">
              <%= m.check_box :Status,{checked: true} %>
            </div>
          </div>
            <%= m.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewunimedclose">Cerrar</button>
          <%= m.submit "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
<%= link_to 'Unidades eliminadas ó inhabilitados<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, catunidadmedida_inactivos_path, class: "btn btn-danger btn-xs"%>
