<% if @puede_editar == true %>
  $("#myupdatecatunidadmed_<%= @catunidadmed.id %>").modal('hide');

  $("#catunidadmed_<%= @catunidadmed.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_catunidadmedida").prepend('<%= j render @catunidadmed %>');
  });
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
