    <tr id="stoc_<%= stoc.id %>">
      <td class="col_left"><%=stoc.Clave_producto%></td>
      <td class="col_left"><%=stoc.Producto%></td>
      <td class="component_name_body_col">
        <%= form_for(stoc, :method => :put, remote: true) do |f| %><!--ajax-->
          <%= f.hidden_field :IdStock %>
          <% if (stoc.UnidadMedida == "pieza" || stoc.UnidadMedida == "piezas")%>
            <div class="pzas">
              Piezas: <input id="f_piezas" type="number" value="<%= (stoc.Stock).to_i%>" name="f_piezas"/> <!--le coloco el % (en sql es llamado operacion modulo) para que me traiga el resto que resulte de la division-->
              <%= submit_tag "Ok", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
            </div>
          <%else%>
            <div class="cajas">
                Cajas:  <input id="f_cajas" type="number" value="<%= (stoc.Stock / stoc.PzaXCja).to_i %>" name="f_cajas"/>
                Piezas: <input id="f_piezas" type="number" value="<%= (stoc.Stock % stoc.PzaXCja).to_i%>" name="f_piezas"/> <!--le coloco el % (en sql es llamado operacion modulo) para que me traiga el resto que resulte de la division-->
                <%= submit_tag "Ok", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
            </div>
          <%end%>
        <%end%>
      </td>
      <td><%= (stoc.Stock).to_i%></td>


    </tr>
<style>
@media screen and (min-width: 480px){/* cuando la anchura minima sea de 489 pixeles, va a cambiar el dispositivo*/
	.pzas, .cajas{
    float: right !important;
	}
}

@media screen and (min-width: 767px){
	.pzas, .cajas{
		padding-right: 16%;
    float: right;
	}
}
@media screen and (min-width: 950px){
	.pzas, .cajas{
		padding-right: 26%;
    float: right;
	}
}
</style>
