<% if @stock != nil %>

  <%= form_tag("/stock", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
    <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="component_name_header_col">
              <%= label_tag :Clave_param, "Clave", class: "control-label" %>
            </th>
            <th class="component_name_header_col">
              <%= label_tag :Producto_param, "Producto", class: "control-label" %>
            </th>
            <th class="action_col"><%= t("basic.Acción") %></th>
          </tr>
          <tr>
            <th><%= text_field_tag :Clave_param %></th>
            <th><%= text_field_tag :Producto_param %></th>
            <input id="search" type="hidden" value="<%=params[:search] %>" name="search"/><%# se debe colocar debido a que a la hora de hacer la busqueda de los registros dentro de la tabla, hace la consulta y no toma los ids porque se pierden%>
            <input id="search6" type="hidden" value="<%=params[:search6] %>" name="search6"/>
            <th>
                <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
            </th>
          </tr>

        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  <% end %>

  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
     <thead>
      <%= search_form_for @search, :remote=>"true", url: stock_path, :method => :get do |f| %>
      <tr>
        <th class="col_left"><%= sort_link @search, :Articulo, "Clave","stoc", {}, { :remote => true, :method => :get } %></th>
        <th class="col_left"><%= sort_link @search, :producto_Producto, "Producto","stoc", {}, { :remote => true, :method => :get } %></th>
        <th class="component_name_header_col"><%= sort_link @search, :Stock, "Cajas / Piezas","stoc", {}, { :remote => true, :method => :get } %></th>
        <th class="component_name_header_col"><%= sort_link @search, :Stock, "Total Piezas","stoc", {}, { :remote => true, :method => :get } %>
          <div id="total_piezas_stock"><%= render 'total_piezas_stock' %></div>
        </th>
      </tr>
    </thead><% end %>
      <tbody id="container_stock">
        <%= render @stock%>
      </tbody>
    </table>
    <%= paginate @stock, :param_name => 'stock', params: {controller: 'stock', action: 'index'} %> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>





  <%= link_to 'Exportar Excel', stock_path(:search => params[:search], :search6 => params[:search6], format:"xls"), class:"btn btn-success btn-xs"  %></td>


<%end%>
