<style type="text/css">
  input[name='commit']{
    margin-top: 20px;
  }
</style>
<div>
  <h2>Generación de stock</h2>
  <div class="well center-block">
    <p><b>Por favor selecciona la ruta</b>
       <div class="text-right">
          Fecha: <b><%= Time.now.strftime("%d-%m-%Y") %></b>
      </div>
     </p>

    <%= form_tag("/stock", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
    <div class="form-group">
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label col-md-2 col-sm-3 col-xs-6" for="ruta">Ruta:</label>
          <div class="col-md-10 col-sm-4 col-xs-6">
            <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar_nuevo', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          </div>
           <div class="col-md-9">
             <%= submit_tag "Buscar", id: 'the_search', class: "btn btn-primary btn-lg btn-block", data: { disable_with: 'Buscando' } %>
           </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel tile overflow_hidden">
                <div class="x_title">
                  <h2>Productos</h2>
                  <div class="clearfix"></div>
                </div>
                <div id="Productos">
                  <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div id="total_cajas"><%= render 'partials/total_cajas' %></div>
                  </div>
                  <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div id="total_piezas"><%= render 'partials/total_piezas' %></div>
                  </div>
                </div>
              </div>
            </div>
                  <% if current_usuario.empresamadre.NombreComercial != "La Central Aqui"%>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel tile overflow_hidden">
                <div class="x_title">
                  <h2>Envases</h2>
                  <div class="clearfix"></div>
                </div>
                <div id="Envases">
                  <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div id="total_cajas_envase"><%= render 'partials/total_cajas_envase' %></div>
                  </div>
                  <div class="animated flipInY col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div id="total_piezas_envase"><%= render 'partials/total_piezas_envase' %></div>
                  </div>
                </div>
              </div>
            </div>
                  <% end %>



        </div>
      </div>
    </div>
    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>

  </div>
  <div id="stock"><%= render 'stock' %></div>
  <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myimportdata">
    Importar Excel
  </button>


  <div class="modal fade" id="myimportdata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Importar Datos</h4>
        </div>
        <div class="modal-body">
          <p>
            Nota: El formato excel a exportar debe ser .xlsx ó .csv
          </p>
          <%= form_tag import_stock_path, multipart: true do %>
            <%= file_field_tag :file %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="myimportdataclose">Close</button>
          <%= submit_tag "Importar", class: "btn btn-primary", data: { disable_with: 'Importando' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
