$('#stock').html('<%= escape_javascript(render("stock")) %>');
$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$('#total_cajas').html('<%= escape_javascript(render("/partials/total_cajas")) %>');
$('#total_piezas').html('<%= escape_javascript(render("/partials/total_piezas")) %>');
$('#total_cajas_envase').html('<%= escape_javascript(render("/partials/total_cajas_envase")) %>');
$('#total_piezas_envase').html('<%= escape_javascript(render("/partials/total_piezas_envase")) %>');