<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Id del Stock</Data></Cell>
        <Cell><Data ss:Type="String">Ruta</Data></Cell>
        <Cell><Data ss:Type="String">Clave del producto</Data></Cell>
        <Cell><Data ss:Type="String">Producto</Data></Cell>
        <Cell><Data ss:Type="String">StockCajas</Data></Cell>
        <Cell><Data ss:Type="String">StockPiezas</Data></Cell>

      </Row>

      <% @stockE.each do |stoc| %>
        <Row>
          <Cell><Data ss:Type="String"><%= stoc.try(:IdStock)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= stoc.try(:Ruta)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= stoc.try(:Clave_producto)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= stoc.try(:Producto)%></Data></Cell>
          <% if (stoc.UnidadMedida == "pieza" || stoc.UnidadMedida == "piezas")%>
            <Cell><Data ss:Type="String"> </Data></Cell>
            <Cell><Data ss:Type="String"><%= (stoc.try(:Stock)).to_i %></Data></Cell>
          <%else%>
            <Cell><Data ss:Type="String"><%= (stoc.Stock / stoc.PzaXCja).to_i %></Data></Cell>
            <Cell><Data ss:Type="String"><%= (stoc.Stock % stoc.PzaXCja).to_i%></Data></Cell>
          <%end%>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
