$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");
$("#stoc_<%= @stoc.id %>").fadeOut(500, function(){
  $(this).remove();
  $("#container_stock").prepend('<%= j render @stoc %>');
});
$('#total_piezas_stock').html('<%= escape_javascript(render("total_piezas_stock")) %>');
$('#total_cajas').html('<%= escape_javascript(render("/partials/total_cajas")) %>');
$('#total_piezas').html('<%= escape_javascript(render("/partials/total_piezas")) %>');

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
