<%= form_for(@tiket) do |f| %>
  <% if @tiket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tiket.errors.count, "error") %> prohibited this tiket from being saved:</h2>

      <ul>
      <% @tiket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Linea1 %><br>
    <%= f.text_field :Linea1 %>
  </div>
  <div class="field">
    <%= f.label :Linea2 %><br>
    <%= f.text_field :Linea2 %>
  </div>
  <div class="field">
    <%= f.label :Linea3 %><br>
    <%= f.text_field :Linea3 %>
  </div>
  <div class="field">
    <%= f.label :Linea4 %><br>
    <%= f.text_field :Linea4 %>
  </div>
  <div class="field">
    <%= f.label :Mensaje %><br>
    <%= f.text_field :Mensaje %>
  </div>
  <div class="field">
    <%= f.label :Tdv %><br>
    <%= f.text_field :Tdv %>
  </div>
  <div class="field">
    <%= f.label :LOGO %><br>
    <%= f.text_field :LOGO %>
  </div>
  <div class="field">
    <%= f.label :MLiq %><br>
    <%= f.text_field :MLiq %>
  </div>
  <div class="field">
    <%= f.label :IdEmpresa %><br>
    <%= f.text_field :IdEmpresa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
