  <div class="well center-block formulario-ticket">
    <!--Modal - update activo-->
    <%= form_for(tiket, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-create "}) do |f| %><!--ajax-->
    <h1>Ticket</h1> <h3><%= current_usuario.empresa.Sucursal %></h3>
      <div class="form-group">
        <%= f.label :Linea1, "Nombre Comercial:", class: "control-label col-xs-3 col-sm-3 col-md-3"  %>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <%= f.text_field :Linea1, class: "form-control ",autofocus: true  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :Linea2, "Sucursal:", class: "control-label col-xs-3 col-sm-3 col-md-3"  %>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <%= f.text_field :Linea2, class: "form-control "   %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :Linea3, "Dirección 1:", class: "control-label col-xs-3 col-sm-3 col-md-3"  %>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <%= f.text_field :Linea3, class: "form-control "  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :Linea4, "Dirección 2:", class: "control-label col-xs-3 col-sm-3 col-md-3"  %>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <%= f.text_field :Linea4, class: "form-control "  %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :Mensaje, "Mensaje:", class: "control-label col-xs-3 col-sm-3 col-md-3"  %>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <%= f.text_field :Mensaje, class: "form-control "  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :Tdv,"Habilitar ticket de visita:", class: "control-label col-xs-10 col-sm-10 col-md-10 " %>
        <div class="col-md-1">
          <%= f.check_box :Tdv,{checked: true} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :MLiq,"Habilitar mensajes de liquidación:", class: "control-label col-xs-10 col-sm-10 col-md-10 " %>
        <div class="col-md-1">
          <%= f.check_box :MLiq,{checked: true} %>
        </div>
      </div>


        <div class="boton" style="padding:2% 20% 12% 23%;">
          <%= submit_tag "Actualizar", class: "btn btn-primary btn-lg btn-block", data: { disable_with: 'Actualizando' }%>
        </div>
      </div>



    <%end%>
  </div>
