$(".creacion-ticket").after('<%= j render @tiket %>'); //Prepend before append
$(".creacion-ticket").hide();
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
