<p id="notice"><%= notice %></p>

<p>
  <strong>Linea1:</strong>
  <%= @tiket.Linea1 %>
</p>

<p>
  <strong>Linea2:</strong>
  <%= @tiket.Linea2 %>
</p>

<p>
  <strong>Linea3:</strong>
  <%= @tiket.Linea3 %>
</p>

<p>
  <strong>Linea4:</strong>
  <%= @tiket.Linea4 %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @tiket.Mensaje %>
</p>

<p>
  <strong>Tdv:</strong>
  <%= @tiket.Tdv %>
</p>



<p>
  <strong>Mliq:</strong>
  <%= @tiket.MLiq %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @tiket.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_tiket_path(@tiket) %> |
<%= link_to 'Back', ctiket_path %>
