<% if @usuarioP != nil%><!--ajax-->

    <!--Modal - update usuario-->
    <%= form_for(@usuarioP, :method => :put, remote: true, html: {class: "form-horizontal "}) do |f| %><!--ajax-->
    <div nohidden class="modal fade si" id="myperfil_usuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Perfiles</h4>
        </div>
        <div class="modal-body">


          <div class="row">
            <div class="col-md-12">
              <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1default" data-toggle="tab">Catálogos</a></li>
                    <li><a href="#tab2default" data-toggle="tab">Procesos</a></li>
                    <li><a href="#tab3default" data-toggle="tab">Información</a></li>
                  </ul>
                </div>




                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">

                      <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
                          <thead>
                            <tr>
                              <th>Modulo</th>
                              <th>Descripción</th>
                              <th>Altas</th>
                              <th>Bajas</th>
                              <th>Modi</th>
                              <th>Listar</th>
                            </tr>
                          </thead>
                        <tbody id="container_usuarios">
                          <%= f.fields_for :perfiles_por_Catalogo do |ppc| %>
                            <tr>
                              <td><%= ppc.text_field :Modulo, class:"form-control", disabled:true%></td>
                              <td><%= ppc.text_field :Descripcion, class:"form-control", disabled:true%></td>
                              <td><%= ppc.check_box :Altas %></td>
                              <td><%= ppc.check_box :Bajas %></td>
                              <td><%= ppc.check_box :Modi %></td>
                              <td><%= ppc.check_box :Listar %></td>
                            </tr>
                          <%end%>
                        </tbody>
                      </table>

                    </div>
                    <div class="tab-pane fade" id="tab2default">

                      <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
                          <thead>
                            <tr>
                              <th>Modulo</th>
                              <th>Descripción</th>
                              <th>Altas</th>
                              <th>Bajas</th>
                              <th>Modi</th>
                              <th>Listar</th>
                            </tr>
                          </thead>
                        <tbody id="container_usuarios">
                          <%= f.fields_for :perfiles_por_Proceso do |ppp| %>
                            <tr>
                              <td><%= ppp.text_field :Modulo, class:"form-control", disabled:true%></td>
                              <td><%= ppp.text_field :Descripcion, class:"form-control", disabled:true%></td>
                              <td><%= ppp.check_box :Altas %></td>
                              <td><%= ppp.check_box :Bajas %></td>
                              <td><%= ppp.check_box :Modi %></td>
                              <td><%= ppp.check_box :Listar %></td>
                            </tr>
                          <%end%>
                        </tbody>
                      </table>

                    </div>
                    <div class="tab-pane fade" id="tab3default">

                      <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
                          <thead>
                            <tr>
                              <th>Modulo</th>
                              <th>Descripción</th>
                              <th>Altas</th>
                              <th>Bajas</th>
                              <th>Modi</th>
                              <th>Listar</th>
                            </tr>
                          </thead>
                        <tbody id="container_usuarios">
                          <%= f.fields_for :perfiles_por_Reporte do |ppr| %>
                            <tr>
                              <td><%= ppr.text_field :Modulo, class:"form-control", disabled:true%></td>
                              <td><%= ppr.text_field :Descripcion, class:"form-control", disabled:true%></td>
                              <td><%= ppr.check_box :Altas %></td>
                              <td><%= ppr.check_box :Bajas %></td>
                              <td><%= ppr.check_box :Modi %></td>
                              <td><%= ppr.check_box :Listar %></td>
                            </tr>
                          <%end%>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>





        </div>
        <div class="modal-footer">
          <button type="button" id="myupdatebutton" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
        </div>
      </div>
    </div>
    </div>
    <%end%>
<%end%>
