<tr id="usuario_<%= usuario.id %>">
  <td class="col_left"><%=usuario.try(:IdUsuario)%>


    <!--Modal - update usuario-->
    <%= form_for(usuario, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{usuario.id}"}) do |f| %><!--ajax-->
    <div nohidden class="modal fade si" id="myupdateusuario_<%= usuario.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Editar usuario</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1default-UPDATE_<%= usuario.id %>" data-toggle="tab">Datos Generales</a></li>
                    <li><a href="#tab2default-UPDATE_<%= usuario.id %>" data-toggle="tab">Datos de Configuración</a></li>
                  </ul>
                </div>
                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default-UPDATE_<%= usuario.id %>">
                      <div class="form-group">
                        <%= f.label :Nombre, "Nombre:", class: "control-label col-md-2" %>
                          <div class="col-md-7">
                            <%= f.text_field :Nombre, class: "form-control ", minlength: "7", required: "true"  %>
                        </div>
                      </div>
                      <div class="well center-block">
                        <div class="form-group">
                          <h3 class="col-md-5">Datos de Sesión:</h3>
                        </div>
                        <div class="form-group">
                            <%= f.label :empresa_id, "Sucursal:", class: "control-label col-md-2" %>
                          <div class="col-md-3">
                            <%= f.select :empresa_id, options_for_select(@sucursales.all.map{|e|[e.Sucursal, e.id]},selected: usuario.empresa_id), class: "form-control" %>
                          </div>
                        </div>
                        <div class="form-group">
                            <%= f.label :email, "Email:", class: "control-label col-md-2" %>
                          <div class="col-md-7">
                            <%= f.email_field :email, class: "form-control", minlength: "7", required: "true" %>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= f.label :email, "Cambiar password:", class: "control-label col-md-3" %>
                          <div class="col-md-2">
                            <input type="checkbox" id="checkbox_password_<%=usuario.id%>">
                          </div>
                        </div>
                        <div id="oculto_<%=usuario.id%>" class="form-group">
                          <%= f.label :password, "Password:", class: "control-label col-md-2" %>
                            <div class="col-md-3">
                            <%= f.password_field :password, id: "password_#{usuario.id}", autocomplete: "off", class: "form-control usuario_password", minlength: "8", required: "true", disabled:true %>
                          </div>
                            <%= f.label :password_confirmation, "Password Confirmation:", class: "control-label col-md-4" %>
                          <div class="col-md-3">
                            <%= f.password_field :password_confirmation, id: "password_confirmation_#{usuario.id}", autocomplete: "off", equalTo:"#password_#{usuario.id}", class: "form-control usuario_password_confirmation ", minlength: "8", required: "true", disabled:true %>
                          </div>
                        </div>
                      <div class="form-group">
                        <%= f.label :Supervisor,"Supervisor:", class: "control-label col-xs-3 col-sm-6 col-md-2 " %>
                        <div class="col-md-1">
                          <%= f.check_box :Supervisor %>
                        </div>
                      </div>
                      <!--  <p><%= link_to 'Forgot password?', new_password_reset_path %></p>-->
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tab2default-UPDATE_<%= usuario.id %>">
                      <div class="form-group">
                        <h3 class="col-md-5">Lista de sucursales:</h3>
                      </div>
                      <%= hidden_field_tag "usuario[empresa_ids][]", nil %><!--#elimina el registro-->
                      <% Empresa.all.each do |empresa| %>
                        <div class="form-group">
                          <div class="col-md-1">
                            <%= check_box_tag "usuario[empresa_ids][]", empresa.id,
                            usuario.empresa_ids.include?(empresa.id), id: dom_id(empresa) %><!--# debe contener en plural emplesa_id para que lo relacione con la otra tabla, aunque la llave foranea sea IdEmpresa especificado en el modelo -->
                          </div>
                          <%= label_tag dom_id(empresa), empresa.Sucursal, class: "control-label col-md-3" %><br>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="myupdatebutton_<%= usuario.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
        </div>
      </div>
    </div>
    </div>
    <%end%>
    <script>
    $(".formulario-validado-update<%=usuario.id%>").validate();

      document.getElementById('checkbox_password_<%=usuario.id%>').onchange = function() {
      document.getElementById('password_<%=usuario.id%>').disabled = !this.checked;
      document.getElementById('password_confirmation_<%=usuario.id%>').disabled = !this.checked;
    };
    </script>

  </td>
  <td class="col_left"><%=usuario.try(:usuario)%></td>
  <td class="col_left"><%=usuario.try(:email)%></td>
  <td class="col_left"><%=usuario.try(:Nombre)%></td>
  <td class="col_center">
    <% if usuario.Supervisor == true%>
      <input type="checkbox" disabled="true" checked="true">
    <%else%>
      <input type="checkbox" disabled="true" >
    <%end%>
  <td class="col_center">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-primary action-btn btn-xs" href="#" data-toggle="dropdown">
       <%= t('basic.Acción') %>
      </a>
      <ul class="dropdown-menu posicion-menu">
        <li>
          <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdateusuario_<%= usuario.id %>">
            Editar
          </button>
          <%= link_to 'Perfil', busqueda_usuario_perfil_path(:IdUsuario => usuario.try(:IdUsuario)), class: "btn btn-default btn-xs", :remote => true, data: { disable_with: 'Cargando...' }  %>
          <!--Destroy-->
          <%= link_to 'Eliminar', usuario, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
        </li>
      </ul>
    </div>
  </td>
</tr>
