  <%= search_form_for @search_usuarios, :remote=>"true", url: usuarios_path, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-hover rwd_auto">
          <thead>



            <tr>
              <th class="col_left"><%= sort_link @search_usuarios, :IdUsuario, "ID","usuario", {}, { :remote => true, :method => :get } %></th>
              <th class="col_left"><%= sort_link @search_usuarios, :usuario, "Usuario","usuario", {}, { :remote => true, :method => :get } %></th>
              <th class="col_left"><%= sort_link @search_usuarios, :email, "Email","usuario", {}, { :remote => true, :method => :get } %></th>
              <th class="col_left"><%= sort_link @search_usuarios, :Nombre, "Nombre","usuario", {}, { :remote => true, :method => :get } %></th>
              <th class="action_col col_center"><%= t("basic.action") %></th>
            </tr>
            <tr>
              <th><%= f.text_field :IdUsuario_cont, class:"campo" %></th>
              <th><%= f.text_field :usuario_cont, class:"campo" %></th>
              <th><%= f.text_field :email_cont, class:"campo" %></th>
              <th><%= f.text_field :Nombre_cont, class:"campo" %></th>

              <th><%= f.submit "Buscar", data: { disable_with: 'Buscando' } %></th>
            </tr>

          </thead>
          <tbody>
          </tbody>
        </table>
    </div><% end %>


  <div class="rwd">
          <table class="table table-striped table-bordered table-hover rwd_auto">
            <%= search_form_for @search_usuarios, :remote=>"true", url: usuarios_path, :method => :get do |f| %>
              <thead>
                <tr>
                  <th class="col_left"><%= sort_link @search_usuarios, :IdUsuario, "ID","usuario", {}, { :remote => true, :method => :get } %></th>
                  <th class="col_left"><%= sort_link @search_usuarios, :usuario, "Usuario","usuario", {}, { :remote => true, :method => :get } %></th>
                  <th class="col_left"><%= sort_link @search_usuarios, :email, "Email","usuario", {}, { :remote => true, :method => :get } %></th>
                  <th class="col_left"><%= sort_link @search_usuarios, :Nombre, "Nombre","usuario", {}, { :remote => true, :method => :get } %></th>
                  <th class="col_left"><%= sort_link @search_usuarios, :Supervisor, "Supervisor","usuario", {}, { :remote => true, :method => :get } %></th>
                  <th class="col_center"><%= t("basic.action") %></th>
                </tr>
              </thead>
            <% end %>
            <tbody id="container_usuarios">
              <%= render @usuarios %><!--carga todos los productos-->
            </tbody>
          </table>
          <%= paginate @usuarios, :remote => true, :param_name => 'usuarios' %> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
</div>
