<!--<p id="notice"><%= notice %></p>-->
<h1>Usuarios</h1>
<h3>Total: <%=@cantidad_usuarios_activos%></h3>

<div>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewusuario">
        Nuevo usuario
      </button>
    </div>
  </div>

  <br>
  <br>

  <div id="usuarios"><%= render 'usuarios' %></div>
  <div id="perfil_usuario"><%= render 'perfil_usuario' %></div>


<!-- Modal create action -->
<%= form_for(@usuario, remote: true, :url => {:action => 'create'}, html: {class: "form-horizontal usuario-validado"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewusuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar usuario</h4>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <%= f.label :Nombre, "Nombre:", class: "control-label col-md-2" %>
              <div class="col-md-7">
              <%= f.text_field :Nombre, class: "form-control usuario_nombre ",autofocus: true, minlength: "7", required: "true"  %>
            </div>

          </div>
          <div class="well center-block">
            <div class="form-group">
              <h3 class="col-md-5">Datos de Sesión:</h3>
            </div>

            <div class="form-group">
                <%= f.label :empresa_id, "Sucursal:", class: "control-label col-md-2" %>
              <div class="col-md-3">
                <%= f.select :empresa_id, options_for_select(@sucursales.all.map{|e|[e.Sucursal, e.id]}), class: "form-control" %>
              </div>
            </div>

          <div class="form-group">
            <%= f.label :usuario, "Usuario:", class: "control-label col-md-2" %>
              <div class="col-md-3">
              <%= f.text_field :usuario, class: "form-control usuario_usuario", minlength: "5", required: "true" %>
            </div>

              <%= f.label :email, "Email:", class: "control-label col-md-2" %>
            <div class="col-md-5">
              <%= f.email_field :email, class: "form-control usuario_email", minlength: "7", required: "true" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password, "Password:", class: "control-label col-md-2" %>
              <div class="col-md-3">
              <%= f.password_field :password, autocomplete: "off", class: "form-control usuario_password", minlength: "8", required: "true" %>
            </div>
              <%= f.label :password_confirmation, "Password Confirmation:", class: "control-label col-md-4" %>
            <div class="col-md-3">
              <%= f.password_field :password_confirmation, autocomplete: "off", equalTo:"#usuario_password", class: "form-control usuario_password_confirmation ", minlength: "8", required: "true" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Supervisor,"Supervisor:", class: "control-label col-xs-3 col-sm-6 col-md-2 " %>
            <div class="col-md-1">
              <%= f.check_box :Supervisor, checked: false %>
            </div>
          </div>
          <%= f.hidden_field :empresamadre_id, value: current_usuario.empresamadre_id %>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewusuarioclose">Cerrar</button>
          <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>

  <%= link_to "Exportar Excel", usuarios_path(format:"xls"), class:"btn btn-success btn-xs" %>
