$("#myupdateusuario_<%= @usuario.id %>").modal('hide');
$("#myperfil_usuario").modal('hide');

$("#usuario_<%= @usuario.id %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
  $("#container_usuarios").prepend('<%= j render @usuario %>');

});

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
