<tr id="mvmerma_<%= mvmerma.id %>">
  <td><%= mvmerma.Clave %>

    <!--Modal - update mvmerma-->
<%= form_for(mvmerma, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{mvmerma.id}"}) do |f| %><!--ajax-->
  <div nohidden class="modal fade si" id="myupdatemvmerma_<%= mvmerma.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Editar Motivo de Merma</h4>
        </div>

        <div class="modal-body">

          <div class="field">
            <%= f.label :Merma,"Motivo:" %><br>
            <%= f.text_field :Merma, class: "form-control ",autofocus: true, minlength: "7", required: "true"   %>
          </div>
          <div class="form-group">
            <%= f.label :Status,"Activo:", class: "control-label col-xs-7 col-sm-6 col-md-3"%>
            <div class="col-md-1">
              <%= f.check_box :Status %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" id="myupdatebutton_<%= mvmerma.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
<script>
  $(".formulario-validado-update<%=mvmerma.id%>").validate();

</script>
</td>
  <td><%= mvmerma.Merma %></td>




    <td>

        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myupdatemvmerma_<%= mvmerma.id %>">
          Editar
        </button>
        <!--Destroy-->
        <% if mvmerma.Status == true%>
          <%= link_to 'Eliminar', mvmerma, method: :delete, class: "btn btn-danger btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
        <%else%>
          <%= link_to 'Habilitar', mvmerma, method: :delete, class: "btn btn-success btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'} %>
        <%end%>

    </td>


<td class="no" >
  </td>
</tr>
