<% if @puede_editar == true %>
  $("#myupdatemvmerma_<%= @mvmerma.id %>").modal('hide');

  $("#mvmerma_<%= @mvmerma.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_mvomerma").prepend('<%= j render @mvmerma %>');

  });
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
