<%= search_form_for @search_productos_in, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :producto_Clave, "Clave","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :producto_Producto, "Producto","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :producto_CodBarras, "Código de barras","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :producto_VBase, "Precio","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :producto_Clave_cont, class:"campo" %></th>
          <th><%= f.text_field :producto_Producto_cont, class:"campo" %></th>
          <th><%= f.text_field :producto_CodBarras_cont, class:"campo" %></th>
          <th><%= f.text_field :producto_VBase_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
        </tr>


      </thead>

    </table>
  </div>
<% end %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search_productos_in, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :producto_Clave, "Clave","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :producto_Producto, "Producto","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :producto_CodBarras, "Código de barras","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_productos_out, :producto_VBase, "Precio","producto", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
     </thead>
    <% end %>
    <tbody id="container_relprogrupos">
        <%= render partial: "/relprogrupos/productos_in/relprogrupo", collection: @relprogrupos %>
    </tbody>
  </table>
  <%= paginate @relprogrupos, :param_name => 'productos_in', params: {controller: 'relprogrupos', action: 'productos_grupo'}    %>
</div>
