<tr id="relprogrupo_<%= relprogrupo.id %>">
  <td><%= relprogrupo.producto.Clave %></td>
  <td><%= relprogrupo.producto.Producto %></td>
  <td><%= relprogrupo.producto.CodBarras %></td>
  <td><%= relprogrupo.producto.VBase %></td>

  <td>
    <%= link_to 'Eliminar', relprogrupo, method: :delete, class: "btn btn-danger", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}  %>
  </td>


</tr>
