<%= search_form_for @search_ruta_in, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :ruta_IdRutas, "Id","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :ruta_Ruta, "Ruta","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :ruta_tiporuta_Descripcion, "TipoRuta","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :ruta_sector_Descripcion, "Sector","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :ruta_vendedor_Nombre, "Vendedor","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :ruta_IdRutas_cont, class:"campo" %></th>
          <th><%= f.text_field :ruta_Ruta_cont, class:"campo" %></th>
          <th><%= f.text_field :ruta_tiporuta_Descripcion_cont, class:"campo" %></th>
          <th><%= f.text_field :ruta_sector_Descripcion_cont, class:"campo" %></th>
          <th><%= f.text_field :ruta_vendedor_Nombre_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
        </tr>
      </thead>


    </table>
  </div>
<% end %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search_ruta_in, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :ruta_IdRutas, "Id","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :ruta_Ruta, "Ruta","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :ruta_tiporuta_Descripcion, "TipoRuta","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :ruta_sector_Descripcion, "Sector","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :ruta_vendedor_Nombre, "Vendedor","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_ruta_out, :ruta_Activa, "Status","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
     </thead>
    <% end %>
    <tbody id="container_relmens">
        <%= render partial: "/relmens/rutas/rutas_in/ruta", collection: @rutas_in %>
    </tbody>
  </table>
  <%= paginate @rutas_in, :param_name => 'rutas_in'  %>
</div>
