<tr id="relmen_<%= ruta.id %>">
  <td><%= ruta.ruta.try(:id) %></td>
  <td><%= ruta.ruta.try(:Ruta) %></td>
  <td><%= ruta.ruta.tiporuta.try(:Descripcion) %></td>
  <td><%= ruta.ruta.sector.try(:Descripcion) %></td>
  <td><%= ruta.ruta.vendedor.try(:Nombre) %></td>
  <td>
     <% if ruta.ruta.Activa == true%>
      Activa
    <%else%>
      Inactiva
    <%end%>
  </td>
  <td>
      <%= link_to 'Quitar', ruta, method: :delete, class: "btn btn-danger btn-xs", remote:true, data: { disable_with: 'borrando' }  %>
  </td>

</tr>
