<%= search_form_for @search_cliente_out, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :IdCli, "Clave","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Nombre, "Nombre","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :NombreCorto, "Razón Social","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Telefono, "Teléfono","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Credito, "Credito","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Horario, "Horario","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Colonia, "Colonia","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :IdCli_cont, class:"campo" %></th>
          <th><%= f.text_field :Nombre_cont, class:"campo" %></th>
          <th><%= f.text_field :NombreCorto_cont, class:"campo" %></th>
          <th><%= f.text_field :Telefono_cont, class:"campo" %></th>
          <th><%= f.text_field :Credito_cont, class:"campo" %></th>
          <th><%= f.text_field :Horario_cont, class:"campo" %></th>
          <th><%= f.text_field :Horario_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
        </tr>
      </thead>

    </table>
  </div>
<% end %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search_cliente_out, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :IdCli, "Clave","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Nombre, "Nombre","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :NombreCorto, "Razón Social","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Telefono, "Teléfono","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Credito, "Credito","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Horario, "Horario","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_cliente_out, :Colonia, "Colonia","cliente", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
     </thead>
    <% end %>
    <tbody id="container_clientes">
        <%= render partial: "/relmens/clientes/clientes_out/cliente", collection: @clientes_out %>
    </tbody>
  </table>
  <%= paginate @clientes_out, :param_name => 'clientes_out'  %>
</div>
