<tr id="cliente_<%= cliente.id %>">
  <td><%= cliente.try(:id) %></td>
  <td><%= cliente.try(:Nombre) %></td>
  <td><%= cliente.try(:NombreCorto) %></td>
  <td><%= cliente.try(:Telefono) %></td>
  <td><%= cliente.try(:Credito) %></td>
  <td><%= cliente.try(:Horario) %></td>
  <td><%= cliente.try(:Colonia) %></td>

  <td>
    <%= form_for(@relmen, remote: true, html: {class: "form-horizontal"}) do |f| %> <!--ajax remote: true-->
      <%= f.hidden_field :IdCliente, value: params[:id]  %>
      <%= f.hidden_field :CodCliente, value: cliente.id%>
      <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
      <%= submit_tag "Añadir", class: "btn btn-warning btn-xs", data: { disable_with: 'Añadiendo' }%>
    <%end%>
  </td>

</tr>
