<% if @puede_crear == true%>
  $("#mynewformapag").modal('hide');
  $(".formapag_forma").val('');
  $(".formapag_clave").val('');

  if (<%= @formapag.Status == true %>){
    $("#container_formaspag").prepend('<%= j render @formapag %>'); //Prepend before append
    $("#formapag_<%= @formapag.id %>").hide().fadeIn(1000);
  }
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
