<!--<p id="notice"><%= notice %></p>-->
<h1>Formas de pago inactivas</h1>
<h3>Total: <%=@cantidad_formaspag_inactivos%></h3>
<style>
.container {
}

</style>
<div>
  <br>
  <br>



  <table id="formaspag" class="display"><!--el id formaspag es de datatables referenciado en formaspag.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Clave</th>
      <th>Forma de pago</th>
      <th>Acción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_formaspag">
      <%= render @formaspag %><!--carga todos los formaspag-->
</tbody>


</table>

</div>

  <%= link_to "Exportar Excel", formaspag_path(format:"xls"), class:"btn btn-success btn-xs" %>

<%= link_to 'Volver a Formas de pago', formaspag_path, class: "btn btn-primary btn-lg" %>
