<tr id="detalle_<%= detalledevo.id %>">
  <td><%= detalledevo.try(:ruta).try(:Ruta) %></td>
  <td><%= detalledevo.try(:Docto) %></td>
  <td><%= detalledevo.try(:SKU) %></td>
  <td><%= detalledevo.try(:producto).try(:Producto) %></td>
  <td><%= detalledevo.try(:Pza) %></td>
  <td>
    <% if detalledevo.Tipo == 0%>
        Cajas
      <%else%>
        Piezas
      <%end%>
  </td>
  <td><%= detalledevo.try(:motivo_descripcion) %></td>
  <td>
    <% if detalledevo.try(:EDO) == TRUE%>
      Activo
      <%else%>
      Inactivo
    <%end%>
  </td>
  <td>
    <% if detalledevo.try(:UrlImagen).present?%>
      <% if current_usuario.empresamadre.Empresa == "SCTP"%>
        <%= link_to image_tag("http://vps176454.vps.ovh.ca:8080/sctp/imagenes/Devoluciones/#{detalledevo.try(:UrlImagen)}", class: :producto_devolucion, alt: "Producto"), "http://vps176454.vps.ovh.ca:8080/sctp/imagenes/Devoluciones/#{detalledevo.try(:UrlImagen)}", target: :_blank %>
      <%elsif current_usuario.empresamadre.Empresa == "La Central Aqui"%>
        <%= link_to image_tag("http://vps176400.vps.ovh.ca:8080/lacentral/imagenes/Devoluciones/#{detalledevo.try(:UrlImagen)}", class: :producto_devolucion, alt: "Producto"), "http://vps176400.vps.ovh.ca:8080/lacentral/imagenes/Devoluciones/#{detalledevo.try(:UrlImagen)}", target: :_blank %>
      <%elsif current_usuario.empresamadre.Empresa == "Aguas Purifica"%>
        <%= link_to image_tag("http://vps176422.vps.ovh.ca:8080/purifica/imagenes/Devoluciones/#{detalledevo.try(:UrlImagen)}", class: :producto_devolucion, alt: "Producto"), "http://vps176422.vps.ovh.ca:8080/purifica/imagenes/Devoluciones/#{detalledevo.try(:UrlImagen)}", target: :_blank %>
      <%end%>
    <%end%>
  </td>
</tr>
