<% if @puede_editar == true %>

  $("#myupdateempresa_<%= @empresa.id %>").modal('hide');

  $("#empresa_<%= @empresa.id %>").fadeOut(500, function(){
    $(".empresa_empresaed").val('');
    $(this).remove();
    $(".child").remove();

    $("#container_empresas").prepend('<%= j render @empresa %>');

  });
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
