<% if @cobran.present?%>
  <script>
    $( ".formulario-validado-create<%@cobran.id%>" ).validate({
    rules: {
        "detalleco[Abono]": {
            regex: /^[0-9!?.;,]+$/
        }
    }
    });
  </script>
        <!-- Modal create action -->
        <%= form_for(@detalleco, remote: true, html: {class: "form-horizontal formulario-validado-create#{@cobran.id}"}) do |f| %> <!--ajax remote: true-->
          <div class="modal fade" id="mynewabono_<%= @cobran.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Aplicar pago</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                      <%= f.label :Cliente,"Cliente:", class: "control-label col-md-2"%>
                      <div class="col-md-3">
                        <%= f.text_field :Cliente, class: "form-control ", value: @cobran.Cliente, disabled:true  %>
                      </div>

                      <%= f.label :Documento,"Documento:", class: "control-label col-md-2" %>
                      <div class="col-md-3">
                        <%= f.text_field :Documento, class: "form-control ", required: "true", value: @cobran.Documento, disabled:true  %>
                      </div>
                      <%= f.hidden_field :IdCobranza, value: @cobran.id %>
                      <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
                      <%= f.hidden_field :Fecha, value: Time.now.strftime("%d-%m-%Y")%>
                      <%= f.hidden_field :Documento, required: "true", value: @cobran.Documento  %>
                      <%= f.hidden_field :Cliente, value: @cobran.Cliente  %>
                      <%= f.hidden_field :RutaId, value: @cobran.ruta.try(:IdRutas)  %>
                      <%= f.hidden_field :Cancelada, value: 0  %>

                    </div>

                  <%if ((@cobran.Saldo - @cobran.detallecob.sum(:Abono)) > 0) && (@cobran.try(:IdEmpresa) == current_usuario.empresa_id) %>
                    <div class="form-group">
                      <%= f.label :Abono,"Abono:", class: "control-label col-md-2 label-abono#{@cobran.id}" %>
                      <div class="col-md-3">
                        <%= f.text_field :Abono, class: "form-control abono-abono#{@cobran.id}", required: "true", max: (@cobran.Saldo - @cobran.detallecob.sum(:Abono)) %>
                      </div>

                        <%= button_tag(type: "submit", class: "btn btn-success col-md-4", id:"btn#{@cobran.id}", data: { disable_with: 'Creando' }) do %>
                          <i class="fa fa-check" aria-hidden="true"></i> Aplicar pago
                        <% end %>

                    </div>

                    <div class="form-group">
                      <%= f.label :FormaP, "Forma Pago:", class: "control-label col-md-3"  %>
                      <div class="col-md-3">
                        <%= f.select :FormaP, options_for_select(@Formaspago.map{|e|[e.Forma, e.IdFpag]}), class: "form-control" %>
                      </div>
                    </div>
                  <%end%>



                    <table id="cob" class="display"><!--el id empresas es de datatables referenciado en empresas.coffe y display class es una clase de datatables-->
                    <thead>

                      <tr><!--active es para sombrear la fila-->
                        <th>Abono</th>
                        <th>Fecha</th>
                        <th>Saldo Anterior</th>
                        <th>Saldo</th>
                        <th>Forma</th>
                      </tr>
                    </thead>
                      <tbody id="container_abono_<%= @cobran.id %>">
                        <%= render @detallecob %><!--carga todos los td_comision-->

                      </tbody>
                  </table>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewabonoclose_<%= @cobran.id %>">Cerrar</button>

                </div>
              </div>
            </div>
          </div>
        <%end%>
        </div>
        <script>
          $(".formulario-validado-create<%=@cobran.id%>").validate();

        </script>
<%end%>
