<tr id="cobran_<%= cobran.id %>">
  <td class="col_left"><%=cobran.try(:id)%></td>
  <td class="col_left"><%=cobran.try(:ruta).try(:Ruta)%></td>
  <td class="col_left"><%=cobran.try(:ruta).try(:vendedor).try(:Nombre)%></td>
  <td class="col_left"><%=cobran.try(:Cliente)%></td>
  <td class="col_left"><%=cobran.try(:cliente).try(:Nombre)%></td>
  <td class="col_left"><%=cobran.try(:cliente).try(:NombreCorto)%></td>
  <td class="col_left"><%=cobran.try(:Documento)%></td>
  <td class="col_right"><%=cobran.try(:Saldo)%></td>
  <td class="CtaxCobrar_SaldoAbonos_<%=cobran.id%> col_right"><%= cobran.try(:Abono)%></td>
  <td class="CtaxCobrar_SaldoActual_<%=cobran.id%> col_right"><%=cobran.try(:Saldo_actual)%></td>
  <td class="col_left"><%=cobran.try(:FR).try(:strftime,"%d-%m-%Y")%></td>
  <td class="col_left"><%=cobran.try(:FV).try(:strftime,"%d-%m-%Y")%></td>
  <td class="col_left"><%=cobran.try(:TipoDoc)%></td>


  <td>
    <%= link_to '<i class="fa fa-money"></i> Abono'.html_safe, abonos_cxc_path(:cobranza_id => cobran.try(:id)), class: "btn btn-success", :remote => true, data: { disable_with: 'Cargando...' }  %>
  </td>
</tr>
