<% if @cobranza != nil%>

  <style>
    .campo {
      width: 110% !important;
    }
  </style>


  <%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
<!--    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
          <thead>

            <tr>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Id","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Ruta","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Vendedor","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Cliente","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Nombre","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Razón Social","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Documento","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Saldo Inicial","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Abono","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Saldo Actual","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Fecha Reg","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "Fecha Vence","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="component_name_header_col"><%= sort_link @search, :Cliente, "TipoDoc","cobran", {}, { :remote => true, :method => :get } %></th>
              <th class="action_col"><%= t("basic.action") %></th>
            </tr>
            <tr>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>
              <th><%= f.text_field :Cliente_cont, class:"campo" %></th>

              <th><%= f.submit "Buscar" %></th>
            </tr>

          </thead>
          <tbody>
          </tbody>
        </table>-->
    </div><% end %>


        <%= form_tag("busqueda_ctasxcobrar", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
        <div class="rwd">
          <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
            <thead>
              <tr>
                <th class=""><%= label_tag :Id_param, "Id", class: "control-label" %></th>
                <th class=""><%= label_tag :Ruta_param, "Ruta", class: "control-label" %></th>
                <th class=""><%= label_tag :Vendedor_param, "Vendedor", class: "control-label" %></th>
                <th class=""><%= label_tag :Cliente_param, "Cliente", class: "control-label" %></th>
                <th class=""><%= label_tag :Cliente_Nombre_param, "Nombre", class: "control-label" %></th>
                <th class=""><%= label_tag :Cliente_NombreCorto_param, "Razón social", class: "control-label" %></th>
                <th class=""><%= label_tag :Documento_param, "Documento", class: "control-label" %></th>
                <th class=""><%= label_tag :FechaReg_param, "Fecha Reg", class: "control-label" %></th>
                <th class=""><%= label_tag :FechaVence_param, "Fecha Vence", class: "control-label" %></th>
                <th class=""><%= label_tag :TipoDoc_param, "TipoDoc", class: "control-label" %></th>
                <th class="action_col"><%= t("basic.Acción") %></th>
              </tr>
              <tr>
                <th><%= text_field_tag :Id_param,"", value: params[:Id_param], class:"campo"%></th>
                <th><%= text_field_tag :Ruta_param,"", value: params[:Ruta_param], class:"campo"%></th>
                <th><%= text_field_tag :Vendedor_param,"", value: params[:Vendedor_param], class:"campo"%></th>
                <th><%= text_field_tag :IdCli_param,"", value: params[:IdCli_param], class:"campo"%></th>
                <th><%= text_field_tag :Cliente_Nombre_param,"", value: params[:Cliente_Nombre_param], class:"campo"%></th>
                <th><%= text_field_tag :Cliente_NombreCorto_param,"", value: params[:Cliente_NombreCorto_param], class:"campo"%></th>
                <th><%= text_field_tag :Documento_param,"", value: params[:Documento_param], class:"campo"%></th>
                <th><%= text_field_tag :FechaReg_param,"", value: params[:FechaReg_param], class:"campo"%></th>
                <th><%= text_field_tag :FechaVence_param,"", value: params[:FechaVence_param], class:"campo"%></th>
                <th><%= text_field_tag :TipoDoc_param,"", value: params[:TipoDoc_param], class:"campo"%></th>
                <input id="search" type="hidden" value="<%=params[:search] %>" name="search"/>
                <input id="Tipo_Fecha" type="hidden" value="<%=params[:Tipo_Fecha] %>" name="Tipo_Fecha"/>
                <input id="search4" type="hidden" value="<%=params[:search4] %>" name="search4"/>
                <input id="search5" type="hidden" value="<%=params[:search5] %>" name="search5"/>
                <th>
                    <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
                </th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      <% end %>

        <div class="rwd">
            <table class="table table-striped table-bordered table-condensed table-hover">
              <thead>
              <%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
                <tr>
                  <th class="col_left th_color">Id</th>
                  <th class="col_left th_color">Ruta</th>
                  <th class="col_left th_color">Vendedor</th>
                  <th class="col_left th_color">Cliente</th>
                  <th class="col_left th_color">Nombre</th>
                  <th class="col_left th_color">Razón Social</th>
                  <th class="col_left th_color">Documento</th>
                  <th class="col_lright th_color">Saldo Inicial</th>
                  <th class="col_right th_color">Abono</th>
                  <th class="col_right th_color">Saldo Actual</th>
                  <th class="col_left th_color">Fecha Reg</th>
                  <th class="col_left th_color">Fecha Vence</th>
                  <th class="col_left th_color">TipoDoc</th>
                  <th class="action_col"><%= t("basic.action") %></th>
                </tr><% end %>
              </thead>
              <tbody id="container_rutas">
                <%= render @cobranza%>

              </tbody>
            </table>
            <%= paginate @cobranza, :param_name => 'cxc', params: {controller: 'cobranza', action: 'index'} %> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->

    </div>
<%= link_to 'Exportar Excel', busqueda_ctasxcobrar_path(:search => params[:search], :Sucursal_param => params[:Sucursal_param], :Id_param => params[:Id_param], :Ruta_param => params[:Ruta_param], :Vendedor_param => params[:Vendedor_param],
    :IdCli_param => params[:IdCli_param], :Cliente_Nombre_param => params[:Cliente_Nombre_param], :Cliente_NombreCorto_param => params[:Cliente_NombreCorto_param], :Documento_param => params[:Documento_param], :FechaReg_param => params[:FechaReg_param],
    :FechaVence_param => params[:FechaVence_param],:TipoDoc_param => params[:TipoDoc_param],:Tipo_Fecha => params[:Tipo_Fecha],:search4 => params[:search4],:search5 => params[:search5],  format:"xls"), class:"btn btn-success btn-xs"%>


<%end%>
