<div class="col-md-3 col-xs-6 tile_stats_count text-center">
  <span class="count_top2"><i class="fa fa-user"></i>Saldo Vencido</span>
  <div id="saldo_vencido">
    <% if @saldo_vencido !=nil %>
     <div class="count2">$ <%= number_to_currency(@saldo_vencido, format: "%n") %></div>
    <% end %>
  </div>
</div>
<div class="col-md-3 col-xs-6 tile_stats_count text-center">
  <span class="count_top2"><i class="fa fa-user"></i>Saldo Corriente</span>
  <div id="saldo_corriente">
    <% if @saldo_corriente !=nil %>
     <div class="count2">$ <%= number_to_currency(@saldo_corriente, format: "%n") %></div>
    <% end %>
  </div>
</div>
<div class="col-md-3 col-xs-6 tile_stats_count text-center">
  <span class="count_top2"><i class="fa fa-user"></i>Saldo Total</span>
  <div id="saldo_total">
      <% if @saldo_total !=nil %>
          <div class="count2">$ <%= number_to_currency(@saldo_total, format: "%n") %></div>
      <% end %>
  </div>
</div>
