<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>
    <Style ss:ID="Cabecera_cxc">
     <Interior ss:Color="#FF9F4F" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="Cabecera_Detalle">
    <Interior ss:Color="#89acfe" ss:Pattern="Solid"/>
    </Style>
  </Styles>

  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Sucursal</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Id</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Ruta</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Vendedor</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Cliente</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Nombre</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Razón Social</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Documento</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Saldo Inicial</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Abono</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Saldo Actual</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Fecha Reg</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">Fecha Vence</Data></Cell>
        <Cell ss:StyleID="Cabecera_cxc"><Data ss:Type="String">TipoDoc</Data></Cell>
      </Row>

      <% @cobranza_export.each do |cobran| %>
        <Row>
          <Cell><Data ss:Type="String"><%=cobran.try(:Sucursal)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:id)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:ruta).try(:Ruta)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:ruta).try(:vendedor).try(:Nombre)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:Cliente)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:cliente).try(:Nombre)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:cliente).try(:NombreCorto)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:Documento)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:Saldo)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:Abono)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:Saldo_actual)%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:FR).try(:strftime,"%d-%m-%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:FV).try(:strftime,"%d-%m-%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%=cobran.try(:TipoDoc)%></Data></Cell>
        </Row>

        <% if @detallecob.where(:IdCobranza => cobran.id).present? %>
          <Row>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Detalles</Data></Cell>
          </Row>
          <Row>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Abono</Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Fecha</Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Saldo Anterior</Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Saldo</Data></Cell>
            <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String">Forma</Data></Cell>
          </Row>
          <% @detallecob.where(:IdCobranza => cobran.id).each do |detalle| %>
            <Row>
              <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%= detalle.try(:Abono) %></Data></Cell>
              <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%= detalle.try(:Fecha).try(:strftime,"%d-%m-%Y") %></Data></Cell>
              <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%= detalle.try(:SaldoAnt) %></Data></Cell>
              <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%= detalle.try(:Saldo) %></Data></Cell>
              <Cell ss:StyleID="Cabecera_Detalle"><Data ss:Type="String"><%= detalle.formapag.try(:Forma) %></Data></Cell>
            </Row>
          <% end %>
        <%end%>

      <%end%>



    </Table>
  </Worksheet>
</Workbook>
