$("#bit_cobranza").html("<%= escape_javascript(render("cobranza/bitacora_cobranza/bit_cobranza"))%>")
//$("#total_efectivo").html("<%= escape_javascript(render("/cobranza/bitacora_cobranza/total_efectivo"))%>")
