<style type="text/css">
  input[name='commit']{
    margin-top: -10px;
  }
</style>
<div>
  <h2>Cuentas por cobrar</h2>
  <div class="well center-block">
    <h2>Por favor selecciona la ruta</h2>


    <%= form_tag("/busqueda_ctasxcobrar", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>


      <div class="row x_title">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12">
          <div class="form-group">
              <%= select_tag :Tipo_Fecha, options_for_select([['Fecha Registro'], ['Fecha Vencimiento']]), class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="form-group">
              <label class="col-md-2 col-xs-6 control-label">
                Inicio:
              </label>
              <div class="col-md-4 col-sm-5 col-xs-6">
                <%= text_field_tag :search4, params[:search4],id:"activity-customer-start-period", class:"form-control datepicker", autocomplete: "off"%>
              </div>
              <label class="col-md-2 col-xs-6 control-label">
                Fin:
              </label>
              <div class="col-md-4 col-sm-5 col-xs-6">
                <%= text_field_tag :search5, params[:search5],id:"activity-customer-end-period" , class:"form-control datepicker", autocomplete: "off"%>
              </div>
            </div>


        </div>
        <div class="col-md-2 col-xs-6" style="text-align: right;">
          <%= submit_tag "Buscar", id: 'the_search', class: "btn btn-primary btn-lg btn-block", data: { disable_with: 'Buscando' } %>
        </div>
    <%end%>

    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>





  </div>
  <div id="montos"><%= render 'montos' %></div>
  <div id="cuentasxcobrar"><%= render 'cuentasxcobrar' %></div>
  <div id="abonos_cxc"><%= render 'abonos_cxc' %></div>
</div>
