<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Ruta</Data></Cell>
        <Cell><Data ss:Type="String">Clave</Data></Cell>
        <Cell><Data ss:Type="String">Cliente</Data></Cell>
        <Cell><Data ss:Type="String">Razón Social</Data></Cell>
        <Cell><Data ss:Type="String">Clave Vendedor</Data></Cell>
        <Cell><Data ss:Type="String">Vendedor</Data></Cell>
        <Cell><Data ss:Type="String">Folio</Data></Cell>
        <Cell><Data ss:Type="String">Total</Data></Cell>
        <Cell><Data ss:Type="String">Fecha</Data></Cell>

      </Row>

      <% @cobranzas_export.each do |cob| %>
        <Row>
          <Cell><Data ss:Type="String"><%= cob.try(:Ruta)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= cob.try(:Clave)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= cob.try(:Nombre)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= cob.try(:NombreCorto)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= cob.try(:ClaveVendedor)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= cob.try(:NombreVendedor)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= cob.try(:Folio)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= cob.try(:Total)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= cob.try(:FechaCob)%></Data></Cell>
        </Row>
      <%end%>

    </Table>
  </Worksheet>
</Workbook>
