$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$('#clientes').html('<%= escape_javascript(render("partials/buscadorReportes/clientes")) %>');
$('#paginatorCliente').html("<%= escape_javascript(paginate(@clientes_Selector, :remote => true, :param_name => 'clientes'))%>");
$('#dias_op').html('<%= escape_javascript(render("partials/buscadorReportes/dias_op")) %>');
$('#paginatorDiasOp').html("<%= escape_javascript(paginate(@DiasOp_Selector, :remote => true, :param_name => 'DiasOp'))%>");
