<div>
  <h2>Bitácora de cobranza</h2>
  <div class="well center-block">
    <h2>Ruta y día operativo</h2>

      <%= form_tag("bit_cobranza/busqueda_cobranza", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>

        <div class="form-group">
          <div class="col-md-6">
            <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
            <%= render 'partials/buscadorReportes/buscador_reportes2' %>
          </div>
          <div class="col-md-6">
            <%= render 'partials/buscadorReportes/buscador_reportes6' %>
            <%= render 'partials/buscadorReportes/buscador_reportes4' %>
            <%= render 'partials/buscadorReportes/buscador_reportes5' %>
          </div>
        </div>
      <%end%>
      <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
      <%= render 'partials/buscadorReportes/ventana_modal_clientes' %>
      <%= render 'partials/buscadorReportes/ventana_modal_dias' %>

  </div>
  <div id="bit_cobranza"><%= render 'cobranza/bitacora_cobranza/bit_cobranza' %></div>
  <div id="detalle_cobranza"><%= render 'cobranza/bitacora_cobranza/detalle_cobranza' %></div>

</div>
