@import "bootstrap";
.no-float{
	float: none;
}
.oculto{
	display:none;
}
.error{
	color: #c55452;
}
.divisor:not(:last-child) {
		border-bottom: 1px solid #ccc;
}
.col_left {
  text-align: left !important;
}
.col_center {
  text-align: center !important;
}
.col_right {
  text-align: right !important;
}
.th_color{
	color: #5A738E;
}
/*Devise flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
	float: right;
	width: 40%;
	margin-top: -10px;
	margin-right: 25%;
	z-index: 2000;
	position: relative;
}
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
	float: right;
	width: 40%;
	margin-top: -10px;
	margin-right: 25%;
	z-index: 2000;
	position: relative;
}
.alert-notice {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
	float: right;
	width: 40%;
	margin-top: 5%;
	margin-right: 25%;
	z-index: 5000;
	position: absolute;
	margin-left: 37%;
	opacity: 0.9;
}
/*Devise flash*/
#notice{
	position: sticky;
	top:0;
	z-index: 999999;
}
//campos para totales
.count_top2{
  color:#1E5087 !important;
}
.count2{
  font-size: 200%;
}
//campos para totales

/*Tabla*/
.tr_para_seleccionar {
	border: 1px #DDD solid;
	padding: 5px;
	cursor: pointer;
}

.selected {
	background-color: rgba(21, 97, 171, 0.9) !important;
	color: #FFF;
}
.component_name_header_col{
  color:#5A738E;
}
.dropdown-toggle span {
    line-height: 0px !important;
}
