/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/extras/dataTables.responsive
 *= require_self
 *= require select2
 *= require select2-bootstrap
 *= require dataTables/jquery.dataTables
 *= require bootstrap-datepicker3
 *= require font-awesome
 */
 /*
 .dataTables_filter {
   width: 50%;
   float: right;
   padding-left: 5px;
   padding: 0px 0px 5px;
   border-bottom: 1px solid #E5E5E5;
   font-size: 12px;
 }
 .dataTables_filter label {
   padding: 0px;
   line-height: 26px;
   height: auto;
   margin: 0px;
   font-weight: normal;
 }
 .dataTables_filter label input {
   width: 150px;
   display: inline;
   margin-left: 5px;
 }
 .dataTables_length {
   width: 50%;
   float: left;
   padding: 0px 0px 5px;
   border-bottom: 1px solid #E5E5E5;
   font-size: 12px;
 }
*/

.chosen-single span{
   color: black;
}