
/*@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)
{*/

	.rwd {width:100%;overflow:auto;}
		.rwd table.rwd_auto {width:auto;min-width:100%}
			.rwd_auto th,.rwd_auto td {white-space: nowrap;}
/*}*/
/*


	@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)
	{

		table.width200, .width200 thead, .width200 tbody, .width200 th, .width200 td, .width200 tr { display: block; }

		.width200 thead tr { position: absolute;top: -9999px;left: -9999px; }

		.width200 tr { border: 1px solid ; }

		.width200 td { border: none;border-bottom: 1px solid ; position: relative;padding-left: 50%;text-align:left }

		.width200 td:before {  position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap;}

		.width200 td:nth-of-type(1):before { content: "Nombre"; }
		.width200 td:nth-of-type(2):before { content: "Apellidos"; }
		.width200 td:nth-of-type(3):before { content: "Cargo"; }
		.width200 td:nth-of-type(4):before { content: "Twitter"; }
		.width200 td:nth-of-type(5):before { content: "ID"; }

		.descarto {display:none;}
		.fontsize {font-size:10px}

		.rwd {width:100%;overflow:auto;}
			.rwd table.rwd_auto {width:auto;min-width:100%}
				.rwd_auto th,.rwd_auto td {white-space: nowrap;}
	}
*/
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (min-width : 320px) and (max-width : 480px)
	{
		body { width: 100%; }
		.descarto {display:none;}
	}

	/* iPads (portrait and landscape) ----------- */
/*	@media only screen and (min-width: 768px) and (max-width: 1024px)
	{
		body { width: 495px; }
		.descarto {display:none;}
		.fontsize {font-size:10px}
	}
*/
.campo{
width: 100% !important;
}
.agrandar_th_pequeño{
    padding: 0 35px !important;
}
.posicion-menu{
	left: -80px !important;
}
