<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para el cambio de tu password en AssistPro ADL. Puedes cambiar tu password a través del siguiente enlace.</p>

<p><%= link_to 'Cambia mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no lo has solicitado, por favor ignora este correo.</p>
<p>Tu password no cambiará hasta que accedas al link de arriba y crees uno nuevo.</p>
