<tr id="empresamadre_<%= empresamadre.id %>">
  <td><%=empresamadre.id%>

          <!--Modal - update empresa-->
      <%= form_for(empresamadre, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{empresamadre.id}"}) do |f| %><!--ajax-->

        <div nohidden class="modal fade si" id="myupdateempresamadre_<%= empresamadre.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar empresa</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">

                  <div class="form-group">
                    <%= f.label :Empresa, "Empresa:", class: "control-label col-md-2" %>
                  <div class="col-md-7">
                    <%= f.text_field :Empresa, class: "form-control ",minlength: "4", required: "true"  %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :RFC, "RFC:", class: "control-label col-md-2" %>
                <div class="col-md-3">
                  <%= f.text_field :RFC, class: "form-control ",minlength: "7", required: "true"  %>
                </div>

                  <%= f.label :NombreComercial, "Nombre Comercial:", class: "control-label col-md-2 " %>
                  <div class="col-md-5">
                    <%= f.text_field :NombreComercial, class: "form-control ", minlength: "7", required: "true"  %>
                  </div>

                </div>

                <div class="form-group">
                  <%= f.label :Telefono, "Teléfono:", class: "control-label col-md-2 " %>
                  <div class="col-md-3">
                    <%= f.text_field :Telefono, class: "form-control ", minlength: "7", required: "true"  %>
                  </div>
                    <%= f.label :Contacto, "Contacto:", class: "control-label col-md-2" %>
                  <div class="col-md-5">
                    <%= f.text_field :Contacto, class: "form-control ",minlength: "4", required: "true"  %>
                  </div>
                </div>

                <div class="form-group">
                    <%= f.label :CP, "CP:", class: "control-label col-md-2" %>
                  <div class="col-md-3">
                    <%= f.text_field :CP, class: "form-control ",minlength: "5", required: "true"  %>
                  </div>
                  <%= f.label :Email, "Email:", class: "control-label col-md-2 " %>
                  <div class="col-md-5">
                    <%= f.email_field :Email, class: "form-control ", minlength: "7", required: "true"  %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :NoExterior, "No.Exterior:", class: "control-label col-md-2" %>
                  <div class="col-md-3">
                    <%= f.text_field :NoExterior, class: "form-control ",maxlength:"10"  %>
                  </div>
                  <%= f.label :NoInterior, "No.Interior:", class: "control-label col-md-2 " %>
                  <div class="col-md-5">
                    <%= f.text_field :NoInterior, class: "form-control ", maxlength: "10"  %>
                  </div>
                </div>


                <div class="form-group">
                  <%= f.label :Direccion, "Dirección:", class: "control-label col-md-2" %>
                  <div class="col-md-10">
                    <%= f.text_area :Direccion, class: "form-control ",minlength: "10", required: "true"  %>
                  </div>
                </div>





              </div>
              <div class="modal-footer">
                <button type="button" id="myupdatebutton_<%= empresamadre.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </td>
  <td><%=empresamadre.Empresa%></td>
  <script>

    $(".formulario-validado-update<%=empresamadre.id%>").validate({
    debug: true,
    rules: {
    "empresamadre[Url]": {required: true, remote:'empresasmadre/url_check' }
    }
    });
  </script>




    <td>
      <%= link_to '<i class="fa fa-building-o " aria-hidden="true"></i> Sucursales'.html_safe, sucursales_path(empresamadre), class:"btn btn-success btn-xs boton", title:"Agregar sucursales"   %>

        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myupdateempresamadre_<%= empresamadre.id %>">
          Editar
        </button>
        <!--Destroy-->
        <%= link_to 'Eliminar', empresamadre, method: :delete, remote:true , data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'}, class: "btn btn-danger btn-xs" %>
      </td>
      <td>

      </td>

</tr>
