<% if @puede_crear == true%>
  $("#mynewempresamadre").modal('hide');
  $("#btn_nueva_empresa").remove();

  $(".empresa_empresa").val('');
  $(".empresa_clave").val('');
  $(".empresa_Telefono").val('');
  $(".empresa_Contacto").val('');
  $(".empresa_Email").val('');
  $(".empresa_RFC").val('');
  $(".empresa_Direccion").val('');
  $(".empresa_NombreComercial").val('');


  $("#container_empresasmadre").prepend('<%= j render @empresamadre %>'); //Prepend before append
  $("#empresamadre_<%= @empresamadre.id %>").hide().fadeIn(1000);

<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
