<% if @medidores != nil %>
    <%= form_tag("/reportes_ruta/consumos", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
      <div class="rwd">
        <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
          <thead>
            <tr>
              <th class="component_name_header_col">
                <%= label_tag :IdRow_param, "IdRow", class: "control-label" %>
              </th>
              <th class="component_name_header_col">
                <%= label_tag :OdometroInicial_param, "Odometro inicial", class: "control-label" %>
              </th>
              <th class="component_name_header_col">
                <%= label_tag :OdometroFinal_param, "Odometro final", class: "control-label" %>
              </th>
              <th class="component_name_header_col">
                <%= label_tag :KmR_param, "Kilometros recorridos", class: "control-label" %>
              </th>
              <th class="component_name_header_col">
                <%= label_tag :TanqueInicial_param, "Tanque inicial", class: "control-label" %>
              </th>
              <th class="component_name_header_col">
                <%= label_tag :TanqueFinal_param, "Tanque final", class: "control-label" %>
              </th>
              <th class="component_name_header_col">
                <%= label_tag :LitrosCargados_param, "Litros cargados", class: "control-label" %>
              </th>
              <th class="action_col"><%= t("basic.Acción") %></th>
            </tr>
            <tr>
              <th><%= text_field_tag :IdRow_param,"", class: 'campo' %></th>
              <th><%= text_field_tag :OdometroInicial_param,"", class: 'campo' %></th>
              <th><%= text_field_tag :OdometroFinal_param,"", class: 'campo' %></th>
              <th><%= text_field_tag :KmR_param,"", class: 'campo' %></th>
              <th><%= text_field_tag :TanqueInicial_param,"", class: 'campo' %></th>
              <th><%= text_field_tag :TanqueFinal_param,"", class: 'campo' %></th>
              <th><%= text_field_tag :LitrosCargados_param,"", class: 'campo' %></th>
              <input id="search" type="hidden" value="<%=params[:search] %>" name="search"/><%# se debe colocar debido a que a la hora de hacer la busqueda de los registros dentro de la tabla, hace la consulta y no toma los ids porque se pierden%>
              <input id="diaO" type="hidden" value="<%=params[:diaO] %>" name="diaO"/>
              <th>
                  <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
              </th>
            </tr>

          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    <% end %>

  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
       <%= search_form_for @search, :remote=>"true", url: consumos_path, :method => :get do |f| %>
       <tr>
         <th class="col_left th_color"><%= sort_link @search, :IdRow, "Id","medidor", {}, { :remote => true, :method => :get } %></th>
         <th class="col_left th_color"><%= sort_link @search, :OdometroInicial, "Odometro inicial","medidor", {}, { :remote => true, :method => :get } %></th>
         <th class="col_left th_color"><%= sort_link @search, :OdometroFinal, "Odometro final","medidor", {}, { :remote => true, :method => :get } %></th>
         <th class="col_left th_color"><%= sort_link @search, :KmR, "Kilometros recorridos","medidor", {}, { :remote => true, :method => :get } %></th>
         <th class="col_left th_color"><%= sort_link @search, :TanqueInicial, "Tanque inicial","medidor", {}, { :remote => true, :method => :get } %></th>
         <th class="col_left th_color"><%= sort_link @search, :TanqueFinal, "Tanque final","medidor", {}, { :remote => true, :method => :get } %></th>
         <th class="col_left th_color"><%= sort_link @search, :LitrosCargados, "Litros cargados","medidor", {}, { :remote => true, :method => :get } %></th>
       </tr>
      <% end %>
      </thead>
      <tbody id="container_consumos">
        <%= render partial: "/reportes_ruta/medidor", collection: @medidores %>
      </tbody>
    </table>
    <%= paginate @medidores, :param_name => 'medidores', params: {controller: 'reportes_ruta', action: 'consumos'} %> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>




<%end%>
