<tr>
  <td class="col_left"><%=envase.try(:Clave)%></td>
  <td class="col_left"><%=envase.try(:Responsable)%></td>
  <td class="col_left"><%=envase.try(:Nombre_Comercial)%></td>
  <td class="col_left"><%=envase.try(:Articulo)%></td>
  <td class="col_left"><%=envase.try(:Producto)%></td>
  <td class="col_left"><%=envase.try(:Envase)%></td>
  <td class="col_left"><%=envase.try(:Entregados) + envase.try(:Devueltos)%></td>
  <td class="col_left"><%=envase.try(:Devueltos)%></td>
  <td class="col_right"><%=envase.try(:Saldo) + envase.try(:Devueltos)%></td>

</tr>
