<% if @envases != nil %>
  <%= form_tag("/reportes_ruta/envases", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
    <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="component_name_header_col">
              <%= label_tag :Clave_param, "Clave", class: "control-label" %>
            </th>
            <th class="component_name_header_col">
              <%= label_tag :Nombre_param, "Nombre", class: "control-label" %>
            </th>
            <th class="component_name_header_col">
              <%= label_tag :Nombre_Comercial_param, "Nombre_Comercial", class: "control-label" %>
            </th>
            <th class="component_name_header_col">
              <%= label_tag :Articulo_param, "Articulo", class: "control-label" %>
            </th>
            <th class="component_name_header_col">
              <%= label_tag :Producto_param, "Producto", class: "control-label" %>
            </th>
            <th class="component_name_header_col">
              <%= label_tag :Envase_param, "Envase", class: "control-label" %>
            </th>
            <th class="action_col"><%= t("basic.Acción") %></th>
          </tr>
          <tr>
            <th><%= text_field_tag :Clave_param,"", class: 'campo' %></th>
            <th><%= text_field_tag :Nombre_param,"", class: 'campo' %></th>
            <th><%= text_field_tag :Nombre_Comercial_param,"", class: 'campo' %></th>
            <th><%= text_field_tag :Articulo_param,"", class: 'campo' %></th>
            <th><%= text_field_tag :Producto_param,"", class: 'campo' %></th>
            <th><%= text_field_tag :Envase_param,"", class: 'campo' %></th>
            <input id="search" type="hidden" value="<%=params[:search] %>" name="search"/><%# se debe colocar debido a que a la hora de hacer la busqueda de los registros dentro de la tabla, hace la consulta y no toma los ids porque se pierden%>
            <input id="diaO" type="hidden" value="<%=params[:diaO] %>" name="diaO"/>
            <input id="Tipo_Env" type="hidden" value="<%=params[:Tipo_Env] %>" name="Tipo_Env"/>
            <th>
                <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
            </th>
          </tr>

        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  <% end %>

  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th class="col_left th_color">Clave</th>
            <th class="col_left th_color">Nombre</th>
            <th class="col_left th_color">Nombre Comercial</th>
            <th class="col_left th_color">Artículo</th>
            <th class="col_left th_color">Producto</th>
            <th class="col_left th_color">Envase</th>
            <th class="col_left th_color">Entregados</th>
            <th class="col_left th_color">Devueltos</th>
            <th class="col_right th_color">Saldo</th>
          </tr>
       </thead>
      <tbody id="container_envases">
        <%= render partial: "/reportes_ruta/envase", collection: @envases %>
      </tbody>
    </table>
    <%= paginate @envases, :param_name => 'envases'%> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>
<%end%>
