<tr>
  <td class="col_left"><%=envase_devuelto.try(:Clave)%></td>
  <td class="col_left"><%=envase_devuelto.try(:Responsable)%></td>
  <td class="col_left"><%=envase_devuelto.try(:Nombre_Comercial)%></td>
  <td class="col_left"><%=envase_devuelto.try(:Articulo)%></td>
  <td class="col_left"><%=envase_devuelto.try(:Producto)%></td>
  <td class="col_left"><%=envase_devuelto.try(:Envase)%></td>
  <td class="col_left"><%=envase_devuelto.try(:Entregados) + envase_devuelto.try(:Devueltos)%></td>
  <td class="col_left"><%=envase_devuelto.try(:Devueltos)%></td>
  <td class="col_right"><%=envase_devuelto.try(:Saldo) + envase_devuelto.try(:Devueltos)%></td>

</tr>
