<tr id="medidor_<%= medidor.id %>">
  <td class="col_left"><%=medidor.IdRow%></td>
  <td class="col_left"><%=medidor.OdometroInicial%></td>
  <td class="col_left"><%=medidor.OdometroFinal%></td>
  <td class="col_left"><%=medidor.KmR%></td>
  <td class="col_left"><%=medidor.TanqueInicial%></td>
  <td class="col_left"><%=medidor.TanqueFinal%></td>
  <td class="col_left"><%=medidor.LitrosCargados%></td>
</tr>
