<% if @recarga != nil%>



  <table id="superior" class="display"><!--el id empresas es de datatables referenciado en empresas.coffe y display class es una clase de datatables-->
  <thead>

    <tr>
      <th>Ruta</th>
      <th>Articulo</th>
      <th>Producto</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Cajas</th>
      <th>Piezas</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_recarg">
      <% @recarga.each do |recarg| %>
      <tr id="recarg_<%= recarg.id %>">
        <td><%=recarg.try(:Ruta)%></td>
        <td><%=recarg.try(:Articulo)%></td>
        <td><%=recarg.try(:Producto)%></td>
        <td><%=recarg.try(:Fecha_Recarga)%></td>
        <td><%=recarg.try(:Hora_Recarga)%></td>
        <td><%=recarg.try(:Cajas)%></td>
        <td><%=recarg.try(:Piezas)%></td>


      <td></td>
      </tr>

      <% end %>

</tbody>


</table>

<% end %>
