$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#dias_op').html('<%= escape_javascript(render("partials/buscadorReportes/dias_op")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$('#paginatorDiasOp').html("<%= escape_javascript(paginate(@DiasOp_Selector, :remote => true, :param_name => 'DiasOp'))%>");
$("#envases").html("<%= escape_javascript(render("envases"))%>")
$("#envases_devueltos").html("<%= escape_javascript(render("envases_devueltos"))%>")
