<h2>Reporte de envases</h2>
<style>
.table{
  margin-bottom:0px
}
.component_name_header_col{
  color:#5A738E;
}
</style>
<div class="well center-block">
  <h2>Ruta y dia operativo</h2>

    <%= form_tag("/reportes_ruta/envases", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
    <div class="form-group">
      <div class="col-md-6">
        <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
        <%= render 'partials/buscadorReportes/buscador_reportes6' %>

        <div class="form-group">
          <div class="col-md-7">
            <div id="opciones"class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="Tipo_Env" id="option1" autocomplete="off" value="Venta" checked="checked">Venta
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="Tipo_Env" id="option2" autocomplete="off" value="Promocion">Promoción
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="Tipo_Env" id="option3" autocomplete="off" value="Comodato">Comodato
              </label>
            </div>
          </div>
         <div class="col-md-4">
           <%= submit_tag "Buscar", class: "btn btn-primary btn-lg btn-block", data: { disable_with: 'Buscando' } %>
         </div>
        </div>
      </div>
    </div>


    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
    <%= render 'partials/buscadorReportes/ventana_modal_dias' %>
</div>
<h2 class="text-center">Envases</h2>
<div id="envases"><%= render 'envases' %></div>
<h2 class="text-center">Envases devueltos</h2>
<div id="envases_devueltos"><%= render 'envases_devueltos' %></div>
