<style media="screen">
  .table{
    margin-bottom: 0px;
  }
  #tripulaciones{
    font-size: 11px;
  }
  .sidebar-widget{
    /*margin-left:15% !important;*/
    float:left !important;
    width: 100% !important;
  }
</style>
<h2>Tripulación</h2>
<div class="well center-block">
  <h2>Ruta y Fecha</h2>

    <%= form_tag("/tripulacion", method: 'get', remote: true, id:"search",class: "form-horizontal" ) do %>
      <div class="form-group">
        <div class="col-md-6">
          <%= render partial: 'partials/buscadorReportes/buscador_reportes_ruta_autocompletar', locals: {afterSelectController: @controlador, afterSelectAction: @accion} %>
          <!--  < render 'partials/buscadorReportes/buscador_reportes6' %>-->
          <%= render 'partials/buscadorReportes/buscador_reportes4' %>
          <%= render 'partials/buscadorReportes/buscador_reportes5' %>
        </div>
      </div>
    <%end%>
    <%= render 'partials/buscadorReportes/ventana_modal_rutas' %>
    <%= render 'partials/buscadorReportes/ventana_modal_dias' %>
</div>
<div id="tripulaciones"><%= render 'reportes_ruta/tripulacion/tripulaciones' %></div>
