$('#rutas').html('<%= escape_javascript(render("partials/buscadorReportes/rutas")) %>');
$('#dias_op').html('<%= escape_javascript(render("partials/buscadorReportes/dias_op")) %>');
$('#paginatorRuta').html("<%= escape_javascript(paginate(@rutas_Selector, :remote => true, :param_name => 'rutas'))%>");
$('#paginatorDiasOp').html("<%= escape_javascript(paginate(@DiasOp_Selector, :remote => true, :param_name => 'DiasOp'))%>");
$('#tripulaciones').html('<%= escape_javascript(render("reportes_ruta/tripulacion/tripulaciones")) %>');
