<%= search_form_for @search_producto_in, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_producto_in, :producto_Clave, "Clave","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_producto_in, :producto_Producto, "Nombre","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_producto_in, :producto_CodBarras, "CodBarras","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_producto_in, :producto_catgrupo_Descripcion, "ClaveMarca","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_producto_in, :producto_VBase, "Precio","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :producto_Clave_cont, class:"campo" %></th>
          <th><%= f.text_field :producto_Producto_cont, class:"campo" %></th>
          <th><%= f.text_field :producto_CodBarras_cont, class:"campo" %></th>
          <th><%= f.text_field :producto_catgrupo_Descripcion_cont, class:"campo" %></th>
          <th><%= f.text_field :producto_VBase_cont, class:"campo" %></th>
          <th><%= f.submit "Buscar", data: { disable_with: 'Buscando...' } %></th>
          <input id="id" type="hidden" value="<%=params[:id] %>" name="id"/>
        </tr>
      </thead>

    </table>
  </div>
<% end %>
<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search_producto_in, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search_producto_in, :producto_Clave, "Clave","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_producto_in, :producto_Producto, "Nombre","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_producto_in, :producto_CodBarras, "CodBarras","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_producto_in, :producto_catgrupo_Descripcion, "Colonia","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search_producto_in, :producto_VBase, "Precio","relmen", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.acción") %></th>
        </tr>
     </thead>
    <% end %>
    <tbody id="container_relmens">
        <%= render partial: "/relmens/productos/productos_in/producto", collection: @productos_in %>
    </tbody>
  </table>
  <%= paginate @productos_in, :param_name => 'productos_in'  %>
</div>
