<tr id="relmen_<%= producto.id %>">
  <td><%= producto.producto.try(:id) %></td>
  <td><%= producto.producto.try(:Producto) %></td>
  <td><%= producto.producto.try(:CodBarras) %></td>
  <td><%= producto.producto.try(:catgrupo).try(:Descripcion) %></td>
  <td><%= producto.producto.try(:VBase) %></td>
  <td>
      <%= link_to 'Quitar', producto, method: :delete, class: "btn btn-danger btn-xs", remote:true, data: { disable_with: 'borrando' } %>

  </td>
</tr>
