<span class="sparkline_x" style="height: 160px; padding: 10px 25px;">
  <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
</span>

<script>
  $(document).ready(function() {
    $(".sparkline_x").sparkline([
      <% @cantidad_pedidos.each do |pedido| %>
        "<%= pedido.try(:cantidad) %>"
        <%= "," unless pedido == @cantidad_pedidos.last %>
      <% end %>
    ], {
      type: 'bar',
      height: '125',
      barWidth: 13,
      colorMap: {
        '7': '#a1a1a1'
      },
      barSpacing: 2,
      barColor: '#26B99A'
    });

  });
</script>
