<div class="dashboard_graph">

  <div class="row x_title">
    <div class="col-md-12">
      <h3>Comparativo Ventas de Contado contra Ventas de Crédito</h3>
    </div>
  </div>

  <div class="col-md-9 col-sm-9 col-xs-12">
    <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
    <div style="width: 100%;">
      <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
    <div class="x_title">
      <h2>Comparativo de Ventas</h2>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-6">
      <div>
        <h2>Ventas Contado</h2>
        <h2><%= %></h2>
        <div class="">
          <div class="progress progress_sm" style="width: 76%;">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
          </div>
        </div>
      </div>
      <div>
        <h2>Ventas Crédito</h2>
        <div class="">
          <div class="progress progress_sm" style="width: 76%;">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<!-- Flot -->
<script>
  $(document).ready(function() {
    var data1 = [
      <% @comparativo_ventas_Contado_VS_C.each do |contado| %>
        [gd(<%=contado.Fecha.try(:strftime,"%Y, %m, %d")%>),<%=contado.try(:MontoVenta)%>]<%= "," unless contado == @comparativo_ventas_Contado_VS_C.last %>
      <% end %>
    ];

    var data2 = [
      <% @comparativo_ventas_C_VS_Credito.each do |credito| %>
        [gd(<%=credito.Fecha.try(:strftime,"%Y, %m, %d")%>),<%=credito.try(:MontoVenta)%>]<%= "," unless credito == @comparativo_ventas_C_VS_Credito.last %>
      <% end %>
    ];
    $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
      data1, data2
    ], {
      series: {
        lines: {
          show: false,
          fill: true
        },
        splines: {
          show: true,
          tension: 0.4,
          lineWidth: 1,
          fill: 0.4
        },
        points: {
          radius: 0,
          show: true
        },
        shadowSize: 2
      },
      grid: {
        verticalLines: true,
        hoverable: true,
        clickable: true,
        tickColor: "#d5d5d5",
        borderWidth: 1,
        color: '#fff'
      },
      colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
      xaxis: {
        tickColor: "rgba(51, 51, 51, 0.06)",
        mode: "time",
        tickSize: [1, "day"],
        //tickLength: 10,
        axisLabel: "Date",
        axisLabelUseCanvas: true,
        axisLabelFontSizePixels: 12,
        axisLabelFontFamily: 'Verdana, Arial',
        axisLabelPadding: 10
      },
      yaxis: {
        ticks: 8,
        tickColor: "rgba(51, 51, 51, 0.06)",
      },
      tooltip: false
    });

    function gd(year, month, day) {
      return new Date(year, month - 1, day).getTime();
    }
  });
</script>
<!-- /Flot -->
