<span>Pedidos liberados</span>
<!--<h2>$231,809</h2>-->

<span class="sparklinex23 graph" style="height: 160px;">
  <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
</span>

    <!-- jQuery Sparklines -->
    <script>
      $(document).ready(function() {
        $(".sparklinex23").sparkline([
          <% @pedidos_liberados.each do |pedidos_liberados| %>
               "<%= pedidos_liberados.NoPedidos %>"
               <%= "," unless pedidos_liberados == @pedidos_liberados.last %>
           <% end %>
         ], {
          type: 'bar',
          height: '40',
          barWidth: 8,
          colorMap: {
            '7': '#a1a1a1'
          },
          barSpacing: 2,
          barColor: '#26B99A'
        });
      });
    </script>
    <!-- /jQuery Sparklines -->
