<span>Pedidos entregados</span>
<!--<h2>$231,809</h2>-->

<span class="sparkline22 graph" style="height: 160px;">
  <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
</span>
<!-- jQuery Sparklines -->
<script>
  $(document).ready(function() {
    $(".sparkline22").sparkline([
      <% @pedidos_entregados.each do |pedidos_entregados| %>
           "<%= pedidos_entregados.NoPedidos %>"
           <%= "," unless pedidos_entregados == @pedidos_entregados.last %>
       <% end %>
    ], {
      type: 'line',
      height: '40',
      width: '200',
      lineColor: '#26B99A',
      fillColor: '#ffffff',
      lineWidth: 3,
      spotColor: '#34495E',
      minSpotColor: '#34495E'
    });
  });
</script>
<!-- /jQuery Sparklines -->
