<span>Pedidos cancelados</span>
<!--<h2>$231,809</h2>-->

<span class="sparkline11 graph" style="height: 160px;">
  <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
</span>

    <!-- jQuery Sparklines -->
    <script>
      $(document).ready(function() {

        $(".sparkline11").sparkline([
          <% @pedidos_cancelados.each do |pedidos_cancelados| %>
               "<%= pedidos_cancelados.NoPedidos %>"
               <%= "," unless pedidos_cancelados == @pedidos_cancelados.last %>
           <% end %>
        ], {
          type: 'bar',
          height: '40',
          barWidth: 8,
          colorMap: {
            '7': '#a1a1a1'
          },
          barSpacing: 2,
          barColor: '#26B99A'
        });


      });
    </script>
    <!-- /jQuery Sparklines -->
