<div class="col-md-4 col-sm-4 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Top 10 productos mas vendidos</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <%if @best_seller != nil%>
        <% @best_seller.each do |best_seller| %>
          <span><%= best_seller.Producto %></span>
          <div class="widget_summary">
            <div class="w_left w_25">
              <span><%=best_seller.Clave%></span>
            </div>
            <div class="w_center w_55">
              <div class="progress">
              <%if best_seller.count == @best_product.count%>
                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              <%else%>
                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= (best_seller.count*100)/@best_product.count%>%;">
              <%end%>
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
            </div>
            <div class="w_right w_20">
              <span><%= best_seller.count %></span>
            </div>
            <div class="clearfix"></div>
          </div>
        <% end %>
      <%end%>
    </div>
  </div>
</div>
