<div class="row" style="text-align: center;">
  <div class="col-md-4">
    <canvas id="canvas1i" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
    <h4 style="margin:0">Pedidos por tipo de venta</h4>
  </div>
  <div class="col-md-4">
    <canvas id="canvas1i2" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
    <h4 style="margin:0">Pedidos por día</h4>
  </div>
  <div class="col-md-4">
    <canvas id="canvas1i3" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
    <h4 style="margin:0">Pedidos por clasificación de clientes</h4>
  </div>
</div>
<!-- Doughnut Chart -->
<script>
  $(document).ready(function() {
    var canvasDoughnut,
        options = {
          legend: false,
          responsive: false
        };

    new Chart(document.getElementById("canvas1i"), {
      type: 'doughnut',
      tooltipFillColor: "rgba(51, 51, 51, 0.55)",
      data: {
        labels: [
          <% @pedidosxtipo_venta.try(:each) do |pedido| %>
            "<%= pedido.try(:Tipo_venta) %>"
            <%= "," unless pedido == @pedidosxtipo_venta.last %>
          <% end %>
        ],
        datasets: [{
          data: [
            <% @pedidosxtipo_venta.try(:each) do |pedido| %>
              <%= pedido.try(:cantidad) %>
              <%= "," unless pedido == @pedidosxtipo_venta.last %>
            <% end %>
          ],
          backgroundColor: [
            "#BDC3C7",
            "#9B59B6",
            "#E74C3C",
            "#26B99A",
            "#3498DB"
          ],
          hoverBackgroundColor: [
            "#CFD4D8",
            "#B370CF",
            "#E95E4F",
            "#36CAAB",
            "#49A9EA"
          ]

        }]
      },
      options: options
    });

    new Chart(document.getElementById("canvas1i2"), {
      type: 'doughnut',
      tooltipFillColor: "rgba(51, 51, 51, 0.55)",
      data: {
        labels: [
          <% @pedidosxdia.try(:each) do |pedido| %>
            "<%= pedido.try(:Fechax) %>"
            <%= "," unless pedido == @pedidosxdia.last %>
          <% end %>
        ],
        datasets: [{
          data: [
            <% @pedidosxdia.try(:each) do |pedido| %>
              <%= pedido.try(:cantidad) %>
              <%= "," unless pedido == @pedidosxdia.last %>
            <% end %>
          ],
          backgroundColor: [
            "#BDC3C7",
            "#9B59B6",
            "#E74C3C",
            "#26B99A",
            "#3498DB"
          ],
          hoverBackgroundColor: [
            "#CFD4D8",
            "#B370CF",
            "#E95E4F",
            "#36CAAB",
            "#49A9EA"
          ]

        }]
      },
      options: options
    });

    new Chart(document.getElementById("canvas1i3"), {
      type: 'doughnut',
      tooltipFillColor: "rgba(51, 51, 51, 0.55)",
      data: {
        labels: [
          <% @pedidosxclasif_cliente.try(:each) do |pedido| %>
            "<%= pedido.try(:Clase) %>"
            <%= "," unless pedido == @pedidosxclasif_cliente.last %>
          <% end %>
        ],
        datasets: [{
          data: [
            <% @pedidosxclasif_cliente.try(:each) do |pedido| %>
              <%= pedido.try(:cantidad) %>
              <%= "," unless pedido == @pedidosxclasif_cliente.last %>
            <% end %>
          ],
          backgroundColor: [
            "#BDC3C7",
            "#9B59B6",
            "#E74C3C",
            "#26B99A",
            "#3498DB"
          ],
          hoverBackgroundColor: [
            "#CFD4D8",
            "#B370CF",
            "#E95E4F",
            "#36CAAB",
            "#49A9EA"
          ]

        }]
      },
      options: options
    });
  });
</script>
<!-- /Doughnut Chart -->
