<% if @total_ventas != nil%>
  <div class="count">$ <%= number_to_currency(@total_ventas, format: "%n")%></div><!--round es para especificar la cantidad de decimales-->
  <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i>Variación Última Semana</span>
<% end %>
