<% if @total_ventas_contado != nil%>
  <div class="count">$ <%= number_to_currency(@total_ventas_contado, format: "%n")%></div><!--round es para especificar la cantidad de decimales-->
  <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i>Variación Última Semana</span>
<%end%>
<script>

  function loadajax(){
    $.ajax({
      url: '/busqueda_general_graficos.js',
      type: "GET",
      data: {ruta: "<%=params[:ruta]%>", search1: "<%=params[:search1]%>", search2: "<%=params[:search2]%>"},
      success:function(){
       //do action
      }
    });
  }
</script>
