<% if @total_ventas_credito != nil%>
  <div class="count">$ <%= number_to_currency(@total_ventas_credito, format: "%n")%></div><!--round es para especificar la cantidad de decimales-->
  <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i>Variación Última Semana</span>
<% end %>
