$("#cantidad_visitas").html("<%= escape_javascript(render("cantidad_visitas"))%>")
$("#visitas_pendientes").html("<%= escape_javascript(render("visitas_pendientes"))%>")
$("#pedidos").html("<%= escape_javascript(render("pedidos"))%>")
$("#entregas").html("<%= escape_javascript(render("entregas"))%>")
$("#pedidos_levantados").html("<%= escape_javascript(render("pedidos_levantados"))%>")
$("#pedidos_liberados").html("<%= escape_javascript(render("pedidos_liberados"))%>")
$("#pedidos_entregados").html("<%= escape_javascript(render("pedidos_entregados"))%>")
$("#pedidos_cancelados").html("<%= escape_javascript(render("pedidos_cancelados"))%>")
$("#cantidad_pedidos").html("<%= escape_javascript(render("cantidad_pedidos"))%>")
$("#tortas_pedidos").html("<%= escape_javascript(render("tortas_pedidos"))%>")
