$("#total_clientes").html("<%= escape_javascript(render("total_clientes"))%>")
$("#prom_tiempo_visita").html("<%= escape_javascript(render("prom_tiempo_visita"))%>")
$("#ventas_contado").html("<%= escape_javascript(render("ventas_contado"))%>")
$("#ventas_credito").html("<%= escape_javascript(render("ventas_credito"))%>")
$("#ventas_contadoCredito").html("<%= escape_javascript(render("ventas_contadoCredito"))%>")
$("#top_productos").html("<%= escape_javascript(render("top_productos"))%>")
$("#worst_seller").html("<%= escape_javascript(render("worst_seller"))%>")
$("#comparativo_ventas_cvc").html("<%= escape_javascript(render("comparativo_ventas_cvc"))%>")
