<%= form_for(@listcombo, html: {class: "form-horizontal formulario-validado-create"} )do |f| %>
  <% if @listcombo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listcombo.errors.count, "error") %> prohibited this listcombo from being saved:</h2>

      <ul>
      <% @listcombo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="well center-block">
  <div class="form-group">
    <%= f.label :Clave,"Clave:", class: "control-label col-md-2" %>
    <div class="col-md-3">
      <%= f.text_field :Clave, class: "form-control ", disabled: true   %>
    </div>

    <%= f.label :Descripcion,"Descripcion:", class: "control-label col-md-2" %>
    <div class="col-md-3">
      <%= f.text_field :Descripcion, class: "form-control ",minlength: "7", required: "true", disabled:true    %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :FechaI,"Fecha Inicial:", class: "control-label col-md-2" %>
    <div class="col-md-3">
      <%= f.text_field :FechaI, class: "form-control datepicker", autocomplete: "off", :value => @listcombo.FechaI.try(:strftime,"%d-%m-%Y"), minlength: "7", required: "true", disabled:true  %>
    </div>

    <%= f.label :FechaF,"Fecha Final:", class: "control-label col-md-2" %>
    <div class="col-md-3">
      <%= f.text_field :FechaF, class: "form-control  datepicker", autocomplete: "off", :value => @listcombo.FechaF.try(:strftime,"%d-%m-%Y"), minlength: "7", required: "true", disabled:true  %>
    </div>
  </div>
  <div class="well center-block">

  <div class="form-group ">
    <%= f.label :Caduca,"Caduca:", class: "control-label col-xs-7 col-sm-6 col-md-4"%>
    <div class="col-md-1">
      <%= f.check_box :Caduca, disabled: true %>
    </div>

    <%= f.label :Activa,"Activa:", class: "control-label col-xs-7 col-sm-6 col-md-1"%>
    <div class="col-md-1">
      <%= f.check_box :Activa %>
    </div>

    <%= f.label :Monto, "Monto:", class: "control-label col-sm-1 col-md-1"  %>
    <div class="col-sm-3 col-md-3">
      <%= f.number_field :Monto, class: "form-control ",min:0, value:0, required: "true" %>
    </div>
  </div>
</div>
</div>




<div class="well center-block">
  <div class="form-group">
    <h3 class="col-md-5">Productos del combo:</h3>
  </div>
  <table id="promociones_regalo" class="display"><!--el id listacombo es de datatables referenciado en listacombo.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Articulo</th>
      <th>Cantidad</th>
      <th>TipMed</th>
      <th>Descripción</th>
      <th></th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_listacombo">
      <%= f.fields_for :detallecombo do |builder| %>

      <% if builder.object.Articulo != nil  %>
          <tr>
            <td><%=builder.object.Articulo%>
              <%= builder.hidden_field :id %><!--se coloca el id para que se pueda modificar el nivel y eliminar el registro-->
            </td>

            <td><%=builder.object.Cantidad%>
              <%= builder.hidden_field :Cantidad %><!--se coloca la cantidad para que se pueda modificar el nivel debido a que el programa rechazara el registro si cantidad esta en blanco-->
            </td>
            <td>
              <%if builder.object.TipMed == 2 %>
                Pieza
              <% elsif builder.object.TipMed == 1 %>
                Caja
              <%end%>
            </td>
            <td><%=builder.object.try(:producto).try(:Producto)%></td>
            <td>Eliminar<%=builder.check_box '_destroy' %></td>
            <td></td>


          </tr>

          <% else %>
        <div class="well center-block">


        <div id="articulos" class="form-group">
          <%= builder.label :Articulo,"Articulo:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.text_field :Articulo, class:"form-control", id:"Producto"%>
          </div>

        </div>

        <div class="form-group">

        <div class="form-group">
          <%= builder.label :Cantidad,"Cantidad:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.number_field :Cantidad, class: "form-control  listcombo_cantidad campo_opcional", min:0   %>
          </div>

          <%= builder.label :TipMed,"Tipo Medida:", class: "control-label col-md-2" %>
          <div class="col-md-3">
            <%= builder.select :TipMed, ([['Caja', 1], ['Pieza', 2]]), class: "form-control"%>
          </div>
        </div>
        <%= builder.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>

      </div>
    <%end%>
  <%end%>
</tbody>
</table>
</div>

  <div class="actions">
    <div class="form-group">
      <div class="col-md-12">
        <%= f.submit "Aceptar", class: "btn btn-primary btn-lg" %>
        <% if @cantidad_de_listcombo>=1%><!--solo se debe de crear un producto base por promocion-->
          <%= link_to 'Volver a combos', listacombo_path, class: "btn btn-primary btn-lg" %>
        <% end %><!--solo se debe de crear un producto base por promocion-->
      </div>
    </div>
  </div>
<% end %>
<%= render 'partials/buscadorReportes/ventana_modal_productos' %>
