<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
    <%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
      <thead>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search, :id, "Id","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :Clave, "Clave","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :Descripcion, "Descripción","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :Caduca, "Caduca","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :Activa, "Estado","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :Monto, "Monto","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.Acción") %></th>
        </tr>
        <tr>
          <th><%= f.text_field :id_matches, class:"campo" %></th>
          <th><%= f.text_field :Clave_cont, class:"campo" %></th>
          <th><%= f.text_field :Descripcion_cont, class:"campo" %></th>
          <th><%= f.text_field :Caduca_cont, class:"campo" %></th>
          <th><%= f.text_field :Activa_cont, class:"campo" %></th>
          <th><%= f.text_field :Monto_cont, class:"campo" %></th>

          <th><%= f.submit "Buscar", data: {disable_with: 'Buscando...'}  %></th>
        </tr>

      </thead>
    <% end %>
        <tbody>
        </tbody>
      </table>
  </div>

<div class="rwd">
  <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
  <thead>

    <%= search_form_for @search, :remote=>"true", url: @pathDeBusqueda, :method => :get do |f| %>
        <tr>
          <th class="component_name_header_col"><%= sort_link @search, :id, "Id","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :Clave, "Clave","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :Descripcion, "Descripción","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :Caduca, "Caduca","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :FechaI, "FechaI","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :FechaF, "FechaF","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :Activa, "Estado","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="component_name_header_col"><%= sort_link @search, :Monto, "Monto","listcombo", {}, { :remote => true, :method => :get } %></th>
          <th class="action_col"><%= t("basic.Acción") %></th>
        </tr>

  <% end %>

  </thead>
  <tbody  id="container_listacombo">
    <%= render @listacombo%>
  </tbody>
  </table>
  <%= paginate @listacombo %>
</div>
<div id="datos_listcombo"><%= render 'datos_listcombo' %></div>
