<tr id="listcombo_<%= listcombo.id %>">
  <td class="component_name_body_col"><%= listcombo.try(:id) %></td>
  <td class="component_name_body_col"><%= listcombo.try(:Clave) %>
    <!--Modal - update listcombo-->
  <div nohidden class="modal fade si" id="myupdatelistcombo_<%= listcombo.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Editar promoción</h4>
        </div>

        <div class="modal-body">
          <%= form_for(listcombo, :method => :put, remote: true, html: {class: "form-horizontal formulario-validado-update#{listcombo.id}"}) do |f| %><!--ajax-->

          <div class="form-group">
            <%= f.label :Clave, "Clave:", class: "control-label col-sm-2 col-md-2" %>
            <div class="col-sm-5 col-md-5">
              <%= f.text_field :Clave, class: "form-control ",disabled: true%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Descripcion,"Descripción:", class: "control-label col-md-2" %>
            <div class="col-md-5">
              <%= f.text_field :Descripcion, class: "form-control ", required: "true" %>
            </div>
            <%= f.label :Monto, "Monto:", class: "control-label col-sm-1 col-md-1"  %>
            <div class="col-sm-3 col-md-3">
              <%= f.number_field :Monto, class: "form-control ",min:0, required: "true" %>
            </div>
          </div>

          <div class="well center-block fechas_<%=listcombo.id%>">
            <div class="form-group">
              <%= f.label :FechaI,"Inicio:", class: "control-label col-md-2" %>
              <div class="col-md-3">
                <%= f.text_field :FechaI, class: "form-control datepicker listcombo_fechainicio_#{listcombo.id}", autocomplete: "off", :value => listcombo.FechaI.try(:strftime,"%d-%m-%Y"), minlength: "7", required: "true" %>

              </div>

              <%= f.label :FechaF,"Fin:", class: "control-label col-md-2" %>
              <div class="col-md-3">
                <%= f.text_field :FechaF, class: "form-control datepicker listcombo_fechafinal_#{listcombo.id}", autocomplete: "off", :value => listcombo.FechaF.try(:strftime,"%d-%m-%Y"), minlength: "7", required: "true" %>
              </div>
            </div>
          </div>

            <div class="form-group">

                <%= f.label :Caduca,"Caduca:", class: "control-label col-xs-7 col-sm-6 col-md-1"%>
                <div class="col-md-1">
                  <%= f.check_box :Caduca, id: "caduca_#{listcombo.id}", class:"caducax "%>
                </div>

              <%= f.label :Activa,"Activa:", class: "control-label col-xs-7 col-sm-6 col-md-1"%>
              <div class="col-md-1">
                <%= f.check_box :Activa %>
              </div>

            </div>
          </div>

          <div class="modal-footer">
            <button type="button" id="myupdatebutton_<%= listcombo.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
          </div>
          <%end%>


        </div>

      </div>
    </div>
  </div>
</td>
  <td class="component_name_body_col"><%= listcombo.try(:Descripcion) %></td>
  <td class="component_name_body_col"><%= listcombo.try(:Caduca) %></td>
  <td class="component_name_body_col"><%= listcombo.try(:FechaI).try(:strftime,"%d-%m-%Y") %></td>
  <td class="component_name_body_col"><%= listcombo.try(:FechaF).try(:strftime,"%d-%m-%Y") %></td>
  <td class="component_name_body_col"><%= listcombo.try(:Activa) %></td>
  <td class="component_name_body_col"><%= listcombo.try(:Monto) %></td>

  <td>
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-primary action-btn" href="#" data-toggle="dropdown">
        <%= t('basic.Acción') %>
      </a>
      <ul class="dropdown-menu posicion-menu">

          <li>
          <!--  <%= link_to 'Editar', datos_listcombo_path(:id => listcombo.try(:id)), class: "btn btn-default btn-lg btn-block", :remote => true, data: { disable_with: 'Cargando...' }  %>
        --><button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatelistcombo_<%= listcombo.id %>">
              Editar
            </button>
            <!--Destroy-->
           <% if listcombo.Activa == true%>
              <%= link_to 'Eliminar', listcombo, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'} %>
            <%else%>
              <%= link_to 'Habilitar', listcombo, method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea habilitarlo?", disable_with: 'Habilitando...'}  %>
            <%end%>
          </li>

      </ul>
    </div>
  </td>
</tr>
<script>
  $(".formulario-validado-update<%=listcombo.id%>").validate();
  $(document).on("ready page:load", function () {
    if (document.getElementById("caduca_<%=listcombo.id%>").checked) {
      $(".fechas_<%=listcombo.id%>").show();
      $('.listcombo_fechainicio_<%=listcombo.id%>').attr('disabled', false);
      $('.listcombo_fechafinal_<%=listcombo.id%>').attr('disabled', false);

    }
    else {
      $(".fechas_<%=listcombo.id%>").hide();
      $('.listcombo_fechainicio_<%=listcombo.id%>').attr('disabled', 'disabled');
      $('.listcombo_fechafinal_<%=listcombo.id%>').attr('disabled', 'disabled');

    }
  });

  $(function () {
      $('#caduca_<%=listcombo.id%>').change(function(){
        if (document.getElementById("caduca_<%=listcombo.id%>").checked) {
          $(".fechas_<%=listcombo.id%>").show();
          $('.listcombo_fechainicio_<%=listcombo.id%>').attr('disabled', false);
          $('.listcombo_fechafinal_<%=listcombo.id%>').attr('disabled', false);

        }
        else {
          $(".fechas_<%=listcombo.id%>").hide();
          $('.listcombo_fechainicio_<%=listcombo.id%>').attr('disabled', 'disabled');
          $('.listcombo_fechafinal_<%=listcombo.id%>').attr('disabled', 'disabled');

        }
      })
  })

</script>
