<% if @puede_crear == true%>
  $("#mynewlistcombo").modal('hide');
  $(".listcombo_clave").val('');
  $(".listcombo_descripcion").val('');
  $(".listcombo_monto").val('');
  $(".listcombo_fechainicio").val('');
  $(".listcombo_fechafinal").val('');

  $("#cantidad_listcombo_activos").html("<%= escape_javascript(render("cantidad_listcombo_activos"))%>")
  $("#cantidad_listcombo_inactivos").html("<%= escape_javascript(render("cantidad_listcombo_inactivos"))%>")

  if (<%= @listcombo.Activa == true %>){
    $("#container_listacombo").prepend('<%= j render @listcombo %>'); //Prepend before append
    $("#listcombo_<%= @listcombo.id %>").hide().fadeIn(1000);
  }
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
$(window.location.replace("/listacombo/<%= @listcombo.id %>/edit"))
