<% if @puede_destroy == true%>
  $("#listcombo_<%= @listcombo.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
  });
  $("#cantidad_listcombo_activos").html("<%= escape_javascript(render("cantidad_listcombo_activos"))%>")
  $("#cantidad_listcombo_inactivos").html("<%= escape_javascript(render("cantidad_listcombo_inactivos"))%>")
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
