$('#productos').html('<%= escape_javascript(render("partials/buscadorReportes/productos")) %>');
$('#paginatorProducto').html("<%= escape_javascript(paginate(@productos_Selector, :remote => true, :param_name => 'productos'))%>");
