<!--<p id="notice"><%= notice %></p>-->
<h1>Administración de combos inactivos</h1>
<div id="cantidad_listcombo_inactivos"><%= render 'cantidad_listcombo_inactivos' %></div>

<style>
.container {
}

</style>
<div>


  <br>
  <br>

  <div id="listacombo"><%= render 'listacombo' %></div>


</div>


<%= link_to 'Volver a combos', listacombo_path, class: "btn btn-primary btn-lg" %>
