
<script type="text/javascript">
  $(document).on("ready page:load", function () {
    if (document.getElementById("caduca").checked) {
      $(".fechas").show();
      $('.listcombo_fechainicio').attr('disabled', false);
      $('.listcombo_fechafinal').attr('disabled', false);

    }
    else {
      $(".fechas").hide();
      $(".listcombo_fechainicio").val('');
      $(".listcombo_fechafinal").val('');
      $('.listcombo_fechainicio').attr('disabled', 'disabled');
      $('.listcombo_fechafinal').attr('disabled', 'disabled');

    }

  //  alert($(".tipop").val());
//  alert($(this).find(":selected").data("value"));
//alert(tipop);

  });
</script>

<script>
$(function () {
    $('#caduca').change(function(){
      if (document.getElementById("caduca").checked) {
        $(".fechas").show();
        $('.listcombo_fechainicio').attr('disabled', false);
        $('.listcombo_fechafinal').attr('disabled', false);

      }
      else {
        $(".fechas").hide();
        $(".listcombo_fechainicio").val('');
        $(".listcombo_fechafinal").val('');
        $('.listcombo_fechainicio').attr('disabled', 'disabled');
        $('.listcombo_fechafinal').attr('disabled', 'disabled');

      }
    })
})

</script>

<!--<p id="notice"><%= notice %></p>-->
<h1>Administración de combos</h1>
<div id="cantidad_listcombo_activos"><%= render 'cantidad_listcombo_activos' %></div>

<style>
.container {
}

</style>
<div>
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewlistcombo">
        Nuevo Combo
      </button>
    </div>
  </div>

  <br>
  <br>

  <div id="listacombo"><%= render 'listacombo' %></div>

  <!-- Modal create action -->
  <%= form_for(@listcombo, remote: true, html: {class: "form-horizontal listcombo-validado"}) do |f| %> <!--ajax remote: true-->
    <div class="modal fade" id="mynewlistcombo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Agregar combo</h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <%= f.label :Clave, "Clave:", class: "control-label col-sm-2 col-md-2" %>
              <div class="col-sm-5 col-md-5">
                <%= f.text_field :Clave, class: "form-control listcombo_clave clave_sin_espacios_y_sin_caracteres_especiales",autofocus: true, minlength: "1", required: "true" %>
              </div>

                <%= f.label :Caduca,"Caduca:", class: "control-label col-xs-7 col-sm-6 col-md-1"%>
                <div class="col-md-1">
                  <%= f.check_box :Caduca, id: "caduca", class:"caducax" %>
                </div>

              <%= f.label :Activa,"Activa:", class: "control-label col-xs-7 col-sm-6 col-md-1"%>
              <div class="col-md-1">
                <%= f.check_box :Activa,{checked: true} %>
              </div>

            </div>

            <div class="form-group">
              <%= f.label :Descripcion,"Descripción:", class: "control-label col-sm-2 col-md-2" %>
              <div class="col-sm-5 col-md-5">
                <%= f.text_field :Descripcion, class: "form-control listcombo_descripcion", required: "true" %>
              </div>
              <%= f.label :Monto, "Monto:", class: "control-label col-sm-1 col-md-1"  %>
              <div class="col-sm-3 col-md-3">
                <%= f.number_field :Monto, class: "form-control listcombo_monto",min:0, value:0, required: "true" %>
              </div>

            </div>

            <div class="well center-block fechas">
              <div class="form-group ">
                <%= f.label :FechaI,"Inicio:", class: "control-label col-sm-2 col-md-2" %>
                <div class="col-sm-3 col-md-3">
                  <%= f.text_field :FechaI, class: "form-control datepicker listcombo_fechainicio", minlength: "7", required: "true" %>
                </div>

                <%= f.label :FechaF,"Fin:", class: "control-label col-sm-2 col-md-2" %>
                <div class="col-sm-3 col-md-3">
                  <%= f.text_field :FechaF, class: "form-control datepicker listcombo_fechafinal",minlength: "7", required: "true" %>
                </div>
              </div>
            </div>

            <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>


          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewlistcomboclose">Cerrar</button>
            <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
          </div>
        </div>
      </div>
    </div>
  <%end%>

</div>


<%= link_to 'Combos eliminados ó inhabilitados<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, listacombo_inactivos_path, class: "btn btn-danger btn-xs"%>
