<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @listcombo.Clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @listcombo.Descripcion %>
</p>

<p>
  <strong>Caduca:</strong>
  <%= @listcombo.Caduca %>
</p>

<p>
  <strong>Fechai:</strong>
  <%= @listcombo.FechaI %>
</p>

<p>
  <strong>Fechaf:</strong>
  <%= @listcombo.FechaF %>
</p>

<p>
  <strong>Activa:</strong>
  <%= @listcombo.Activa %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @listcombo.Monto %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @listcombo.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_listcombo_path(@listcombo) %> |
<%= link_to 'Back', listacombo_path %>
