<% if @puede_editar == true %>
  $("#myupdatelistcombo_<%= @listcombo.id %>").modal('hide');
  $("#cantidad_listcombo_activos").html("<%= escape_javascript(render("cantidad_listcombo_activos"))%>")
  $("#cantidad_listcombo_inactivos").html("<%= escape_javascript(render("cantidad_listcombo_inactivos"))%>")

  $("#listcombo_<%= @listcombo.id %>").fadeOut(500, function(){
    $(this).remove();
    $("#container_listacombo").prepend('<%= j render @listcombo %>');

  });
  $(window.location.replace("/listacombo/<%= @listcombo.id %>/edit"))
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
