<% if @puede_crear == true%>
  <% if @activo.save %>
  $("#mynewactivo").modal('hide');

    $("#container_activos").prepend('<%= j render @activo %>'); //Prepend before append
    $("#activo_<%= @activo.id %>").hide().fadeIn(1000);

  <%end%>
<%end%>
$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
