<% if @puede_editar == true %>
  $("#myupdateactivo_<%= @activo.id %>").modal('hide');
  $("#mynewactivoenvase").modal('show');

  $("#activo_<%= @activo.id %>").fadeOut(500, function(){
    $(this).remove();
    $(".child").remove();
    $("#container_activos").prepend('<%= j render @activo %>');

  });
<%end%>

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
