<% if @productos != nil %>

  <%= form_tag("/inventario/inventario_dia_siguiente", method: 'get', remote: true, class: "form-horizontal" ) do %><!--responde al index-->
    <div class="rwd">
      <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
        <thead>
          <tr>
            <th>
              <%= label_tag :Clave_param, "Clave", class: "control-label" %>
            </th>
            <th>
              <%= label_tag :Descripcion_param, "Descripción", class: "control-label" %>
            </th>
            <th class="action_col"><%= t("basic.Acción") %></th>
          </tr>
          <tr>
            <th><%= text_field_tag :Clave_param,"", class:"campo" %></th>
            <th><%= text_field_tag :Descripcion_param,"", class:"campo" %></th>
            <input id="search" type="hidden" value="<%=params[:search]%>" name="search"/><%# se debe colocar debido a que a la hora de hacer la busqueda de los registros dentro de la tabla, hace la consulta y no toma los ids porque se pierden%>
            <input id="diaO" type="hidden" value="<%=params[:diaO]%>" name="diaO"/>
            <input id="fechaDiaO" type="hidden" value="<%=params[:fechaDiaO]%>" name="fechaDiaO"/>
            <input id="vendedor_id" type="hidden" value="<%=params[:vendedor_id]%>" name="vendedor_id"/>
            <input id="search6" type="hidden" value="<%=params[:search6]%>" name="search6"/>
            <th>
                <%= submit_tag "Buscar", data: { disable_with: 'Buscando...' } %>
            </th>
          </tr>

        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  <% end %>

  <div class="rwd">
    <table class="table table-striped table-bordered table-condensed table-hover rwd_auto">
      <thead>
       <%= search_form_for @search, :remote=>"true", url: inventario_inventario_dia_siguiente_path, :method => :get do |f| %>
       <tr>
         <th class="col_left th_color">Ruta</th>
         <th class="col_left th_color">Fecha</th>
         <th class="col_left th_color">DiaO</th>
         <th class="col_left th_color">Clave</th>
         <th class="col_left th_color">Descripción</th>
         <th class="col_left th_color">Cajas</th>
         <th class="col_left th_color">Piezas</th>
       </tr>
      <% end %>
      </thead>
      <tbody id="container_consumos">
        <%= render partial: "/inventario/inventario_dia_siguiente/producto", collection: @productos %>
      </tbody>
    </table>
    <%= paginate @productos, :param_name => 'productos', params: {controller: 'inventario', action: 'inventario_dia_siguiente'} %> <!--IMPORTANTEse pasa el param name porque son varias paginaciones en una pagina, Y ADEMAS DEBE COLOCARSE EN EL INDEX.JS-->
  </div>

  <%= link_to 'Exportar Excel', inventario_inventario_dia_siguiente_path(:search => params[:search], :diaO => params[:diaO], :fechaDiaO => params[:fechaDiaO], :vendedor_id => params[:vendedor_id], :Clave_param => params[:Clave_param], :Descripcion_param => params[:Descripcion_param], format:"xls"), class:"btn btn-success btn-xs"  %>

<%end%>
