<%if relmen.CodProducto != nil%><!--si CodPoducto es diferente de nil entonces es un producto-->

<%elsif relmen.CodCliente != nil%>


<%elsif relmen.CodRuta != nil%>
    <tr id="relmen_<%= relmen.id %>">
      <td><%= relmen.rutas.id %></td>
      <td><%= relmen.rutas.Ruta %></td>
      <td><%= relmen.rutas.TipoRuta %></td>
      <td><%= relmen.rutas.Sector %></td>
      <td><%= relmen.rutas.Vendedor %></td>
      <td><%= relmen.rutas.Activa %></td>
      <td><%= relmen.rutas.Activa %></td>
        <td>

            <!--Destroy-->
            <%= link_to 'Quitar', relmen, method: :delete, class: "btn btn-danger btn-xs", remote:true %>

          </td>
          <td></td>

    </tr>
<%end%>
