<!--<p id="notice"><%= notice %></p>-->
<h1>Admn Clientes al Mensaje</h1><br>
<style>
.container {
}

</style>

<div class="well center-block">
  <h2 class="text-center">Lista de Clientes</h2>
  <div id="cantidad_clientes_out"><%= render '/relmens/clientes/clientes_out/cantidad_clientes_out' %></div>

  <div id="clientes_out"><%= render '/relmens/clientes/clientes_out/clientes' %></div>


  <br>
  <br>
  <div class="well center-block">
  <h2 class="text-center">Clientes Añadidos al Mensaje</h2>
  <div id="cantidad_clientes_in"><%= render '/relmens/clientes/clientes_in/cantidad_clientes_in' %></div>
  <br>
  <br>
  <div id="clientes_in"><%= render '/relmens/clientes/clientes_in/clientes' %></div>
  <%= link_to 'Volver a Mensajes', mensajes_path, class: "btn btn-primary btn-lg" %>
</div>
