$("#clientes_out").html("<%= escape_javascript(render("/relmens/clientes/clientes_out/clientes"))%>")
$("#clientes_in").html("<%= escape_javascript(render("/relmens/clientes/clientes_in/clientes"))%>")
