<%if @relmen.CodProducto != nil%>
  $("#container_relmens").prepend('<%= j render(:partial => '/relmens/productos/productos_in/producto', locals: { producto: @relmen}) %>');
  $("#cantidad_productos_out").html("<%= escape_javascript(render("/relmens/productos/productos_out/cantidad_productos_out"))%>")
  $("#cantidad_productos_in").html("<%= escape_javascript(render("/relmens/productos/productos_in/cantidad_productos_in"))%>")
<%elsif @relmen.CodCliente != nil%>
  $("#container_relmens").prepend('<%= j render(:partial => '/relmens/clientes/clientes_in/cliente', locals: { cliente: @relmen}) %>');
  $("#cantidad_clientes_out").html("<%= escape_javascript(render("/relmens/clientes/clientes_out/cantidad_clientes_out"))%>")
  $("#cantidad_clientes_in").html("<%= escape_javascript(render("/relmens/clientes/clientes_in/cantidad_clientes_in"))%>")
<%elsif @relmen.CodRuta != nil%>
  $("#container_relmens").prepend('<%= j render(:partial => '/relmens/rutas/rutas_in/ruta', locals: { ruta: @relmen}) %>');
  $("#cantidad_rutas_out").html("<%= escape_javascript(render("/relmens/rutas/rutas_out/cantidad_rutas_out"))%>")
  $("#cantidad_rutas_in").html("<%= escape_javascript(render("/relmens/rutas/rutas_in/cantidad_rutas_in"))%>")
<%end%>



$("#relmen_<%= @relmen.id %>").hide().fadeIn(1000);

$("#producto_<%= @relmen.CodProducto %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
});
$("#cliente_<%= @relmen.CodCliente %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
});
$("#ruta_<%= @relmen.CodRuta %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
});

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
