<%if @relmen.CodProducto != nil%>
  $("#cantidad_productos_out").html("<%= escape_javascript(render("/relmens/productos/productos_out/cantidad_productos_out"))%>")
  $("#cantidad_productos_in").html("<%= escape_javascript(render("/relmens/productos/productos_in/cantidad_productos_in"))%>")
  $("#container_productos").prepend('<%= j render(:partial => '/relmens/productos/productos_out/producto', locals: { producto: @producto }) %>'); //Prepend before append
<%elsif @relmen.CodCliente != nil%>
  $("#cantidad_clientes_out").html("<%= escape_javascript(render("/relmens/clientes/clientes_out/cantidad_clientes_out"))%>")
  $("#cantidad_clientes_in").html("<%= escape_javascript(render("/relmens/clientes/clientes_in/cantidad_clientes_in"))%>")
  $("#container_clientes").prepend('<%= j render(:partial => '/relmens/clientes/clientes_out/cliente', locals: { cliente: @cliente }) %>'); //Prepend before append
<%elsif @relmen.CodRuta != nil%>
  $("#cantidad_rutas_out").html("<%= escape_javascript(render("/relmens/rutas/rutas_out/cantidad_rutas_out"))%>")
  $("#cantidad_rutas_in").html("<%= escape_javascript(render("/relmens/rutas/rutas_in/cantidad_rutas_in"))%>")
  $("#container_rutas").prepend('<%= j render(:partial => '/relmens/rutas/rutas_out/ruta', locals: { ruta: @ruta }) %>'); //Prepend before append
<%end%>



$("#relmen_<%= @relmen.id %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
});


$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
