<!--<p id="notice"><%= notice %></p>-->
<h1>Agregar productos al Mensaje</h1><br>
<style>
.container {
}

</style>
<div>

  <br>
  <br>
    <h2 class="text-center"> Lista de Productos </h2>
    <div id="cantidad_productos_out"><%= render '/relmens/productos/productos_out/cantidad_productos_out' %></div>
    <div id="productos_out"><%= render '/relmens/productos/productos_out/productos' %></div>

  <br>
  <br>
    <h2 class="text-center"> Productos Añadidos al Mensaje</h2>

    <div id="cantidad_productos_in"><%= render '/relmens/productos/productos_in/cantidad_productos_in' %></div>
    <div id="productos_in"><%= render '/relmens/productos/productos_in/productos' %></div>
    <%= link_to 'Volver a Mensajes', mensajes_path, class: "btn btn-primary btn-lg" %>


</div>
