$("#productos_out").html("<%= escape_javascript(render("/relmens/productos/productos_out/productos"))%>")
$("#productos_in").html("<%= escape_javascript(render("/relmens/productos/productos_in/productos"))%>")
