<!--<p id="notice"><%= notice %></p>-->
<h1>Admn Rutas al Mensaje</h1><br>
<style>
.container {
}

</style>
<div>

    <h2 class="text-center"> Lista de Rutas </h2>
    <div id="cantidad_rutas_out"><%= render '/relmens/rutas/rutas_out/cantidad_rutas_out' %></div>
    <div id="rutas_out"><%= render '/relmens/rutas/rutas_out/rutas' %></div>

    <h2 class="text-center"> Rutas Añadidas al Mensaje</h2>

    <div id="cantidad_rutas_in"><%= render '/relmens/rutas/rutas_in/cantidad_rutas_in' %></div>
    <div id="rutas_in"><%= render '/relmens/rutas/rutas_in/rutas' %></div>

    <%= link_to 'Volver a Mensajes', mensajes_path, class: "btn btn-primary btn-lg" %>

</div>
