<%= form_for(@relprogrupo) do |f| %>
  <% if @relprogrupo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relprogrupo.errors.count, "error") %> prohibited this relprogrupo from being saved:</h2>

      <ul>
      <% @relprogrupo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IdEmpresa %><br>
    <%= f.text_field :IdEmpresa %>
  </div>
  <div class="field">
    <%= f.label :IdGrupo %><br>
    <%= f.text_field :IdGrupo %>
  </div>
  <div class="field">
    <%= f.label :ProductoId %><br>
    <%= f.text_field :ProductoId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
