$("#container_relprogrupos").prepend('<%= j render(:partial => '/relprogrupos/productos_in/relprogrupo', locals: { relprogrupo: @relprogrupo}) %>'); //Prepend before append

$("#relprogrupo_<%= @relprogrupo.id %>").hide().fadeIn(500);
$("#producto_<%= @relprogrupo.ProductoId %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();

});

$('#cantidad_productos_out').html('<%= escape_javascript(render("/relprogrupos/productos_out/cantidad_productos_out")) %>');
$('#cantidad_productos_in').html('<%= escape_javascript(render("/relprogrupos/productos_in/cantidad_productos_in")) %>');

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");



setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
