$("#relprogrupo_<%= @relprogrupo.id %>").fadeOut(500, function(){
  $(this).remove();
  $(".child").remove();
});
$("#container_productos").prepend('<%= j render(:partial => '/relprogrupos/productos_out/producto', locals: { producto: @producto}) %>'); //Prepend before append

$('#cantidad_productos_out').html('<%= escape_javascript(render("/relprogrupos/productos_out/cantidad_productos_out")) %>');
$('#cantidad_productos_in').html('<%= escape_javascript(render("/relprogrupos/productos_in/cantidad_productos_in")) %>');

$("#notice").html("<%= escape_javascript(render :partial => 'partials/flash' , :locals => { :flash => flash }).html_safe %>");

setTimeout(function(){
  $('#notice').fadeIn("slow", function() {
    $(this).create();
  })
}, 1500);
