  <h1>Administrar productos al grupo <%=@grupo.try(:Descripcion)%> </h1><br>


<br>
<br>
  <h2 class="text-center"> Lista de productos sin asignar </h2>
  <div id="cantidad_productos_out"><%= render '/relprogrupos/productos_out/cantidad_productos_out' %></div>

  <div id="productos_out"><%= render '/relprogrupos/productos_out/productos_out' %></div>


  <br>
  <br>

  <h2 class="text-center"> Lista de productos asignados al grupo <%=@grupo.try(:Descripcion)%> </h2>
  <div id="cantidad_productos_in"><%= render '/relprogrupos/productos_in/cantidad_productos_in' %></div>

  <br>
  <br>
  <div id="productos_in"><%= render '/relprogrupos/productos_in/productos_in' %></div>
