$('#productos_out').html('<%= escape_javascript(render("/relprogrupos/productos_out/productos_out")) %>');
$('#productos_in').html('<%= escape_javascript(render("/relprogrupos/productos_in/productos_in")) %>');
$('#cantidad_productos_out').html('<%= escape_javascript(render("/relprogrupos/productos_out/cantidad_productos_out")) %>');
$('#cantidad_productos_in').html('<%= escape_javascript(render("/relprogrupos/productos_in/cantidad_productos_in")) %>');
