<p id="notice"><%= notice %></p>

<p>
  <strong>Idempresa:</strong>
  <%= @relprogrupo.IdEmpresa %>
</p>

<p>
  <strong>Idgrupo:</strong>
  <%= @relprogrupo.IdGrupo %>
</p>

<p>
  <strong>Productoid:</strong>
  <%= @relprogrupo.ProductoId %>
</p>

<%= link_to 'Edit', edit_relprogrupo_path(@relprogrupo) %> |
<%= link_to 'Back', relprogrupos_path %>
