<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AssistPro ADL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= include_rails_script %>
  <%= csrf_meta_tags %>

  <script languague="javascript">
        function mostrar() {
            div = document.getElementById('ocultar-boton');
            div.style.display = '';
        }

        function cerrar() {
            div = document.getElementById('ocultar-boton');
            div.style.display = 'none';
        }
        function cleanRuta() {
          document.getElementById("Ruta").value = "";
          document.getElementById("RutaId").value = "";
        }
</script>

</head>

<body class="nav-md">
  <style>
    .well_inferior {
      margin-bottom: 0px !important;
    }
  </style>
  <% if usuario_signed_in?  %>
  <div class="container body">

    <%= render "partials/sidenav" %>
    <%= render "partials/topnav" %>
  <%end%>



  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker({
        format: "dd-mm-yyyy",
        autoclose: true
       });


    });
  </script>



  <div id='notice'>
    <%= render :partial => 'partials/flash' , :locals => { :flash => flash } %>
  </div>

    <div class="right_col" role="main">



        <%= yield %>
    </div>

    <% if usuario_signed_in? %>
      <%= render "partials/footer" %>
    </div>
    <%end%>


    <script>
    	$(document).ready(function(){
    		setTimeout(function(){
    			$('#notice').fadeOut("slow", function() {
    				//$(this).remove();
    			})
    		}, 14500);
    	});
    </script>
    <!--jquery validate-->
      <script>
        $(".formulario-validado-create").validate();

        $(".clave_sin_espacios_y_sin_caracteres_especiales").on('input', function() {
          $(this).val($(this).val().replace(/[^a-z0-9]/gi, ''));
        });
/*
        $(".clave_sin_espacios").on({
          keydown: function(e) {
            if (e.which === 32)
              return false;
          },
          change: function() {
            this.value = this.value.replace(/\s/g, "");
          }
        });
*/



      </script>

</body>
</html>
